[2019-03-04 09:17] mariahajmal commented on #2532
hi, @bwreid can I work on this?

[2019-03-04 16:47] twisted-sres commented on #1363
Hey, I am an outreachy applicant, can I take this up?

[2019-03-04 16:56] bwreid commented on #2125
@mariahajmal It looks as though this already has a PR for it. Let's give @snpd25 a bit more time to fix their PR before making a new one. :)

[2019-03-04 16:57] bwreid commented on #2459
@mariahajmal You're free to fix the change from 'Wiki Ed' to 'Wiki Education' if you like.

[2019-03-04 16:59] bwreid commented on #2018
@mariahajmal Thanks for requesting multiple bugs to work on! Please work on this one. Then, we can move forward on some of the other bug requests you've had.

Let me know if you have any questions!

[2019-03-04 17:24] ragesoss commented on #1459
Yeah, it looks like this did get fixed incidentally via https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/1d0268c84e0d579831e951e1d5a31a3e6a011552

[2019-03-04 17:24] #1459 closed

[2019-03-04 17:41] snpd25 commented on #2125
@bwreid  , I am not currently working on this issue, let @mariahajmal  claim it.
Thanks.

[2019-03-04 17:46] bwreid commented on #1363
@twisted-sres Please feel free to take this up as I review the other PR!

[2019-03-04 17:52] ragesoss commented on #2319
@hjhimanshu01 thanks! So it looks like date-fns has some i18n support, but it's only available for a few languages so far. I'm also not clear on exactly what we're currently relying on in terms of moment's i18n, and how that would affect users.

[2019-03-04 17:54] bwreid commented on #2511
@ananyaarun Probably the easiest way to get this view is to run `bundle exec rake dev:populate`. That will set up three courses for you.

Once you've run that, go to the "Ragesoss" test course:
http://localhost:3000/courses/test/Ragesoss_(test)

Click the "Article" sub navigation and then click the +/- button under "Assessment tools:"
![image](https://user-images.githubusercontent.com/1316902/5375

[2019-03-04 17:55] bwreid commented on #2125
Thanks @snpd25, please feel free to take it once you've completed the other items, @mariahajmal

[2019-03-04 18:21] twisted-sres commented on #1363
Hey, how do I reproduce this?

[2019-03-04 18:30] bwreid commented on #1363
@twisted-sres I believe some of this you can attempt just from the console itself. For example, running the `enroll_in_course` function from `WikiCourseEdits`. @ragesoss, Can you add what the best way to mock out/make a request to the API would be?

[2019-03-04 18:49] ragesoss commented on #1363
The general strategy I would recommend here:
* Find a user who is a student in a dashboard.wikiedu.org course, and verify that they have the welcome message on their user talk page
* Add a test case to the `#enroll_in_course` section of `wiki_course_edits_spec.rb` that uses that student as the enrolling user, with an expectation that the welcome message is *not* posted. This should be failing init

[2019-03-04 19:42] hjhimanshu01 commented on #2319
@ragesoss  , just skimmed through the components where moment was used , nowhere was the code exactly relying on the language or any other i18n feature which might cause a breaking change , I'm not sure exactly but I do think that date-fns might suffice the work .

[2019-03-04 20:09] ragesoss opened #2557 "Users should be able to clear cached data for ORES plots"
`CourseOresPlot` is the frontend component for showing ORES "structural completeness" plots, which shows the aggregate change in ORES-estimated quality for the set of articles edited for a course or campaign.

Pulling together all the data needed for these plots — especially for large campaigns with perhaps thousands of articles — is a moderately expensive operation, and since some ORES data doesn

[2019-03-04 21:11] tonynguyen111997 commented on #2547
Hi @hjhimanshu01, are you still currently working on this issue? If not I would like to pick it up.

[2019-03-04 21:11] ragesoss opened #2559 "Update react-redux to v6"
A new version of react-redux has been released, but our build fails on it: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2558

The new version is probably compatible will our actual app code, but it has a new interface for `Context` and `Provider` that affects our tests. So many of the jest specs will need to be update to the new interface.

[2019-03-04 21:13] ragesoss commented on #2547
@tonynguyen111997 it's still being worked on. See https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2550

[2019-03-04 21:16] ragesoss opened #2560 "deployment by a different user on P&E Dashboard fails because of `git` write permissions"
We had to change the ownership or permissions of the git repo directory used by Capistrano in order to deploy with a different user, and it looks like this needs to happen again each time the deploying user changes.

[2019-03-04 21:34] tonynguyen111997 commented on #2360
Hi @Ace-Bansal, I noticed that this issue has been open for a month now and I couldn't find a PR on it. Are you still interested in working on this bug? If not I'd like to attempt to tackle it.

[2019-03-04 21:58] ragesoss commented on #2360
@tonynguyen111997 go for it. Let us know if you have any questions.

[2019-03-05 17:24] hardy1334 commented on #2530
But @bwreid  when user enters after creating account and if he chooses role of instructor ,I guess he is asked for what purpose he is here and how long does he intend to use this course. so,is it good idea to add this?

[2019-03-05 17:49] ragesoss commented on #2530
This is data we need for accurately analyzing the courses we're supporting.

[2019-03-05 17:56] hardy1334 commented on #2530
okay, I got it @ragesoss

[2019-03-05 19:03] hardy1334 opened #2568 "Styling issue with Datepicker component"
Once a course is created,and user goes to edit details in it styling of  **input box** is not uniform.

![screenshot from 2019-03-06 00-28-34](https://user-images.githubusercontent.com/31733278/53829953-59c9da80-3fa7-11e9-8d72-e48e49683ba4.png)

[2019-03-06 00:45] ragesoss commented on #395
I think just having a way to delete a cloned course is a good start for this. I'm not 100% convinced that the automatic deletion is a good idea.

[2019-03-06 14:48] neozenweb commented on #2557
@ragesoss I know that this is not labeled "newcomer friendly". But since no more of those are available, do you want me to try this one?

[2019-03-06 16:46] ragesoss commented on #2491
@khyatisoneji one the concepts the Dashboard uses for each course is `home wiki`, which is the wiki that automatically gets tracked for edits by participants. The default is that any assigned articles are on the home wiki, but it is possible to assign articles from other languages if you do so explicitly. In this case, the Dashboard frontend has some special handling so that it makes it clear that

[2019-03-06 16:57] ragesoss commented on #2557
@neozenweb I recommend finishing up the WIP issue you've already started on first, but yeah, this one is relatively newcomer friendly. I didn't tag it as such because it involves both frontend and backend changes (and so requires an understanding of how the frontend and backend interact, and will involve changes to probably about 5 different files).

[2019-03-06 17:27] bwreid commented on #2568
@hardy1334 Can you describe a bit more what you mean here? Do you mean they're not the same size? It's true that the **Passcode** and **Expected Students** fields could be smaller, but I'm not sure if it's a big issue at the moment. Maybe you're seeing something else though?

[2019-03-06 17:39] hardy1334 commented on #2568
@bwreid  You are certainly right,that its not a big issue but we can consider **passcode ** for situation but for **Expected students **  and **start and end dates** it doesn't look good

[2019-03-06 19:41] urbanecm commented on #2491
Pro Tip: There are a lot of other interwikis, and on some wikis, engineer:Something might be invalid. https://www.mediawiki.org/wiki/API:Siteinfo can give a list of interwikis you can use in the dashboard. Non-WP assignments are rare and non-WM projects assignments are even more rare, but if you have time, it'll be great :-).

[2019-03-06 22:07] bwreid commented on #395
@ragesoss To be clear, you're thinking of just option A? So something like the following:
![image](https://user-images.githubusercontent.com/1316902/53917350-2b84e300-4019-11e9-902d-e4ca5261fe6f.png)

[2019-03-06 22:50] ragesoss commented on #395
Yes, exactly.

[2019-03-07 10:33] shivanshbindal9 commented on #2263
@ragesoss sir, sorry for not working on this for a long time as I had my university exams. Actually, when I am trying to use ```react-select``` for table sorting I am having some issues. Basically, when we use react-select various css components such as the dropdown icon, the input field all are wrapped inside div and it becomes difficult to remove them and add an image since there is a hierarchy

[2019-03-07 15:17] twisted-sres commented on #2022
Hey @ragesoss , what would be a fix for this?
Should I remove the Explore the Course Pages link?

[2019-03-07 15:50] twisted-sres commented on #2546
Hey, how do I reproduce this?

[2019-03-07 16:58] bwreid commented on #2546
@twisted-sres, I think @helenatxu might still be working on this one even though it's not listed here. Is that true, @helenatxu?

[2019-03-07 17:13] ragesoss commented on #2546
No, she's not.

@twisted-sres you can reproduce this by going to `/article_finder`, doing a search, clicking the title of one of the results to bring up the ArticleViewer, and then clicking the link icon next to the article title within the ArticleViewer.

[2019-03-07 19:09] davidnoahball commented on #1611
Slack chat transcript:

David Ball [1:46 PM]
Hey, @ragesoss. I'm starting to dig into 1611 (https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/1611) and I've come to an issue I want to clear up.

In the ticket it mentions the "`title` attribute for `Week` records", but it looks like in the `weeks` table, there are only entries for weeks that have active days. Given the description

[2019-03-07 20:00] ragesoss opened #2583 "In Articles tab, navigation to Assigned Articles and Available Articles sections is hard"
This is what https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1950 tries to address, although there could be other possible solutions as well.

[2019-03-07 20:01] twisted-sres commented on #2546
What is the link actually supposed to do?

[2019-03-07 20:04] ragesoss commented on #2546
@twisted-sres it was designed for use in the Articles tab of a course page, and lets you provide a link that opens a specific article: https://dashboard.wikiedu.org/courses/School_of_the_Art_Institute_of_Chicago/New_Histories_of_Chicago_Media_(Spring_2019)/articles?showArticle=51050930

[2019-03-07 20:21] twisted-sres commented on #2546
Okay, in the link you provided, when I click this icon, it takes me to the same page. Is it supposed to take me to it's wiki page?

[2019-03-07 20:25] tonynguyen111997 opened #2584 "setup.md prerequisite requires wrong python version"
Hi, I'm an Outreachy applicant and I was wondering if I could make a PR to change the requirement from **python 3** to **python 3.5 or newer** in setup.md as my first "newcomer-friendly" contribution.

In setup.md it mentions having python 3 as a requirement, but when running python3 setup.py with Python 3.4.3 I ran into this error:

![image](https://user-images.githubusercontent.com/36907562/5398

[2019-03-07 20:34] ragesoss commented on #2546
No, it's working as intended. The idea is that it lets you share the ArticleViewer link, which (in the context of a course page) will load authorhsip highlighting data to show which parts of the Wikipedia article were written by which students in the course. The idea is that it's a shareable link that represents the state of the app: not just being on the Articles tab, but also having a specific a

[2019-03-07 20:36] ragesoss commented on #2584
@tonynguyen111997 thanks! Please do open a PR for that.

[2019-03-07 22:38] ragesoss commented on #2263
@shivanshbindal9 interesting. It might not be possible with that library, I guess? I suggest opening an issue at react-select to describe what you're trying to do and ask if there's a way.

If not, it's not a big deal; the sort selector is the least noticable.

[2019-03-07 22:41] ragesoss commented on #2022
I'm not sure. The two links are there for a reason, and they serve different purposes (hence the different labels). I think the issue is just that it's potentially confusing as to why you'd end up at the same place whether you wanted to explore or to find your own course (because the explore page isn't necessarily the ideal UI for that purpose, it's just a minor use case that we don't have a dedic

[2019-03-08 17:31] #2584 closed

[2019-03-08 23:16] bwreid commented on #2583
What about just the following? I changed the style of the button to feel somewhat distinct from the "Get Help" button right above it. Clicking on each button would show the selected one. This also should narrow the screen any further.

![image](https://user-images.githubusercontent.com/1316902/54061296-1644bb80-41b5-11e9-816c-0ecf3e677aed.png)

For fanciness, I can try and add some transition effe

[2019-03-08 23:22] ragesoss commented on #2583
works for me!

[2019-03-09 05:24] hjhimanshu01 opened #2595 "Within /article_finder, on submitting without search term shows an error"
Submitting without a search term produces an error tab with multiple console statements logging and a constant loading icon which shows nothing.
![Screenshot from 2019-03-08 14-48-53](https://user-images.githubusercontent.com/22212482/54066635-5467cc80-4201-11e9-87e9-22cd3313ab3b.png)

[2019-03-09 08:04] hjhimanshu01 commented on #2595
@bwreid @ragesoss , small fix , would create a PR for this one . Shall I ?

[2019-03-09 11:46] bhawna-singh commented on #2312
@ragesoss I'm an outreachy applicant . Can I take up this issue if @devanshbatra04 is not working on it ?

[2019-03-09 11:47] devanshbatra04 commented on #2312
@bhawna-singh yes sure go ahead, I got busy and could not get back. Have a look at my PR, should help.

[2019-03-09 12:58] shivanshbindal9 commented on #2498
@mariahajmal are you still working on this ?

[2019-03-09 14:05] shivanshbindal9 commented on #1169
Hey @ragesoss, I think this issue is already addressed #2452.

[2019-03-10 19:16] dustmop44 commented on #1924
Hi. I've taken a crack at this. I had to migrate a new column to user_profile. I also went ahead and added a remove profile image button which I could not find anywhere. For that feature, I had to add a controller method to user_profiles as well. This is my first issue so let me know if I did anything wrong. This is how it looks so far.
<img width="1119" alt="screenshot at mar 10 15-14-04" src="ht

[2019-03-11 02:47] zainabsiddiqui commented on #2490
Hey @bwreid! I'm applying to this project through Outreachy. Could I try this for my first contribution?

I've taken a look at the ArticleViewer JSX file and it seems attaching an aria-label attribute to the buttons would fix accessibility concerns. Am I on the right track?

[2019-03-11 09:05] mariahajmal commented on #2459
@bwreid Please review and let me know if I missed anything. Thanks

[2019-03-11 15:58] bwreid commented on #2490
Hi @zainabsiddiqui. Yes, this could be a good first issue to work on. You are on the right track! [This section](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/app/assets/javascripts/components/nav/nav.jsx#L99-L110) of the nav bar might be a good reference. Additionally, you can download a screen reader for Chrome if you'd like to try it out.

[2019-03-11 16:03] bwreid commented on #1924
@dustmop44, thanks for the contribution! Is there code associated with this? If so, you should make a PR and connect it to this issue.

This seems like a good start. We want the profile image to maintain its circular shape, however.

[2019-03-11 16:58] ragesoss commented on #1169
@shivanshbindal9 this is a little different: it's when the block is still the Assignment type, and you just want to remove the assignment due date.

[2019-03-11 17:18] #2459 closed

[2019-03-11 17:44] ragesoss commented on #1924
@bwreid the shape is a separate issue; it doesn't show a circle unless the image is square.

[2019-03-11 19:32] ragesoss opened #2602 "Upgrade react-dropzone to version 10"
The latest version of react-dropzone breaks the build: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2563

In particular, the test for the syllabus upload feature, which is the one place that uses this library, is failing.

Find out why, and fix it. It might require a code change, or it might require a change to the spec.

[2019-03-11 21:51] #2595 closed

[2019-03-11 21:56] hjhimanshu01 commented on #1869
@ragesoss , Could you please provide more details about the issue , would like to work on this one!

[2019-03-11 22:11] ragesoss commented on #1869
@hjhimanshu01 Here's an example of the the campaign "programs" view: https://dashboard.wikiedu.org/campaigns/fall_2018/programs

It's rendered server-side using Rails templates, like most of the /campaigns views.

The design of the campaigns view is very similar to the courses view for an individual course, but for courses, all the tabs (Home, Articles, etc) are rendered client-side in React.

Eve

[2019-03-12 07:26] mariahajmal commented on #2602
@ragesoss Can I work on this?

[2019-03-12 12:08] Aeropio commented on #1709
Hello, I got same problem, even though I ran all the rake commands mentioned, still Nothing is fetched from DB

[2019-03-12 12:10] Aeropio commented on #2485
Hello I am current outreachy applicant and wants to work on this issue, please know the steps to reproduce this in my local

[2019-03-12 16:17] ragesoss commented on #1709
What output or error message do you get when you run `rake dev:populate`?

[2019-03-12 16:23] ragesoss opened #2613 "Upgrade tinymce and @tinymce-react to latest versions"
It looks like tinymce version 5 has breaking changes — maybe just a change in location for the theme, or maybe more. See the gulp build errors here: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2607

Find and fix the cause of these errors with the new tinymce release, and manually test the timeline block editing feature where tinymce is used to check for differences in the user

[2019-03-13 01:36] Aeropio commented on #1709
@ragesoss  ran the rake commands successfully, I am current outreachy applicant new to open source world, can you please help me to pick up a beginner friendly task

[2019-03-13 04:34] Aeropio commented on #2485
@ragesoss : if we check `suspected_diffs.present?` then this mentioned error can be avoided; incase if `suspected_diffs` is not present then what the method has to return?

[2019-03-13 04:38] Aeropio commented on #2199
Hello I am current outreachy applicant and wants to work on this issue, please know the steps to reproduce this in my local

[2019-03-13 04:44] Aeropio commented on #1949
Hello @hardy1334 @ragesoss , is this iisue still open ??

[2019-03-13 04:58] Aeropio commented on #1843
@ragesoss  , Hello I am current outreachy applicant and wants to work on this issue, please let me know the steps to reproduce this in my local and also can you assign this to  me?

[2019-03-13 05:24] hardy1334 commented on #1949
@Aeropio  I'm already working on it, you can try some other issue. If I feel like not working on it,I'll let u know

[2019-03-13 06:26] Aeropio commented on #1949
okay sure @hardy1334

[2019-03-13 06:30] Aeropio commented on #1476
@ragesoss can you please elaborate more on this issue?

[2019-03-13 09:09] Aeropio commented on #1417
hello @ragesoss, is this issue still open?

[2019-03-13 16:57] ragesoss commented on #2485
Something like that seems reasonable, although if there's anywhere earlier in the data flow to handle this failure mode, that would be better.

A patch for this should also include a test for a mocked query that would lead to this error.

[2019-03-13 17:01] hardy1334 commented on #2613
I'll like to work on it

[2019-03-13 17:05] ragesoss commented on #2199
The way to replicate the problem would be to create a course with en.wiktionary as the home wiki, then go to en.wiktionary.org, find editors who have made recent edits in the Appendix (100) and Rhymes (106) namespaces, add them to your course with appropriate dates that include some of those edits, and then do a stats update for that course. The edits to those namespaces won't show up on the Dashb

[2019-03-13 19:47] ragesoss commented on #1417
Yes.

[2019-03-13 20:58] hjhimanshu01 commented on #1869
Hey @ragesoss , just a little query , I'm confused as to shall I start making a new component for campaigns page , I have read the code thoroughly these 2 days , so basically I need to route to that component first and then proceed I think , but this would lead to many breaking changes in the code as it is something from scratch ?

[2019-03-13 21:05] ragesoss commented on #1869
Yes, this is a fairly big thing that would largely be from scratch. Controller tests would likely need to be replaced, although feature tests ought to work before and after most likely.

[2019-03-13 21:16] hjhimanshu01 commented on #1869
Cool ! Thanks ! Would keep working on this issue ! Also  , if possible would like to discuss about this issue on slack as this could possibly be a part of GSOC application along side other tasks ,  shall I reach you out there?

[2019-03-13 23:41] ragesoss opened #2622 "Import edit summaries for each Revision"
Edit summaries on wikidata, in particular, include useful structured data that can be used to calculate fine-grained statistics such as number of claims added and number of references added. They could also be displayed in the /activity view to usefully enhance activity feeds for any wiki.

We should add a column for edit summaries, and backfill the revisions in the production dashboards to includ

[2019-03-13 23:57] ragesoss opened #2623 "Import ORES data for wikidata revisions"
ORES has an `itemquality` model for wikidata now, which provides a similar set of features to what we import for wikipedia revisions: https://ores.wikimedia.org/v3/scores/wikidatawiki/840608564/itemquality?features

We should add wikidata support to the ores import pipeline.

[2019-03-13 23:59] ragesoss opened #2624 "Import ORES features and scores for the `before` revision of every Revision record"
Doing this for every revision, not just the first revision to an article during a given course, would add some flexibility for when we need to adjust dates for ORES before-and-after plots, and would also let us use the features before and after a given revision to extract specific stats, like how many references were added.

[2019-03-14 12:06] hardy1334 commented on #2521
@bwreid  I guess you mean over here that in the above figure date 4 on Monday and 5 on Tuesday should look somewhat different that it currently is. Right?

[2019-03-14 14:03] hardy1334 commented on #2432
I'll like to give it a short.

[2019-03-14 14:22] faithngetich commented on #2432
Hey, @hardy1334 I have a [PR ](https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2472)up for this. If you would like, we could pair on this issue else feel free to take it up. Let me know what works for you.

[2019-03-14 14:30] hardy1334 commented on #2432
@faithngetich  ok,no problem as soon as i resolve it I'll let you know and we can pair it up if you want

[2019-03-14 15:46] bwreid commented on #2521
@hardy1334 It's not that they need to look different. When individuals use a [screen reader](https://en.wikipedia.org/wiki/Screen_reader) to navigate the site, there is not a distinction between the two dates you mentioned.

An ideal solution for this would be when a screen reader navigates to the 4th, it mentions something about the class being canceled. Does that help clarify?

[2019-03-14 17:31] hardy1334 commented on #2432
@ragesoss  on Updating it to 6.0.0 beta1 following this blog [https://medium.com/@prrrnd/upgrading-to-rails-6-and-getting-started-with-action-text-7f50aafc8631](url) I updated but now when I run **guard** it gives error **`block in <class:Railtie>': Rails::SourceAnnotationExtractor is not a class/module (TypeError)** . I searched about it and as per [https://github.com/indirect/haml-rails/pull/150

[2019-03-14 18:06] hardy1334 commented on #2521
@bwreid  I'm not quite clear with that. Suppose user comes to 4th part -

![Screenshot from 2019-03-14 23-34-24](https://user-images.githubusercontent.com/31733278/54380621-e9f7d600-46b1-11e9-850e-a079cca09aa3.png)

any suggestions what we can do over here

[2019-03-14 18:16] ragesoss commented on #2432
Have you looked at the PR from faithngetich? It has the beta running successfully already. I think we're just in a `wait until the final release` stage of things with this.

[2019-03-14 19:11] ragesoss commented on #2521
@hardy1334 this likely requires testing the site out with a screen reader to replicate the problem, and then researching accessibility techniques to figure out how to account for interactive elements with multiple possible states.

[2019-03-14 19:30] hardy1334 commented on #2521
@ragesoss  @bwreid  Damn!!! It's so intresting I'll definetly start working over it. I guess currently i should implement for this **component** only not the entire website

[2019-03-14 19:59] ragesoss commented on #2521
Yeah, this a11y problem is specific to the calendar component with it's (I think) four different possible states for each date (disabled, selected, not selected, and holiday/canceled).

[2019-03-14 20:41] zainabsiddiqui commented on #2490
@bwreid quick question about the ArticleViewer open button: I downloaded a screenreader and noticed that it reads the name of the article when clicked. Won't adding a label to that override the reading out of the title itself?

This is not the case with the close button, as that is just an icon.

[2019-03-14 22:45] hjhimanshu01 commented on #2520
@bwreid @ragesoss , shall I work on this if it's available?

[2019-03-14 23:37] ragesoss commented on #2520
@twisted-sres are you still working on this?

[2019-03-15 02:52] hjhimanshu01 commented on #2498
@mariahajmal @shivanshbindal9  if anyone's still working on this , please let me know , I have worked on a similar issue before and @bwreid ,  yes it is possible to search via typing in drop down . Can I take this up?

[2019-03-15 03:03] mariahajmal commented on #2498
Yes I have started working on this

[2019-03-15 03:18] hjhimanshu01 commented on #2498
@mariahajmal , thanks , let me know if you need any help on this search . :)

[2019-03-15 03:35] hjhimanshu01 commented on #649
@ragesoss , may I work on this if it's available , i have worked on similar one before?

[2019-03-15 04:08] hardy1334 commented on #2432
@ragesoss  yeah I had looked at it , it works fine

[2019-03-15 04:20] Aeropio commented on #2485
@ragesoss in `api_get` method of **PlagiabotImporter** class if we check if response is present then it would be better, but if response is not present then what the method has to return?

[2019-03-15 04:21] Aeropio commented on #2485
@ragesoss  where should I write the test for the mocked query? in which file?

[2019-03-15 11:59] mariahajmal commented on #2498
@bwreid I have edited the code but I am unable to find it on the website. Is it for instructor or student?

[2019-03-15 12:04] mariahajmal commented on #2531
@helenatxu hey, are you working on this?

[2019-03-15 12:23] mariahajmal commented on #2125
@bwreid please mention the course types

[2019-03-15 14:35] ragesoss commented on #2125
It should be for FellowsCohort, which corresponds to our Wiki Scholars & Scientists professional development course

[2019-03-15 14:39] ragesoss commented on #2485
Probably plagiaibot_importer_spec.rb

[2019-03-15 14:42] ragesoss commented on #2498
It's at the bottom of the Edit Details view. If you are an admin, or an instructor if the wiki_education setting is false, you should have access to it.

[2019-03-15 14:43] ragesoss commented on #2531
No, they aren't working on it anymore I don't think.

[2019-03-15 16:02] bwreid commented on #2490
No worries, @zainabsiddiqui -- Yep, it can be a bit tricky. Let me know if there's anything else I can help with.  :)

[2019-03-15 17:51] mariahajmal commented on #2531
@ragesoss thanks. Do I need to add a label(Remove) before (-) ?

![Remove label](https://user-images.githubusercontent.com/23306376/54451459-b5991e00-4774-11e9-90c7-480002c6bca8.png)

[2019-03-15 18:10] ragesoss commented on #2531
The button itself should have that label (which should be visible; it's purpose is mainly for screen readers).

[2019-03-15 18:11] #2544 closed

[2019-03-15 18:36] bwreid opened #2635 "Send DYK alerts to instructors"
### Current Behavior:
At the moment, DYK alerts only go to the content experts associated with a course.

### Desired Behavior:
In addition to content experts, send an email to the creator of the course/program.

### Related Files & Code:

* [dyk_nomination_monitor.rb](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/lib/alerts/dyk_nomination_monitor.rb)
* [dyk_nomination_mo

[2019-03-15 19:12] ragesoss opened #2637 "Redesign /usage page"
The /usage page has a lot of useful data, but it has never had any intentional design thought put into it.

Come up with a better layout. (Coming up with a good design is all that is required for this issue; implementing the design would be a separate issue.)

Current layout:
![usage](https://user-images.githubusercontent.com/848483/54456473-8d310580-471b-11e9-830d-5bc7fc7c8e53.png)

[2019-03-15 21:30] hjhimanshu01 commented on #2559
@ragesoss @bwreid , just had a trial of this ,on running the tests bumped into an error

[code]

I'm basically passing the store to components via `<Provider store={store} ><Component /><Provider>` though Apparently , Shallow doesn't allows 2 components to be passed , so it just takes <Provider> component and returns the error (much harder to comprehend) . Any leads on how to proceed as Shallow is

[2019-03-15 22:05] ragesoss commented on #2559
Have you looked at the v6 release notes? They seemed helpful in general, although there's no explicit upgrade guide: https://github.com/reduxjs/react-redux/releases

[2019-03-16 12:03] mariahajmal commented on #2637
Created below layout for Usage screen
![Usage Stats](https://user-images.githubusercontent.com/23306376/54474944-24c25100-480d-11e9-87b9-e1afc7281dbc.jpg)

[2019-03-16 13:31] hjhimanshu01 commented on #2559
@ragesoss , Yeah , referred them and many other docs , have opened a PR for the same , with work in progress , need your reviews on how to solve that particular issue.

[2019-03-17 01:28] hjhimanshu01 commented on #2546
@ragesoss , since this thread was inactive since days , fixed the issue , PR created.

[2019-03-17 01:30] hjhimanshu01 commented on #649
@ragesoss , unable to comprehend the AssignButton link in this enhancement , would like to have a chat on IRC?

[2019-03-18 04:43] mariahajmal commented on #2125
@ragesoss I have changed my wiki_Education setting to false but still cannot see below courses types while creating a course:
- ClassroomProgramCourse
- VisitingScholarship
- FellowsCohort

Only courses which are available
- BasicCourse
- Editathon
- ArticleScopedProgram

What are the steps to reproduce this issue?

[2019-03-18 06:03] Aeropio commented on #2485
@ragesoss : My understanding is that  `api_get` method returns nil in the `find_recent_plagiarism` method , but i am not sure how to reproduce this error?please share the  Steps to reproduce this behavior

[2019-03-18 16:20] bwreid commented on #2637
@mariahajmal This looks pretty great! For the "Courses/Programs per Wiki", we will need to include numbers next to each list item. Additionally, it might be nice to incorporate a way to filter the usage by dates that would update the relevant information. (Realistically, I think this would be a feature that is not needed at the moment, but since we're just designing right now, might as well includ

[2019-03-18 16:46] bwreid commented on #649
@hjhimanshu01 Sage will be out this week. Do you have access to the Slack? We could chat over that if you like.

[2019-03-18 17:22] #2613 closed

[2019-03-18 17:26] hjhimanshu01 commented on #649
@bwreid , Yes , let's have a conversation over slack  , also could you add me there , I'm not currently added on slack.

[2019-03-18 18:03] bwreid commented on #2125
@mariahajmal It's a bit confusing and not quite as easy as it is with the Programs & Event Dashboard. With `wiki_education` set to `true`, create a course on the dashboard. Then, go to that course and click Edit. You should then see a dropdown with various classroom types.

![image](https://user-images.githubusercontent.com/1316902/54552518-797cdd80-496d-11e9-8edd-100f8719b44a.png)

[2019-03-18 18:25] bwreid commented on #2485
@Aeropio I think it will be easiest to just build the test so that the `Net::HTTP.get` returns `nil`. I think the problem at the moment is we're not entirely sure what yet is causing the return of `nil` but still want to be able to handle it.

[2019-03-18 18:37] bwreid commented on #649
@hjhimanshu01 Great! Please just send me an email at wes@wikiedu.org

[2019-03-18 23:04] #1924 closed

[2019-03-19 00:57] davidnoahball commented on #1611
Pull request made

[2019-03-19 07:14] Aeropio commented on #2485
@bwreid okay sure

[2019-03-19 08:24] Aeropio commented on #2635
hello @bwreid : I would like to work on this issue, could you please assign this to me?

[2019-03-19 16:05] bwreid commented on #2635
Hi @Aeropio -- this would be a fine issue to work on, but I would first complete the other issue you started on. Unless you would like to skip that one and work on this instead?

[2019-03-19 17:00] arpitadash commented on #2635
Hello @bwreid, I'd like to work on this issue if it is still open.

[2019-03-19 20:20] bwreid commented on #2635
@arpitadash This commit was responded to relatively recently. If we don't hear from @Aeropio in the next day or so, please feel free to take it.

[2019-03-19 20:20] bwreid commented on #2511
@mariahajmal If you don't hear from @ananyaarun in the next day or so, please feel free to work on this.

[2019-03-20 00:42] Aeropio commented on #2635
Hi @bwreid I would like to skip the other issue and take this issue instead

[2019-03-20 00:46] Aeropio commented on #2635
Hello @bwreid : I am almost done with the implementation of this issue, but I am not sure how to test it, so can you please provide steps to test this?

[2019-03-20 02:12] Aeropio commented on #2635
Please review this PR
https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2659

[2019-03-22 16:42] bwreid commented on #2635
In addition to the above, we should actually format a new email that goes to the instructor. Right now, the format for the alert is not very user friendly. At the moment, let's get it so that a well formatted email goes to the instructor (the regular alert can go to the course experts). I can follow up with what exactly the text should be.

For example, you could look at the Course Approval email.

[2019-03-23 19:39] Aeropio commented on #2635
@bweird sure I will look at the course approval email

[2019-03-24 09:56] Aeropio commented on #2635
@bwreid @ragesoss https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2672 is the pull request for this issue, please review. NOTE: I have to still work on the formatting of email that goes to the instructor, is it fine if i create a new branch for this format task

[2019-03-24 09:57] Aeropio commented on #2635
I had to close the previous PR which i opened for this task, as i messed up with git

[2019-03-25 18:39] #2546 closed

[2019-03-25 18:42] ragesoss commented on #2520
This is available. The discussion at #2556 will be useful for the next person to take it up.

[2019-03-25 19:59] ragesoss commented on #2637
One thing to consider with this design: the courses/programs per wiki list needs to work when the list is very much longer than the one shown. Here's what it looks like now on Programs & Events Dashboard: https://outreachdashboard.wmflabs.org/usage

Currently, it's 103 wikis, and it'll grow a bit more over time. The count of programs per wiki is also key information, and that should factor into th

[2019-03-25 22:27] bwreid commented on #2635
@Aeropio It looks like it was re-opened! Did you mean to do that?

If it could all be included in the same PR that would be great!

[2019-03-26 03:09] Aeropio commented on #2635
@bwreid yes the PR was reopened, could you please review it, I will meanwhile look for the formatting of email task

[2019-03-26 09:08] Aeropio commented on #2635
@bwreid can you please provide the text in the mail which goes to the course instructor?

[2019-03-26 16:02] #2583 closed

[2019-03-27 19:20] hardy1334 commented on #2511
@mariahajmal  @ananyaarun @bwreid   if u r not working on this shall i take this issue

[2019-03-27 23:43] bwreid commented on #2635
Hi @Aeropio, thanks for your patience. I think the following text should work.

---

Hello, <username>

The following article being worked on as a part of your course has received a [“Did You Know” nomination](https://upload.wikimedia.org/wikipedia/commons/e/ee/Classroom_handout_-_Submitting_an_article_to_the_Did_You_Know_process.pdf):
• <Article Title, with Link>

We recommend checking the submis

[2019-03-28 05:36] Aeropio commented on #2635
@bweird thank you for providing the text

[2019-03-28 21:24] ragesoss commented on #551
I don't think this has happened, that I've noticed, in a long time.

[2019-03-28 21:24] #551 closed

[2019-03-29 19:40] ragesoss commented on #2511
The latest version improves on the title, and moves the previous/next buttons next to each other:
![Screenshot from 2019-03-29 19-08-57](https://user-images.githubusercontent.com/31733278/55239896-a37fab00-525d-11e9-860e-306de4c8fd4d.png)

Remaining areas for improvement include:
* clustered buttons at the top left... we should probably just get rid of the 'how did it work' link, as it's not a new

[2019-04-01 08:26] hardy1334 commented on #2520
@bwreid  @ragesoss  In this issue as for changing **Passcode** to **Enrollment Link**, so shall I need to remove Input of **passcode**  or something else from here.

![Screenshot from 2019-04-01 13-53-02](https://user-images.githubusercontent.com/31733278/55313619-d906dd00-5485-11e9-8954-407f5bc5c797.png)

[2019-04-01 18:32] ragesoss opened #2705 "Add an API for fetching details about users in a campaign"
Martin Urbanec requests an API that could be used by an on-wiki gadget, to show a list of students in current courses. "This API should give at least a) role b) course's name c) link to course."

This is basically the same data that we currently provide in the campaign `students` and `instructors` CSV endpoints (and they should maybe be refactored to share logic with this new API).

Basically, we

[2019-04-02 18:14] ragesoss opened #2712 "Update core-js to version 3"
The `gulp` build breaks with core-js: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2709

This might be as simple as fixing the path for an import used in the Survey.js file, or there might be additional problems.

[2019-04-02 20:14] ragesoss opened #2713 "Cannot change assignment start to match course start"
There appears to be more trouble after the recent tweaks to timezone handling.

For this course, the start date shows April 1, but is actually April 2, and you can selected April 2 as the timeline start, but it ends up actually being April 3:

[code]

[2019-04-03 15:54] bwreid commented on #2520
@hardy1334 You shouldn't need to remove the passcode field as instructors could still change it. The idea here is just to make it so that instead of copying the passcode, there is a link for instructors to use. Please check out Issue #2556 for more details.

[2019-04-04 18:30] hardy1334 opened #2725 "Download Stats button gives error in console"
When we click on **Download Stats** button and other buttons as well in a program it gives warnings cum errors in console,although it does not break but any functionality.

![Screenshot from 2019-04-04 23-54-32](https://user-images.githubusercontent.com/31733278/55579434-d92d0400-5735-11e9-8166-0008b720cef3.png)

[2019-04-04 18:31] hardy1334 commented on #2725
@ragesoss  can u please have a look at this

[2019-04-04 18:42] ragesoss commented on #2725
Yep, looks like an HTML nesting error. The solution should probably be to replace whatever is using a `<p>` as the enclosing element with an appropriately sytled `<div>`, to fix the HTML structure be keep the visual layout unchanged.

[2019-04-06 06:03] hjhimanshu01 commented on #2547
@ragesoss , PR merged for this issue.

[2019-04-06 14:03] #2547 closed

[2019-04-06 19:19] Cressence commented on #2364
@ragesoss I would like to work on this but it seems like only super admins have access to the /settings path. Could you grant me access so I can work on this issue?

[2019-04-06 20:11] ragesoss commented on #2364
Set your User record to permissions: 3 to become a super admin.

[2019-04-13 20:22] Tass-Jomo commented on #2568
@hardy1334 i think i can do some bit of work on it, give me try.

[2019-04-13 20:36] hardy1334 commented on #2568
@Tass-Jomo  sure, go for it

[2019-04-15 22:38] bwreid opened #2762 "Optionally limit or exclude articles/categories from user contributions"
This is tangentially related to Issue #2129.

We want a way to be able to either limit or exclude specific articles and/or categories from user contributions for a course. For example, the following scenarios should be possible:

* A course should be able to select specific articles and only edits to those articles will be counted towards the course's progress
* A course should be able to select s

[2019-04-15 23:19] bwreid opened #2764 "Track multiple wikis as a part of a program"
As part of the Programs & Events Dashboard, we'd like to be able to track multiple wikis as part of a program.

![image](https://user-images.githubusercontent.com/1316902/56171236-63c4fd00-5f99-11e9-98a5-b6367b059234.png)

This would allow us to track contributions across wikis.

[2019-04-15 23:52] bwreid opened #2765 "Diagnostic tool to compare campaigns and/or courses"
We would like a page available on the Programs & Events Dashboard that allows us to compare campaign or program statistics to one another. Ideally this page would allow the user to add campaigns and programs to two columns. Each column would then add up statistics for those campaigns and programs and compare them to one another.

[2019-04-16 16:00] khyatisoneji commented on #2713
Hi @ragesoss can you please give some pointers to how to import this course json? Also is this a beginner level bug or an advanced level issue

[2019-04-16 17:12] ragesoss commented on #2713
@khyatisoneji you can get the json for any give course by going to the `course.json` route for it, for example, in this case: https://dashboard.wikiedu.org/courses/Cottey_College/Gender_in_Cross-Cultural_Perspective_(Spring_2019)/course.json

The issue should be replicable if you save a course in your database with the start, end and timeline start/end dates from the JSON, and then also set your c

[2019-04-19 16:58] #2725 closed

[2019-04-19 21:24] #2712 closed

[2019-04-19 21:46] ragesoss opened #2779 "Upgrade Gulp to v4"
We'll need to do some refactoring to upgrade our gulp tasks to the new v4 API: https://www.joezimjs.com/javascript/complete-guide-upgrading-gulp-4/

Be sure to test all the entry points defined in `gulpfile.babel.js`.

[2019-04-23 16:59] ragesoss opened #2795 "Make the build work on node v12"
The recent release of node v12 breaks the `gulp build` step. It may be possible to fix it easily, or it may be that we need to upgrade to gulp v4 to remain compatible with stable node.

See also: #2779

[2019-04-30 20:32] ragesoss opened #2822 "Error for admins visiting /onboarding"
https://sentry2.wikiedu.org/wikiedu/production/issues/2991/

[code]

[2019-05-02 15:53] urbanecm commented on #2705
I just got another gadget proposal, for that one, data about assignments would be appreciated. Could you please create an API for that too? Thanks!

[2019-05-03 09:52] Aeropio commented on #2491
@ragesoss  is this issue still open?

[2019-05-03 10:03] Aeropio commented on #1977
@ragesoss  is this issue still open?

[2019-05-03 10:20] Aeropio commented on #1600
@ragesoss how can i reproduce this from UI?

[2019-05-06 16:35] ragesoss opened #2831 "The same user page template should not be posted twice for Scholars & Scientists courses"
See https://en.wikipedia.org/w/index.php?title=User:CuriousDaily&oldid=895537213

The template used for `scholars-and-scientists` (`FellowsCohort`) courses looks the same for any course, so there's no point in having two instances of it for the same user. (This is in contrast to the student program, where the template does include links to the course page, so we want multiple instances for student

[2019-05-06 16:43] ragesoss commented on #1977
@Aeropio yes, it's still open.

[2019-05-06 18:31] ragesoss commented on #1600
This can't be reproduced directly, without enabling wiki edits in your development environment.

I would recommend using a test-first approach to this: write a test for the wiki page output when the wiki text includes the default template, `{{user sandbox}}`, and ensure that the output replaces that with the appropriate dashboard sandbox template.

This feature is currently part of the too-complex

[2019-05-07 20:20] ragesoss commented on #2705
@urbanecm you mean assignments for a whole campaign? We do have an API for the assignments for an individual course.

[2019-05-07 20:48] ragesoss commented on #1744
This can affect CommonsUpload as well; I'm adding the same workaround for that.

[2019-05-08 10:01] urbanecm commented on #2705
@ragesoss Yes, exactly. Or, at least, an API to get a list of courses, that'll allow me getting the same information from individual APIs. Since that can (probably will) be much slower than one API request, I still vote for APIs working the same way like the individual one for courses, but for whole campaign.

[2019-05-08 16:05] urbanecm opened #2840 "Enable Campus Volunteer on outreach dashboard"
Wikimedia Czech Republic would appreaciate if Campus Volunteer functionality is enabled on Outreach Dashboard as well. The feature is already enabled in [WikiEdu Dashboard](https://dashboard.wikiedu.org/courses/North_Dakota_State_University/History_of_Psychology_(Fall_2014)), see [this image](https://user-images.githubusercontent.com/10050467/57390047-c33eb300-71bb-11e9-879b-fe221e768047.png).

[2019-05-08 16:08] urbanecm commented on #1908
@ragesoss Maybe a good project for WMHack 2019?

[2019-05-08 16:09] urbanecm opened #2841 "Campaign organizers should be able to edit all courses assigned to given campaign"
Campaign organizers should be able to edit all courses assigned to given campaign. That would free edu managers from needing to be admins, since the only purpose of the rights is to being able to edit anything. #1908 is very similar issue (maybe even #1471? not sure what that one is about, cc @sejalkhatri)

@ragesoss, maybe a good project for WMHack 2019?

[2019-05-08 16:15] urbanecm opened #2842 "Removing a course participant doesn't cause template to be removed from wiki"
If you remove a course participant, the participation template (for cs.wikipedia, it's Template:Nástěnka/Účastník) isn't removed from user page and user talk page.

[2019-05-08 23:29] ragesoss commented on #2705
@urbanecm we just rolled out the first one: https://outreachdashboard.wmflabs.org/campaigns/studenti/users.json

[2019-05-09 01:03] ragesoss commented on #2705
@urbanecm also the assignments API: https://outreachdashboard.wmflabs.org/campaigns/studenti/assignments.json

Do those give you what you need?

[2019-05-09 13:24] Aeropio commented on #1977
@ragesoss  i will take this issue, please assign it to me if not already assigned

[2019-05-09 13:27] Aeropio commented on #1600
ok i will look into this

[2019-05-09 16:19] ragesoss opened #2848 "Add wiki selector to Article Finder"
Currently, the Article Finder component uses the home wiki of a course, and the base `/article_finder` instance defaults to English Wikipedia.

It should have an option to select the language and project, so that you can search any wiki from any instance of Article Finder.

[2019-05-09 18:50] ragesoss commented on #1977
Go for it. Just leave a note if you move on before it's closed. :)

[2019-05-10 21:00] ragesoss opened #2855 "NoMethodError: undefined method `details' for nil:NilClass"
https://sentry2.wikiedu.org/wikiedu/production/issues/3045/

[code]

[2019-05-11 19:46] urbanecm commented on #2705
Thanks @ragesoss! Yes, that should do.

[2019-05-13 23:28] #2855 closed

[2019-05-14 15:55] ragesoss opened #2866 "Surveys start from the end in right-to-left language"
If the language is set to to Arabic, etc, then the surveys are not usable, as they load the 'thanks for submitting' card instead of the 'start' card.

![RTL](https://user-images.githubusercontent.com/848483/57712709-edfa9280-7625-11e9-9c41-4b3d05570963.png)

[2019-05-16 16:45] Samwalton9 opened #2870 "When sorting programs by date, show creation date"
### Current Behavior:
When browsing https://outreachdashboard.wmflabs.org/explore, you can sort by campaign date, however the creation date is not shown, making it more difficult to judge which campaigns are the ones I'm looking for.

### Desired Behavior:
When sorting by campaign date (or perhaps just generally), it would be useful to show the campaign creation date.

[2019-05-17 17:10] urbanecm opened #2873 "Campaign language selector is under the main menu"
See attached screenshot. Affects just campaigns.

![Screenshot](https://user-images.githubusercontent.com/10050467/57944494-7a7fac00-78d7-11e9-9d80-fa7c94038743.png)

[2019-05-18 11:37] #2779 closed

[2019-05-19 08:06] bwreid commented on #2873
@urbanecm This issue should now be fixed!

[2019-05-19 08:06] #2873 closed

[2019-05-19 10:15] ragesoss commented on #2841
Done!

[2019-05-19 10:15] #2841 closed

[2019-05-19 10:16] ragesoss commented on #2840
Done!

[2019-05-19 10:16] #2840 closed

[2019-05-19 10:16] ragesoss commented on #2795
Done!

[2019-05-19 10:16] #2795 closed

[2019-05-19 10:17] #2705 closed

[2019-05-19 10:17] #2635 closed

[2019-05-19 10:38] #2848 closed

[2019-05-19 10:41] ragesoss opened #2886 "Improve alignment of ArticleFinder wiki selector"
In a wide enough window the wiki selector aligns with the right side of the input in ArticleFinder.

In a narrower window, it starts to shift out of alignment:

![alignment shift](https://user-images.githubusercontent.com/848483/57981082-ea7d5780-79e7-11e9-95e0-4e4d4bc84562.png)

[2019-05-19 10:43] ragesoss opened #2887 "ArticleFinder should fetch labels for Wikidata items"
ArticleFinder can be used for Wikidata, but the results are only Q numbers.

It should show the labels instead or in addition to Q numbers.

[2019-05-19 10:47] ragesoss opened #2888 "Extract wiki language/project selectors into a reusable component"
We have several places in the UI that allow the user to select a wiki. The most relevant ones are ArticleFinder and AssignButton, which both have a show/hide link for changing the wiki. Similar but not quite the same is the home wiki selector in CourseCreator and Details.

At least the ArticleFinder and AssignButton ones, and possibly the others as well, should be extracted into a reusable compone

[2019-05-23 19:27] ragesoss opened #2897 "Lexeme edits on Wikidata are not imported"
In addition to mainspace, where Q items live, we should be importing the other Wikidata content namespaces: Property, Lexeme, and Query (and the associated talk spaces): https://www.wikidata.org/wiki/Help:Namespaces

Property, Lexeme and Query edits should count as articles edited.

[2019-05-23 19:27] ragesoss commented on #2897
@AmitJoki this is relevant for your project.

[2019-05-23 21:09] #2559 closed

[2019-05-23 21:11] ragesoss commented on #2486
We've fixed this or less, by going to back to a single server user doing all deployments, which is a central assumption of Capistrano and so hard to avoid.

[2019-05-23 21:11] #2486 closed

[2019-05-23 21:12] ragesoss commented on #2560
More or less not an issue, since we're back to having a single server user do all deployments.

[2019-05-23 21:12] #2560 closed

[2019-05-23 21:12] ragesoss commented on #2487
More or less not an issue, since we're back to having a single server user do all deployments.

[2019-05-23 21:12] #2487 closed

[2019-05-24 05:06] AmitJoki commented on #2897
@ragesoss noted. I will add this issue in my TODO list.

[2019-05-25 09:10] Aeropio commented on #1977
@ragesoss I will leave a note once I start working on it

[2019-05-27 12:15] urbanecm opened #2903 "Sometimes, add instructor window goes out of screen"
I was sent this screenshot by Vojtěch Veselý, who reports the add instructor popup goes out of screen at some occasions (undetermined which occasions).

![image](https://user-images.githubusercontent.com/10050467/58419065-d7beee80-8089-11e9-8e5d-9cd13377482d.png)

[2019-05-30 17:06] urbanecm opened #2918 "Allow campaign organizers to update data for every course"
Since #2841 was resolved, campaign organizers are able to edit every course in the campaign. It'll be useful if campaign organizers are also able to force data update for each course, just like they can edit it.

[2019-05-30 17:41] ragesoss commented on #2918
You mean, force a data update for all of them at once, or for any individual course?

What is the use case for this? Normally, courses will continue to be updated until they are over (and then for 30 days after that), so forced updates are rarely necessary.

[2019-05-30 17:52] ragesoss opened #2919 "'Online Volunteer' role should not require a passcode"
The new version of the online volunteer role, if enabled for a course, is intended to be open for anyone to sign up for. It currently requires a passcode if one is set; it should not.

[2019-05-30 17:55] ragesoss opened #2920 "'Online Volunteer' feature should be enabled at the campaign level"
The first use case for this feature is the Czech education program, but requiring it to be enabled on a course-by-course basis makes it impractical. It should be possible to enable it for a whole campaign, as we do with 'account requests'.

[2019-05-30 17:55] #2471 closed

[2019-05-30 18:24] urbanecm commented on #2918
For any individual course. I know it's rarely needed, but course instructors are able to do that and I don't know why campaign organizers shouldn't be able to do the same.

[2019-05-30 18:44] ragesoss commented on #2918
Hmm. I thought they would be able to. I'll double-check. The option only shows up once the program ends, since it's being updated already before then.

[2019-05-30 18:56] ragesoss commented on #2918
I think I found the bug.

[2019-05-30 19:22] ragesoss opened #2921 "Account creator feature posts en.wiki log messages in other languages"
For example: https://en.wikipedia.org/wiki/Special:Log?type=&user=OutreachDashboardBot&page=User%3ANurHussein97&wpdate=&tagfilter=

Ideally, accounts should be created on the home wiki of the project when possible. However, the bot is only approved and has permissions on en.wiki.

Probably the right approach will be to:
* attempt it on the home wiki, using that language, with the requesting user's

[2019-05-30 23:26] #2918 closed

[2019-06-06 02:08] ragesoss commented on #2822
Fixed.

[2019-06-06 02:08] #2822 closed

[2019-06-06 02:09] #2870 closed

[2019-06-06 14:30] urbanecm opened #2947 "Display "do not use IE" banner"
Hello, in case an user uses IE, nothing is shown, even an error message, see screenshot below. Dashboard should say "do not use IE", or support IE.

![image](https://user-images.githubusercontent.com/10050467/59041182-6c8ace80-8878-11e9-8ab4-b9f69028ef01.png)

[2019-06-06 14:40] ragesoss commented on #2947
Which version of IE? We are supposed to have a browser support warning but it has not been reconfigured in a while.

[2019-06-06 14:42] urbanecm commented on #2947
This screenshot is from IE 11, User-Agent is `Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; rv:11.0) like Gecko`.

[2019-06-06 15:22] ujjwalagrawal17 commented on #2903
Yup, I have also reproduced this issue. The modal is not responsive.
<img width="1440" alt="Screenshot 2019-06-06 at 8 49 23 PM" src="https://user-images.githubusercontent.com/19607555/59045079-fea4ce00-889c-11e9-8c9b-bc6cb4649b8d.png">
<img width="537" alt="Screenshot 2019-06-06 at 8 51 54 PM" src="https://user-images.githubusercontent.com/19607555/59045080-ff3d6480-889c-11e9-8e10-e3186c1fcad1.pn

[2019-06-06 20:00] #2947 closed

[2019-06-06 20:00] ragesoss commented on #2947
Should be fixed after the next deployment.

[2019-06-07 17:04] ragesoss opened #2954 "Update tasks should run in Sidekiq"
Currently, we have some long-running server processes that get kicked off by cron jobs: `ConstantUpdate`, `DailyUpdate`, `ViewsUpdate`, and some others.

It would be better if Sidekiq managed all of these jobs. We could and should also break them up into the smallest feasible units; they could be scheduled in a single queue, the same way we currently do with course updates.

[2019-06-07 17:06] ragesoss commented on #2954
@bwreid this is in no way urgent, but if at some point you're looking for a change of pace and/or a task that lets you explore the job queue and update side of the system, this would be a good one.

[2019-06-12 18:25] ragesoss opened #2976 "The slug / URL for a campaign should be editable"
### Current Behavior:
After a campaign is created, the name of it can be changed via the 'Overview' tab, but the slug (which is derived from the name at the time of creation) is not changed.

### Desired Behavior:
There should be another field so that slug can be explicitly changed after creation, just like the title can be now. It will need the validation to ensure that only allowed characters ar

[2019-06-12 18:29] ragesoss opened #2977 "Campaign stats downloads should include a CSV of all campaign revisions"
We have a revisions CSV option for courses right now, but not for campaigns.

Additionally, the revisions CSVs should include the revision ID (`mw_rev_id`) for each revision. This would make it possible to cross-check the revision list against data from other sources like hashtags.wmflabs.org (which would be useful for 1lib1ref program organizers).

[2019-06-12 19:02] ragesoss opened #2978 "`Category` feature for ArticleScopedCourse should work with PetScan"
PetScan is a powerful query tool for generating large lists of articles that meet specific criteria (such as having certain templates, being in certain categories, etc): https://petscan.wmflabs.org/

It would be useful if, instead of specifying a single category or query, a PetScan query could be used to generate the set of articles instead... probably in the form of the `PSID` for the query. The

[2019-06-12 19:38] ragesoss opened #2979 "Evaluate "meta-campaigns" to solve campaign UX problems"
One of the major usability pain points on P&E Dashboard right now is juggling the large numbers of campaigns. Where Wiki Education is one organization with many campaigns on our own site, there are other multiple other groups with multiple campaigns each (along with many single-campaign groups) and there's no easy way to isolate the set of campaigns that are relevant for a single group.

A related

[2019-06-17 17:47] ragesoss opened #2990 "Incomplete state of Articles Edited list is not obvious, when there are over 500 articles"
A course with more than 500 articles will only load the first 500 initially, and loading more is done with the 'See More' button at the end of the list. This is confusing if you're expecting to see a certain article in the top several (sorted by content added, or resorted some other way).

In cases where only a partial list of articles has been loaded, the count of loaded articles versus the total

[2019-06-19 15:23] ujjwalagrawal17 opened #2996 "[Not urgent] Add Pagination in Uploads API."
in Some courses like https://outreachdashboard.wmflabs.org/courses/WMFr/EDITATHONS_2017/uploads.json ,the uploads API is taking a lot of time to give response [this course has around 500 images]. We can implement pagination in the API to give results by using parameter page_number.

[2019-06-19 15:25] ujjwalagrawal17 opened #2997 "Add a JSON API for showing list of all active campaigns."
the current API is returning list of all campaigns but the API is not returning a JSON response. It is instead rendering a webpage.

[2019-06-19 15:29] ujjwalagrawal17 opened #2998 "Add a JSON API to get Profile Information, statistics."
The Android client needs an API for showing profile information (information should be the same that is shown in the profile page of the website- https://outreachdashboard.wmflabs.org/users/Ujjwalagrawal17 ). Currently, there is no JSON API for fetching the details.

[2019-06-19 15:33] ujjwalagrawal17 opened #2999 "Add list of archived programs in Dashboard API"
Link: https://outreachdashboard.wmflabs.org/dashboard.json

**Current Situation**:
The API is only returning the list of active courses, not archived courses.

**Expected:**
The details of archieved programs should also be added. Same as what is shown in the screenshot.

<img width="1439" alt="Screenshot 2019-06-19 at 9 00 52 PM" src="https://user-images.githubusercontent.com/19607555/59779186-6f0

[2019-06-20 19:38] #2997 closed

[2019-06-23 10:04] ujjwalagrawal17 commented on #2997
@ragesoss is it deployed in Outreach Programs server?

[2019-06-23 16:21] ragesoss commented on #2997
Not yet

[2019-06-24 20:30] #2921 closed

[2019-06-25 17:48] ragesoss commented on #2997
@ujjwalagrawal17 this is live now.

[2019-06-25 20:34] #2919 closed

[2019-06-26 20:41] bwreid opened #3024 "Do not require resetState to be passed to component"
# Current Behavior:

Currently, the `EditableRedux` component requires that `resetState()` is passed in, otherwise it will fail as it's a function. This leads to some weird requirements on the components that use it, as if no `resetState()` function makes sense, an empty function will need to be passed in.

### Desired Behavior:

Instead, in the `EditableRedux` component, we should change the `can

[2019-06-26 21:33] ragesoss opened #3025 "In CoursesController#create and in the React frontend, use course.home_wiki"
Currently, we pass `wiki_params` from CourseCreator to the server, which are `language` and `project` params of the main `course` object, which the server then uses to find and set the home wiki of a new course. By contrast, CoursesControler#update uses the `home_wiki` param.

This also results in corresponding inconsistency on the frontend: `CourseForm` handles updating the home wiki differently

[2019-07-01 14:56] ujjwalagrawal17 opened #3034 "Create a JSON API for joining a course that does not require a passcode"
**Describe the feature you'd like**
- Create a JSON API for joining a course that does not require a passcode.

[2019-07-01 15:00] ujjwalagrawal17 opened #3035 "Create a JSON API for organizer to create accounts for edit-a-thon participants."
**Description**
- Create a JSON API for organiser to create accounts for edit-a-thon participants.

[2019-07-01 15:11] ujjwalagrawal17 opened #3036 "Create a JSON API for assigning yourself articles for a course you are in"
**Description:**
Create a JSON API for assigning yourself articles for a course you are in

[2019-07-01 19:04] #3025 closed

[2019-07-01 20:31] ujjwalagrawal17 opened #3038 "Add a JSON API to get list of my articles (articles assigned to me) in a course."
**Description:**
Whenever we are opening the Dashboard website course page, if we are enrolled in the course, we see a list of all articles that are assigned to me in the course home page. We want to show the same to the users in the app.

[2019-07-02 00:09] ragesoss opened #3039 "Replica times out frequenlty for queries of users with many revisions"
Performance of replica is considerably worse for us since the 'actor' migration, it looks like. We have a lot of courses where the query times out, so we aren't pulling in the data we want.

Maybe we need to look into moving off of Replica sooner rather than later.

[2019-07-03 01:36] AmitJoki commented on #2199
Fixing this should be easy now with the setup I've done in revisions.php Shall I go ahead and add 100 and 106 for wiktionary?

[2019-07-03 01:38] ragesoss commented on #2199
Yes

On Tue, Jul 2, 2019, 6:36 PM Amit Joki <notifications@github.com> wrote:

[2019-07-03 16:09] ragesoss opened #3048 "sidekiq unique locks sometimes persist when no matching jobs are enqueued"
In rare cases, a sidekiq job, typically for a course update, may end up with a lock that remains in place when the job is gone (and is not in the dead bin). When that happens, updates for that course won't be added to the queue, indefinitely, until the unique digest is manually deleted.

We still don't know how to replicate the problem — my best guess is that it happens when a process dies from ru

[2019-07-03 18:17] ragesoss commented on #3038
@ujjwalagrawal17 on the web version, we use the entire set of assigned articles, and then filter client-side to isolate the ones belonging to the user for the MyArticles component. Could you use that approach as well?

Here's an example of the Assignments endpoint: https://dashboard.wikiedu.org/courses/School_of_the_Art_Institute_of_Chicago/New_Histories_of_Chicago_Media_(Spring_2019)/assignments.

[2019-07-03 18:45] #2999 closed

[2019-07-03 18:46] ragesoss commented on #2999
Whoops! Just realized I never merged this after I coded it up two weeks ago.

[2019-07-03 18:50] ragesoss commented on #3036
This exists, a POST to /assignments.json. For example:

http://localhost:3000/assignments.json?title=Selfie&project=wikipedia&language=en&course_id=test/New_Wiz_Wiz&user_id=28&role=0

You just need to send the title, language, project, course slug as `course_id`, user id, and role (0 for assigned article, 1 for reviewing which you probably don't want to add support for at this point).

[2019-07-03 19:17] ragesoss commented on #3035
I think this should work already. It's a PUT to `/requested_accounts`, with the following data:
`course_slug`
`create_account_now` — boolean, use `true` for a signed-in program organizer to create the account immediately, rather than add the request for later approval.
`email`
`passcode` — this should be available from the course data, if the user has access to it as organizer
`username`

[2019-07-03 19:19] ragesoss commented on #3034
Does joining a course with a passcode work now? The endpoint for joining without one is exactly the same, you just don't need to include a passcode.

[2019-07-03 19:27] ujjwalagrawal17 commented on #3034
No we don't have documentation for joining a course with passcode too.

[2019-07-03 19:33] ragesoss commented on #3034
Cool. Currently the way to join is to visit a URL like `localhost:3000/courses/test/New_Wiz_Wiz/enroll/<passcode>`

And without a passcode, just `localhost:3000/courses/test/New_Wiz_Wiz/enroll`

It will then redirect to the course page, with a flash message indicating the result.

I think to turn this into a JSON API, it would make sense to update the web behavior to also use a JSON post instead o

[2019-07-03 19:35] ujjwalagrawal17 commented on #3034
No issues I just figured out few tasks that I can do without the APIs like settings page to change between 2 servers (wiki education and outreach programs), about page of the app.

[2019-07-03 19:37] ragesoss commented on #3034
Hopefully you also have enough to go on for the other APIs, which do support JSON. If any of those need more documentation or otherwise don't work as expected, please ping.

[2019-07-03 19:45] ujjwalagrawal17 commented on #3034
@ragesoss sure.

[2019-07-03 19:46] ujjwalagrawal17 commented on #3038
Got it thanks.

[2019-07-03 20:13] bwreid commented on #2998
Hi @ujjwalagrawal17. We currently have an API endpoint that gets most of the information on the Profile page. Is this sufficient?
https://outreachdashboard.wmflabs.org/user_stats.json?username=Ujjwalagrawal17

[2019-07-05 16:30] #3034 closed

[2019-07-05 16:31] ragesoss commented on #3034
On the next deploy, the enroll endpoint will support JSON requests. It should work the same way as the HTML endpoint, which is just a GET request to `/courses/<course_slug>/enroll/<passcode>`.

[2019-07-05 16:39] AmitJoki opened #3064 "Wikidata labels can be more clear"
When labels are displayed in place of Wikidata title, it helps to also include the title, without the namespace in a subtle manner like how Wikidata does.

![prop and label](https://user-images.githubusercontent.com/848483/60733808-ce376a80-9f02-11e9-8a7d-eef00ed34944.png)
![title and label](https://user-images.githubusercontent.com/848483/60733811-d099c480-9f02-11e9-9bbb-de1631f1a9b2.png)

[2019-07-06 12:03] khyatisoneji commented on #2978
As far as my understanding,
For finding articles from the giving category(as a query), we are using MediaWiki API in article_finder_action.js to fetch articles for a query generated.

So need to use PetScan API instead of MediaWiki API?

[2019-07-09 15:57] khyatisoneji commented on #2978
The `https://petscan.wmflabs.org/` website does server side rendering inorder to calculate the psid. How do we know what is the api to call inorder to get the psid for given query parameters?

[2019-07-11 16:33] #2624 closed

[2019-07-11 16:33] ragesoss commented on #2624
Done by @khyatisoneji

[2019-07-11 16:52] ragesoss opened #3089 "Campaign Articles view has bad layout, wrong text when no articles have been edited"
The placeholder text box doesn't span the whole row, and it refers to a course rather than the campaign.

![campaign with no articles](https://user-images.githubusercontent.com/848483/61069614-895b7a00-a3c1-11e9-888b-9ff6c354ef80.png)

[2019-07-11 20:25] #3064 closed

[2019-07-11 20:56] ragesoss commented on #2897
Done!

[2019-07-11 20:56] #2897 closed

[2019-07-12 22:06] ragesoss opened #3101 "AssignButton does not respond to first click user navigates away and back while it is open"
This seems like a conflict between local and redux state for the popover button. It might only happen in cases like the new link button within the open state of AssignButton, where the link is in the popover and so does not trigger the click-on-outside callback to close it (and update the state to closed in the UI reducer).

[2019-07-13 13:48] khyatisoneji opened #3103 "Actions on multiple courses of a campaign at once"
### Current Behavior:
Can access only one course at a time

### Desired Behavior:
Add a checkbox near the course name to select multiple courses of a campaign, and when clicked the show(button) would show details of selected courses as shown for an individual course shown currently

### Related Files & Code:
[_course_row.html.haml](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/m

[2019-07-13 14:24] khyatisoneji opened #3104 "Automatically pull in data from hashtag tool to generate/update a program's user and articles list"
Pull in data from https://hashtags.wmflabs.org/ to fetch details of a course/program, which would be in CSV form, so fetch the relevant data from these CSV files

Can also be used to find most active users and projects.

[2019-07-15 14:56] ujjwalagrawal17 commented on #2998
I need profile picture URL, description, location and contributions_url similar to website.

[2019-07-22 12:17] ujjwalagrawal17 commented on #2998
seems to be sufficient.

[2019-07-22 12:17] #2998 closed

[2019-07-22 12:19] #3038 closed

[2019-07-24 16:45] AmitJoki commented on #2888
I think this can be closed now.

[2019-07-24 16:52] #2977 closed

[2019-07-25 18:32] ragesoss opened #3144 "Activity links to project namespace are incorrect for Commons and other projects"
For example [this page](https://commons.wikimedia.org/wiki/Commons:Featured_picture_candidates/removal/File:Credit-cards.jpg/2) is linked as https://commons.wikimedia.org/wiki/Wikipedia:Featured_picture_candidates/removal/File:Credit-cards.jpg/2

[2019-07-25 18:36] ragesoss commented on #3144
@AmitJoki this could be fixed by extending the work you did on adding support for namespaces 100, 102, and 106.

In this case, it's namespaces 4 and 5, which are `Wikipedia` for Wikipedia, and otherwise, `Project` will be a workable fallback.

[2019-07-25 18:37] ragesoss commented on #3144
Actually, I guess putting the optimal name for each possible project (Commons, Wiktionary, etc) will be the best way, and will fit with the way you implemented the other ones.

[2019-07-25 20:32] #3024 closed

[2019-07-27 01:45] AmitJoki commented on #3144
Okay. I will work on this issue.

[2019-07-28 04:01] AmitJoki commented on #3144
@ragesoss I don't see namespace for Wikipedia in Commons here - https://commons.wikimedia.org/wiki/Help:Namespaces

[2019-07-29 17:45] #3144 closed

[2019-07-31 19:18] ragesoss opened #3161 "Available Articles should be configurable to allow multiple users to choose the same one"
### Current Behavior:
When an Available Article is selected, the `Assignment` record is updated with the user, and it no longer appears in the list of Available Articles.

### Desired Behavior:
The current behavior is the right one for some classes, but for others, it would be better to assign the article to the student without removing it from the list so that others can choose it as well. That w

[2019-07-31 19:19] ragesoss opened #3162 "An Available Article can be stolen from a student who already claimed it"
### What is happening?
If two users load the Available Articles list at the same time and claim the same article, the `Assignment` record will first be updated with the first user, and then re-updated with the second user. The first user will end up without being assigned the article they chose.

### Expected behavior
With the current system (where we allow only one student to claim any particular

[2019-07-31 21:54] #3162 closed

[2019-08-01 01:39] thefifthisa commented on #2990
Hey @ragesoss! Can I give this a try?

[2019-08-01 15:34] ragesoss commented on #2990
@thefifthisa go for it! Let us know if you have any questions.

[2019-08-07 06:18] #2557 closed

[2019-08-07 06:50] #2623 closed

[2019-08-07 19:25] ragesoss commented on #2764
Done!

[2019-08-07 19:25] #2764 closed

[2019-08-07 19:30] ragesoss commented on #2385
Sorry, I must have missed this when you posted. Done now!

[2019-08-07 19:30] #2385 closed

[2019-08-07 19:31] ragesoss commented on #2137
Done!

[2019-08-07 19:31] #2137 closed

[2019-08-09 22:32] ragesoss opened #3193 "Importing ORES data for revisions should be part of the course update cycle"
We currently fetch the ORES features as part of the `ConstantUpdate` cycle. This means if that cycle gets bogged down, the course stats are out of sync for data based on not-yet-imported reference counts.

Importing the ORES data should be moved to a per-course basis as part of the update cycle, immediately after importing the revisions themselves. That way, newly imported revision data will have

[2019-08-09 22:42] ragesoss opened #3194 "ConstantUpdate steps should be moved to sidekiq workers"
We recently switched all the real work of DailyUpdate to distinct sidekiq workers. We should do the same for ConstantUpdate, especially since some part of that process seems to have stalled out on P&E Dashboard.

[2019-08-13 17:02] #2886 closed

[2019-08-16 18:25] ragesoss opened #3210 "Users should be able to update their email via their user profile page"
### Current Behavior:
The only way to edit your email is to go through `/onboarding` again, which is not discoverable.

### Desired Behavior:
Email should be one of the editable fields in the user profile edit view.

[2019-08-23 13:16] Ambrosiani opened #3228 "Activity is tracked after "Activity tracking end" timestamp"
### What is happening?
Activity is tracked after the "Activity tracking end" timestamp.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://outreachdashboard.wmflabs.org/courses/Musikverket,_Nordiska_museet_och_Stockholms_kvinnohistoriska/Kvinnor_inom_scenkonst_och_mode/home
2. Activity tracking should end on 2019-08-16 23:59 CEST (see right-hand box)
3. Select the "Activity" tab

[2019-08-26 21:50] bwreid opened #3232 "Course Titles with "/" fail to load"
### What is happening?

If a course title includes a `/`, the slug will also include that `/`. It will make it so that visiting the course is impossible.

### To Reproduce

1. Create a new course with `/` in the title.
1. Try and go to that course.

### Expected behavior

A valid URL should be generated. For example, swap `/` with `_`

[2019-08-27 11:28] Ambrosiani commented on #3228
ah I see! Yes, I still think the best way forward is to connect the activity tab content to the tracking end date. A quickfix before that might be to rename "activity tracking" to "statistics tracking" to clarify exactly what the dates relate to.

[2019-08-27 22:53] bwreid opened #3236 "Titles not showing up for screenreader on My Articles assignment"
### What is happening?

Screenreaders are unable to read the titles for articles when clicking on the "Review an Article" button. This is likely the same for the nearby "Assign myself an Article" button.

![image](https://user-images.githubusercontent.com/1316902/63813502-b8cb3500-c8e2-11e9-88d9-0c28f44cedb1.png)

### To Reproduce

1. Go to a page with available articles to review/assign
1. Using

[2019-09-03 16:47] ragesoss commented on #3228
Yeah, calling the start/end dates "statistics tracking" would probably be a generally helpful change.

[2019-09-04 18:56] ragesoss commented on #3232
I'm not able to reproduce this, as I can't create a course title that includes a `/`. It's already being disallowed by the frontend regex.

Was there a production course that ended up with an extra slash in the title (as opposed to the normal slash between school and title)?

[2019-09-04 19:05] bwreid commented on #3232
There was! I'll forward you the email chain.

[2019-09-04 19:31] ragesoss commented on #3232
I haven't figured out how courses with a slash in the `school` field got created in the first place. The validation regex blocks a forward slash in `CourseCreator`, `Details`, and `CourseClonedModal` — all the places where it's possible to set or change the school field.

This got fixed by adjusting the school name: `https://dashboard.wikiedu.org/courses/LaGuardia_Community_College_-_St._Petersbur

[2019-09-04 19:57] ragesoss opened #3253 "Students and instructors should be able to see when another course is working on the same article"
It's generally okay for students from different courses to work on the same article during the same term, but in some cases the instructors or students would prefer to avoid that situation.

I'm not sure what exactly the solution to this looks like... it could be including students from other classes (with some clear visual indication) among the list of fellow assigned students, or it could be a w

[2019-09-05 16:38] ragesoss opened #3259 "There should be a way to disable student emails for an individual course"
Occasionally an instructor wants to stop any reminder emails for trainings to be sent to students.

We could perhaps implement it as a course flag, which would get checked before the training reminder emails go out.

[2019-09-08 16:22] deyounginspire opened #3266 "What do you think if students are more concerned with a hoax news on their smartphone than with social reality"
Perkembangan pendidikan di Indonesia dipengaruhi oleh beberapa faktor, salah satunya adalah faktor perkembangan teknologi. Namun, perkembangan teknologi yang ikut andil dalam kemajuan pendidikan tersebut tidak selamanya memberikan dampak positif. Justru sebaliknya, pengaruh perkembangan pendidikan di Indonesia juga memberikan dampak negatif seperti halnya penggunaan ponsel pintar. Beberapa kasus d

[2019-09-09 14:58] #3266 closed

[2019-09-09 17:57] ragesoss opened #3275 "Improve support for non-Main content namespaces"
### Current Behavior:
Only mainspace (namespace 0) is used for most of the course statistics.

### Desired Behavior:
Some other namespaces, on specific projects, should also be considered content and count toward stats. In particular:

* Namespace 104 on all projects (this covers Page for some projects, and Txikipedia on eu.wikipedia, and possibly other variants)
* Namespace 100 on wiktionary, wik

[2019-09-09 18:11] ragesoss opened #3276 "Include shortened footnotes in references added counts"
The 'references added' feature uses ORES feature data to compare the number of references before and after a given edit. Specifically, it uses `feature.wikitext.revision.ref_tags`. This excludes refs that use the `{{sfn}}` (shortened footnote) template, which will undercount some articles or count some edits as removing refs when they are changing the ref format.

ORES now includes the shortened f

[2019-09-09 18:18] ragesoss opened #3277 "Dashboard should track which model version of ORES data was imported"
### Current Behavior:
ORES data for a particular revision may change over time, as the model is updated. The model is versioned on a per-wiki basis, but we do not store the version that we imported, and we don't have a way to re-import the latest data when the model changes.

Some older data, in particular, may be buggy and may considerably undercount ref tags in some articles. (We spotted one suc

[2019-09-11 16:21] #3193 closed

[2019-09-12 20:55] ragesoss opened #3287 "Exercise link URL in timeline block gets changed to incorrect relative link"
We just found a case of an exercise link in a block getting changed to the incorrect relative URL.

These links are initially absolute links, but they can be changed to relative links by tinymce.

We can probably change the configuration to use absolute links and explicitly pass in the intended base url: https://www.tiny.cloud/docs/configure/url-handling/#domainabsoluteurls

I'm not sure exactly w

[2019-09-12 23:32] #3287 closed, assigned to nobody

[2019-09-16 22:51] ragesoss opened #3295 "'Sign up' link should show username/email advice before sending users to Wikipedia"
We currently use a 'Sign up with Wikipedia' link to send new users to the Wikipedia account creation page and then return them to the Dashboard for OAuth login upon success.

To reduce the rate of students choosing bad usernames that they need or want to change later, and to improve the rate at which students put in an email to enable password recovery, the Dashboard should present some username a

[2019-09-24 10:32] Kartik1397 commented on #3089
Hi @rageross , are you working on this issue? I would like to work on this issue.

[2019-09-24 16:17] ragesoss commented on #3089
@Kartik1397 go for it!

[2019-09-25 17:56] ragesoss opened #3324 "MyArticles does not handle Wikidata assignments well"
In particular, labels are use inconsistently and sandbox links are broken.

[2019-09-25 18:11] ragesoss opened #3325 "In mobile layout of Nav, hamburger menu icon animation is broken"
The hamburger menu is supposed to transform into an 'X' when clicked, but the animation of the top and bottom bars isn't working anymore.

[2019-09-26 05:16] prionkor commented on #2990
Any urls for such long courses? Helps checking the issue quickly.

[2019-09-26 08:39] prionkor commented on #3101
@ragesoss Could you Please add some details on how to reproduce the issue.

[2019-09-26 10:16] prionkor commented on #2602
Upgraded on my local machine to dropzone `v10.1.9` the build process went nicely so does the tests. I am new to this repo so need to know which route does the dropzone appears so I can test if the upload working correctly.

So far no problem with `gulp`, `gulp build`.

Results from tests

[code]

[2019-09-27 16:56] ragesoss commented on #2990
@prionkor here's an example that has more than 500: https://outreachdashboard.wmflabs.org/courses/NeuroMat/Wikidata_Lab_XI_-_Estruturando_projetos/articles/edited

[2019-09-27 17:03] ragesoss commented on #3101
It should be something like this:

1. Create a course
2. Add yourself as a student
3. In the MyArticles section, click 'Assign myself an article'
4. Within the popover at the bottom, click 'Search Wikipedia for an Article'
5. Navigate back to the MyArticles tab
6. Click 'Assign myself an article' again. The first click does not open the popover, (I think) because the 'ui' reducer state has it mark

[2019-09-27 17:15] ragesoss commented on #2602
The test that breaks is one of the rspec browser tests: `syllabus_upload_spec.rb`

You should be able to test it manually by visiting a course page where you are the instructor and adding `?syllabus_upload=true` to the URL, which is the only way to access this feature.

[2019-09-28 09:28] prionkor commented on #2990
Few observations:

1. If "load more" button is moved to the top then when people goes to bottom they will have to scroll up again to load again.
2. If "load more" at the top then it will be problematic if articles started to load at the bottom. Users wouldn't know.

**Suggestion**

1. Pagination: Paginate after 10 (or more) articles in the list. Load on pagination click.
2. Scroll to new results o

[2019-09-30 18:56] #3089 closed

[2019-09-30 20:31] ragesoss commented on #2990
I think a loading state for the 'see more' button, combined with duplicating the button on top and bottom of the list, would be a relatively simple way to start.

[2019-10-01 22:37] Kartik1397 commented on #3325
@ragesoss Can I work on this?

[2019-10-02 00:41] ragesoss commented on #3325
Sure, go for it.

On Tue, Oct 1, 2019 at 3:37 PM Kartik1397 <notifications@github.com> wrote:

[2019-10-02 16:30] ragesoss opened #3357 "Add Pagepile option for Category tracking"
Pagepile is a tool for representing a static list of articles — both existing and not — on a single wiki: https://tools.wmflabs.org/pagepile/

This could be a very similar option to the PetScan one for a Category record on the Dashboard, except that instead of needing to be updated regularly, it would just need to be imported once since it is a static list. That would make for a convenient way to

[2019-10-02 16:34] #3325 closed

[2019-10-03 09:06] Kartik1397 commented on #3101
@ragesoss Can I work on this?

[2019-10-03 09:10] prionkor commented on #3101
@Kartik1397 I am currently not working on this ticket so go ahead if @ragesoss agrees.

[2019-10-03 16:01] ragesoss commented on #3101
Go for it. :-)

[2019-10-03 19:57] #3101 closed

[2019-10-03 22:11] katherine95 commented on #3210
@ragesoss I would like to take this up

[2019-10-03 22:16] ragesoss commented on #3210
Great! Let us know if you run into any trouble.

On Thu, Oct 3, 2019, 3:11 PM Catherine Chepkurui <notifications@github.com>
wrote:

[2019-10-04 09:14] kevinejiro commented on #2099
Hi @ragesoss   This issue doesn't seem to be taken, can I work on it?

[2019-10-04 13:47] ragesoss commented on #2099
I believe this is partially fixed, but there there are some layout problems in some cases still. Feel free to explore it and make any improvements you can.

[2019-10-04 15:38] ragesoss commented on #2978
Done!

[2019-10-04 15:38] #2978 closed

[2019-10-04 17:16] codingmamakaz commented on #2903
Hello! I'm an Outreachy applicant. I'd like to try this one.

[2019-10-06 15:57] codingmamakaz commented on #2520
@bwreid @ragesoss , Is this available? I'd like to try this one if it is.

[2019-10-07 19:34] ragesoss opened #3373 "Courses should log problems that happened during updates"
Several types of errors can prevent some of the data for a course from updating properly during a course's data update job, such as an error from the Replica endpoint, or an error fetching data from a MediaWiki API, or the ORES API, etc.

These get logged to sentry, but the course record just logs the update as complete with a timestamp (which gets used to show how recently it was updated and when

[2019-10-08 20:38] ragesoss opened #3377 "Add option for instructors to randomly assign peer reviews to all students"

[2019-10-08 20:59] xiaobaioo7 opened #3378 "Add troubleshooting for Windows in Docker setup document"
### Current Behavior:
At the moment, the ["Using Docker for development"](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/docker.md) document does not include troubleshooting section for Windows operating system. I ran into an issue with line ending format to run bash script during the process of building docker image. This seems to be caused by the incorrect Git confi

[2019-10-09 16:42] xiaobaioo7 commented on #3378
On a second note, this might not relate to the project, but rather a general problem with Linux docker containers on a Windows machine. Let me know if it makes sense to make the proposed changes. I can make these changes.

[2019-10-09 17:49] ragesoss commented on #3378
Yes, please do! Thanks for troubleshooting the setup documentation!

[2019-10-10 15:42] rayasharbain commented on #2129
Any updates on this? Adding a Commons category doesn't work properly, it links to a foundation.wikimedia.org URL

[2019-10-10 15:49] ragesoss commented on #2129
No, we haven't taken this up yet.

[2019-10-10 17:05] xiaobaioo7 commented on #3378
Sure. FYI, I sent a PR.

ps: not sure what's the best way to include reviewers or assignee for the PR. I added a cross reference to this issue in the PR.

[2019-10-10 17:23] ragesoss commented on #3378
Thanks. No need to add reviewers; we look at open PRs regularly as long as the tests pass. Here's an overview: https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/CONTRIBUTING.md#pull-request-process

[2019-10-10 20:49] #3378 closed

[2019-10-11 21:48] xiaobaioo7 commented on #2888
@ragesoss Can I take this one?

[2019-10-11 21:49] ragesoss commented on #2888
Sure, go for it.

[2019-10-13 04:51] puthalalitha commented on #2499
Hello I am an Outreachy student, and I would like to work on this issue. is it still open? I have my environment set up.

[2019-10-13 23:48] xiaobaioo7 commented on #2888
@ragesoss I started looking into the 2 components "ArticleFineder" and "AssignButton", but I am not sure about what these 2 components do. Can you give a brief explanation on what they do? Or a quick walkthrough or steps to get to these components will be really appreciated.

[2019-10-14 17:25] bwreid commented on #2888
Hi @xiaobaioo7! Thanks for the question.

The `ArticleFinder` component is just what it sounds like -- it manages the view that makes it easier for students and instructors to find available articles. In your screenshot above, your such on "Buddha" resulted in multiple articles that include "Buddha" in the title.

The `AssignButton` component is actually a bit different than what you've circled on

[2019-10-14 17:31] bwreid commented on #2499
@puthalalitha I believe this is still open, yes.

[2019-10-14 18:15] bwreid commented on #2520
@codingmamakaz Yes, I believe this is still available! Thank you.

[2019-10-14 19:13] xiaobaioo7 opened #3395 "Add as available article on "article finder" page gives 500 error."
### What is happening?
On the 'article finder' page, in the search result for matching articles, when you click on 'Add as available article' for a selected article, an error shows up 'There was an error: This assignment already exists!'. The network tab in browser developer tool shows the call to (POST) 'http://localhost:3000/assignments.json?title=Buddhism&project=wikipedia&language=en&course_sl

[2019-10-14 19:14] xiaobaioo7 commented on #2888
Hi @bwreid, thank you for the information! This certainly helps 👍

Correct me if I am wrong, the request here is to extract the piece like "en.wikipedia.org (Change)" from the mentioned components to its own reusable component, is that correct?

As a side note (which may not relate to this issue), I encountered some issue when I clicked on the button "Add as available article" from the article fin

[2019-10-14 19:16] xiaobaioo7 commented on #3395
I can work on the fix if needed.

[2019-10-15 00:37] bwreid commented on #2888
Thanks for the additional issue, @xiaobaioo7

Looking at this a bit more, it seems like we already do have a component titled `WikiSelect` as well as a `SelectedWikiOption`. @ragesoss , can you share a bit more in terms of what you were thinking for this refactor that is not already accomplished by these components?

[2019-10-15 16:29] ragesoss commented on #2888
Yeah, the idea here is that the we have this same set of functionality from WikiSelect and the toggle for showing in the input used together in several places. It looks like Wes actually already basically did the extraction with `SelectedWikiOption`, but it's not being used in `ArticleFinder`.

I guess what is left to do would be to refactor `ArticleFinder` to use `SelectedWikiOption` instead of r

[2019-10-15 18:54] xiaobaioo7 commented on #2888
Thank you @ragesoss and @bwreid for the updates! I sent a PR to update component `ArticleFinder`.

The PR does not include changes for `CourseCreator` and `Details`. I marked the PR with [WIP] and will look into these 2 components next.

[2019-10-15 20:19] xiaobaioo7 commented on #2888
Looking at the other 2 components `CourseCreator` and `Details`, it seems that they are already using `WikiSelect` component to render the wiki selection. Do we want to change their behaviors?

Some thought on the difference between `SelectedWikiOption` and `WikiSelect`: in addition to `WikiSelect`, `SelectedWikiOption` shows the selected wiki with a link to change it. Given that in both `CourseCr

[2019-10-15 20:37] ragesoss commented on #2888
I think those other two components are fine as they are; in the context of a form with many other inputs, it's fine to just show the input without needing to toggle it open.

[2019-10-15 21:35] ragesoss commented on #3395
Thanks!

[2019-10-15 21:35] #3395 closed

[2019-10-16 20:51] #2888 closed

[2019-10-17 05:00] puthalalitha commented on #2499
I don't see a subject field in the current course/program creation flow. Below is the screen shot of that page. Am I doing something wrong?
![Screen Shot 2019-10-16 at 9 30 23 PM](https://user-images.githubusercontent.com/43020183/66978557-41eb2680-f05f-11e9-8c70-bb36f963ceaf.png)

[2019-10-17 19:29] ragesoss commented on #2499
To see that version of the CourseCreator interface, you need to switch your development environment to `wiki_education: 'true'` mode in `application.yml`.

[2019-10-17 21:23] puthalalitha commented on #2499
Hi Sage Ross,

Thank you. Now I am able to see the CourseCreator interface.

Thanks,
Lalitha

[2019-10-19 14:24] ANURADHAJHA99 commented on #2996
@ujjwalagrawal17 I would like to work on this issue. KIndly assign this to me.

[2019-10-20 16:18] ujjwalagrawal17 commented on #2996
@anuradhajha99 feel free to start working on it. We will use this in the Android app after it's ready.

[2019-10-21 09:31] ujjwalagrawal17 commented on #2996
I guess the support in web version is added but in https://outreachdashboard.wmflabs.org/courses/WMFr/EDITATHONS_2017/uploads.json API it's not added. We need to add the required parameters to make it work.

[2019-10-21 15:43] ANURADHAJHA99 commented on #2996
@ujjwalagrawal17 Thank you very much. however, can you give me an idea of how should I start with the issue, what steps should I start taking, what files do I need to change? It will be very helpful.

[2019-10-21 16:06] ujjwalagrawal17 commented on #2996
@ragesoss might be able to help you in that. I am not familiar with the website codebase.

[2019-10-21 16:08] ANURADHAJHA99 commented on #2996
@ragesoss Can you please guide me through the following issue? Also, Thank you very much @ujjwalagrawal17 for helping.

[2019-10-21 17:11] ragesoss commented on #2996
The uploads endpoint is `CoursesController#uploads`, which basically just finds the course and then immediately renders the corresponding view, `app/views/courses/uploads.json.jbuilder`.

The most similar place where you can find an example of pagination already in use is `CampaignsController`, which sets the page from the query parameters, and then uses the `will_paginate` gem to get the page-bas

[2019-10-22 15:11] ANURADHAJHA99 commented on #2996
@ragesoss Can you please navigate me to the CampaignsController code to understand the context? I am having some difficulty in understanding the codebase.

[2019-10-22 16:24] ragesoss commented on #2996
CampaignsController is in `app/controllers/campaigns_controller.rb`. It's responsible for handling web requests to main 'campaigns' views, such as https://dashboard.wikiedu.org/campaigns/fall_2018/programs

If you're unfamiliar with Ruby on Rails, I suggest starting by exploring the Rails documentation a bit to see how models, views, and controllers interact.

[2019-10-22 17:51] RyanHiller commented on #1760
Hey @ragesoss a group of students and myself were hoping to tackle this issue as a starting point for contributing to the repo. Is this issue still open? I got my dev environment set up however I am not seeing a language field in order to recreate the error. Not sure if this is due to changes in the project or if I am not recreating the program correctly. Any help would be appreciated.

![Screensh

[2019-10-22 19:57] ragesoss commented on #1760
The interface changed so that now the language is selected as part of the home_wiki or tracked_wikis field.

The basic way to recreate the error still holds, though: try setting egl.wikinews.org as the home wiki and it should throw an error.

[2019-10-23 18:01] katherine95 commented on #2520
Is this being worked on? I want to work on it as soon as possible

[2019-10-23 18:03] katherine95 commented on #2499
@puthalalitha are you still working on this one?

[2019-10-23 18:08] puthalalitha commented on #2499
Yes, I am still working on this issue.

[2019-10-23 18:10] ragesoss commented on #2520
@katherine95 I don't think so. Go for it.

[2019-10-23 20:17] ANURADHAJHA99 commented on #2996
@ragesoss we have to find the `page` param from the URL and use the will_paginate gem if the param is present? am I following the correct way? Thank you for the feedback.

[2019-10-23 20:20] ragesoss commented on #2996
Yes, I think so.

[2019-10-23 20:27] ANURADHAJHA99 commented on #3295
@ragesoss How will the modal decide whether the username is bad, or is it a static modal that offers some pre-warning? Thank you for your help.

[2019-10-23 20:38] ragesoss commented on #3295
It would be a static modal that just includes some advice about choosing an appropriate username.

[2019-10-23 21:03] ANURADHAJHA99 commented on #3295
@ragesoss What file do you need to edit? Thank you for help.

[2019-10-23 21:21] ragesoss commented on #3295
There are a couple of different places where people can reach the account creation workflow, but the main one for students would be the one rendered in `EnrollCard`; I suggest starting there: `app/assets/javascripts/components/enroll/enroll_card.jsx`

![enroll card](https://user-images.githubusercontent.com/848483/67435141-59b33500-f5a0-11e9-9560-e02010973b4e.png)

[2019-10-23 21:30] ANURADHAJHA99 commented on #3295
@ragesoss Can I use the modal API from material UI?

[2019-10-24 16:14] ANURADHAJHA99 commented on #3295
@ragesoss I started working on the file, that you you asked me to start with, however, our main concern is to render a static modal when the user is choosing a username, and I couldn't find any parameters in `enroll.jsx`, can you specify me the condition in `enroll.jsx` on the basis of which the modal should be rendered? I have created the modal, I am however confused about the condition?

[2019-10-24 16:24] ragesoss commented on #3295
I think basically the idea should be:

1. User clicks 'Sign up with Wikipedia'
2. Modal pops up with additional advice for choosing a username, and the button in that modal is what actually sends the user over to the Wikipedia account creation flow (which is what the 'Sign up' button itself does currently).

[2019-10-24 16:25] ragesoss commented on #3295
If you have `?enroll` at the end of a course page URL and you are not logged in, it should show the EnrollCard as in the screenshot.

[2019-10-24 16:27] ANURADHAJHA99 commented on #3295
But we are supposed to click on 'Sign up with wikipedia', and it renders to a form that does not seem to be specified in 'enroll.jsx'.

[2019-10-25 16:47] ANURADHAJHA99 commented on #2996
Going by the `campaign_controller.rb`, I came across various dependencies, What are the required dependencies to make the `course-controller`, that will extract the `URL` and then the page param from the dependencies?

[2019-10-25 16:56] ragesoss commented on #2996
Rails provides all request parameters via `params`, which is basically just a hash.

This controller uses the `set_page` method to set an instance variable from that param, and the instance variable can then be used in the view template that gets rendered.

[2019-10-25 19:19] ANURADHAJHA99 commented on #2996
Am I supposed to make another view for the uploads, just like `article` and `programs` in the campaign controller, because I have set the params of the `page` in `course-controller` but I cannot find  uploads.haml which is used to render as a view?

[2019-10-25 19:25] ragesoss commented on #2996
For courses controller, it uses a json jbuilder view template instead of an html haml template. This `app/view/courses/uploads.json.builder`.

[2019-10-26 15:09] ANURADHAJHA99 commented on #3295
The doubt that I have is are the props related to the following screenshot. I had doubts with regard to the view of the following page. I do understand that I have to trigger the modal when the user chooses a username. Can you please clarify the code of `enroll.jsx`, if I am following the wrong. Thank you.

![Screenshot from 2019-10-26 20-27-49](https://user-images.githubusercontent.com/34815869/6

[2019-10-28 16:39] xiaobaioo7 commented on #2842
@ragesoss can I work on this one? Noted this issue is added to "Prague Hackathon" project, not sure if this issue is still relevant, please advise.

[2019-10-28 17:00] ragesoss commented on #2842
@xiaobaioo7 yes, go for it. It's something we identified as an issue during that Hackathon, but didn't get to it then.

[2019-10-28 19:14] ANURADHAJHA99 commented on #3276
@ragesoss Are we suppose to replace the `feature.wikitext.revision.ref_tags` with  `feature.enwiki.revision.shortened_footnote_templates` in various files?

[2019-10-28 19:16] ragesoss commented on #3276
It should not replace it; it should count the sum of both of those keys.

[2019-10-28 19:19] ANURADHAJHA99 commented on #3276
@ragesoss I could not find `feature.enwiki.revision.shortened_footnote_templates` when I global searched? Also how to approach the solution of the problem

[2019-10-28 20:57] ragesoss commented on #3276
It's part of the `features` data that we import from ores.wikimedia.org, eg, https://ores.wmflabs.org/v3/scores/enwiki/?models=wp10&revids=782180234&features

[2019-10-28 20:57] bwreid commented on #3276
@ANURADHAJHA99 Sage can add more details, but I believe where the information from ORES is getting added is on [this line](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/08439925672920ce2e78dd8f47a4a9cc412a590f/lib/importers/revision_score_importer.rb#L121).

The `features` property on the `Revision` model is a hash and gets updated as such. Inside there is where you would find t

[2019-10-29 14:59] ANURADHAJHA99 commented on #3276
@bwreid Are we suppose to update the model_key,
`def model_key
    @model_key ||= @wiki.project == 'wikidata' ? 'itemquality' : 'articlequality'
  end` ?
Thank you very much for your help.

[2019-10-29 16:06] khyatisoneji commented on #3276
No, you're supposed to update the `ref_tags` and `ref_tags_previous` to only one take `@ragesoss Are we suppose to replace the feature.wikitext.revision.ref_tags` but also `@ragesoss I could not find feature.enwiki.revision.shortened_footnote_templates`

[2019-10-29 16:08] ANURADHAJHA99 commented on #3276
@khyatisoneji Can you please kindly explain? I am unable to comprehend. Sorry for the problem.

[2019-10-29 16:15] ANURADHAJHA99 commented on #3276
@khyatisoneji Are we suppose to do the changes in `/WikiEduDashboard/spec/presenters/individual_statistics_presenter_spec.rb`? If not where are we suppose to update the file? Thank you

[2019-10-29 16:29] khyatisoneji commented on #3276
Currently, `ref_tags` and `ref_tags_previous` functions consider only `feature.wikitext.revision.ref_tags`,  as you can see in the function it only fetches ref_tags ( ` features[WIKITEXT_REF_TAGS]` ) from the hash
Now you need to add `features['feature.enwiki.revision.shortened_footnote_templates']` to `features[WIKITEXT_REF_TAGS]`

[2019-10-29 17:26] bwreid opened #3434 "Reassigned Assignments leads to incorrect Sandbox Urls"
### What is happening?

It is possible to create a condition where the `sandbox_url` for an assignment is incorrectly pointing towards the wrong person's sandbox. This will only happen if multiple people are assigned to an article or someone is reviewing an article.

### To Reproduce

* Article with title of `AssignmentA` is given to user with a username of "UsernameX"
* `AssignmentA` will have a

[2019-10-30 17:38] xiaobaioo7 commented on #2842
Hi, I started looking into this issue and have a few questions.

The issue mentioned the problem with user page. If I understand this correctly, these are the steps I followed to reproduce the problem:

1. I removed an editor A from a program B
2. I went to the user page for the removed editor A. But I don't see any indication of the program B on the user page.

I am not sure if this issue still e

[2019-10-30 20:27] ragesoss commented on #2842
Yes, you're on the right track.

These steps won't let you reproduce the problem locally, though, unless you your development environment configured to enable wiki edits.

For example, here's the user page for a student in one of the current course: https://en.wikipedia.org/wiki/User:Jfitz19

That template pointing to the course got added as one of the actions fired off by `EnrollInCourseWorker`,

[2019-11-04 01:16] xiaobaioo7 commented on #2842
Thanks @ragesoss for the detailed explanation!

You mentioned that this cannot be reproduced locally unless the development environment is configured to enable wiki edits. Can you shed some light on how to do that? Is that a configuration at the application level or at the wiki user level?

On an attempt to reproduce enrolling user in course to see the updated template in user page, in my test the

[2019-11-04 17:21] ragesoss commented on #2842
Yeah, you need redis-server 4 alongside sidekiq 6.

For enabling wiki edits, see https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/oauth.md

You be able to test out almost all of it (and write specs for it) without needing to enable wiki edits, though. You can still check the output of what edits would have been made.

[2019-11-05 14:15] dnahol commented on #3295
Hi @ANURADHAJHA99. Are you still working on this, or can I take a stab a it?

[2019-11-05 14:28] dnahol commented on #1088
Hi, @ragesoss! I'm new to this repo. I'm assuming you would like the 'plus' columns to always be on the right, as they are here?

<img width="1197" alt="Screen Shot 2019-11-05 at 6 26 00 AM" src="https://user-images.githubusercontent.com/2976514/68216194-628b0a00-ff95-11e9-9794-9f2bd9862594.png">

[2019-11-05 15:28] dnahol commented on #1088
Apparently changing the colspan from 2 to 4 of the .empty-diff element on the left changes the issue. Does that look like an acceptable solution that won't break anything else?

Screenshot in Firefox Devtools
<img width="1160" alt="Screen Shot 2019-11-05 at 7 24 26 AM" src="https://user-images.githubusercontent.com/2976514/68221010-94a06a00-ff9d-11e9-85f9-60666cda26ec.png">

[2019-11-05 17:11] ragesoss opened #3456 "'Mark Complete' interface shows up for instructors"
### What is happening?
Students are supposed to see the 'mark complete' button for an exercise on the timeline, but it shows up for instructors as well.

### To Reproduce

1. Create a course with a timeline that has exercises
2. View the timeline while logged in as the instructor

[2019-11-06 22:11] ragesoss opened #3466 "After loading the `show` view for a ticket, navigating 'back' to the index does not load more tickets"
If there is one ticket already loaded from navigating directly to an individual ticket, then the system seems to hang when you use the `back` button to go to the ticket index. Refreshing the index will cause the tickets to load.

[2019-11-06 23:37] #2976 closed

[2019-11-07 05:18] xiaobaioo7 commented on #2842
Thanks @ragesoss for the clarification.

Referring to the `WikiCourseEdits#enroll_in_course`, it seems that when adding the template to user and user talk pages, what it does is to call the wiki api to prepend text to the given pages.

It looks like the call funnels to `WikiEdits#add_to_page_top` and call wiki api for the `edit` action. Does this look like one of the wiki api url?
`https://en.wiki

[2019-11-07 18:44] GrantSchumacher commented on #1760
Was able to recreate error, student team is currently working on providing a more useful message on branch "wikieddev"

[2019-11-09 12:17] dnahol commented on #1744
Has this issue since been solved? I see the workaround PRs haven't been merged. Anything I can do to help?

[2019-11-10 16:15] chrisnorwood commented on #1803
I'm digging into this one — quick question: are you interested in keeping the Search Bar (Multi-select + sort) for the "administrative alerts list", or just the list itself ?  The search & sort is pretty tightly coupled with some "campaign alerts list" specifics, in its current state

[2019-11-10 23:09] dnahol commented on #1088
@ragesoss what do you think?

[2019-11-12 06:24] dnahol opened #3478 "Refactor componentWillMount and componentWillReceiveProps"
### What is happening?

componentWillMount and componentWillReceiveProps were producing warnings in the browser console, saying that use of the soon-to-be-depricated componentWillMount and componentWillReceiveProps has to be refactored and phased out.

Commit [a0321daf12d62479d84eff5729dafce4089111bf](https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/3472/commits/a0321daf12d62479d84

[2019-11-12 22:41] mapra99 commented on #3377
Hello @ragesoss . Can I take this issue?

[2019-11-13 04:42] AmitJoki opened #3480 "Create a git pull hook to automatically update the packages and gems"
At WikiEduDashboard, there's a constant development and there's a constant changes being made to the versions of the packages or gems we use. Sometimes new packages/gems will be added.

When this happens, we have to manually do `bundle install` for gems and `yarn` for npm packages. Not doing this means we end up using the older packages/gems which might throw annoying errors.

This git pull hook w

[2019-11-13 16:45] ragesoss commented on #3377
@mapra99 sure! It's not going to be trivial, and I'm not exactly sure what the best approach will be, but let us know if you have any questions.

[2019-11-13 18:33] bwreid commented on #3480
I feel a bit conflicted about this. While this seems like a nice, "quality of life" improvement, it could make this process more difficult to understand should something go wrong during it.

My thought would be to have a `.sample` githook file. In setup descriptions, this should be referred to as optional.

[2019-11-13 18:34] bwreid commented on #3478
Closing this issue as it looks like a PR was merged for it.

[2019-11-13 19:11] ragesoss commented on #1744
@dnahol no, it hasn't been solved. If you'd like to try it, please do!

I think changing the encoding will also change the byte size of any index that uses an affected field, so we need to figure out the right migrations that can work on a non-empty database to (probably) remove and the re-add the indexes and do all the rest of the conversions.

[2019-11-13 19:45] ragesoss commented on #3478
I think the idea with this issue would be to do the refactoring work replace those now-renamed UNSAFE methods. They aren't going to throw up warnings any more, but they still represent cases where we're not handling side effects and data fetching the 'right' way for current React.

[2019-11-13 21:03] bwreid commented on #3466
I'm not seeing this behavior locally or on production. When I go directly to a ticket page, then hit the `<- Ticketing Dashboard` link, I am brought back to the index with the default "Owners" of "unassigned" and my username. This shows no tickets for me, but if I change the filters, everything seems to show up. Is there a more detailed way to access this error?

[2019-11-13 21:05] ragesoss commented on #2842
@xiaobaioo7 the way to remove text from a page is essentially to replace the current text with new text, so all the logic of finding and replacing the specific template will fall to our application.

We have some code that does this for slightly different circumstances in `WikiAssignmentOutput` (which is also used by `WikiCourseEdits`); it adds, replaces, or in a certain circumstance, removes, a t

[2019-11-13 21:08] ragesoss commented on #3466
Hmm... maybe it's only if you reply and resolve it? I'm pretty sure I've had this happen (in addition to the Wikipedia Experts) but I also can't replicate it with the back link.

[2019-11-13 21:13] ragesoss commented on #3466
Nope, that's not it either. Guess we need to gather more info about how to replicate it.

[2019-11-14 06:05] dnahol opened #3482 "Loading element in diff_viewer should take up whole table width"
### Current Behavior:
From @ragesoss comment on #3472

### Desired Behavior:
From @ragesoss comment on #3472

### Related Files & Code:
app/assets/javascripts/components/revisions/diff_viewer.jsx

[2019-11-14 06:19] dnahol commented on #1088
@ragesoss  @khyatisoneji Should we close this issue?

[2019-11-14 07:10] khyatisoneji commented on #1088
Yes

[2019-11-14 07:10] #1088 closed

[2019-11-14 10:41] dnahol commented on #1744
Hi @ragesoss, this is what I found from the documentation:

## If we have MySQL server version 5.7, we need the following 3 things:

1. `innodb_large_prefix` to be set to `ON`

Check `innodb_large_prefix`. In the mysql terminal, type:

`show variables like 'innodb_large_prefix'`

Then look for the `Value` set to `ON` as shown below:
<img width="361" alt="Screen Shot 2019-11-14 at 2 17 34 AM" src="

[2019-11-14 19:36] dnahol opened #3493 "Nav login button animation disorienting for some language versions"
### What is happening?
When mouse is placed over the login button in a certain position in the nav bar, it starts flittering back and forth, sometimes causing the whole nav bar to do so. This only happens in non-english versions

### To Reproduce

Steps to reproduce the behavior:
1. Run dev build
2. In nav bar, change language to French
3. Hoover the mouse over the Login button, try a space with n

[2019-11-14 19:55] dnahol commented on #3478
Just added the first PR for this. I plan to do one per React component so that we can isolate any possible issues that come up with this refactor.

[2019-11-15 16:21] AmitJoki commented on #3480
Yes, this hook is not compulsory but only those who wish it can may be make a use of it. I thought of adding the documentation of it as a separate task, but I'll reword to include it now.

[2019-11-15 16:29] AmitJoki commented on #2520
Is this being worked on? I thought I could add it as a GCI task.

[2019-11-15 17:18] ragesoss commented on #2520
Sure, sounds good @AmitJoki

[2019-11-15 20:00] ragesoss opened #3500 "Add a way to verify that students really took training modules"
Instructors want to be able to confirm that students read the training modules and completed the on-wiki exercises, rather than just clicking through to the end and registering with the dashboard as having completed them.

How to do this? A few possibilities:

* Show instructors the time it took between starting and completing each module (which can be calculated from the TrainingModulesUsers reco

[2019-11-15 20:05] ragesoss opened #3501 "When 'add/remove students' button is clicked, username input should get focus"
On the 'Students' tab of a course page, admins and instructors have an 'Add/Remove Students' button that opens a popover form where usernames of new students can be added.

This input box should grab focus when the popover opens, so that a user can immediately begin typing a username.

`enroll_button.jsx` is the place to start.

[2019-11-15 20:45] ragesoss opened #3502 "Admins should be able to delete a Note from a Ticket"
The Ticket system allows for users to add a note to a ticket. It should also be possible to delete a note, for cases where one gets created by accident.

[2019-11-15 23:07] ragesoss opened #3503 "Add 'View as student' mode to course pages"
Instructors want to be able to see the interface as their students see it, which is especially important with the My Articles feature becoming more complex.

Ideally, this should let an instructor or admin pick a student in the course, and the interface would show up as if it were for that student.

[2019-11-16 06:14] AmitJoki commented on #1949
@hardy1334 are you on it?

[2019-11-16 06:18] AmitJoki commented on #1468
@ragesoss can I include this in GCI? The script is already there, it needs to be tested and improved, if there's the scope for it and document the whole thing, right?

[2019-11-16 06:19] AmitJoki commented on #1511
Is this issue still relevant?

[2019-11-17 20:50] urbanecm commented on #2520
Hello @AmitJoki, could you please clarify the description a little bit? Keep in mind there is multiple codebases in GCI interface, so it is clear which codebase it is about. Also, I've removed the "is beginner" checkbox. Beginner tasks are far more simple, like "set up your dev environment" or "learn to use gerrit by sending a patchset". Thanks for mentoring this!

[2019-11-17 21:29] urbanecm commented on #3480
Hello @AmitJoki, could you please include information about which codebase this task is in the GCI copy, and inform students how should they submit the work? Should that be via GCI interface, github pull request or something else? I've also unchecked the Beginner task checkbox, and I recommend you raise the number of days available. I use that field to rate difficulty, and I personally think this

[2019-11-18 10:20] AmitJoki commented on #3480
@urbanecm the task would be to modify the script I've already provided a link of, but yes, I think it could be increased. I've made it 5 days, is that okay? I've also added how it should be delivered.

[2019-11-18 10:21] AmitJoki commented on #2520
@urbanecm sorry! I'll rephrase to make it specific. Also thanks for letting me know what a beginner task entails to, I'll be careful with that with the other tasks.

[2019-11-18 10:24] urbanecm commented on #3480
Thanks, 5 days are okay IMO. You can also increase that limit for an individual student if they ask.

[2019-11-18 18:25] ragesoss opened #3507 "ArticleViewer should add appropriate styling for Wikidata"
Wikidata items look terrible in ArticleViewer:

![article viewer wikidata](https://user-images.githubusercontent.com/848483/69078697-42c00100-09ed-11ea-9b85-56f19d7f978e.png)

We should add basic styles so that a Wikidata item looks similar in ArticleViewer to the way it looks on Wikidata (eg, https://www.wikidata.org/wiki/Q975 )

The place to start is probably `_article_viewer.styl`.

[2019-11-18 22:29] ragesoss commented on #1468
@AmitJoki yep, perfect.

[2019-11-18 22:30] ragesoss commented on #1511
Yes, I think so... especially if anyone happens to try it with an older browser or something outside of the usual Firefox/Chrome/Safari/Edge

[2019-11-19 12:39] AmitJoki commented on #1511
How old are we supposed to go? Because if searched extensively, there might be polyfills even for the earliest of the IEs. Is there a minimum threshold of versions that we would like to be supported on?

Do we have any data on this? Like visits per browser. That will help narrow down the scope of this issue and I can draft a GCI task based on this.

[2019-11-19 12:41] AmitJoki commented on #3507
Thanks! I'll draft a task on the GCI dashboard as well.

[2019-11-19 14:20] AmitJoki commented on #3502
Where are the tickets created @ragesoss also I found `TicketDispenser::Message::Kinds::NOTE` in two places, both being in specs, I might be missing something.

[2019-11-19 19:00] bwreid commented on #3502
@AmitJoki There is a separate repo that has the code for [TicketDispenser](https://github.com/WikiEducationFoundation/TicketDispenser).

[2019-11-19 19:37] urbanecm commented on #1468
Hello, that's me again :-). What is "improve"? Tasks in GCI need to have clear criteria, so students know what is expected from them and what is and is not acceptable. I'd maybe split the task into several smaller tasks, such as "make the script do X", then "make the script do Y" and "document the script". All of those tasks can be done by different students - it doesn't have to be one large task.

[2019-11-19 19:59] urbanecm commented on #3502
Whcih tickets, @AmitJoki ? Could you clarify, please, by including information when I can find such tickets in the user (admin) interface?

Keep in mind students will have zero knowledge of your codebase and program. You can inspire by https://phabricator.wikimedia.org/T208532 as an example.

[2019-11-19 22:49] dnahol opened #3515 "Article Finder Row buttons not toggling"
`localhost:3000/courses/test/Short_test_(test)/article_finder`

### What is happening?

Buttons are not toggling and they are remaining disabled once article assigned, until reload.

In `article_finder_row.jsx`:

1. `this.props.assigned` is always `undefined` regardless of whether an article is assigned or not.

2. According to the existing (pre-refactor) code, buttons in article rows should not b

[2019-11-20 02:26] AmitJoki commented on #1468
@ragesoss @bwreid per @urbanecm 's comments, the generic word "improve" needs to be elaborated more so we can quantify the work done. Do you have any particular improvement in mind that could be done or is it optional?

[2019-11-20 22:07] ragesoss commented on #1744
Interesting. We'll try this out on our staging server after making a backup, and see if it's indeed possible to make this switch without doing anything on the Rails side of things to update the indexes. I imagine, at the least, we'll need to make an update to the schema.rb file to reflect the collation change.

[2019-11-21 23:56] ragesoss commented on #1744
This was helpful info; thanks! Wes and I poked around on the staging server and tried some things, and we did succeed in getting at least some things to work that didn't before, but we have more exploration and testing to do before we're confident enough to try it out in production.

We found this pretty useful: https://railsmachine.com/articles/2017/05/19/converting-a-rails-database-to-utf8mb4.ht

[2019-11-22 01:29] dnahol commented on #1744
Glad to hear it helped!

I'm curious, did `show variables like 'innodb_large_prefix'` in MySQL show `innodb_large_prefix` to be `ON`? What did `show table status;` show `Row_format` to be?

Interesting link! How did you made the changes?

[2019-11-22 13:56] Kartik1397 commented on #3501
@ragesoss Can I work on this?

[2019-11-22 17:25] bwreid commented on #3501
@Kartik1397 This is a perfectly good thing to work on. Thanks.  :)

[2019-11-22 18:17] bwreid opened #3519 "Duplicating edits on user/talk pages"
### What is happening?

The most recent PR (#3508) has introduced a bug where upon greeting the students, the template is added to the page even if there already is a template.

[For example.](https://en.wikipedia.org/wiki/User:Danielajbq) In that example, an edit was made by both the user and Elysia. In looking at the code, it seems like it should be fine. I tried reproduce the `.include?()` stat

[2019-11-25 18:35] ragesoss commented on #1511
@AmitJoki at this point, we "officially" are trying to support  everything except IE. I think all, or nearly all, versions of IE are either completely non-functional or have significant problems. But it's more a matter of doing the best we can with commonly used browsers. In particular, getting better for older Safaris, Chromes, and figuring out what versions of Opera do or don't work would all be

[2019-11-26 22:11] #3501 closed

[2019-11-27 11:25] Kartik1397 commented on #3503
Hi @ragesoss, I like to work on this issue. Can you please provide some more details about this?

[2019-12-01 13:31] urbanecm commented on #1468
Ping? :-)

[2019-12-02 13:00] AmitJoki commented on #1468
@ragesoss I will reword this task to just test the existing script and if we have a more objective idea of how to improve the same, I'll add another task for the same. Is that okay @urbanecm?

[2019-12-02 13:02] urbanecm commented on #1468
Perfect for me :)

[2019-12-02 13:07] AmitJoki commented on #1468
@urbanecm done :)

[2019-12-02 13:22] urbanecm commented on #1468
Thanks! A question, which submission should the students submit into the repo?

[2019-12-02 19:00] ragesoss commented on #3503
This one is pretty complex, but the basic idea is to have some kind of toggle to the interface for instructors, which would allow them to see the rest of the course page as their students would see it... so disabling edit buttons that are only available to instructors, and adding in features like MyArticles that only show up for students.

This might involve temporarily changing the `user` object

[2019-12-02 19:09] #1803 closed

[2019-12-03 03:47] AmitJoki commented on #1468
The tests and documentation can be submitted as a pull request to this repository. @urbanecm

[2019-12-04 23:38] ragesoss commented on #3519
Fixed with 9d538f8f616b9eefdeaaa42ed7922c93f76f4a00

Mediawiki strips trailing newlines from the text of a page upon save, so the our code wasn't finding a full match when the already-added template was the last thing on the page.

[2019-12-04 23:38] #3519 closed

[2019-12-05 19:20] aparicio-ronald commented on #1760
student team working on this issue in wikieddev branch was not able to finish this issue. we found the language array in wiki.rb we tried to create another array called NOTAVAILABLE where we added the egl language and tried to create a validation. also made a json message file for notavailable and render this file in errors_controller.rb. Since our semester period is almost over we have realized t

[2019-12-05 19:29] ragesoss commented on #1760
Thanks for the update.

[2019-12-06 01:30] AmitJoki commented on #1760
@ragesoss sure, on it.

[2019-12-06 20:13] Kartik1397 commented on #3503
Is it ok? if I add 'View as student' button in navigation `course_navbar`

[2019-12-06 20:15] ragesoss commented on #3503
I think Home tab below the nav is probably a better place for it.

-Sage

On Fri, Dec 6, 2019, 12:13 PM Kartik Prajapati <notifications@github.com>
wrote:

[2019-12-09 19:46] n3rsti commented on #3507
Can you link a page you put as image in issue description? I can't find that

[2019-12-09 22:21] ragesoss commented on #3507
Here's a similar example: https://outreachdashboard.wmflabs.org/courses/Wikimedia_CH,_EPFL/EPFL_and_WMCH_2019_-_Wikidata_and_Wikibase_intro_(November_13th_and_December_4th,_2019)/articles/edited?showArticle=56128756

[2019-12-10 10:22] bharathjoshi commented on #2990
Hey @ragesoss ! I have been on this issue for quite a time, found a way to duplicate the button but didn't get the essence of "loading state" for the see more button.
Another question I have is, how can I get the number of total articles ( in the context of adding the count of loaded vs count of total articles). The code has been using fetchArticles where we are giving the id and then the number.

[2019-12-11 16:35] ragesoss commented on #2990
@bharathjoshi we currently don't have anything that shows the total number, except that in most cases it will match the `articles_edited` value from the `course` state.

Currently, we determine whether or not to show the button via the `limitReached` value from the articles reducer, based on whether the number of articles received is less than the limit of the last fetchArticles query.

The API ta

[2019-12-13 16:23] n3rsti commented on #3507
Should it be responsive for smaller devices like ip5s?

[2019-12-13 18:56] #3480 closed

[2019-12-13 20:07] #3507 closed

[2019-12-16 18:18] ShcherbaDev commented on #3502
Hi! I found out that localhost:3000/admin/dashboard is a ticketing page. But I'm having a 500 error when I'm trying to go to it:
![log](https://user-images.githubusercontent.com/29505891/70931413-11644080-2040-11ea-8b62-ac0d50048034.png)
My `ticket_dispenser_tickets` table:
![ticket_dispenser_tickets](https://user-images.githubusercontent.com/29505891/70931563-64d68e80-2040-11ea-84d0-c7923bf5dd73.

[2019-12-17 01:50] AmitJoki commented on #3502
From [this](https://github.com/WikiEducationFoundation/TicketDispenser/blob/master/app/controllers/ticket_dispenser/tickets_controller.rb#L5)2, it seems that there's no `tickets` parameter that's allowed by strong parameters either in TicketDispenser repository or in the TicketsController in this repository.

[2019-12-17 13:57] abhishekbvs commented on #2990
I would like to work on this issue.

[2019-12-17 14:36] bharathjoshi commented on #2990
ok thanks for the help @ragesoss . will think of some effective implementation and will try to implement it.

[2019-12-17 14:53] abhishekbvs commented on #2990
![DeepinScreenshot_select-area_20191217201515](https://user-images.githubusercontent.com/32136294/71005635-ff4ed480-2109-11ea-8008-e35ca1ceb6e0.png)
@ragesoss Is this fine? I took the count of total articles from  `this.props.course.edited_count` and no of articles that are shown at that instant from `articleElements.length`.  For the purpose of testing, I just changed the limit to 10.  Can you ju

[2019-12-17 16:45] ragesoss commented on #2990
@abhishekbvs that sounds reasonable. The alignment should definitely be fixed before it could be merged.

[2019-12-17 18:00] ragesoss opened #3588 "Admins should be able to search tickets by username and by message content"
Admins can filter tickets by status and owner, but they can't search for them. As the number of tickets grows, and some don't go through email inboxes first, it would be nice to be able to search them.

### Related Files & Code:

This likely requires changes to the [TicketDispenser](https://github.com/WikiEducationFoundation/TicketDispenser) engine to add a search API, along with frontend changes

[2019-12-17 20:18] ragesoss opened #3590 "In Category list, 'last update' should indicate when a Category has never been updated"
### What is happening?
For an ArticleScopedCourse, the list of Categories includes data on how recently each one's list of articles has been updated, based on the record's `updated_at` attribute.

This is misleading for cases when it has only been updated at the time it was created, as from the user's perspective it hasn't been updated at all (and will still indicate 0 articles).

### Expected beh

[2019-12-18 15:23] pranaykgupta commented on #3590
I will like to work on it.

[2019-12-18 18:07] abhishekbvs commented on #3295
Can I work on this issue?

[2019-12-18 18:29] ragesoss commented on #3295
@abhishekbvs go for it

[2019-12-18 18:43] ragesoss commented on #3590
@pranaykgupta go for it, and let us know if you run into any problems.

[2019-12-19 05:26] Manasa2850 commented on #2520
Is this being worked on? Can I work on it?

[2019-12-19 14:48] ragesoss commented on #2520
We've already got an open PR for this that is probably going to be merged soon.

[2019-12-19 18:15] #2990 closed

[2019-12-19 18:19] ragesoss opened #3596 "Course nav bar and Articles tab should change "Articles" label depending on course type"
### Current Behavior:
The navbar always says 'Articles', and that tab's header says 'Articles Edited' (and Assigned Articles, and Available Articles).

### Desired Behavior:
For courses with wikidata as the home wiki, these Article labels should instead say "Items".

For courses with other non-Wikipedia home wikis, the labels should say "Pages".

### Additional context:
We already do similar switc

[2019-12-20 16:51] Vinit-Dantkale commented on #1318
Hey @ragesoss , is this issue solved or can I work on it?

[2019-12-20 16:58] Vinit-Dantkale commented on #1283
Hey @ragesoss , its old issue Can I work on it? if it is not resolved.

[2019-12-20 17:45] ragesoss commented on #1283
Yes, please do! There's still quite a few things to improve about the mobile layout.

[2019-12-20 17:45] ragesoss commented on #1318
@Vinit-Dantkale yes, go for it.

[2019-12-21 04:48] Vinit-Dantkale commented on #1318
Hey, just one small check, Im seeing this UI on localhost for art+feminism course. It looks bit different from image above. Also,I can't find **Programming** course, I only have **art+feminism** and **Default campaign**. Is the below image same page as you are looking
![image](https://user-images.githubusercontent.com/32016324/71303136-70c4a680-23da-11ea-8b60-0319b0de6215.png)

[2019-12-25 21:33] noordean commented on #3590
@pranaykgupta Are you working on this yet? I would like to take it if you are not.

[2019-12-26 08:01] pranaykgupta commented on #3590
@noordean you can take it

[2019-12-26 11:02] noordean commented on #3590
@ragesoss Can you please shed more light on this ticket? I am on the "Articles Edited" page, and I can see the list of categories I created, but I can't see anywhere with "number of articles".

Also, I think it would be helpful if we attach screenshots/page-links to the issues we are creating as it would make it easy for newcomers to navigate the codebase quickly.

<img width="1187" alt="Screensho

[2019-12-26 13:50] AmitJoki opened #3618 "Vega CDNs obstruct the whole rendering for users with slow internet connection"
### What is happening?

When the internet connection becomes slow, at the data rate of upto 32kbps, the dashboard doesn't render at all and it is because the Vega scripts loaded via Cloudflare CDN takes really long time and blocks the entire rendering of the dashboard.

### To Reproduce

If possible, try to have a slow internet. Then try to run `rails s` or `guard`. You'll find in the network cons

[2019-12-27 13:47] Manasa2850 commented on #1709
I get this error when I run guard.

This is displayed in localhost:3000/

<p><code>No such file or directory @ rb_sysopen - /home/manasa/WikiEduDashboard/public/assets/stylesheets/rev-manifest.json</p></code><p>This error occurs when the asset build process has not generated the required rev-manifest.json files, which specify the filenames of the compiled stylesheet and javascript files.</p><p>Run

[2019-12-27 13:49] Manasa2850 commented on #1709
![Error2](https://user-images.githubusercontent.com/43354059/71519489-ba7f2680-28dd-11ea-8c17-93db68101f34.png)

I get this when I run gulp and gulp build.

[2019-12-27 13:51] Manasa2850 commented on #1709
I was getting few errors so I created a gulpfile.js
What should I add in gulpfile.js to resolve these issues?
Please help me with these queries.

[2019-12-28 18:30] Manasa2850 commented on #2099
@ragesoss can I work on this?

[2019-12-28 18:42] ragesoss commented on #2099
Yes, go for it.

On Sat, Dec 28, 2019, 10:30 AM Manasa2850 <notifications@github.com> wrote:

[2019-12-28 18:55] Manasa2850 commented on #2099
@ragesoss where exactly is this upload viewer? I created a campaign but I'm not quite sure how to proceed.

[2019-12-29 06:59] Muskan-Mittal commented on #3596
Hi, can I take this issue?

[2019-12-30 19:04] ragesoss commented on #3590
@noordean it looks like you might not be using the latest version of the project. Here's what it currently looks like:

![latest categories](https://user-images.githubusercontent.com/848483/71596354-158a6680-2af4-11ea-89f8-0c7f762a7443.png)

[2019-12-30 19:08] ragesoss commented on #1709
@Manasa2850 hmm... I'm guessing this is because your gulp environment has not been set up to work with babel. `gulpfile.babel.js` is the gulpfile for the project.

What version of `node` are you using?

[2019-12-30 19:11] noordean commented on #3590
I think you are right @ragesoss. I forked this project some months ago and I don't think I've ever pulled the latest. I will check that. Thanks

[2019-12-30 19:13] ragesoss commented on #2099
@Manasa2850 this can be seen on the Uploads tab of a course page (if the course has any uploads).

Try creating some example data (see the "Populate example data" section of setup.md) and then visiting http://localhost:3000/courses/Uffizi/WDG_-_AF_2018_Florence/uploads

[2020-01-02 19:09] Manasa2850 commented on #927
Can I work on this?

[2020-01-02 22:14] ragesoss commented on #927
Yes, please do.

On Thu, Jan 2, 2020, 11:09 AM Manasa2850 <notifications@github.com> wrote:

[2020-01-03 13:39] AmitJoki opened #3637 "Enable search for campaigns"
### Current Behavior:
There's no way to search for campains as we can do with courses.

### Desired Behavior:
There should be a way to search for campaigns similar to the courses.

[2020-01-04 03:24] Manasa2850 opened #3639 "Improve mobile layout for editors page."
### Current Behavior:
The editors page currently looks like this in mobile devices. This needs to be changed.
![Test](https://user-images.githubusercontent.com/43354059/71759221-bb145000-2ecf-11ea-9bca-8e1c7eeaceee.png)

[2020-01-04 03:25] Manasa2850 commented on #3639
I will work on this.

[2020-01-04 03:27] Manasa2850 commented on #927
@ragesoss its not just the notification banners, there are some layout issues when viewing the editors page from mobile devices too. I have created an issue for that and will work on both of them.
![Test](https://user-images.githubusercontent.com/43354059/71759158-cc109180-2ece-11ea-8bb4-d6d6aaf571b1.png)

[2020-01-05 05:34] Manasa2850 commented on #1709
@ragesoss where do I create courses and add students? My dashboard just has an option for creating programs and campaigns and not courses.

[2020-01-05 06:32] Manasa2850 commented on #927
@ragesoss how do I create a course? This is what is displayed in my dashboard. I'll be able to solve this issue once I create a course.
![1](https://user-images.githubusercontent.com/43354059/71776175-fe93ba80-2fb2-11ea-87c4-99287eef3bed.png)

[2020-01-05 06:33] #3639 closed

[2020-01-05 13:28] Manasa2850 commented on #927
@ragesoss I don't get that banner when I create a new program.

[2020-01-06 11:52] tafodinho commented on #2996
Hi, @ragesoss. Was this issue successfully solved?? if not I would love to get right on itas my first contribution.

[2020-01-06 12:30] ANURADHAJHA99 commented on #2996
@tafodinho I had various problems while solving the following issue. You can refer to the pull requests that I made, to understand the errors. Thank you for taking the following issue. I am sorry I could not work due to the lack of knowledge and time.

[2020-01-06 12:32] tafodinho commented on #2996
okay @ANURADHAJHA99 let me take a look right now

[2020-01-06 18:26] #3637 closed

[2020-01-06 19:45] #3590 closed

[2020-01-06 22:00] noordean commented on #3596
I would like to work on this @ragesoss . Can I go ahead?

[2020-01-06 22:16] ragesoss commented on #3596
@noordean go for it

[2020-01-06 22:25] ragesoss opened #3643 "In Uploads tab, UploadViewer file usage table displays differently depending on view mode"
### What is happening?
UploadViewer is the component to see details about a single file from the Uploads tab. The Uploads tab has three layout options: gallery, list, and grid. In list mode, the file usage table inherits some of the styling of the Uploads list itself (which is also a table), so the usage table has borders around the cells. In gallery and grid modes, the borders are gone.

### To R

[2020-01-07 18:25] shipcy commented on #2099
Can I take this issue?

[2020-01-07 18:34] ragesoss commented on #2099
@shipcy this one is already done.

[2020-01-07 18:34] #2099 closed

[2020-01-07 18:39] #2432 closed

[2020-01-07 19:41] ragesoss commented on #1709
@Manasa2850 'program' and 'course' mean the same thing in this app, we just use different names depending on the configuration. (And 'editor' and 'student' are also the same.)

[2020-01-07 19:42] ragesoss commented on #1709
If you switch to `wiki_education: 'true'` in application.yml, most things will show up as 'course' and 'student' by default.

[2020-01-07 23:29] ragesoss opened #3647 "Course revision count should only include revisions from tracked wikis"
Currently, if there are other edits by the same user on an untracked wiki (typically, because they are being tracked for a different course), those revisions are counted in the total, even though only tracked wikis are counted for the other stats.

[2020-01-08 13:10] Manasa2850 opened #3648 "disordered timeline page in mobile phones"
This is how the timeline page for each course looks in mobile phones.
![Before](https://user-images.githubusercontent.com/43354059/71980512-3e260500-3246-11ea-917c-dc932222fc3c.jpeg)

[2020-01-10 18:59] ragesoss opened #3653 "Editing the training modules of a block is buggy when multiple types are present"
If there is more than one type of module present (training / exercise / discussion) then in edit mode, there are two inputs for adding / removing modules.

1. Both have the same label (unlike in view mode).
2. All the modules are available for each input, not just the corresponding type.
3. Adding or removing modules from the second input and saving just deletes all the modules that are not in the

[2020-01-10 19:16] Manasa2850 commented on #1283
@ragesoss can I work on this? I have solved the layout issues of the timeline page here https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/3649
I would like to work on the other pages too.

[2020-01-10 22:11] ragesoss opened #3654 "Link to completed training module in a timeline block says 'Continue'"
In the timeline, if a block has an assigned training module that you have already completed, there's no indication that it has been completed; the link says 'Continue'.

[2020-01-11 09:52] shipcy commented on #3643
Can I take this issue?

[2020-01-11 09:55] shipcy commented on #1318
Can I work on it?

[2020-01-11 09:55] shipcy commented on #1283
Can I work on this?

[2020-01-11 09:58] shipcy commented on #2004
May I work on this issue?

[2020-01-12 21:02] Kartik1397 commented on #3653
Hi @ragesoss Can you please tell how to create/load training moudles and edit them?
because I see this when I open training section.
![Screenshot from 2020-01-13 02-30-24](https://user-images.githubusercontent.com/24036721/72225559-d573bb00-35ac-11ea-8e30-42ae4184c93a.png)

[2020-01-13 03:20] ragesoss commented on #3643
yes, please do.

[2020-01-13 16:53] Manasa2850 commented on #1283
@ragesoss can I create separate issues for each bug and work on it?

[2020-01-13 17:07] ragesoss commented on #1283
@Manasa2850 yes, that would be great. @shipcy if you also create a separate issue for a specific aspect of the mobile layout that you're working on, then you can work on it as well.

[2020-01-13 17:08] ragesoss commented on #2004
@shipcy go for it

[2020-01-13 17:10] ragesoss commented on #1318
@shipcy you can work on any issue that's open, just please focus on one at a time, leave a message to say which one you're working on, and follow up if you stop work on it.

[2020-01-13 17:38] ragesoss commented on #3653
@Kartik1397 to load the training modules, include `wiki_education: 'true'` in your application.yml (which will make the system use the `wiki_ed` set of training modules from the codebase), and then visit http://localhost:3000/reload_trainings?module=all to load the records.

After that, you'll need to set up a course with training modules in order to replicate the bugs.

[2020-01-13 17:57] Manasa2850 opened #3660 "disordered uploads page in mobile phones"
![WhatsApp Image 2020-01-13 at 11 24 42 PM](https://user-images.githubusercontent.com/43354059/72279436-21ca0400-365c-11ea-8976-ffd4ca9a5499.jpeg)

[2020-01-13 22:16] Kartik1397 commented on #3653
Only one input for adding/removing modules will ok?

[2020-01-13 22:28] ragesoss commented on #3653
That could work, as long as all of the modules across multiple categories are displayed in that one input (and still rendered in separate places when you're not in edit mode).

[2020-01-13 22:53] ujjwalagrawal17 opened #3662 "Make a JSON API for updating profile details. [will be consumed by Android App]"
**Description**
More details can be found on https://github.com/WikiEducationFoundation/apps-android-wikiedudashboard/issues/301

**Will you like to work on the issue**
No.

[2020-01-13 22:57] ujjwalagrawal17 opened #3663 "Create a JSON API for fetching campaign Details. [will be consumed by Android App]"
**Response Body:**
API should All details that are visible in the dashboard website campaign details page.

Ex: https://dashboard.wikiedu.org/campaigns/communicating_science/programs

[2020-01-14 00:02] ragesoss commented on #3663
Lalitha's work-in-progress should do this, as the same data is needed for the React version of the campaign page. We'll update this when it's ready.

[2020-01-14 03:30] Manasa2850 commented on #3654
@ragesoss can I work on this?

[2020-01-14 14:50] Vinit-Dantkale commented on #1318
Hey, I'm so sorry for responding late.The status so far, I tried fixing some distortion in **uploads** page.
![image](https://user-images.githubusercontent.com/32016324/72354115-2d283880-370b-11ea-8782-4d1a22c9cc88.png)

[2020-01-14 17:50] ragesoss commented on #1318
@Vinit-Dantkale that looks like a nice improvment. Do you have an open PR? This looks like it might overlap with #3661

[2020-01-14 18:03] Vinit-Dantkale commented on #1318
Oh @ragesoss , I didn't realize that. Should I open a PR? will follow your word.

[2020-01-14 18:22] ragesoss commented on #1318
@Vinit-Dantkale please do.

[2020-01-15 04:36] Harshwp commented on #3643
Hello! I'd like to work on this

[2020-01-15 17:44] ragesoss opened #3675 "replace jquery with vanilla JS in `nav.jsx`"
The navbar component, `nav.jsx`, uses global jquery (`$`) to extract data from the hmtl and to find the window dimensions. These things can and should be done with vanilla JavaScript instead, as part of the gradual effort to remove the need for jquery in the codebase.

[2020-01-15 18:42] Vinit-Dantkale commented on #1318
Hey @ragesoss, I opened a PR #3670

[2020-01-15 18:49] Vinit-Dantkale commented on #3675
Can I give this a try? I'll inform about the status if any issue arises

[2020-01-15 18:59] ragesoss commented on #3675
@Vinit-Dantkale go for it

[2020-01-16 17:55] Vinit-Dantkale commented on #1318
Hi, I attempted to fix some distortion for articles section for tablets and below
![image](https://user-images.githubusercontent.com/32016324/72549554-ed9e4f80-38b6-11ea-89bf-9aab32e2a82d.png)
Though I'm facing some challenge with **Change in Structural Completeness** button like in image of 6th comment above.

[2020-01-16 18:13] #3653 closed

[2020-01-16 19:13] Manasa2850 commented on #3654
@ragesoss could I work on this?

[2020-01-16 21:55] ragesoss commented on #3654
@Manasa2850 I think Wes and I are going to make sure this gets fixed today.

[2020-01-16 23:21] ragesoss opened #3680 "Marking an exercise as complete isn't course-specific"
Unlike with completing a training module, if a user completes an exercise during one course and then takes another course that also uses that exercise, we should not use the completion of the exercise from the earlier course to count... exercise completion, unlike training module completion, is a course-specific concept.

One possible solution would be to update how the data for marking completion

[2020-01-16 23:53] ragesoss opened #3681 "In training modules, links to sandbox go to the wrong place if user is not logged in on-wiki"
We currently have some links to user sandbox pages from training modules that use Special:MyPage to get the user to the right place. These have a failure mode where the user is logged in on the dashboard but not logged in on Wikipedia: it will end up going to a subpage of the user's IP rather than their username as intended.

We should add support within training modules to use the current user's

[2020-01-17 00:02] ragesoss opened #3682 "My Articles progress tracker is not discoverable enough"
In a user test today, the intended function of the minimized progress tracker UI was not obvious. Clicking it to switch to the open state after being prompted to do so was an a-ha moment and was well-received and intuitive at that point.

We need to figure out how to make sure users open the progress tracker (or start with it open) without having it always default to open, or (specially) have more

[2020-01-17 00:08] ragesoss opened #3683 "Course Stats bar is not high-priority information for students"
At least for the Wikipedia Student Program, the course stats — cumulative across the whole course rather than specific to the student — are not high-priority information. It might make sense to move the stats below the MyArticles and Exercises components, or find some other way to contextualize / deprioritize the class-as-a-whole stats.

[2020-01-17 01:12] ddave592 commented on #1318
Hi, random contributor here - not sure if the issue I've found belongs here but I can see there's unnecessary horizontal scroll with anything with the articles assigned/activity table (similiar issue also seems to be present on course nav):
![screencapture-dashboard-wikiedu-org-courses-University-of-Central-Arkansas-Advanced-Evolution-Spring-2019-articles-edited-2020-01-17-00_36_26](https://user-i

[2020-01-17 16:28] Manasa2850 commented on #2765
@ragesoss @bwreid could I work on this?

[2020-01-20 15:13] Manasa2850 commented on #3210
@ragesoss I would like to work on this

[2020-01-21 21:25] abhishekbvs commented on #3161
- Can I know the type of classes where the current behaviour is fine?

- For other classes, Should I add an option while adding available articles to the program where user can have an option to select whether the articles can be edited by single or multiple editors?

- Adding a modal after clicking Add as available article button which asks whether it should be edited by single or multiple editor

[2020-01-21 22:36] ragesoss commented on #3161
Thanks @abhishekbvs .

I'll copy over my reply from email. Let me know if there's anything else that I didn't give enough clarity on.

----

The current behavior should be the default; I like the idea of having it be an option at the level of an individual article, though (which sounds like what you have in mind). I'm not sure what the simplest UI for that is; I don't like the idea of adding an ex

[2020-01-22 16:39] bwreid commented on #3654
This was solved by PR #3679

[2020-01-22 16:39] #3654 closed

[2020-01-22 21:36] Swayamsvk opened #3693 "Error in running the server."
The server starts with the command `guard`.When the server starts instead of loading the website it shows
"500 Internal Server Error
If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong."
![Screenshot from 2020-01-23 02-54-16](https://user-images.githubusercontent.com/42679893/72935811-1083a480-3

[2020-01-22 23:11] ragesoss commented on #3693
@Swayamsvk hi! You should look at the terminal where you are running`guard` to find details about what went wrong. That terminal should show a stack trace with details of the error you ran into (and possibly suggestion for fixing it).

If you find the stack trace and you're still stuck, please post it here.

[2020-01-22 23:11] #3693 closed

[2020-01-23 10:04] Swayamsvk commented on #3693
$`guard`
15:29:38 - INFO - Bundle already up-to-date
15:29:38 - INFO - [Guard::Rails] will start the default web server on port 3000 in development.
15:29:38 - INFO - Starting Rails...

=> Booting Puma
=> Rails 6.0.0 application starting in development
=> Run `rails server --help` for more startup options
W, [2020-01-23T15:29:47.194637 #5593]  WARN -- Skylight: [SKYLIGHT] [4.2.1] Running Skylight

[2020-01-23 10:05] Swayamsvk commented on #3693
This is everything that is shown in the terminal

[2020-01-23 14:04] Tripathi-Vaibhav commented on #2059
So after upgrading Jeet to 7.2.0 what exactly is the problem ?

[2020-01-23 17:01] ragesoss commented on #3693
The error that starts it all off is `Mysql2::Error (Access denied for user 'wiki'@'localhost')`. It looks like you need to set up a mysql user and/or add the password for that user in `database.yml`.

[2020-01-23 18:14] #3660 closed

[2020-01-23 19:00] ragesoss commented on #2059
Looks like this one is done, we just forgot to close the issue.

[2020-01-23 19:00] #2059 closed

[2020-01-24 09:23] Tripathi-Vaibhav commented on #2059
Ok, No problem then.
Can you provide some basic bugs or issues in order to contribute to this project as I'm new to Wikimedia

[2020-01-24 17:46] Tripathi-Vaibhav commented on #3643
Hi! Can you share the link for its codebase ?

[2020-01-27 12:55] pranaykgupta commented on #3675
I would like to take this up

[2020-01-27 17:44] ragesoss commented on #3681
This is fixed with https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/3700

[2020-01-27 17:44] #3681 closed

[2020-01-27 17:48] ragesoss commented on #3643
@Tripathi-Vaibhav this comes from the `uploads` components in `app/assets/javascripts/uploads` and from the corresponding stylesheet code, probably in `app/assets/stylesheets/modules/_uploads.styl`. The `user_roles.md` documentation file has details about how to set up your environment to be able to test this out.

[2020-01-27 17:50] ragesoss commented on #2059
This one you commented on might be a good place to start: https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/3643

[2020-01-29 17:51] ragesoss opened #3710 "Intermittently failing test: admin role spec, line 144"
This feature spec is the most common cause of the integration tests failing when nothing is wrong / nothing changed:

[code]

Typically it fails like this:
[code]

Find out why the test fails intermittently, and improve the test so that it's reliable.

[2020-01-29 18:31] #2490 closed

[2020-01-30 19:25] ragesoss opened #3715 "AssignButton popover goes off the screen when title is too long"
For example:

![wikiedu_offscreen_assignment](https://user-images.githubusercontent.com/848483/73482531-c33aa080-4352-11ea-85fe-be1d483cf6f8.png)

Perhaps wrapping the title to multiple lines will fix it, or maybe some other CSS fix is the right solution.

[2020-02-02 14:53] ciphereck commented on #3662
@ragesoss Can I work start working on this?

[2020-02-02 14:54] ciphereck commented on #3647
@ragesoss Can I work on this?

[2020-02-02 14:56] ciphereck commented on #3588
@ragesoss Can I start working on this?

[2020-02-02 15:02] ciphereck commented on #2996
hi @tafodinho are you still working on this?
@ragesoss is the issue still open?

[2020-02-03 02:34] ragesoss commented on #2996
Yes, it's still open.

[2020-02-03 02:43] ciphereck commented on #2996
@ragesoss okay I'm starting to work on it

[2020-02-04 04:21] ciphereck commented on #2996
I'm still working on it. Just getting to know the codebase and setting up the development environment. Reached till populating the database.

[2020-02-04 05:43] ciphereck commented on #2996
@ragesoss
I have an issue
   My  **http://localhost:3000/courses/ab/ab/uploads.json** returns **{"course":{"uploads":[]}}**
   Idk how to populate data in upload array to check my pagination
   Can you please tell me how to populate data in this uploads array in the database?

[2020-02-05 17:30] Manasa2850 commented on #3295
@ragesoss can I work on this?

[2020-02-05 22:11] ragesoss opened #3727 "Wikidata pageview links are broken"
For example, at https://dashboard.wikiedu.org/courses/Wiki_Education/Join_the_Open_Data_Movement_(Fall_2019)/articles/edited

The links specify null.wikidata.org, so the pageview tool falls back to English Wikipedia.

[2020-02-06 19:47] ujjwalagrawal17 commented on #3663
This should be will be divided into 4 sub-issues.

## API for Basic Campaign Details:
**Request Body**
[code]

**Response Body**
[code]

##  API for Course/Program List in a Campaign filtered using searchQuery with pagination:
**Request Body**
[code]

**Response Body**
[code]

##  API for Articles List in a Campaign, with pagination:
**Request Body**
[code]

**Response Body**
[code]

##  API for U

[2020-02-07 16:44] ciphereck commented on #2996
@ujjwalagrawal17 @ragesoss
Can you please tell me how many entries we want on a page?
For 10 entries, the INFO says it completed in 10ms
and for 193 entries, it says it completed in 40ms

I think 8-10 is fine for android because android has less screen space (shorter screen size).

[2020-02-07 18:05] ujjwalagrawal17 commented on #2996
Yes 10 is fine. If you can add another variable to make it configurable, it will be great.

[2020-02-07 18:35] ciphereck commented on #2996
Sure, I can add another variable.

[2020-02-07 18:44] ciphereck commented on #2996
I added another variable and updated the PR. Can you please check if it's working fine as required.
Also, it failed Travis build with the first commit. I can't figure out why.

[2020-02-08 04:09] soumyaa1804 opened #3732 "Unable to run WikiEduDashboard using Docker"
# What is happening?
Inside the cloned repo, when I ran `docker build -t wiki-edu-dashboard .` it is giving an error:
[code]
Though I have bundler 2.1.4 installed:
[code]

### To Reproduce
Run `docker build -t wiki-edu-dashboard .` inside the cloned repo.

### Expected behavior
This should builds the wiki-edu-dashboard container image using the Dockerfile.

### Screenshots
![image](https://user-im

[2020-02-09 19:45] khyatisoneji commented on #3357
Have to add a button `Add PagePile id` just like `Add PetScan PSID` ?

[2020-02-09 19:50] ragesoss commented on #3357
Yes, I think that makes sense.

On Sun, Feb 9, 2020, 11:45 AM khyatisoneji <notifications@github.com> wrote:

[2020-02-11 01:17] ishantgupta777 commented on #3482
@ragesoss  I would like to work on this issue.

[2020-02-11 18:34] ragesoss commented on #3647
@ciphereck once you've finished the issue you have an open PR for, leave a note here if you take this one up.

[2020-02-11 18:49] ragesoss commented on #2996
The build problem was unrelated (and now fixed on master)... it looks like this doesn't break any tests that weren't already broken. It's probably ready to go once it has a spec to exercise the pagination functionality.

[2020-02-11 19:02] ragesoss opened #3739 "Add feature spec for using UploadViewer component, changing gallery layout"
We have a browser test for the Uploads tab of a course page — `course_page_spec.rb:388` — but it does not test the funcationality of the UploadViewer component, which shows up when you click the thumbnail of one of the images.

The spec also doesn't test switching between the three view modes of the gallery.

Adding specs that interact with these features will let us catch regressions that wouldn'

[2020-02-12 13:45] gconnect commented on #3663
Great! @ ujjwalagrawal17 well detailed

[2020-02-12 13:45] gconnect commented on #3663
Great! @ ujjwalagrawal17 very detailed

[2020-02-13 18:11] #3478 closed

[2020-02-13 20:58] ragesoss opened #3745 "In students/articles view, clicking a name near the end of a long list doesn't change visible content"
When the list of students is long enough that you must scroll down, clicking on one of those students results in an update of the content at the top of the page, but you have to scroll back up to actually see the details for the student you just clicked.

Maybe the students list sidebar should be in its own scrollable container, separate for the scroll position of the page?

[2020-02-13 22:24] ragesoss opened #3746 "Instruction box for students/articles view seems like a drag-and-drop target"
The dotted line border is often used to indicate a drop zone, so some users will attempt to drag a student into that box rather than click on the name.

Maybe a solid border or a background color instead?

![drag and drop](https://user-images.githubusercontent.com/848483/74483952-7683b900-4e6c-11ea-9a0b-1f3f64810453.png)

[2020-02-17 05:56] hardy1334 commented on #3502
@ragesoss I'll to work on this issue

[2020-02-17 16:16] Manasa2850 commented on #2360
@ragesoss can I work on this?

[2020-02-17 16:29] ragesoss commented on #2360
Go for it.

[2020-02-17 18:58] sastava007 commented on #3596
@noordean Any progress?

[2020-02-17 19:17] noordean commented on #3596
@sastava007 Please go ahead. I have been pretty busy lately.

[2020-02-17 20:45] Kartik1397 commented on #3680
Hi @ragesoss, I like to work on this issue. Can you please provide some more details about this?

[2020-02-18 13:13] Manasa2850 commented on #2360
@ragesoss could you please let me know where I can find the files related to this issue?

[2020-02-18 17:24] ragesoss commented on #2360
The place to start looking is `timeline_handler.jsx`. Most of the logic related to dates on the timeline is in `CourseDateUtils`, so that's where you'll probably end up.

[2020-02-18 17:36] Manasa2850 commented on #2360
Ok. I'll have a look at it.

[2020-02-18 18:54] #2903 closed

[2020-02-18 19:10] ragesoss commented on #3680
@Kartik1397 this relates to the `EXERCISE` kind of `TrainingModule`. If a course has one of these exercise modules assigned, then an enrolled student will see an interface for recording completion of the exercise from the Home tab of their course.

Currently, we handle that record of completion by storing it on the corresponding `TrainingModulesUsers` record, which is for keeping track of informat

[2020-02-18 21:37] ragesoss opened #3762 "Tracking a Category doesn't work for talk page categories (or for talk templates outside of English Wikipedia)"
For example, this category appears on article talk pages: https://pt.wikipedia.org/wiki/Categoria:!Artigos_de_import%C3%A2ncia_1_sobre_Museu_Paulista

The MediaWiki API returns page titles for a `categorymembers` query with the namespace prefix included, but the prefix will vary by language.

I think the strategy to fix this for both category- and template-type Category records could be similar to

[2020-02-18 21:47] ragesoss commented on #3762
This is a great issue for using test-driven development. I would start from `category_spec.rb` and add an example for the pt.wikipedia.org category listed above, expecting it to include an article title _without_ the "Discussão:" prefix in the results.

[2020-02-19 20:13] soumyaa1804 opened #3768 "Indentation error showing while starting gulp"
### What is happening?
While starting gulp, the execution shows a minor error which could easily be fixed. The error is as follows:
[code]

### To Reproduce
run `gulp` inside the project repository.

### Expected behavior
Though the error does not hinder the work but this could be improved.

### Screenshots
![image](https://user-images.githubusercontent.com/40785645/74871225-2089a680-5381-11ea-828

[2020-02-19 21:18] ragesoss commented on #3768
Hmm... I don't get that error locally.

I wonder what could be causing it. My first idea would be perhaps you have a different version of one of the dependencies. Does it still happen if you run `yarn --ignore-engines` and then start gulp again?

[2020-02-19 22:55] soumyaa1804 commented on #3768
The command gave an error:
[code]

[2020-02-19 23:29] soumyaa1804 commented on #3768
When I change the indentation in /WikiEduDashboard/app/assets/javascripts/components/overview/my_articles/components/Categories/List/Assignment/ProgressTracker/ProgressTracker.jsx 47:10
and save it, it loads the gulp again and I don't get the error then.

[2020-02-19 23:39] ragesoss commented on #3768
Hmm... which version of yarn are you on?

[2020-02-19 23:40] mattwarren10 commented on #3715
It looks like this issue is already resolved. Taking a look at these images, we find that the popover is accessed from a different button and in a different location.

Here is the old one:
<img width="1142" alt="Screen Shot 2020-02-01 at 9 01 40 PM" src="https://user-images.githubusercontent.com/13757305/74886626-a6d4c700-5346-11ea-9733-7956e0d63852.png">

Here is the new one:
<img width="1131" al

[2020-02-20 00:15] soumyaa1804 commented on #3768
yarn --version
0.22

[2020-02-20 00:23] ragesoss commented on #3768
That could be the problem. That is a very old version of yarn. If there's not a newer one available in your distro, I think it would help to install one from a different source.

https://classic.yarnpkg.com/en/docs/install/#debian-stable

[2020-02-20 12:31] soumyaa1804 commented on #3768
Yeah! It got fixed! I updated the yarn to 1.22.0 and ran `yarn --ignore-engines` and then ran `gulp` again. Thanks @ragesoss

[2020-02-20 12:31] #3768 closed

[2020-02-20 18:56] #3675 closed

[2020-02-20 19:14] ragesoss commented on #3715
Yes, you're right. The issue became irrelevant because of the major layout change from https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/3579

[2020-02-20 19:14] #3715 closed

[2020-02-20 22:34] ragesoss opened #3773 "Add a way to customize which preload templates are used for a course"
We recently implemented preload templates associated with some of the core steps of the article development process. For example, the peer review links from MyArticles include a preload parameter like this: https://en.wikipedia.org/wiki/User:Ragesoss/example_sandbox/Example_Peer_Review?veaction=edit&preload=Template%3ADashboard.wikiedu.org_peer_review

Some instructors have their own peer review s

[2020-02-20 22:44] ragesoss opened #3774 "Wikidata: one reference with several statements counted as multiple references"
See https://phabricator.wikimedia.org/T244229

Is this a bug with the Dashboard, or does it come from the ORES data and represent a potential bug with how ORES models references?

[2020-02-20 23:30] ragesoss opened #3775 "During Wiki Education course creation, ask instructor whether they have TAs"
We want to:
a) ask instructors during course creation whether they have TA support; and
b) send reminder emails after a week if no additional instructor (ie, the TA) has been added to the course yet, for courses that do have a TA.

The first step (this issue) is to collect that information. It should probably be stored in the form of a tag.

After that, we can create a new alert type and alert man

[2020-02-24 07:54] soumyaa1804 commented on #3643
@Tripathi-Vaibhav are you working on this issue? If not, I would like to work on it.

[2020-02-24 08:35] sastava007 commented on #3643
Sorry, @soumyaa1804 . But I'm already working on this.
Pardon me I haven't left any comment on it, hope you understand.

[2020-02-24 08:54] Tripathi-Vaibhav commented on #3643
No

On Mon, Feb 24, 2020 at 1:24 PM Soumya Sharma <notifications@github.com>
wrote:

[2020-02-24 08:57] Tripathi-Vaibhav commented on #3643
No Soumya Sharma

On Mon, Feb 24, 2020 at 1:24 PM Soumya Sharma <notifications@github.com>
wrote:

[2020-02-24 09:10] soumyaa1804 commented on #3643
Okay, cool! @sastava007 @Tripathi-Vaibhav

[2020-02-24 09:36] soumyaa1804 commented on #2312
I guess no one is working on it so I would like to take it up.

[2020-02-24 17:12] #3746 closed

[2020-02-24 17:12] #3745 closed

[2020-02-24 17:12] #3727 closed

[2020-02-24 21:19] ragesoss commented on #2312
Great! The features specs should be a reliable indicator of whether it's
working properly.

On Mon, Feb 24, 2020, 1:36 AM Soumya Sharma <notifications@github.com>
wrote:

[2020-02-25 00:55] #3739 closed

[2020-02-25 09:38] Kartik1397 commented on #3680
Is it ok if I add `course_id` attribute to `training_module_user` table to make exercise course-specific?

[2020-02-25 19:03] ragesoss opened #3791 "When editing a timeline Block, the training module selector should label each option with its type"
Currently, when you're adding a training module to a block, it's not clear which ones are trainings vs exercises vs discussions. The names of the modules don't make this clear in some cases, because there are cases where a training covers basically the topic as the exercise (but one is about how to do the task in general, and the other is about what specifically is required as an assigned exercise

[2020-02-25 19:07] ragesoss opened #3792 "Edit button on timeline Block floats above training module selector dropdown"
When another block is beneath the one you are editing, the Edit button renders on top of the active select dropdown.

![module select](https://user-images.githubusercontent.com/848483/75278562-f3912580-57be-11ea-81b6-c25d8633b077.png)

[2020-02-26 11:01] satishchandra538 commented on #1709
i am getting an error:- `Mysql2::Error::ConnectionError: Access denied for user 'wiki'@'localhost' to database 'dashboard_testing'
`

when i run command :- `rake db:migrate RAILS_ENV=test
`

i have already used the command `GRANT ALL PRIVILEGES ON dashboard.* To 'wiki'@'localhost' IDENTIFIED BY 'wikiedu';` in mysql as root user but still getting error.

**Please help :)**

[2020-02-27 03:29] satishchandra538 commented on #1709
Thank anyway. I solved this problem i had to provide all privileges to user 'wiki' manually by logging in mysql as root user  :)

[2020-02-27 14:12] shashwatkathuria commented on #3732
It looks like your bundler is falling back to an old version instead of the new version you mentioned here. Please refer to the link below.
https://github.com/rubygems/bundler/issues/6937

[2020-02-27 14:18] shashwatkathuria opened #3807 "Disaligned 'Log in with Wikipedia' text on hover."
### What is happening?
The 'Log in with Wikipedia' should appear in the same line.

### To Reproduce

Steps to reproduce the behavior:
1. Go to application main page
2. Hover on 'Log in'

### Expected behavior
I guess it would be better to have all of it in the same line.

### Screenshots

![Screenshot from 2020-02-28 00-50-45](https://user-images.githubusercontent.com/37243661/75453361-d4022480-5

[2020-02-27 14:19] shashwatkathuria commented on #3807
Can I be assigned this issue? I already know how to solve it.

[2020-02-27 15:22] shashwatkathuria opened #3812 "Not able to login or sign up via auth"
### What is happening?
I am not able to log in or sign up by clicking the buttons on the homepage. Possibly there is something wrong I am doing in my configuration but cannot figure out the same, rest of the things are working fine. Can I know why there is a 500 Internal Server error on clicking the same?

### To Reproduce

Steps to reproduce the behavior:
   1. Go to application main page.
   2.

[2020-02-27 17:17] shashwatkathuria commented on #3812
Figured it out. Closing the issue.

[2020-02-27 17:17] #3812 closed

[2020-02-27 17:29] soumyaa1804 commented on #3732
Maybe possible. Nevertheless, I installed the tool using the manual installation.

[2020-02-27 17:29] #3732 closed

[2020-02-27 20:04] ragesoss commented on #3807
@shashwatkathuria great! We don't usually assign issues explicitly, but please do open a PR.

[2020-02-27 20:52] shashwatkathuria commented on #3792
Can you please help me how to create training modules to the list or link me to some doc for the same? I am not able to reproduce the issue as my Training module dropdown list does not have any options and is displaying only 'No options' which is not sufficient to override the edit button.

[2020-02-27 21:15] ragesoss commented on #3792
@shashwatkathuria:

1. in `application.yml`, make sure you have `wiki_education: 'true'` set.
2. load the training modules by going to `/reload_trainings?module=all`

[2020-02-27 22:20] #3791 closed

[2020-02-28 11:49] shashwatkathuria opened #3816 "Minor bug in permissions statement (onboarding)."
### What is happening?
Two times 'to' is written.

### To Reproduce

Steps to reproduce the behavior:
   1. Go to onboarding, follow till permissions page.
   2. See error

### Expected behavior
One time 'to'.

### Screenshots
![Screenshot from 2020-02-28 17-16-05](https://user-images.githubusercontent.com/37243661/75546434-87c4ec00-5a4e-11ea-823b-454be42449cf.png)

### System Information

 - OS:

[2020-02-28 12:06] shashwatkathuria commented on #3710
Tried many times but the test is passing in my machine. Is there any specific instance by chance to reproduce the issue? I did observe this error in many PRs.

![Screenshot from 2020-02-28 17-33-27](https://user-images.githubusercontent.com/37243661/75547293-901e2680-5a50-11ea-9c73-aa2d03404d84.png)

[2020-02-28 12:28] shashwatkathuria commented on #3710
Maybe increasing the selenium webdriver timeout (setting it manually) should solve the problem.

[2020-02-28 16:04] shashwatkathuria opened #3822 "Requested account creation display error."
### What is happening?
The requested account page is rendering JSON directly instead of processing and then displaying to the user.

### To Reproduce

Steps to reproduce the behavior:
   1. Create a request account enabled course
   2. Deliberately request an invalid account (or even a valid account).
   3. Open course requests
   4. Click on 'Create these accounts'
   5. See error

### Expected b

[2020-02-28 18:07] #3816 closed

[2020-02-28 18:08] ragesoss commented on #3816
Nice catch!

[2020-02-28 18:11] ragesoss commented on #3710
I don't think the timeline limit should be the problem; it does not take more than 2 seconds to render the modal. But I don't know how to consistently reproduce the issue. My guess is there's some other problem, a race condition that is keeping the modal from rendering in the cases where it fails.

[2020-02-28 22:47] #3792 closed

[2020-02-29 10:39] hardy1334 commented on #3502
Can you guide me a bit on how can I create tickets so that I could understand the flow properly. I went to /tickets/dashboard route but I'm getting page not found on that route @ragesoss  @AmitJoki

![output (14)](https://user-images.githubusercontent.com/31733278/75605936-ca013280-5b0d-11ea-9198-3781a6e74292.png)

[2020-03-01 12:23] hardy1334 opened #3829 "Scrolling Effect Breaking in Firefox for resources and profile section"
In Firefox, when we scroll down the page the page starts blinking, for some amount of time. I have attached a video to have a look at the issue. This behaviour is happening when we visit resources section in course and when a user visits his profile.

https://drive.google.com/file/d/1Y99xcthP9hw3XWqrch06JiwbQ9G1furq/view

[2020-03-02 17:37] #3276 closed

[2020-03-02 19:19] ragesoss commented on #3829
Thanks! This is very similar to #2012

It think it's fundamentally the same issue on the Resources tab of a course page — it comes from the use of the `Affix` component to fix the navbar in position at the top of the window as the user scrolls down — but it's a little different for profile pages.

It looks like here, it's done via the jquery code in `app/assets/javascripts/utils/users_profile.js`.

[2020-03-03 17:27] bwreid commented on #3502
@hardy1334 Is your account set up as an administrator? This URL will only work if it is.

[2020-03-03 18:59] hardy1334 commented on #3502
@bwreid It works fine now, I already did set up of my account as admin. Thanks for your reply

[2020-03-03 19:01] hardy1334 commented on #3829
@ragesoss True, I also agree for the same

[2020-03-03 21:25] shashwatkathuria commented on #3500
@ragesoss How do I disable the frontend functionality for admin?? More specifically, how do I know that an admin is logged in (in javascript)? I have implemented the frontend functionality, with only the admin functionality remaining (disabling frontend limit for admin).

[2020-03-05 15:40] Oghenebrume50 commented on #1949
@ragesoss is this issue still open?

[2020-03-05 16:35] ragesoss commented on #1949
Yes, it's still open.

[2020-03-05 20:41] shashwatkathuria opened #3847 "Activity information not course specific"
### What is happening?
The 'Activity' Tab for a specific course gives information about user's whole activity rather than only course specific activity.

### To Reproduce

Steps to reproduce the behavior:
   1. Make 2 new basic programs as an instructor. Make a student join both of them.
   2. Assign the student one article in each course.
   3. Make edits to both articles and also do manual updat

[2020-03-05 20:44] ragesoss commented on #3847
This is the intended behavior, but it could be useful to add a filter so that you have the option of viewing only course-specific revisions.

[2020-03-05 21:01] shashwatkathuria commented on #3847
@ragesoss Should I go forward with implementing that feature? I think that could be useful.

[2020-03-05 21:14] shashwatkathuria commented on #3647
@ragesoss
Please tell me if I understand it right or wrong.
There is a Course1 and a Course2. Same user makes edits on both courses but the revision counts of the specific courses are counted in total rather than individual.
Or can you please explain it once to me so that I can reproduce it and work on it?

[2020-03-06 17:47] ragesoss commented on #3647
@shashwatkathuria

There are two courses. One is on en.wikipedia.org (and has that as the only tracked wiki), and another is on www.wikidata.org (and has that as the only tracked wiki).

The user makes revisions on both wikis, and the revision count for each course should include only the revisions for the wiki that course is tracking.

Currently, the course revision count will include all edits i

[2020-03-06 17:53] #2498 closed

[2020-03-06 19:18] mcastorena0316 commented on #2004
@ragesoss  hi, my name is Melissa and im from the new batch of Outreachy applicants. If this issue is still open, can I work on it please? Thanks!

[2020-03-06 19:25] mcastorena0316 commented on #2412
@ragesoss  hi Sage,  Oureachy applicant here, can I work on this? Thanks and have wonderful weekend.

[2020-03-06 19:29] ragesoss commented on #2412
@mcastorena0316 go for it!

[2020-03-07 01:28] mcastorena0316 commented on #2412
Hi @ragesoss  I am writing cause I have a few questions and  I want to understand more about this bug you are having.

I already clone and run in my local environment the application and do a little tryouts by myself.

When I create a program, a page link appears so everyone can enroll in it.  If I tried to delete it directly from the program's page, it appears that I need to erase the campaign fi

[2020-03-07 17:30] ragesoss commented on #2412
Hi @mcastorena0316 !

This bug is referring to the edits to Wikipedia that the Dashboard makes. In particular, `WikiCourseEdits` makes edits on the wiki to reflect actions users take on the Dashboard, including the `update_assignments` method that posts templates to article talk pages when a student adds an article as their assignment. See the recent edits to this talk page for example: https://en

[2020-03-08 11:18] Kirti2502 commented on #1478
Hi, I am an Outreachy applicant. Can I take up this issue?

[2020-03-09 16:22] ragesoss commented on #2004
@mcastorena0316 it's still open. Please post here if you start work on it (but please don't work on more than one issue at a time).

[2020-03-09 16:47] ragesoss commented on #1478
@Kirti2502 sure, go for it.

[2020-03-09 17:00] ragesoss opened #3849 "Course navbar flashes 'missing message' briefly before rendering 'Articles' link"
I think this bug was introduced with https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/3772

When you load a course page, it briefly shows the fallback text for a missing i18n message in the navbar instead of the appropriate Articles/Items/Pages text. This is most apparent if you do a hard refresh, for example on https://dashboard.wikiedu.org/courses/McMaster_University/Selected_Top

[2020-03-09 17:34] TaimurAzhar commented on #3849
Hi, can I be assigned this issue? I am an Outreachy applicant. Looking for getting started as soon as possible.

[2020-03-09 17:41] rajat2502 opened #3850 "Center align the contain of the div"
### What is happening?

### Expected behavior

### Screenshots
![image](https://user-images.githubusercontent.com/42200276/76241626-46f18200-625b-11ea-969e-b6e6ddef1465.png)

### System Information

 - OS: [Linux 19.04]
 - Browser [chrome]

[2020-03-09 17:54] rajat2502 opened #3851 "Add the number of results"
### Current Behavior:

### Desired Behavior:

It should be like "Total ${number} Results for ${SearchItem}.

### Additional context:

![image](https://user-images.githubusercontent.com/42200276/76242699-24606880-625d-11ea-9b55-ae78818b229d.png)

[2020-03-09 18:04] ragesoss commented on #3849
Go for it. We don't typically assign issues, but please post again if you stop working on it.

[2020-03-09 18:06] TaimurAzhar commented on #3849
Great. Thanks.

[2020-03-10 04:14] ClintonEnyinna commented on #3851
I'm an Outreachy applicant and I'm interested in working on this issue. Please can it be assigned to me?

[2020-03-10 04:15] ClintonEnyinna commented on #3850
I'm an Outreachy applicant and I'm interested in working on this issue. Please can it be assigned to me?

[2020-03-10 16:26] ragesoss commented on #3851
Hi. We don't formally assign issues for this project, but feel free to work on this. You should work on one issue at a time, and leave a note if you stop working on it.

[2020-03-10 16:40] rajat2502 commented on #3850
Hey @ragesoss can I work on this issue?

[2020-03-10 16:50] ragesoss commented on #3850
@rajat2502 sure. I'm not sure that I see the problem, but having a before/after comparison will certainly help.

[2020-03-11 03:40] mcastorena0316 commented on #2004
Yes i want to start working on this. I will work on one at the time. Thanks!

[2020-03-11 06:01] ClintonEnyinna commented on #3851
I created a pull request for the issue

[2020-03-11 07:36] rajat2502 opened #3856 "Add .gitpod.yml and related files for Gitpod setup"
### Current Behavior:

### Desired Behavior:

[2020-03-11 20:44] shashwatkathuria commented on #3847
@ragesoss
I am currently working on this and need some clarification on how to filter out the course specific revisions in the json builder of course revisions. So what I'm trying to do is querying out all the assignments of the course and plucking their sandbox urls, then I query for revisions which have their article url the same as the sandbox urls obtained earlier. Is this okay or there is ano

[2020-03-11 22:37] ragesoss opened #3864 "Replace usage of Timecop in tests"
We have a handful of tests that use `Timecop`, a gem to manipulate system time.

It looks like Rails now includes some time-related features that could be used instead: https://frontdeveloper.pl/2020/03/how-we-migrated-from-timecop-to-built-in-rails-5-2-time-helpers/

Replace as much of our Timecop usage as possible with Rails time helpers — and ideally, completely remove the `timecop` gem as a de

[2020-03-11 23:10] vineshpersaud commented on #3864
I'm an Outreachy applicant  and I would like to work o this.

[2020-03-12 14:10] Mahuton commented on #3856
Hi @rajat2502  and @ragesoss I would like to work on this enhancement task.

[2020-03-12 15:32] #3849 closed

[2020-03-12 20:31] chepyego commented on #1417
Is this issue still open? i would like to help out

[2020-03-12 20:43] vineshpersaud commented on #3864
I submitted a pull request .

[2020-03-12 22:23] #3822 closed

[2020-03-15 14:20] khyatisoneji commented on #3588
@ciphereck are you working on this?

[2020-03-15 14:26] ciphereck commented on #3588
No. You can take it.

[2020-03-15 20:09] shashwatkathuria commented on #3647
@ragesoss Do I need to change def tracked_revisions at app/models/course.rb:266 and include some filter of having only those revisions included in course.wikis (wiki_ids) for solving this issue? I wanted to know if I'm going inthe right path, because this is kind of confusing me.

[2020-03-16 14:49] ragesoss commented on #3847
Probably the way to do this will be with client-side filtering: take the revisions received from the server, and filter out any that don't match up to one of the articles received from the server. Probably the cleanest way to do this would be to add `article_id` to the revision attributes, so that the id could be used as the basis for filtering.

[2020-03-16 17:24] ragesoss commented on #3647
Yes, I think that makes sense as the place to implement limiting the counted revisions to tracked wikis.

[2020-03-16 21:46] shashwatkathuria commented on #3847
@ragesoss
The problem is that for some articles I have article_id: nil which is why I had to do it an unclean fashion.
![Screenshot from 2020-03-17 03-09-52](https://user-images.githubusercontent.com/37243661/76802120-ffd83380-67fc-11ea-9a33-383453226eac.png)

And neither am I getting any articles.json with the help of which I can filter the information at the client side.
![Screenshot from 2020-0

[2020-03-16 22:09] ragesoss commented on #3847
Whether an article needs to be assigned in order for activity to be counted depends on the `Course` type. For an ArticleScopedProgram, the only activity that counts will be edits to assigned articles or to articles that are in one of the `Category` records for the course. However, for any activity that is in that scope, there will be an `ArticlesCourses` record for the article and the course, and

[2020-03-17 07:55] chepyego commented on #1417
@ragesoss is this issue stil available?

[2020-03-17 16:09] ragesoss commented on #1417
yes, it is. if you're working on it, please just make a note of it here, and post an update if you stop working on it.

[2020-03-17 21:55] #3647 closed

[2020-03-18 17:54] ClintonEnyinna commented on #3850
Still workin on this? @rajat2502

[2020-03-18 19:21] ragesoss opened #3873 "Requested Accounts page returns 500 error if a course with a requested account got deleted"
This cropped up on P&E Dashboard:

[code]

Presumably, a course for an open account request got deleted.

[2020-03-18 19:37] shashwatkathuria commented on #3873
@ragesoss I will try to fix this issue.

[2020-03-18 20:02] hardy1334 opened #3874 "Text remains in the input textboxt ideally it should get removed"
In tickets section when we create a note or send reply, the text which we entered in input text remains there even after the action has been done i.e whether reply has been sent/note has been created. Ideally if a note gets created/ reply has been sent input textbox should get empty.

Checkout the video to see the issue happening

[https://drive.google.com/file/d/1tn8WT7cTC5wxgnzzfxQ4p7VnFZ7gMNim/

[2020-03-19 04:21] chepyego commented on #1417
Yes am working on it,, I'll update you

On Tue, Mar 17, 2020, 7:09 PM Sage Ross <notifications@github.com> wrote:

[2020-03-19 15:38] #3873 closed

[2020-03-19 20:20] YanaNirvana commented on #3851
Sorry if this sounds obvious:  The merged PR looks like it resolves this issue... is there a reason for that this is still open?  / Are there additional work to be done?

[2020-03-19 20:28] YanaNirvana commented on #3775
I'd like to work on this

[2020-03-19 20:32] ragesoss commented on #3851
Nope, the automatic closing just didn't trigger when the PR closed.

[2020-03-19 20:32] #3851 closed

[2020-03-19 23:57] ClintonEnyinna commented on #3874
I'd start working on this issue.

[2020-03-23 21:30] hardy1334 opened #3889 "UI Breaking on pasting content while creating note on ticket"
When we paste data from external source, like if you are trying to paste some html type content, if that content is too wide, it comes out of the block assigned for that purpose. It requires fix at the css end.
![Screen Shot 2020-03-24 at 2 56 43 AM](https://user-images.githubusercontent.com/31733278/77365134-99629080-6d7b-11ea-8595-b7f542f14b1e.png)

[2020-03-24 13:15] dependabot-preview[bot] opened #3890 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/27341462).

[2020-03-24 22:30] #2517 closed

[2020-03-24 22:34] hardy1334 commented on #3683
@ragesoss  I'll like to work on this issue

[2020-03-25 13:12] #3890 closed

[2020-03-25 18:39] ragesoss opened #3905 "Links to "Edit" a survey Question Group do different things in different places"
If you're editing surveys and want to change a Question Group, there are two places you can do that from: the Question Groups list, which has an 'Edit' button for each group, and the Survey 'edit' view, which includes an 'Edit' link for each group included in that survey.

Clicking 'Edit' from the Question Groups index view opens an edit view includes both the questions that are part of the group

[2020-03-25 20:37] shashwatkathuria commented on #3905
@ragesoss I am working on this issue.

[2020-03-26 19:15] #3680 closed

[2020-03-27 03:36] swathi-0901 opened #3914 "Update MacOS setup script"
### What is happening?
There is a problem in the MacOSX setup script in line 105

### To Reproduce
just run the setup.py file in mac osx.
Setup is aborting just because of this line.

### Expected behavior
Setup should not be aborted and it should continue.

### Screenshots
![Screen Shot 2020-03-27 at 2 46 10 AM](https://user-images.githubusercontent.com/43814493/77718921-19058f00-700a-11ea-8871-6

[2020-03-27 15:13] ragesoss commented on #3914
@swathi-0901 did the rest of the setup go smoothly once you fixed that bit of the script?

[2020-03-27 16:05] swathi-0901 commented on #3914
Yes, Rest of the script worked fine for me :)

[2020-03-27 16:06] swathi-0901 commented on #3914
Yes, Rest of the script worked fine for me :)

[2020-03-27 16:10] #3914 closed

[2020-03-30 19:33] ragesoss commented on #3905
Thanks @swathi-0901

[2020-03-30 19:33] #3905 closed

[2020-04-01 22:10] hardy1334 commented on #3377
@ragesoss  I'll like to work on this issue

[2020-04-02 16:24] hardy1334 commented on #3377
@ragesoss  can you please ellaborate on the functionality part,what is to be done in it. I'm a bit confused, what do you mean by **peer reviews** here ?

[2020-04-02 16:36] ragesoss commented on #3377
This means an Assignment with the role `REVIEWING_ROLE`. From the frontend, this can be added right now either (as a student) from the My Articles section of the Home tab of a course, or (as an instructor) from the Students -> Article Assignments view, when a specific student is selected.

[2020-04-04 22:16] chepyego commented on #1417
hey, am sorry for not giving out feedback about the issue was to work on
due to COVID-19 schools were closed so getting internet has been a problem
to me and i see deadline is near ,I don't know how to start will you please
give some tips on how to go with this issue

On Tue, Mar 17, 2020 at 7:09 PM Sage Ross <notifications@github.com> wrote:

[2020-04-06 17:02] ragesoss opened #3941 "Articles that start as sandboxes aren't counted as 'new' if the first edit is a template added by another editor"
For example, this article was originally a sandbox, and the template was added by _User:Elysia (Wiki Ed)_ https://en.wikipedia.org/wiki/Dental_aerosol

It does not appear as 'new': https://dashboard.wikiedu.org/courses/University_of_Cincinnati/Occupational_Epidemiology_2020_(Spring_2020)/articles/edited

Elysia's edit was subsequently deleted, but this does not trigger recategorizing the article a

[2020-04-06 18:40] shashwatkathuria commented on #3941
@ragesoss I am working on this issue

[2020-04-07 16:42] ragesoss opened #3943 "DiscretionarySanctionsMonitor should create alerts based on Assignments (in addition to edited articles)"
DiscretionarySanctionsMonitor checks for articles that have been edited by students (represented by ArticlesCourses records) that are under 'discretionary sanctions' on Wikipedia, meaning they are controversial topics and come under extra scrutiny. It creates alerts to notify Wiki Experts when such an article is edited.

In addition to alerting us when such an article is edited, it would be a nice

[2020-04-07 21:54] shashwatkathuria commented on #3943
@ragesoss I am workng on this issue.

[2020-04-09 16:12] ragesoss opened #3955 "Build passes but deployment fails if Capistrano version is updated without changing deploy.rb"
Our Capistrano version is locked using a config line at the beginning of `deploy.rb`, which makes Capistrano stop deploying if a different version is being used. However, the automated pull requests to bump the version of Capistrano don't change the `deploy.rb`, so we often end up merging one of these changes without updating `deploy.rb`, and then the builds fail until we notice (which might not b

[2020-04-13 21:15] shashwatkathuria opened #3961 "Enable pending new cops in bulk."
### What is happening?
Every time <code>rubocop</code> is bumped (updated) some new cops are introduced, which leads to warnings like the ones given in the picture. A new option of <code>NewCops</code> listed at https://docs.rubocop.org/en/latest/versioning/ would solve the issue, but the feature is yet unreleased so we'll have to wait a bit until the feature is released.
![Screenshot from 2020-04

[2020-04-13 21:18] shashwatkathuria commented on #3961
I'm assigning this issue to myself (this is for reference).

[2020-04-13 21:22] #3943 closed

[2020-04-13 22:51] shashwatkathuria commented on #3955
I am working on this issue. The solution I have thought of is basically run a system command, extract the version and then put it inside lock.

[2020-04-13 22:55] shashwatkathuria commented on #3955
I am working on this issue. The solution I have thought of is basically <code>Gemname::VERSION::STRING</code>.

[2020-04-13 23:12] #3864 closed

[2020-04-14 18:22] shashwatkathuria commented on #1600
I am working on this issue.

[2020-04-15 18:49] hardy1334 commented on #3377
![Screen Shot 2020-04-16 at 12 16 30 AM](https://user-images.githubusercontent.com/31733278/79376300-95d7b900-7f77-11ea-98cc-8fde56c04635.png)

@ragesoss  You meant in the box where we can enter there should be option for another input box containing all the list of students as dropdown in it and then only **COURSE INSTRUCTOR** can assign it to the students enrolled in that particular course.Right

[2020-04-15 19:13] ragesoss commented on #3377
This feature would probably go on the 'Students' tab in the overview mode; there would be a button for the instructor that would randomly add a review for each assignment.

[2020-04-15 19:26] hardy1334 commented on #3377
@ragesoss  For instructors, for a particular assignment randomly a student will be selected for reviewing an assignment. Right ?

[2020-04-15 19:46] ragesoss commented on #3377
Yes. It should be a different student than the one assigned to the article, and this feature should assign multiple reviewers to the same article depending on the `course.peer_review_count`.

[2020-04-15 19:53] hardy1334 commented on #3377
ok, got it, I had a confusion about one scenario -
If all the students in the course are assigned one article then the next article which is to be assigned to the students, scenario for that would be that until all students are assigned the second article, a single student cannot be assigned the next article i.e third article

[2020-04-15 20:11] ragesoss commented on #3377
I'm not sure I understand. Can you write out the situation as an example in more detail?

[2020-04-15 20:17] hardy1334 commented on #3377
![Screen Shot 2020-04-16 at 1 38 37 AM](https://user-images.githubusercontent.com/31733278/79383577-09cb8e80-7f83-11ea-8003-d6179df0b7bb.png)
 Flow should work like this -
As soon as instructor clicks review that particular assignment should get assigned to random student.
So What I meant above was - if in some scenario all the students enrolled in a course which have been randomly assigned articl

[2020-04-15 20:25] #3955 closed

[2020-04-15 20:28] ragesoss opened #3971 "HighQualityArticleMonitor should create alerts based on Assignments (in addition to edited articles)"
This is basically the same concept as https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/3943, but for "HighQualityArticleMonitor" instead, so that Wiki Education staff will get alerts whenever a student in a current course has been assigned to a Good Article or Featured Article.

[2020-04-16 12:33] shashwatkathuria commented on #3971
I am working on this.

[2020-04-17 07:57] hardy1334 commented on #3377
@ragesoss  what do you think of the above explanation

[2020-04-17 16:16] #1600 closed

[2020-04-17 17:47] ragesoss commented on #3377
The idea here is that it should take one click (plus a confirmation) for an instructor to randomly assign the right number of peer reviews to all the student in their course.

The starting situation is (for example) that there are 10 students and each one is assigned a different article. Then the instructor clicks to randomly assign reviews, and every student gets assigned to review two different

[2020-04-17 21:12] hardy1334 commented on #3377
@ragesoss  In the scenario where some students are assigned reviews so there **total number of reviews** will be maximum number of assignment a student is assigned. Something Like this -

![Screen Shot 2020-04-18 at 2 40 56 AM](https://user-images.githubusercontent.com/31733278/79614402-12a49780-811e-11ea-8b6f-3b648ee7b4da.png)

[2020-04-20 19:56] #3961 closed

[2020-04-20 20:33] shashwatkathuria commented on #3515
I am working on this issue.

[2020-04-20 21:51] #3971 closed

[2020-04-21 16:46] #3515 closed

[2020-04-21 17:56] ragesoss opened #3988 "course_deletion_spec fails intermittently"
`spec/features/course_deletion_spec.rb` is one of the browser specs that usually passes, but every once in a while fails on travis-ci, like this:

![Screenshot from 2020-04-21 23-11-16](https://user-images.githubusercontent.com/848483/79897355-7816b380-83be-11ea-8a88-d3c98a7a45e6.png)

Figure out why this test is flaky, and fix it.

[2020-04-27 11:16] epleaner commented on #2602
Hey, is this still needing work? I wasn't able to reproduce this locally using  react-dropzone@10.1.19 – test suite seems to be running green.

[2020-04-27 12:11] epleaner commented on #2602
Hey, is this being worked on? Happy to take a poke at it.

[2020-04-27 14:23] ragesoss commented on #2602
@epleaner go for it! Slack invite sent.

[2020-05-01 19:12] epleaner commented on #3588
@khyatisoneji any progress? Happy to hop in.

[2020-05-01 19:35] ragesoss commented on #3588
I don't think Khyati is working on this, @epleaner.

[2020-05-04 17:49] tichnas commented on #3643
Is this issue still open?

[2020-05-04 18:30] ragesoss commented on #3643
Whoops! Forgot to close it, but Manasa's patch fixed it.

[2020-05-04 18:30] #3643 closed

[2020-05-05 11:26] epleaner commented on #3588
For anyone wanting to get their dev environment up and running to work on this issue (setting up TicketDispenser and populating db with sample tickets), here are the steps I took:

1. Clone (or fork if you are making changes) [TicketDispenser](https://github.com/WikiEducationFoundation/TicketDispenser) as a sibling to your WikiEduDashboard directory (e.g workspace/TicketDispenser/ & workspace/Wiki