[2020-05-05 13:52] epleaner commented on #3588
Hey, some questions about this issue:

1. How many tickets (ceiling estimate) should we expect to realistically be working with? It'd be helpful to know a good stess-test amount – currently testing with 200 open tickets.

2. "search tickets by username" -> I'm assuming this means searching by ticket sender? Should we also support searching by ticket messages' senders?

Seems that as the Ticketing

[2020-05-05 17:39] tichnas commented on #2499
Is this issue solved or can I take this up?

[2020-05-05 17:58] tichnas commented on #2004
Can I take up this issue if it's still available?

[2020-05-05 19:03] ragesoss commented on #2499
@tichnas you can take this up.

[2020-05-05 19:05] ragesoss commented on #2004
Yes (but please don't work on more than one issue at a time)

[2020-05-05 20:48] puthalalitha commented on #2499
Hi Sage Ross,

I am working on another project. I think I will not be able to continue with it as I am working on another project.

Thank you,
Lalitha

[2020-05-06 20:41] jonathan-richer commented on #2499
I see that the course creation has been updated, but to edit the course, it's still a free form text input. I'll work on that if it's ok, and it so, please let me know if there's other places where it needs to be changed

Thank you

[2020-05-07 23:24] kimberleejohnson commented on #1709
On Mac OS Catalina, I also ran into the `Access denied for user 'wiki'@'localhost' to database 'dashboard_testing'` error. I tried all of the workarounds mentioned here first, including logging into mysql and setting the privileges to the wiki user manually, and checking that those privileges were correct with `select *.` I still got the same access denied error every time.

Until! I decided to st

[2020-05-08 21:48] ragesoss opened #4022 "articles assigned to other students in the class don't show up as 'other edited articles'"
### Current Behavior:
The details view on the Students tab shows all the assigned articles for the selected student, as well as the articles they have signed up to peer review, and a list of other unassigned articles they've made edits to.

However, if a student has edited an article that is not assigned to them but is assigned to a classmate, it won't show up at all on this view.

For example, th

[2020-05-08 21:54] ragesoss opened #4023 "In the Students details view, ArticleViewer only shows edits by assigned group members"
#3143 # What is happening?
ArticleViewer with authorship highlighting is available from both the Students tab details view, and from the Articles tab.

On the Articles tab, it will show authorship data for any student in the course who has edited that article. For example: https://dashboard.wikiedu.org/courses/Georgetown_University/Culture_Medicine_and_Gender_(Spring_2020)/articles/edited?showArti

[2020-05-08 22:00] ragesoss opened #4024 "In ArticleViewer, I should be able to scroll to the next section of highlighted text"
### Current Behavior:
On long articles, ArticleViewer may take quite a bit of scrolling before you find the highlighted part contributed by a student. For example:
https://dashboard.wikiedu.org/courses/Georgetown_University/Culture_Medicine_and_Gender_(Spring_2020)/students/articles/Ddanaie2021?showArticle=51302794

There's no way to scroll straight to the position of the highlighting, so it can t

[2020-05-08 22:05] ragesoss opened #4025 "ArticleViewer should indicate when no content by given student remains"
### Current Behavior:
In the ArticleViewer, there may be edits by a student that get reverted, so even once authorship highlighting is loaded, none of the text is highlighted for that student. It's not obvious that this is the case, so users may search in vain for text contributed by that student.

Here is a related case, an article that has only been edited by one of the three group members assig

[2020-05-08 23:19] jonathan-richer opened #4026 "Index page not found after logged in"
### What is happening?
After I logged in I got a Page not found at the index after logged in.

### Expected behavior
Have the Programs and Courses page

### Screenshots
![Screenshot from 2020-05-08 19-17-52](https://user-images.githubusercontent.com/36356746/81456540-a9360880-9160-11ea-8cfd-14c7c2e9de2b.png)

### System Information

 - OS: Ubuntu 18.04
 - Browser Firefox
 - Version Current master

[2020-05-09 18:20] tichnas commented on #2004
@ragesoss  What exactly should be the solution for jumping table width (https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/2004#issuecomment-424097675)? The only possible solution I can think of is to give a Loading message until everything is set up.

[2020-05-09 20:09] ragesoss commented on #2004
A loading message would be okay, or the filename could be truncated to a safe length, or it could be made to wrap at a certain max width so that it won't cause overflow.

[2020-05-10 07:04] tichnas commented on #2004
@ragesoss If we wrap (or truncate) filename to a fixed width, it will also wrap on larger images where it's not required. What are your suggestions?

[2020-05-11 15:58] #2012 closed

[2020-05-11 16:02] ragesoss commented on #2004
I don't think the overflow while images are loading is a big deal, compared to the screenshots where it's overflowing after loading is complete, from the Credit column.

But if it's wrapping rather than truncating, that should be able to take the width of the cell, so it shouldn't matter how large the images are.

[2020-05-11 19:49] jonathan-richer commented on #4026
Need to be an admin in order to see the dashboard ?

[2020-05-11 19:49] #4026 closed

[2020-05-12 02:18] jproft opened #4033 "Table rows should not have adjacent redundant links"
### Current Behavior:
The tables of campaigns and programs contain rows with adjacent redundant links. When using a mouse, it appears as though each row is one big link, but when tabbing through with a keyboard, it becomes apparent that each table cell contains its own link. The following is from [Techniques for WCAG 2.0](https://www.w3.org/TR/WCAG20-TECHS/H2.html):

Given that the tables are very

[2020-05-12 10:07] tichnas commented on #2004
@ragesoss I think overflow after the content is loaded (in Credit column), is already solved (https://github.com/Sanjana1308/WikiEduDashboard/commit/b2765c525d73c4bffa6d8347dddf62f5335b4738). Is there anything else need to be done?

[2020-05-12 12:11] marklocklear commented on #1709
Running a new set up of the local environment and am getting the following error when trying to migrate the database:

[code]

[2020-05-13 01:18] jproft commented on #3988
@ragesoss It looks like a race condition. The test visits the course page, which appears to entail making 24 requests right off the bat. I read that `visit` does not wait, so while requests are still being made, the test goes on to press the "Delete course" button. It appears that many of the requests being made require methods labeled "course data JSON endpoints", which in turn requires the `set_

[2020-05-13 07:00] aryamanpuri commented on #4024
Hi @ragesoss
Can I take up this issue and would be helpful for me if you can explain the work to be done in this issue.

[2020-05-13 22:12] ragesoss commented on #4024
Hi! I haven't thought through exactly how it might be implemented, but the place to start exploring is the `ArticleViewer` component. If you'd like to try it, I suggest first setting up a development environment where you can recreate the situation locally, and then start playing around with it.

If you have any specific questions about how ArticleViewer works, I can try to explain it.

[2020-05-14 02:08] jproft commented on #3710
@ragesoss I spent quite a bit of time trying to figure out why this test  -- along with the test given in #3988 -- intermittently fail. Although the failure modes seem different, the tests do both use the following:

- `click_button`
- `accept_prompt`

I noticed that there are only two other instances of `accept_prompt` in the tests: one in `course_creation_spec`, and the other in `campaign_overvi

[2020-05-14 17:15] jproft opened #4036 "Leaving the number of days blank on a survey assignment notification schedule causes the results page to crash"
### What is happening?
When the `#survey_assignment_send_date_days` input field on the survey assignment editor page is left blank (or a value is given and then subsequently deleted), attempting to visit the survey results page causes an internal server error.

### To Reproduce
Steps to reproduce the behavior:
1. Create a survey assignment.
2. Leave the number of days blank.
3. Save the assignment

[2020-05-15 18:16] ragesoss commented on #3988
This makes perfect sense; it's definitely a race condition where the course gets deleted before the frontend JSON requests resolve.

This is one of the few cases where using `sleep` is the right move, I think. In general, it's easy to write bad Capybara tests where sleep is a workaround for a test that isn't taking advantage of Capybara's waiting behavior, for example by failing immediately when a

[2020-05-15 18:18] #3988 closed

[2020-05-15 18:50] ragesoss commented on #3710
I agree that getting rid of `prompt` would be nice... although doing it in a UI-integrated way does come with a cost in terms of code complexity. (We have a system for doing this right now using the `initiateConfirm` action and the `Confirm` component, but it's not very elegant to use.)

The keystroke issue seems like an unlikely source of the problem, but looking back at the previous discussion,

[2020-05-15 22:38] jproft commented on #3774
Is it possible that `feature.len(<datasource.wikidatawiki.revision.references>)` is not the number of unique references but rather the number of statements added to the references?

[2020-05-18 10:21] keshavg2 commented on #1709
WARNING! This is a work in progress script. It has been tested to work for Fedora and debian-based systems.   There are individual operating system dependent scripts being called from this one.   You can find them in setup directory. The script for windows is still not complete.   You can use them as a starting point or as a reference. If you run into any errors while running this script,   please

[2020-05-18 14:30] ragesoss commented on #1709
@keshavg2 the script checks explicitly for Ruby 2.5.0 because that's what we're still running in production, but if you change both the script and the gemfile to look for 2.5.1, things ought to work.

[2020-05-18 22:16] #3941 closed

[2020-05-19 06:24] PANKAJ-DAHIYA123 commented on #1709
After running setup.py in command prompt (Windows 10) . It asks for root password but when i type on keyboard nothing is getting input and after pressing enter it shows wrong password. I have installed sql/python/ruby etc.?
Earlier also faced issue entering github username and password in cmd Win10
Please help?

[2020-05-19 19:36] ragesoss commented on #3710
Well... so much for that theory. A spec failed today at the `accept_prompt`, even after adding the line looking for the button ahead of there. So the `Link to Salesforce` button appears, but the modal does not.

[2020-05-26 15:31] Ajitesh13 commented on #1468
Hello, this issue is still open. Can you please specify what need to be done here, as I am a new contributor, willing to contribute in this repo.

[2020-05-26 15:32] Ajitesh13 commented on #1408
Hello, Can I proceed with this open issue ?

[2020-05-26 15:41] ragesoss commented on #1468
@Ajitesh13 for this issue, you should run the data population script (`rake dev:populate`), report any errors, and then explore the courses it added to the Dashboard and then document which features of the system that you would need to add more/different data in order to test locally.

[2020-05-26 17:26] ragesoss commented on #1940
Fixed with #4042

We're not actually fingerprinting them, but we use the old strategy of including the hash as a parameter to make sure browsers pull in a new copy when it changes.

[2020-05-26 17:26] #1940 closed

[2020-05-26 21:33] ragesoss opened #4048 "ArticleViewer authorship highlighting does not work for user with `+` in username"
### What is happening?
In ArticleViewer, a user named `Latinx+art38` does not have their edits highlighted, even though the whocolor data includes text attributed to that user.

This is probably related to the Dashboard showing that username as `Latinx art38`, because at some point it gets interpreted as a URL and the plus sign gets turned into a space.

The student's username is show correctly el

[2020-05-28 05:30] Ajitesh13 commented on #1468
Thanks @ragesoss for the insights, I will let you know, if I faced any difficulty.

[2020-06-02 17:03] devil-cyber commented on #4048
can I work on this? I am new to open source

[2020-06-02 17:16] ragesoss commented on #4048
@devil-cyber go for it. This is a good first issue. :-)

If you'd like to join our slack, send me an email.

If you have any questions about how to get set up or how to replicate the issue locally, you can ask here or on slack.

[2020-06-02 17:53] devil-cyber commented on #4048
I have sent you the mail please check out @ragesoss

[2020-06-02 20:35] ragesoss commented on #4048
@devil-cyber that email didn't come through. Can you try to sage@wikiedu.org?

[2020-06-02 20:49] devil-cyber commented on #4048
how to replicate the issue locally?will you please provide me some insight
of this issue?

On Wed, Jun 3, 2020, 2:05 AM Sage Ross <notifications@github.com> wrote:

[2020-06-02 21:29] ragesoss commented on #4048
Once you have your dev environment set up, you can replicate this by creating a course that matches the start and end dates of the one linked in the description, then add `Latinx+art38` as a student. Then you can do a data update on your course (see [here](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/user_roles.md#populating-a-course-with-data)), and then you should

[2020-06-03 03:54] devil-cyber commented on #4048
ok I am going to work on this

[2020-06-10 20:07] shashwatkathuria opened #4065 "Course Creater Modal"
### What is happening?
I have experienced this thing before also, that when I click on "Create my Program!", it checks for uniqueness and there is a small red text appearing above the button, but that comes for a very short duration(sometimes). Suppose I click on that button many times, so by that time multiple requests have gone to the server to create the course. The requests after the first one

[2020-06-12 09:17] h-ranjan1110 commented on #4023
@ragesoss the links that you gave are taking much time to open. like it loads for 2-3 minutes and then stops. my internet connection is good, other sites work properly. can you please see what is this issue.

[2020-06-12 13:48] Ajitesh13 commented on #1468
Where will I write the documentation to open a PR ?

[2020-06-15 17:42] #3357 closed

[2020-06-25 07:57] Ajitesh13 commented on #1468
@ragesoss Where will I write the documentation to open a PR? Is it in docs/user_roles.md#populating-initial-courses

[2020-06-25 16:35] ragesoss commented on #2312
This got taken care of as part of the complete switch off of webpack that Amit wrapped up in May.

[2020-06-25 16:35] #2312 closed

[2020-06-25 17:49] ragesoss commented on #1468
@Ajitesh13 the documentation for opening a PR is in the CONTRIBUTING file: https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/CONTRIBUTING.md#pull-request-process

[2020-07-07 20:13] ragesoss commented on #3847
I've just merged the PR for this, #4002

This version is better than nothing, but I think it needs some significant re-architecture before it will really be useful. Here's an example course where the people running it have asked for this exact feature: https://outreachdashboard.wmflabs.org/courses/Museu_Paulista/Wikiconcurso_do_Museu_Paulista_2020/activity

This is an Article Scoped Program, and m

[2020-07-16 15:29] #3847 closed

[2020-07-16 21:40] dependabot-preview[bot] opened #4107 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/40466367).

[2020-07-16 21:40] dependabot-preview[bot] opened #4108 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/40466366).

[2020-07-16 21:40] #4107 closed

[2020-07-17 13:14] dependabot-preview[bot] opened #4109 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/40571907).

[2020-07-17 13:14] #4108 closed

[2020-07-20 13:15] dependabot-preview[bot] opened #4111 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/40769543).

[2020-07-20 13:15] #4109 closed

[2020-07-21 13:15] dependabot-preview[bot] opened #4112 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/40918778).

[2020-07-21 13:15] #4111 closed

[2020-07-22 13:15] #4112 closed

[2020-07-22 13:15] dependabot-preview[bot] opened #4115 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/41064346).

[2020-07-23 13:16] dependabot-preview[bot] opened #4116 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/41199360).

[2020-07-23 13:16] #4115 closed

[2020-07-24 13:17] dependabot-preview[bot] opened #4117 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/41359305).

[2020-07-24 13:17] #4116 closed

[2020-07-27 13:16] dependabot-preview[bot] opened #4118 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/41542153).

[2020-07-27 13:16] #4117 closed

[2020-07-28 13:17] #4118 closed

[2020-07-28 13:17] dependabot-preview[bot] opened #4121 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/41694142).

[2020-07-29 13:17] #4121 closed

[2020-07-29 13:17] dependabot-preview[bot] opened #4123 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/41839652).

[2020-07-30 13:17] #4123 closed

[2020-07-30 13:17] dependabot-preview[bot] opened #4126 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42017207).

[2020-07-30 15:39] dependabot-preview[bot] opened #4128 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42027212).

[2020-07-30 15:39] #4126 closed

[2020-07-30 15:39] dependabot-preview[bot] opened #4129 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42027213).

[2020-07-30 15:39] #4128 closed

[2020-07-31 13:16] dependabot-preview[bot] opened #4132 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42167125).

[2020-07-31 13:16] #4129 closed

[2020-07-31 21:06] BaileyMcKelway commented on #4048
Got my dev environment setup and was going to take a look into this if it is still open. 👍

[2020-08-03 17:25] BaileyMcKelway commented on #4048
#4133

[2020-08-03 17:28] BaileyMcKelway commented on #4048
#4133

[2020-08-03 17:32] BaileyMcKelway commented on #4025
Going to look into this

[2020-08-04 13:17] #4132 closed

[2020-08-04 13:17] dependabot-preview[bot] opened #4134 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42522420).

[2020-08-04 16:22] #4134 closed

[2020-08-04 16:22] dependabot-preview[bot] opened #4135 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42534365).

[2020-08-04 16:22] dependabot-preview[bot] opened #4136 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42534366).

[2020-08-04 16:22] #4135 closed

[2020-08-04 16:37] #4136 closed

[2020-08-04 16:37] dependabot-preview[bot] opened #4137 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42535110).

[2020-08-04 16:37] dependabot-preview[bot] opened #4138 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42535111).

[2020-08-04 16:37] #4137 closed

[2020-08-05 17:40] BaileyMcKelway commented on #4048
Squashed my commits and fixed the prettier issue on this pull request.
#4133

[2020-08-05 19:45] #4048 closed

[2020-08-06 13:18] dependabot-preview[bot] opened #4146 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42810667).

[2020-08-06 13:18] #4138 closed

[2020-08-07 13:17] dependabot-preview[bot] opened #4147 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/42948476).

[2020-08-07 13:17] #4146 closed

[2020-08-10 13:18] dependabot-preview[bot] opened #4148 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/43163163).

[2020-08-10 13:18] #4147 closed

[2020-08-10 16:49] dependabot-preview[bot] opened #4149 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/43183345).

[2020-08-10 16:49] #4148 closed

[2020-08-11 13:17] dependabot-preview[bot] opened #4150 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/43319000).

[2020-08-11 13:17] #4149 closed

[2020-08-11 17:30] Phylis05 opened #4152 "horizontal scroll-bar effect on page"
### What is happening?
The page has a horizontal scroll-bar which makes the user experience not pleasant

### To Reproduce

 1. Go to [Wikiedu landing page](https://wikiedu.org/teach-with-wikipedia/)
 3. Scroll down the page
 4. You will notice that the page moves horizontally

### Expected behavior
For effective user experience, one should be able to scroll down the page smoothly.

### Screenshot

[2020-08-11 18:03] ragesoss commented on #4152
Thanks!

This bug is part of the WordPress theme we use on wikiedu.org, so I'll transfer it to that repo.

In particular, it looks like this bug is caused by the width of the sub-menu for 'About Us': https://github.com/WikiEducationFoundation/WikiEduWebsite2015/blob/master/assets/styles/layouts/_header.scss#L52

[2020-08-11 18:57] #4150 closed

[2020-08-11 18:57] dependabot-preview[bot] opened #4153 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/43361642).

[2020-08-12 13:15] dependabot-preview[bot] opened #4156 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/43486776).

[2020-08-12 13:15] #4153 closed

[2020-08-12 17:54] ragesoss opened #4157 "The sandbox URL for an Assignment should be updateable"
### Current Behavior:
When a user gets an Assignment (ie, lists the article they will work on), the dashboard sets as sandbox url for that assignment. The normal behavior is that the sandbox is a userspace subpage that takes the name of the assigned topic. For example, if I (User:Ragesoss) get assigned the article "Selfie" on en.wikipedia.org, then the sandbox URL will be `https://en.wikipedia.org

[2020-08-13 13:15] #4156 closed

[2020-08-13 13:15] dependabot-preview[bot] opened #4159 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/43638772).

[2020-08-13 13:37] pavanjoshi914 commented on #3493
can you check and till me that still the interface shows same behaviour as I am not able to reproduce the behaviour(tried in different browsers) as described above,everything is working fine

[2020-08-17 13:16] #4159 closed

[2020-08-17 13:16] dependabot-preview[bot] opened #4162 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/43985518).

[2020-08-18 13:16] dependabot-preview[bot] opened #4163 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/44153383).

[2020-08-18 13:16] #4162 closed

[2020-08-19 13:17] #4163 closed

[2020-08-19 13:17] dependabot-preview[bot] opened #4164 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/44294103).

[2020-08-19 18:39] BaileyMcKelway commented on #4025
Did this issue get fixed? In the provided example there are three students each with their own color of highlighting. Unless I am mistaken that is the goal right?

[2020-08-19 18:50] ragesoss commented on #4025
The issue hasn't been fixed... the other two students must have just made
some edits since then.

On Wed, Aug 19, 2020, 11:39 AM Bailey McKelway <notifications@github.com>
wrote:

[2020-08-19 19:22] BaileyMcKelway commented on #4025
Ah gotcha. What would the best way to recreate the issue be?

[2020-08-19 19:30] ragesoss commented on #4025
Locally, add those same students, assign the article to them, and add
yourself as a group member as well. Then run an update to pull in their
revisions.

On Wed, Aug 19, 2020, 12:22 PM Bailey McKelway <notifications@github.com>
wrote:

[2020-08-20 13:17] dependabot-preview[bot] opened #4165 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/44445617).

[2020-08-20 13:17] #4164 closed

[2020-08-20 19:59] BaileyMcKelway commented on #4025
#4166

[2020-08-21 13:16] dependabot-preview[bot] opened #4167 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/44595638).

[2020-08-24 13:16] #4167 closed

[2020-08-24 13:16] dependabot-preview[bot] opened #4170 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/44779210).

[2020-08-24 17:42] ragesoss opened #4171 "ArticleViewer does not handle redirects well"
### What is happening?
If the article viewed in ArticleViewer is a redirect, authorship highlighting does not work. The error message says to try again, but this will not help.

### To Reproduce

Here's an example: https://dashboard.wikiedu.org/courses/Northeastern_University/ENGW_3306_(Spring_2020)/articles/edited?showArticle=52116875

### Expected behavior
A clear message should be shown to expl

[2020-08-26 13:17] dependabot-preview[bot] opened #4173 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/45089638).

[2020-08-26 13:17] #4170 closed

[2020-08-27 13:16] dependabot-preview[bot] opened #4175 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/45240255).

[2020-08-27 13:16] #4173 closed

[2020-08-28 13:17] #4175 closed

[2020-08-28 13:17] dependabot-preview[bot] opened #4176 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/45379171).

[2020-08-31 13:17] dependabot-preview[bot] opened #4178 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/45571947).

[2020-08-31 13:17] #4176 closed

[2020-08-31 18:58] dependabot-preview[bot] opened #4179 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/45596875).

[2020-08-31 18:58] #4178 closed

[2020-09-01 13:17] dependabot-preview[bot] opened #4181 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/45739899).

[2020-09-01 13:17] #4179 closed

[2020-09-03 13:18] dependabot-preview[bot] opened #4183 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/46048872).

[2020-09-03 13:18] #4181 closed

[2020-09-04 17:00] ragesoss opened #4186 "Account request flow should detect and work around IP blocks"
We have a feature that allows account requests to be enabled for an individual course. When enabled, this feature lets users put in their desired username, check if it's available, and then request an account be created (associated with an email address they provide). Dashboard admins or program organizers can then process these requests from the Dashboard, creating the requested accounts and auto

[2020-09-04 17:12] ragesoss opened #4187 "When visiting an enroll link, IP blocks that prevent account creation should be detected"
### Current Behavior:
If a user's IP address is blocked, then when they begin from a Dashboard enroll link and try to create a Wikipedia account, they will see a somewhat confusing error message on Wikipedia with no obvious instructions for working around it.

### Desired Behavior:
Visiting an enroll link while logged out on the Dashboard is most often done by users who do not yet have a Wikipedia

[2020-09-04 17:20] ragesoss opened #4188 "Test nginx as an alternative to apache2 as the Dashboard's production server"
### Current Behavior:

We currently use apache2 and Passenger to serve the Dashboard in production and staging (both for outreachdashboard.wmflabs.org and dashboard.wikiedu.org).

Occassionally, a production server ends up with a 'full queue' and stops working; this typically persists until apache (or the whole server) is restarted. Anecdotally, this may be caused by a sudden influx of users visit

[2020-09-04 17:46] samuel-rosa commented on #3161
This is a very much needed feature. I was looking for it for my class. Groups of students are required to improve a Wikipedia article and I would like to use the Dashboard for them to choose which article to work on.

Are there any improvements on this?

[2020-09-04 18:15] ragesoss commented on #3161
@samuel-rosa we're not working on it at the moment, but you can work around it in the meantime by having the first student in a group select one of the Available Articles, and then have others who will join the same group add the the same title as their assignment. The Dashboard has support for groups working together on the same article, it's just the 'Available Articles' feature that doesn't acc

[2020-09-04 18:30] samuel-rosa commented on #3161
@ragesoss I guess that I have to create an Article Scoped Program to use that feature, right?

[2020-09-04 19:43] ragesoss commented on #3161
@samuel-rosa no, this will work for any type of program.

[2020-09-07 13:18] dependabot-preview[bot] opened #4190 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/46492907).

[2020-09-07 13:18] #4183 closed

[2020-09-08 13:18] dependabot-preview[bot] opened #4191 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/46631169).

[2020-09-08 13:18] #4190 closed

[2020-09-09 19:34] #4191 closed

[2020-09-09 19:34] dependabot-preview[bot] opened #4193 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/46804676).

[2020-09-10 13:19] dependabot-preview[bot] opened #4195 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/46927889).

[2020-09-10 13:19] #4193 closed

[2020-09-10 16:26] #3377 closed

[2020-09-10 17:09] urbanecm opened #4196 "Identify pages primarily by an ID rather than page title"
### Current Behavior:

Right now, pages seems to be identified primarily by their title. That means that if a page is moved to a different name at any point, further recounting of statistics will fail. I think the Dashboard should request the page ID, and store that instead, to account for page moves.

### Desired Behavior:
When a page is moved, the dashboard automatically fetches the new name. Th

[2020-09-10 17:13] ragesoss commented on #4196
Can you provide a little more context, such as the example where this happened and what problems it caused?

The Dashboard does attempt to keep track of page moves, and to update stats accordingingly, so I need a specific example to see where things went wrong.

[2020-09-10 17:29] #3762 closed

[2020-09-11 13:19] dependabot-preview[bot] opened #4197 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/47083185).

[2020-09-11 13:19] #4195 closed

[2020-09-11 19:47] dependabot-preview[bot] opened #4198 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/47108379).

[2020-09-11 19:47] #4197 closed

[2020-09-14 18:41] BaileyMcKelway commented on #4024
Going to look into this.

[2020-09-14 18:44] BaileyMcKelway commented on #4024
For the navigation do you have any suggestions? Maybe if the user clicks an editor's name in the "Edits By:" the article viewer will jump to the highlighted text?

[2020-09-14 21:22] ragesoss commented on #4024
I think the UI of `find in page` features in browsers may be good place to draw from. Like, ideally from a UI perspective, you'd have `forward` and `backward` arrows along with the count of different highlighted sections. Unfortunately that may be tough to implement, since there are separate nodes for contiguous contributions (which only look like a single section of highlighting because the space

[2020-09-15 00:41] BaileyMcKelway commented on #4024
Wow neat! Ok cool. I'm gonna dig around and see if I can find any good examples and edge cases.

[2020-09-15 13:20] dependabot-preview[bot] opened #4205 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/47503970).

[2020-09-15 13:20] #4198 closed

[2020-09-16 13:21] dependabot-preview[bot] opened #4206 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/47654184).

[2020-09-16 13:21] #4205 closed

[2020-09-17 13:21] dependabot-preview[bot] opened #4207 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/47802313).

[2020-09-17 13:21] #4206 closed

[2020-09-18 13:22] #4207 closed

[2020-09-18 13:22] dependabot-preview[bot] opened #4209 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/47949350).

[2020-09-18 23:49] BaileyMcKelway commented on #4024
![Screen Shot 2020-09-18 at 7 45 18 PM](https://user-images.githubusercontent.com/25776618/93653585-84438300-f9e7-11ea-80fc-b987f6f7955e.png)

What about something like this?

- The user clicks the bottom right button
- This opens the "Find in page" tool
- There is a drop-down list of users in the tool
- Up and down arrows will scroll to the section the users' edits is in (sections will be determi

[2020-09-21 13:21] dependabot-preview[bot] opened #4211 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/48172853).

[2020-09-21 13:21] #4209 closed

[2020-09-21 17:51] ragesoss commented on #4024
I think this may not be discoverable enough; I think the place it makes the most sense to connect this feature to is the highlighted name. I was thinking something more like:

Edits by: _User1_ ▼, _User2_ ▼, User3

[2020-09-22 13:23] #4211 closed

[2020-09-22 13:23] dependabot-preview[bot] opened #4212 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/48331083).

[2020-09-23 18:01] ragesoss opened #4213 "Wikipedia URLs for nonexistent articles are not handled properly"
### What is happening?

The article assignment flow allows users to enter either an article title or a full article URL, and if it's a URL it will automatically be parsed to extract the title (and the wiki language/project). However, if a user pastes the URL they get from following a redlink on Wikipedia (for an article that hasn't been created yet), the Dashbaord doesn't detected and parse it as

[2020-09-24 13:23] dependabot-preview[bot] opened #4215 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/48608352).

[2020-09-24 13:23] #4212 closed

[2020-09-24 21:47] rahahahat commented on #4213
Hello, I would like to work on this issue.

[2020-09-24 21:53] BaileyMcKelway commented on #4024
It seems I will have to use an external library [https://www.npmjs.com/package/react-scroll](react-scroll) Is it ok to use external libraries?

I tried to create the scroll event without an external library by assigning refs to the highlighted text but it doesn't seem possible.

[2020-09-24 21:53] rahahahat commented on #4213
Is there a specific time period i'd have to resolve the issue in?

[2020-09-24 21:57] ragesoss commented on #4024
Yes, that seems reasonable, and the react-scroll library looks reasonably well-supported.

[2020-09-24 22:41] ragesoss commented on #4213
Nope, just please leave a note here if you're no longer working on it.

[2020-09-25 13:25] dependabot-preview[bot] opened #4216 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/48747253).

[2020-09-25 13:25] #4215 closed

[2020-09-25 15:40] rahahahat commented on #4213
Hi,
I am getting this big fat error while trying to setup the development environment, ive been searching on the internet for hours to solve this problem.Please, could share some insights.
`Fetching mysql2 0.5.3
Installing mysql2 0.5.3 with native extensions
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /home/rahat/.gem/gems/mysql2-0.5.3/ext/mysql2
/sna

[2020-09-25 15:49] ragesoss commented on #4213
It looks like you don't have the prerequisites to build the `mysql` gem on your system. In particular, you probably need to install `libmysqlclient-dev`.

[2020-09-25 20:25] rahahahat commented on #4213
thanks a lot for the help, the problem was with my installation of ruby. Ive started working on the issue.

[2020-09-26 19:23] rahahahat commented on #4213
Hello,
I've been working on the issue and as of now, the function `acticleFromTitleInput` correctly parses and passes all the tests for URL's of the format:
- `https://en.wikipedia.org/w/index.php?title=Redlink&action=edit&redlink=1`
- `https://en.m.wikipedia.org/w/index.php?title=Redlink&action=edit&redlink=1`
- `https://incubator.wikimedia.org/w/index.php?title=Redlink&action=edit&redlink=1`
- `

[2020-09-28 16:33] ragesoss commented on #4213
If it is matching all those examples properly, and handling `title` when passed as a parameter and properly excluding all the rest of the parameters, then it should be good to go.

Here are a few variations:
* The edit link for an older revision: https://en.wikipedia.org/w/index.php?title=72nd_Primetime_Emmy_Awards&oldid=980777920&action=edit
* Section edit link: https://en.wikipedia.org/w/index.p

[2020-09-28 16:53] ragesoss opened #4217 "Editors CSV should include number of articles edited, and number of articles created, for each user"
### Current Behavior:

The CSV of editor data for a course, which can be downloaded via the 'Download stats' modal, includes the following columns: `username	enrollment_timestamp	registered_at	revisions_during_project	mainspace_bytes_added	userpace_bytes_added	draft_space_bytes_added	references_added	registered_during_project`

### Desired Behavior:
Users have requested data on how many articles e

[2020-09-28 19:45] rahahahat commented on #4213
Hello, thanks a lot for providing the above URL's. I have tested all the variations and all of the tests have been passed. With the expection of `wikisource` URL's , the `articleFromTitleInput` function handles `wikipedia` and `wikimedia` redlinks.

[2020-09-28 19:59] ragesoss commented on #4213
Great. I think that should be fine. I don't think anyone is likely to use this for a redlink URL from wikisource.

[2020-09-29 00:13] BaileyMcKelway commented on #4024
I have the basic functionality working. I have a couple of questions about the finer details about the scrolling event.

- Referencing the picture above if the user scrolls to 'Section 2 User 1' and then clicks the scroll button for User 2 should the page scroll back up to Section 1 or continue to 'Section 2 User 2'?

- If the user clicks the scroll button until they are on the last edit should cl

[2020-09-29 00:22] ragesoss commented on #4024
Good questions...

I think what makes the most sense is to preserve the mental model of being a specific place on the page, which is what the `find on page` features do. So in rthe first scenario, it should continue to Section 2 User 2.

Scrolling back to the top once you've reached the last instance is also how `find on page` behaves, so I think that will be intuitive here.

[2020-09-29 13:23] #4216 closed

[2020-09-29 13:23] dependabot-preview[bot] opened #4221 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/49144169).

[2020-09-29 16:16] rahahahat commented on #4213
Hello, i have submitted the pull request highlighting the changes made,
Thanks a lot for helping me throughout the process.

[2020-09-29 16:19] rahahahat commented on #4023
Has this issue been resolved, because i can see jane4dc in the Students tab details view.

[2020-09-29 16:33] ragesoss commented on #4023
In this example, I'm not sure. jane4dc was added as a group member, so we can't tell from that link whether this is still a bug. @BaileyMcKelway has been working on improvements to ArticleViewer, but I'm not sure whether they changed this behavior.

You should be able to set up the same situation locally by adding those same users to an example course (with the start/end dates from that course), d

[2020-09-29 16:40] rahahahat commented on #4023
Alright thanks, i'll try to reproduce the bug. However, would i need to set-up OAuth for this functionality?

[2020-09-29 17:01] ragesoss commented on #4023
No, the default OAuth credentials allow you to sign into the dev instance using any Wikipedia account, which is all you'll need.

Setting up your own OAuth credentials is only required to test OAuth edit actions.

[2020-09-29 21:53] #4213 closed

[2020-09-30 13:23] #4221 closed

[2020-09-30 13:23] dependabot-preview[bot] opened #4222 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/49288030).

[2020-10-01 13:23] #4222 closed

[2020-10-01 13:23] dependabot-preview[bot] opened #4223 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/49435305).

[2020-10-02 01:12] rahahahat commented on #4023
Hello @ragesoss,
I have somewhat replicated the course structure, added 4 students (editors) : `Jane4dc` `Amm567` `Ashiannaj` `Hadleyggeorgetown` and pulled their edits. Afterwards, I added the `Postpartum depression` article and assigned it to all except `Jane4dc`.
 This is the behaviour I got from the article viewer:
1) Upon reviewing the Article via the Articles tab with a URL like:
   `http://

[2020-10-02 22:45] yunjuc commented on #4024
Hello @ragesoss and @BaileyMcKelway 👋

Didn't mean to backtrack on the implementation, but is it possible when the authorship data is loaded, the page jumps to the first highlighted section? Once users discover the use of the highlighted texts, it should be easy for them to use the scrollbar to find others. Just my two cents.

[2020-10-03 00:33] BaileyMcKelway commented on #4024
Heyo @yunjuc ! Just finished up a prototype of the scrolling feature.

Here is the PR.
#4224

Everyone give it a test and let me know what you think

[2020-10-04 21:45] yunjuc commented on #4024
I tested it and it worked. Two things I noticed:

- The edits in the reference section are not included in the scroll.
- The scroll only works the first time the viewer is launched. After the second time, you need to refresh the page to make it works again.

[2020-10-05 13:23] dependabot-preview[bot] opened #4226 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/49811875).

[2020-10-05 13:23] #4223 closed

[2020-10-05 19:59] BaileyMcKelway commented on #4024
Solid! Thank you. Both those things can be fixed.

Do you mind sharing the article and class you were using for testing?

[2020-10-06 00:50] yunjuc commented on #4024
I tested with the same article - https://dashboard.wikiedu.org/courses/Georgetown_University/Culture_Medicine_and_Gender_(Spring_2020)/students/articles/Ddanaie2021?showArticle=51302794

I created a demo course, added the three students from that article to the demo course, manually pulled the data, and the article can be viewed under My dashboard > demo course > articles.

[2020-10-06 13:23] #4226 closed

[2020-10-06 13:23] dependabot-preview[bot] opened #4229 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/49971117).

[2020-10-07 01:38] BaileyMcKelway commented on #4024
I have a solution for this. However, it might be unnecessary. Do we want to include references in the scroll? How important are they?

![Screen Shot 2020-10-06 at 9 35 39 PM](https://user-images.githubusercontent.com/25776618/95277595-2b178400-081c-11eb-8486-4743d4eb2c48.png)

This one is fixed!

[2020-10-07 02:08] ragesoss commented on #4024
The references are fairly important. Sometimes, they are the only thing an editor added.

[2020-10-07 17:36] dependabot-preview[bot] opened #4230 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/50131915).

[2020-10-07 17:36] #4229 closed

[2020-10-08 01:56] rahahahat commented on #4023
@ragesoss can i work on this issue?

[2020-10-08 02:10] ragesoss commented on #4023
Yes, go for it. Please leave a comment if you're no longer actively working
on it.

On Wed, Oct 7, 2020, 6:56 PM rahahahat <notifications@github.com> wrote:

[2020-10-08 03:44] BaileyMcKelway commented on #4024
Both issues are fixed now!

![Screen Shot 2020-10-07 at 11 41 23 PM](https://user-images.githubusercontent.com/25776618/95412282-a3eb0e80-08f6-11eb-8869-9d5ed6b4fc06.png)

I'm going to look into adding an on hover for the button to better improve the UX. It helps show the user name and arrow have separate functionality.

[2020-10-08 13:24] dependabot-preview[bot] opened #4232 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/50254160).

[2020-10-08 13:24] #4230 closed

[2020-10-08 15:54] ragesoss commented on #4023
And yes, that's what the bug is supposed to look like. Sorry, this slipped through I forgot to respond before.

As for where to start... look for the places in the codebase where `ArticleViewer` is used, and the data flow for how the list of users that populate the legend differs between them. ie, the list of group members gets passed to the component when it's in the SelectedStudent view as in th

[2020-10-08 19:10] rahahahat commented on #4023
Thanks a lot for the information, I'll get started on it then.

[2020-10-09 12:40] rajat2502 opened #4234 "FAQ loads without default questions"
### What is happening?

### To Reproduce

### Expected behavior

### Screenshots

https://dashboard.wikiedu.org/

### System Information

 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

[2020-10-09 12:46] rajat2502 opened #4235 "Download personal data doesn't download the data"
### Current Behavior:

### Desired Behavior:

### Screenshots:

https://share.getcloudapp.com/NQu1g7w8

[2020-10-09 12:48] rajat2502 commented on #3856
Hey @ragesoss, should I work on this issue or it's not required right now?

[2020-10-09 13:24] dependabot-preview[bot] opened #4236 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/50394781).

[2020-10-09 13:24] #4232 closed

[2020-10-09 18:31] ragesoss commented on #3856
I've never used gitpod, but I'm open to a PR that adds support for it.

[2020-10-10 00:29] BaileyMcKelway commented on #4024
Just pushed to PR. Test are passing

[2020-10-10 00:48] BaileyMcKelway commented on #4022
Looking into this!

[2020-10-10 18:01] dldisha opened #4239 "Standard installation documentation update"
The documentation provided to set up the local development server is not very much clear and has some typos which can be the potential breakpoints for a developer setting up his/her environment.

By resolving this issue, I aim to make the standard installation instructions clear in the best possible way so that the local development server setup doesn't consume much of a developer's time in resolv

[2020-10-10 21:49] dldisha commented on #4234
I'll work on this issue.

[2020-10-11 02:54] rahahahat commented on #4023
Hello @ragesoss, I have been working on the bug, and found the source of the Bug. When the `ArticleViewer.jsx` component is rendered from the `Students` tab, The users that are passed on to it are 'extracted' from the assignments of a particular course. The data flow is as:
`Course.jsx` -> `StudentsTabHandler.jsx` -> `Articles.jsx` -> `SelectedStudent.jsx` -> `AssignmentList.jsx` -> `Assignment.js

[2020-10-11 23:37] yunjuc commented on #4024
The fixes work great :) I especially like the mouse-over touch, I did click on the wrong target many times earlier.

[2020-10-12 13:24] #4236 closed

[2020-10-12 13:24] dependabot-preview[bot] opened #4240 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/50628081).

[2020-10-12 15:35] RuthNjeri commented on #4217
@ragesoss I would like to pick this issue, please assign it to me?

[2020-10-12 15:49] ragesoss commented on #4217
Go for it. We don't generally assign issues; just leave another message here if you're no longer working on it.

[2020-10-12 15:54] RuthNjeri commented on #4217
Oh alright @ragesoss

Based on the CoursesUsers model, it seems that the columns to use are:
1. total_uploads for `how many articles each editor has created`
2. revision_count for `how many articles each editor has edited`
Is this correct?

Also, when I access the 'Download stats' model, I get another pop up,
![Screenshot 2020-10-12 at 18 52 26](https://user-images.githubusercontent.com/7622875/95

[2020-10-12 16:19] RuthNjeri commented on #4217
I have downloaded each CSV above and can't find one with these headers `username enrollment_timestamp registered_at revisions_during_project mainspace_bytes_added userpace_bytes_added draft_space_bytes_added references_added registered_during_project` I am testing it locally using the dummy data generated..

[2020-10-12 16:21] ragesoss commented on #4217
No, neither of the metrics for this issue correspond directly to columns in the CoursesUsers model.

total_uploads is the number of files uploaded to Wikimedia Commons (tracked by CommonsUpload records).

revision_count is the number of edits the Dashboard has recorded for the user during the course (tracked by Revision records). The number of unique articles (unique pages in namespace 0) edited i

[2020-10-12 16:55] ragesoss commented on #4023
@rahahahat Cool! That sounds like it might be an appropriate solution. Please open a pull request so I can understand precisely what your solution is.

[2020-10-12 18:26] RuthNjeri commented on #4217
So far, what I know is that I should use the courses_users in determining what articles the course_user has edited and created.

I've seen the articles_courses joins table contains a row of user_ids as a list, I am not sure what that list of users_ids means in relation to edits or creation...

Also, the articles are not linked to a user_id so I'm not sure how to link which user created an article.

[2020-10-12 19:01] faithngetich commented on #1169
@ragesoss has this issue been addressed yet?

[2020-10-12 19:02] faithngetich commented on #1996
@ragesoss has this issue been addressed yet? If not, I'd like to work on it.

[2020-10-12 19:17] ragesoss opened #4241 "AssignmentManager#create_random_peer_reviews doesn't distribute reviews evently"
The 'assign random peer reviews' feature does not account for which assigned articles have no reviewers and which already do have reviewers.

The current algorithm goes through the list of students, and randomly assigns reviews for each student from among all the articles assigned to classmates. This results in an unevent distribution. For example, in a class where each student has one assigned ar

[2020-10-12 19:19] ragesoss commented on #1996
I think this is still an issue. Go for it. I suggest replicating the issue first to confirm that it really is still an issue.

[2020-10-12 19:19] ragesoss commented on #1169
No, I don't think it's been addressed.

[2020-10-12 20:18] rahahahat commented on #4023
Hello @ragesoss,
My current solution causes a small bug for users that don't have any assigned articles, in this case `Jane4dc`. I'm just about done figuring out why that is happening, and will open the pull request as soon as I'm done. Thanks for all the help.

[2020-10-12 21:52] #4241 closed

[2020-10-13 00:23] rahahahat commented on #4023
@ragesoss, I have submitted the pull request, please review it. Also are there testing files for the `articleViewer.js` which i can explore and test my current changes?

[2020-10-13 07:30] RuthNjeri commented on #4217
Is it perhaps tied to the revisions model? I see a new_article column and the revision model is linked to a user?

[2020-10-13 13:24] #4240 closed

[2020-10-13 13:24] dependabot-preview[bot] opened #4244 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/50778391).

[2020-10-13 23:20] ragesoss commented on #4217
A user created an article during a course if a revision within the scope of the course is the first revision in the history of the article. This is represented in the database by the `new_article` attribute of a Revision record.

An ArticlesCourses record represents an article that was edited during a course, and the `user_ids` field is an array of all the users (aka editors) in that course who ed

[2020-10-14 03:18] BaileyMcKelway commented on #4024
Just pushed the final commit for the Scrolling feature. However, my branch is missing part of my previous commit where I added a hover message to a user's name if there wasn't highlighting. Specifically the I18n.t message and some CSS.

For the I18n.t() messages, what is the process for creating one in every language?

[2020-10-14 03:28] rahahahat commented on #4023
@ragesoss, Hi  have been working on the bug, i have somewhat managed to fix it. First of all since I am directly editing the `articleViewer.jsx` file. This means that all these changes must be compatible at every place where the container is invoked. Altough the bug has been fixed, the current implementation causes some warnings at other places in the code, which can be rectified. But while i was

[2020-10-14 10:05] RuthNjeri commented on #4217
Thanks @ragesoss  this makes it very clear. I'll begin working on the task and get more feedback on the PR I'll create...
I was wondering if there is a documention detailing the process/what each model represents? I don't want to bombard you with so many questions... :)

[2020-10-14 13:24] dependabot-preview[bot] opened #4246 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/50920587).

[2020-10-14 13:24] #4244 closed

[2020-10-14 17:15] ragesoss commented on #4217
The model classes should have some inline documentation, but not a lot of detail. Feel free to open an issue for listing things that you find need more/better documentation (such as maybe a doc that lists the main models and what they represent).

[2020-10-15 13:31] dependabot-preview[bot] opened #4249 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/51072190).

[2020-10-15 13:32] #4246 closed

[2020-10-15 18:52] #4024 closed

[2020-10-15 18:54] dependabot-preview[bot] opened #4250 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/51095242).

[2020-10-15 18:54] #4249 closed

[2020-10-16 13:25] dependabot-preview[bot] opened #4252 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/51219977).

[2020-10-16 13:25] #4250 closed

[2020-10-16 13:27] dependabot-preview[bot] opened #4253 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/51220451).

[2020-10-16 13:27] #4252 closed

[2020-10-21 13:25] dependabot-preview[bot] opened #4256 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/51767143).

[2020-10-21 13:25] #4253 closed

[2020-10-22 13:26] #4256 closed

[2020-10-22 13:26] dependabot-preview[bot] opened #4260 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/51915949).

[2020-10-23 13:26] dependabot-preview[bot] opened #4263 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/52059088).

[2020-10-23 13:26] #4260 closed

[2020-10-27 22:14] #4263 closed

[2020-10-27 22:14] dependabot-preview[bot] opened #4269 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/52484023).

[2020-10-28 13:26] dependabot-preview[bot] opened #4270 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/52590437).

[2020-10-28 13:26] #4269 closed

[2020-10-28 21:39] #4023 closed

[2020-10-29 00:44] rahahahat commented on #4022
I would like to work on this bug.

[2020-10-29 13:27] dependabot-preview[bot] opened #4272 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/52738061).

[2020-10-29 13:27] #4270 closed

[2020-10-30 13:26] dependabot-preview[bot] opened #4274 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/52875037).

[2020-10-30 13:26] #4272 closed

[2020-11-02 13:27] #4274 closed

[2020-11-02 13:27] dependabot-preview[bot] opened #4275 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/53146031).

[2020-11-03 12:09] Bam92 commented on #4022
Hi @rahahahat!

Are you already working on this issue? If not, let me know.

[2020-11-03 12:20] Bam92 commented on #4188
I wish I worked on this.

[2020-11-03 13:02] rahahahat commented on #4022
@Bam92 working on it.

[2020-11-03 13:03] rahahahat commented on #4022
@Bam92 progress has been a bit slower bit definitely working on it

[2020-11-03 17:56] ragesoss opened #4276 "Improve handling of sandbox URLs when a username changes"
### Current Behavior:
When a username changes and that user has Assignments, the sandbox_url values will remain pointed to the userspace of the old username. This can affect both the user whose name changed, as well as classmates who are assigned to the same group or are peer reviewing that user's articles.

### Desired Behavior:
Upon username change:

* Identify which sandboxes corresponding to t

[2020-11-04 02:04] rahahahat commented on #4022
@ragesoss should the fix take into consideration all available articles as well all those articles that have been assigned to students, or only those that have been assigned to other classmates but have been edited by some who aren't assigned to them.

[2020-11-04 13:25] dependabot-preview[bot] opened #4277 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/53496941).

[2020-11-04 13:25] #4275 closed

[2020-11-04 16:04] ragesoss commented on #4022
Basically, every article edited by a student that shows up in the Articles tab should also be shown in the Students view when looking at that student. So if it's not one of that student's assigned articles, it should show up in the 'other articles edited' section. That includes both classmates' assignments and available articles.

[2020-11-04 19:36] rahahahat commented on #4022
thanks for the input, i'll get to work

[2020-11-06 13:26] #4277 closed

[2020-11-06 13:26] dependabot-preview[bot] opened #4279 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/53828126).

[2020-11-09 13:26] #4279 closed

[2020-11-09 13:26] dependabot-preview[bot] opened #4281 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/54079150).

[2020-11-09 20:16] ragesoss opened #4283 "Add stats for edits in the Lexeme namespace on Wikidata"
### Current Behavior:
Lexeme edits are imported, but they do not contribute to either the top-level stats for Wikidata courses, or show up in the CSV stat downloads specific to Wikidata.

### Desired Behavior:

1. A summary of Lexeme contributions should be in the wikidata CSV data.
2. Lexemes should be shown alongside Items as a top-level stat (including lexemes created, lexemes edited) in Wikida

[2020-11-10 01:27] rahahahat commented on #4022
@ragesoss Apologies for the late update, i've been working on the bug wanted to know whether an assigned article should come up under other edited articles as well?

[2020-11-10 01:36] ragesoss commented on #4022
No, it should not if it's assigned to that user. If it's only assigned to
someone else, it should show up.

On Mon, Nov 9, 2020, 5:27 PM rahahahat <notifications@github.com> wrote:

[2020-11-10 04:28] rahahahat commented on #4022
@ragesoss I have opened a pull request. Please, review it.

[2020-11-10 13:26] dependabot-preview[bot] opened #4285 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/54256292).

[2020-11-10 13:26] #4281 closed

[2020-11-11 13:26] dependabot-preview[bot] opened #4286 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/54452877).

[2020-11-11 13:26] #4285 closed

[2020-11-11 21:01] BaileyMcKelway commented on #4276
Is anyone working on this? I don't have much experience with Rails but figured this would be a good way to get into it.

[2020-11-11 21:34] ragesoss commented on #4276
Nope, no one is working on it. And yes, I think this is a great issue to serve as an intro to Rails.

[2020-11-11 22:02] BaileyMcKelway commented on #4276
Ok great! Going to start on this.

[2020-11-12 13:25] #4286 closed

[2020-11-12 13:25] dependabot-preview[bot] opened #4287 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/54635495).

[2020-11-12 18:54] rahahahat commented on #4022
@ragesoss any reviews on the pull request?

[2020-11-12 19:01] ragesoss commented on #4022
It's on my todo list; I hope to have a look either tomorrow or early next week.

[2020-11-12 19:58] rahahahat commented on #4022
@ragesoss thanks alot, in the meanwhile can I please take up another issue?

[2020-11-12 20:07] ragesoss commented on #4022
Yeah, go for it!

[2020-11-12 23:31] rahahahat commented on #4157
@rageross, I would like to work on this issue. However, i do have a few questions as i'm fairly new to rails.
1) For updating the sandbox url, do you specifically mean like an input, which allows the user to edit the `User:"new-url"` part of the url, for allotment of a separate sandbox?
2) Also, is this issue in the same context as #4276, If so should I look at the same files for a starting point.

[2020-11-12 23:39] ragesoss commented on #4157
1. Yes, something like that.
2. Yes, this is a closely related issue, although I don't thin they directly overlap. On the Rails side of things, the relevant places to look are the `Assignment` model `AssignmentsController`, and perhaps (for example code that interacts with Assignment records and the sandbox_url field) `AssignmentManager`.

[2020-11-12 23:43] rahahahat commented on #4157
@ragesoss Thanks, i'll get working.

[2020-11-13 13:26] dependabot-preview[bot] opened #4288 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/54804105).

[2020-11-13 13:26] #4287 closed

[2020-11-13 23:00] #4288 closed

[2020-11-17 13:22] dependabot-preview[bot] opened #4291 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/55249343).

[2020-11-17 21:15] #4022 closed

[2020-11-18 13:21] dependabot-preview[bot] opened #4292 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/55426225).

[2020-11-18 13:21] #4291 closed

[2020-11-20 13:12] #4292 closed

[2020-11-23 13:14] dependabot-preview[bot] opened #4294 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/56079394).

[2020-11-27 10:33] RinkiyaKeDad commented on #4276
Hey @BaileyMcKelway, are you still working on this? If yes would you like some help? I'm new to Rails too and would love to contribute :D

[2020-11-27 14:13] BaileyMcKelway commented on #4276
Heyo 👋

I believe I have found a solution, I'm just being slow since it's the holidays.

One thing I have found is that it is a bit tricky to test my solution since that involves changing usernames via MediaWiki; which is not instantaneous.

I could really use some help testing my solution. Next week I'll create a PR and we can test it.

[2020-11-27 15:50] ragesoss commented on #4276
Cool. It's tricky to do (in particular) browser tests that involve the OAuth login features — although I think it can be done. It's relatively easy to simulate a username change for manual testing, though: just update your user record from the Rails console to change the username. Whatever you change it to will act as the "old" username, and when you next log in to the dashboard, it will go throug

[2020-11-28 09:07] RinkiyaKeDad commented on #4217
Hey @ragesoss! I see from #4248 that no one is working on this issue. If that's the case I'd like to work on it. I'm new to Rails and Wiki Education Dashboard development 😅 so is there some discord / slack channel I could join for some help? Or do discussions take place on Github itself?

[2020-12-02 18:14] BaileyMcKelway commented on #4276
Does this look right?

This is the function in user_importer. I added lines 88-96
![Screen Shot 2020-12-02 at 1 11 47 PM](https://user-images.githubusercontent.com/25776618/100913562-f16f9c00-349f-11eb-9cf7-54c6dfdc63ab.png)

Also from the description:

I couldn't any models handling peer reviews.

[2020-12-02 18:40] ragesoss commented on #4276
On a quick glance, that looks like you're on the right track.

Peer reviews are also represented by the Assignment model; the `role` attributed determines whether it's an article the user is assigned to write (role 0) or to peer review for a classmate (role 1).

The key thing here is to find all the assignments for the whole class have the old username within the sandbox_url. The corresponding log

[2020-12-03 23:59] BaileyMcKelway commented on #4276
![Screen Shot 2020-12-03 at 6 58 33 PM](https://user-images.githubusercontent.com/25776618/101104637-90c48a00-3599-11eb-8f04-12f7803feb86.png)

This seems to be working

[2020-12-04 00:01] BaileyMcKelway commented on #4276
I was trying to find a way to do it with [Active Record Callbacks](https://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html) in the Model but couldn't find a simple solution.

[2020-12-04 17:29] ragesoss commented on #4276
Hmm... I would usually want to avoid anything this extensive in a callback, although I see the appeal of it.

What was your approach to a callback here? I would think the appropriate callback would be in the `User` model, where if you save a record with a changed username, it triggers this stuff to happen. The benefit is that it's a more thorough guarantee that this update will happen whenever a u

[2020-12-10 13:18] dependabot-preview[bot] opened #4304 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/58662887).

[2020-12-10 13:18] #4294 closed

[2020-12-29 20:41] ragesoss opened #4311 "Courses occasionally end up with a doubled timeline"
### What is happening?
Occasionally, we see submitted courses that have all the standard assignment timeline content duplicated. The blocks are spread out normally first, and then all the same blocks are repeated at the end (usually all in the same Week).

### To Reproduce

I'm not certain how to reproduce this. It may happen because of multiple clicks to submit the wizard, or for some other reaso

[2020-12-30 18:20] Anand-Royy commented on #1318
hey @ragesoss can I work on this issue?

[2020-12-30 18:24] ragesoss commented on #1318
@Anand-Royy sure!

[2020-12-30 20:28] ragesoss opened #4313 "Article Viewer should have a Print feature"
The Article Viewer's authorship highlighting is useful for evaluating and sharing the changes made to a Wikipedia article, and some instructors want to be able to print this or save it as a PDF (so that, for example, they can annotate it by hand, or simply save a record of it).

Using built-in browser print features doesn't provide a usable print version, because of the modal layout of the Article

[2020-12-31 13:38] Anand-Royy commented on #1318
@ragesoss I am not able to setup it. I am a newbie to this thing. Can you please guide me. I tried to set it up on Ubuntu.

[2020-12-31 16:40] ragesoss commented on #1318
Please describe where you got stuck with setup by commenting on this issue: https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/1351

Also, if you'd like to join the project Slack chat, send me your email address and I can invite you.

[2020-12-31 18:38] ragesoss opened #4314 "There should be a way to see the problems for an individual course: Alerts, possible plagiarism, and deleted articles"
### Current Behavior:
We generate a lot of different information about problems that come up during a course, including `Alert` records, automatically detected edits that might be plagiarism, and deleted revisions and articles. There's no UI to see this stuff, however.

### Desired Behavior:
This probably makes sense as a new tab of the Course component, maybe as a subtab of Activity, and could be

[2021-01-02 18:59] Anand-Royy commented on #1318
@ragesoss yes please
itsanand.roy11@gmail.com

[2021-01-04 21:31] dependabot-preview[bot] opened #4316 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/61984792).

[2021-01-04 21:31] #4304 closed

[2021-01-05 13:22] dependabot-preview[bot] opened #4317 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/62123235).

[2021-01-05 13:22] #4316 closed

[2021-01-05 23:50] #4217 closed

[2021-01-06 21:20] Gchahm commented on #4314
Ok I've done my initial check for the first part and here's what I think needs to be done for it.
### Rails
1. add method alert in courses_controller (similar to the existing campains_controller method)
2. create the routes
3. add view / json builder for the method here the json builder will be different from what already exists in campains because it needs to return course.alerts for admins and c

[2021-01-06 21:26] ragesoss commented on #4314
Yep, that sounds like the right shape of things!

[2021-01-07 16:48] Anand-Royy commented on #1351
@ragesoss I am late because I was a bit busy
![image](https://user-images.githubusercontent.com/73389636/103919401-fd511c80-5135-11eb-847b-4921467a55f7.png)
Using debian
Got an error while executing "bundle exec rake db:migrate"

[2021-01-07 19:15] Gchahm commented on #4314
Hey Ros,

I can see potential for some refactor on the [alert_actions](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/app/assets/javascripts/actions/alert_actions.js)

Basically for this work I'll need to add 2 new functions in this file **fetchCourseAlertsPromise** and **fetchCourseAlerts**

They will be pretty similar to **fetchCampaignAlertsPromise** and **fetchCampaign

[2021-01-07 19:21] ragesoss commented on #4314
Doing the refactor in the same PR is fine, and looks like a good idea to me.

[2021-01-07 20:39] Gchahm commented on #4314
Ok, that's done now.

Moving to item 2
- should I use course.revision, course.all_revisions or course.tracked_revisions ?
- Is there already a component that does this or is it a new component alltogether?

[2021-01-07 22:50] ragesoss commented on #4314
I suggest getting the whole thing working with Alerts before moving on to the plagiarism revisions (but when you get there, `course.revisions` is probably the best option).

The existing component for displaying alerts is `AlertsHandler`, which you can see used in the `CampaignAlerts` and `AdminAlerts` components.

[2021-01-07 23:18] ragesoss opened #4319 "yarn build script doesn't work on Windows"
Among other possible problems, `prepare.js` calls `rm` to remove any existing assets before building new ones, but the `rm` command is not available on Windows.

[2021-01-07 23:26] Gchahm commented on #4314
I have the first part completed already, I'll get send a pull request so you can review that part.

[2021-01-08 02:58] YusufAbdelaziz commented on #4319
I guess removing is working in windows.
![image](https://user-images.githubusercontent.com/43118820/103969147-f7772d80-516d-11eb-8375-255d86fc053b.png)
But unfortunately, I couldn't understand the reason why "robocopy" is not working.
![image](https://user-images.githubusercontent.com/43118820/103969160-fe05a500-516d-11eb-8b58-9d4f5b003aec.png)

[2021-01-11 13:22] dependabot-preview[bot] opened #4321 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/62845044).

[2021-01-11 13:22] #4317 closed

[2021-01-11 17:57] ragesoss opened #4322 "Update documentation for setting up a dev environment in Windows"
The setup script hasn't been working lately for Windows users, and it's always a moving target with gem and Ruby version support if a standalone Ruby environment is used on Windows.

However, it's now possible to set up a full working development environment using WSL. Documentation should be updated to reflect the WSL setup process (which is basically the Linux setup process), and most of the exi

[2021-01-11 19:09] dependabot-preview[bot] opened #4323 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/62886626).

[2021-01-11 19:09] #4321 closed

[2021-01-11 20:19] #2520 closed

[2021-01-11 20:20] ragesoss commented on #2996
Closing this, since the phone app isn't under activity development.

[2021-01-11 20:20] #2996 closed

[2021-01-13 13:24] dependabot-preview[bot] opened #4324 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/63207622).

[2021-01-13 13:24] #4323 closed

[2021-01-15 17:29] Gchahm commented on #4314
I'll start the second part today.

Backend
1. Create a new method in Course class ithenticated_revisions that returns possible plagiarism
2. Create a new method in CoursesController that returns ithenticated_revisions
3. Create route
4. Create json builder (in here add logic to now return the report if the user is not a manager)

Frontend
1. Add new tab in activity
The new table can be similar to

[2021-01-15 17:38] ragesoss commented on #4314
That seems largely correct. The `Course` method is probably simplest to implement as a scope that builds on `#revisions`. It should be named something like `possible_plagiarism_revisions`; ithenticate is specific to the 3rd party system we're using to identify possible plagiarism, but it's not a concept that is central to the idea of selecting a set of revisions that might be plagiarism.

On the f

[2021-01-17 21:50] UmerMIB commented on #1709
Hi there,
I have run `python3 setup.py` on `ubuntu 20.04` still facing the error

`Please install ruby-2.7.1 before running this script.
Sorry! Your operating is not supported by this script. Please refer https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/ docs/setup.md for manual setup instructions.`
I have installed ruby 2.7.1 python and everything that this project needs bu

[2021-01-17 22:42] UmerMIB opened #4328 "setup.py is not working on ubuntu 20.04 with python 3.8.5 and ruby 2.7.1p83"
### What is happening?
 I am setting up a development environment on `ubuntu 20.04` with `ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]` and `Python 3.8.5`, run  `python3 setup.py` and got this error

`Please install ruby-2.7.1 before running this script.
Sorry! Your operating is not supported by this script. Please refer https://github.com/WikiEducationFoundation/WikiEduDashboard/

[2021-01-18 08:49] Gchahm commented on #4314
That makes sense.

I've reviewed the front end and there's already a redux store for "suspected plagiarism" which I'll use for this. Might be a good idea to stick to the same naming. I'll also refactor RevisionAnalyticsService.suspected_plagiarism to use the new scope.

[2021-01-20 20:37] ragesoss opened #4331 "When cloning a course, instructor should have the option to copy Available Articles list"
### Current Behavior:
Cloning a course creates a copy of an old course's timeline, but with no Available Articles.

### Desired Behavior:
Some instructors want to re-use the set of available articles from a previous course. When they clone a course, they should have an option to copy over the available articles as part of the cloning process.

### Related Files & Code:

* Backend: `course_clone_co

[2021-01-21 08:46] Nikerabbit opened #4332 "Trailing whitespace in i18n messages"
### What is happening?
I18n messages cannot have trailing whitespace in translatewiki.net.

### To Reproduce

List of messages:
[code]

### Expected behavior
If trailing whitespace is not significant, it should be removed from the message to not cause issues at translatewiki.net
If trailing whitespace is significant, a workaround must be used (such as encoding the space, or using a marker that wil

[2021-01-29 17:19] Gchahm commented on #4314
Deleted revisions and articles
Should we have this into a single tab and show a table that has a column to identify if the item deleted is a revision or an article or should it be 2 separate views?

[2021-01-29 17:32] ragesoss commented on #4314
Hmm... good question. I think it makes sense to only have a single view for this, but I'm not sure how best to combine that information. In most cases, if there is a deleted article, there will also be deleted revisions to that article... but the table shouldn't show both of those things separately.

I think think a structure like this could work:

Article | Users | Deleted revisions
Existing Arti

[2021-02-03 19:36] ragesoss opened #4337 "Admins and instructors should be able to mark 'possible plagiarism' revisions as verified or false positives"
### Current Behavior:
Revisions that may contain plagiarism are marked with an `ithenticate_id`, the dashboard sends emails to the instructor and Wiki Education staff for the associated course, and users can see lists of revisions that were flagged as possible plagiarism. However, once someone has checked out a revision to see whether it's actually plagiarism or is just a false positive, there's n

[2021-02-03 19:39] ragesoss opened #4338 "Dashboard should sync plagiarism data to Salesforce"
The number of cases of verified plagiarism for each course is an important metric, which should be available in Salesforce.

This depends on the completion of #4337 to provide data about verified plagiarism.

[2021-02-05 14:25] chinmaym07 opened #4339 "UI : Faq section"
### What is happening?
The FAQ section UI doesn't look good on mobile view if we seen from user's perspective & it can badly affect user experience.

### Expected behavior
It should have a clear responsive UI  like shown below.

![Screenshot_2021-02-05 Wiki Education Dashboard](https://user-images.githubusercontent.com/44670961/107045737-deed4800-67eb-11eb-9ab0-a3a71dbc74e3.png)

### Screenshots
C

[2021-02-06 00:15] ragesoss opened #4340 "Error logging during course data updates should be extended"
### Current Behavior:
We have error logging that keeps track of the number of errors as well as Sentry IDs for problems that happen during part of the course data update process (which gets handled by passing the `update_service` object down to the API calls where data gets fetched, and then using the `ApiErrorHandling` module to log any errors.

This strategy hasn't been implemented for all of th

[2021-02-06 02:19] UmerMIB commented on #2499
Hi there, I am an outreach student, if this issue is still in a phase for development can I take it up?

[2021-02-06 02:25] ragesoss commented on #2499
Yes, it's still open. Go for it! You might find it useful to look at #4018, which made some progress but wasn't merged.

[2021-02-06 03:25] UmerMIB commented on #2499
OK thanks

[2021-02-06 17:08] cyberShaw commented on #4322
Can I work on this issue? I'm new to Open Source and would love to contribute :)

[2021-02-06 17:10] ragesoss commented on #4322
Yes, go for it.

On Sat, Feb 6, 2021 at 9:08 AM Saiharsha B <notifications@github.com> wrote:

[2021-02-07 12:06] amire80 opened #4341 "Remove trailing space from the message "course passcode""
### What is happening?
The message `course_passcode` in the `config/locales/en.yml` file has a trailing space. I've never actually seen it as a user, but as far as I can see in the code, it is used in two places in jsx files, and in both of them, immediately after the message, there's a `<b>` element (bold text) in which the passcode is filled.

In translatewiki, it's impossible to translate a mes

[2021-02-07 12:29] amire80 opened #4342 "The message courses.active_courses should be split"
The message courses.active_courses currently says `Active %{course_type}`, which `%{course_type}` can be "courses" or "campaigns". This works in English, and it _happens_ to work in Hebrew, but it's also possible that it wouldn't work, if the word "campaigns" would be in a different grammatical gender from "courses". In this case, the word "Active" would have to be different. It's quite possible t

[2021-02-07 16:50] RiaJha02 commented on #2637
Hello,
I am new here!
I would like to work on this issue, is it still open?

[2021-02-07 17:21] ragesoss commented on #2637
Yep, it's still open. go for it!

[2021-02-08 09:27] panktishah62 commented on #4340
@ragesoss  I am a new comer here, and after exploring the project a bit. I would like to work on it. Please can you add me to your slack channel where other technical conversations take place. Thank you !

[2021-02-08 14:13] Gaurav453 commented on #2412
Hey @ragesoss , Is  this  bug is still open and if yes should I try to fix this ?

[2021-02-08 16:19] ragesoss commented on #2412
@Gaurav453 go for it. It's still open.

[2021-02-09 22:52] ragesoss opened #4345 "Wikidata stats should be download option for an entire campaign"
### Current Behavior:
For courses that are tracking Wikidata, the 'download stats' modal has an option to download Wikidata-specific stats. However, there's no way to download the aggregate Wikidata stats for an entire campaign (except by downloading the Wikidata stats for each course and adding them together yourself).

### Desired Behavior:
The 'Download stats' modal on a campaign Home tab shoul

[2021-02-10 13:29] #4324 closed

[2021-02-10 13:29] dependabot-preview[bot] opened #4346 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/67152461).

[2021-02-10 18:29] ragesoss opened #4347 "On P&E Dashboard, update info should show up before the first update"
### Current Behavior:
Once a course has gone through its first stats update, the 'Last statistics update' detail shows up beneath the stats on the Home tab, with a 'see more' modal that includes additional information about the update process and things that may go wrong with it.

However, between the start of a course and its first update, there's no indication of how long you may need to to wait

[2021-02-10 22:31] ragesoss opened #4348 "Too-large queries against Replica fail"
### What is happening?
If a query for (typically) revisions would produce too much results, it will fail when the PHP script runs out of memory on wikiedudashboard.toolforge.org . To avoid this problem, the script, along with the corresponding code on the Dashboard, should be rewritten to allow breaking things up in to smaller results... either by breaking them into smaller chunks that can be quer

[2021-02-11 00:01] #4346 closed

[2021-02-11 00:01] dependabot-preview[bot] opened #4349 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/67219709).

[2021-02-11 13:26] #4349 closed

[2021-02-11 13:26] dependabot-preview[bot] opened #4350 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/67350143).

[2021-02-11 14:08] Electron-2002 opened #4351 "Typo in /setup/deb-setup.sh"
### What is happening?
There is a word extra in the line 'Your developmental environment setup is complete. If `you` there are any errors, please refer to the docs for manual installation, or ask for help.'

### To Reproduce

Line 175 of  '/setup/deb-setup.sh

### Expected behavior

The line should be: 'Your developmental environment setup is complete. If there are any errors, please refer to the

[2021-02-11 14:09] Electron-2002 commented on #4351
Can I take up this issue?

[2021-02-11 17:32] Gchahm commented on #4314
I think I get it.

So each line will represent a revision, I'm not familiar with how wikipedia works, is there going to be a case where the article has been deleted and there are no revisions deleted? Or deleting an article cascade into revisions and set them all to deleted?

[2021-02-11 17:37] ragesoss commented on #4314
On Wikipedia, admins can delete an entire article (and all its revisions) or just delete specific revisions from the history while leaving the article in place.

Each line will represent an article, but an article could have one or more of its revisions deleted without the article itself being deleted (or the whole article and all of the student's revisions could be deleted).

If an article gets d

[2021-02-11 17:51] Gchahm commented on #4314
Got it.

So an article will show only once in the table, no matter how many deleted revisions. The actual revisions deleted will be seen in the article history.

There's currently no method to retrieve articles that are either deleted or have deleted revisions, so I will add a scope for that in Article.

The front end should be similar to what was done with plagiarism so for now I don't have any q

[2021-02-11 19:06] #4351 closed

[2021-02-12 12:41] RiaJha02 commented on #2637
Hello!
I designed the layout attached below, please review it.
Thanks!!

![ss-1](https://user-images.githubusercontent.com/32812168/107769134-88d55300-6d5d-11eb-9fb0-474d2ef893fe.PNG)

[2021-02-15 02:15] rahahahat commented on #4157
@ragesoss Hello, sorry for a such a late update, I have been quite busy with university lately. However, these past couple of days I have made some progress on the bug. I have managed to get the frontend part done. Please see the attached video to see the URL update component. Just to elaborate a bit on it's implementation, I have defined a new component `EditSandboxUrl` (containing a `Popover`) w

[2021-02-16 23:23] rahahahat commented on #4157
@ragesoss Hello, I've open a pull request for the issue. Please review it.
Thanks.

[2021-02-18 13:28] #4350 closed

[2021-02-18 13:28] dependabot-preview[bot] opened #4356 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/68380956).

[2021-02-22 17:50] ragesoss commented on #2637
This is nice! I assume the color scheme and fine styling here isn't meant to reflect the intended design, and the point is to separate the different parts of the page into Material-style components (as used elsewhere on the site). This basic layout concept looks good; definitely an improvement on the current design.

[2021-02-23 19:23] ragesoss opened #4359 "Student's list of trainings and exercises should be ordered by due date, and divided by already-due vs not-yet-due"
### Current Behavior:
On the Students tab when viewing the Trainings & Exercises for a student, the trainings and exercises are shown in an arbitrary order that makes it difficult to gauge whether the student is all up-to-date with trainings or has overdue trainings that haven't been completed yet.

### Desired Behavior:
The trainings and exercises should be ordered by due date, with some kind of

[2021-02-24 23:18] UmerMIB commented on #1478
Hi there, can you help navigate this survey form in the app? I didn't find a way to reach this survey form

[2021-02-25 20:12] gauransh7 commented on #4347
I had some doubts regarding this issue -
1. What should be the update info message that we need to show?
2. I ran the `updateCourseStats` function manually to update activities of my course, but how should we provide info about roughly when to expect an update.

[2021-02-25 20:17] gauransh7 commented on #4359
Hey @ragesoss,

Trainings are not sorted by the due date, but exercises are already sorted within their respective categories(unread, complete, incomplete). So, we need to sort trainings only and show some indication of the division between already-due training and exercises vs. not-yet-due training and exercises?

[2021-02-25 20:19] ragesoss commented on #4347
The update message should be something like: "The Dashboard hasn't imported any data for this program yet. It has been added to an update queue that currently takes about [X time] for a program to receive its first update."

The actual time to show there should be based on the Sidekiq queue latency for whatever queue it is sorted into initially.

See `CheckCourseJobs` for related code. Basically,

[2021-02-25 20:21] ragesoss commented on #4359
I think we want to sort both trainings and exercises by due date (and not by unread/complete/incomplete). I think it probably still makes sense to show trainings separately from exercises.

[2021-02-27 13:40] gauransh7 commented on #4359
Thanks for the explanation @ragesoss.
I would like to work on this issue.

I am planning to change the `ExerciseRows` and `generateRow` function in the [ExerciseRows.jsx](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/ec1bcb59a262ae83bf85c0d5295681bacb31aa02/app/assets/javascripts/components/students/shared/StudentList/StudentDrawer/TrainingStatus/ExerciseRows.jsx#L19) file such

[2021-02-28 09:12] RiaJha02 commented on #2637
Sure, I'll update it!
Thanks

[2021-03-02 20:24] ragesoss opened #4363 "Article Viewer throws errors when article doesn't exist"
### What is happening?
When viewing a student in the Assignments & Exercises view on the Students tab, if the student has an assigned article then there is an Article Viewer icon for it. However, if the assigned article doesn't exist yet, this is useless and just shows an error message when viewed.

### To Reproduce

* In a course, assign someone an article title that doesn't exist.
* View that us

[2021-03-03 07:12] rohitgeddam commented on #4363
I would like to work on it!

[2021-03-03 09:07] rohitgeddam commented on #4363
Isn't it better to prevent assigning an article title that doesn't exist in the first place? rather than making the link not clickable.

[2021-03-03 16:12] ragesoss commented on #4363
The reason we want to disable it here rather than prevent users from assigning articles that don't exist is because students are sometimes creating new articles for their Wikipedia writing assignments. Putting in an assignment title that doesn't exist on Wikipedia yet is a signal that the student plans on creating that article, and the Dashboard handles that accordingly.

[2021-03-03 16:16] rohitgeddam commented on #4363
ok, got it

[2021-03-03 20:07] rohitgeddam commented on #4340
@panktishah62 are you still working on this? If u need some help, I would be happy to help you!

[2021-03-03 20:27] ragesoss commented on #4340
@panktishah62 sorry, I missed this initially. I can send you an invite if you send me your email address. Either post it here or send to sage at wikiedu.org

[2021-03-03 20:29] ragesoss commented on #4359
Yes, I think a background change is fine. It can be very subtle, such as a slightly darker background for not-yet-due ones.

Your plan sounds reasonable.

[2021-03-04 08:05] rohitgeddam commented on #4171
Is this bug fixed by #4168, If not I would like to work on this!

[2021-03-04 16:21] ragesoss commented on #4171
No, it's not fixed. Go for it.

[2021-03-04 16:56] rohitgeddam commented on #4171
sure, let's see how we can fix this.

[2021-03-05 17:42] #4363 closed

[2021-03-05 18:45] rohitgeddam commented on #4171
<img width="1438" alt="Screenshot 2021-03-06 at 12 11 01 AM" src="https://user-images.githubusercontent.com/48797475/110159252-7b693100-7e10-11eb-9e4f-5b38b167544f.png">

Hey, I was trying to reproduce this error on my local system, I had created a test article which is a redirect,
for example, `https://en.wikipedia.org/wiki/UK `   redirects to `https://en.wikipedia.org/wiki/United_Kingdom`,
Howev

[2021-03-05 18:58] ragesoss commented on #4171
Interesting. It looks like the behavior of the WikiWho API has changed recently, and at least some redirects work fine now.

I note that the example I linked to, "Medical use of MDMA", still results in an error, although it's different than it was previously. It looks like now that particular redirect results in this response from the wikiwho server:

`{"info":"Requested revision (947629440) is de

[2021-03-05 20:09] rohitgeddam commented on #4171
![Screenshot 2021-03-06 at 1 18 18 AM](https://user-images.githubusercontent.com/48797475/110167593-f71cab00-7e1b-11eb-823b-bc8bcf34c6f8.png)

If we reach past line number 104, doesn't  that mean that the  response status is already 200, so we only need to check if, `success: false`,  and display error with the text in `{ info : " ... "  } `

[2021-03-05 20:17] ragesoss commented on #4171
Hmm... Looks like we do need to keep trying, because in some cases (as noted in the comment) a 200 with `success: false` happens because the wikiwho server hasn't finished processing that revision, but will do so soon. I think what we want to do, perhaps, is to update the error message after 5 attempts so that also includes whatever the last `info` received from the WikiWho server is, and remove t

[2021-03-05 20:48] rohitgeddam commented on #4331
Hey, this looks interesting,  I would like to work on this!

[2021-03-05 21:02] ragesoss opened #4369 "When taking survey on iPad, long questions make the survey unusable"
### What is happening?

On an iPad, a user reports that long questions that extend below the fold make it impossible to continue: " pages longer than the size of my screen don't let me scroll to the bottom. Instead, the page bounces back in a way that prevents me to tap the "Next" button."

I haven't reproduced this on desktop or mobile devices.

[2021-03-05 22:26] ragesoss opened #4370 "Pageview estimates may be off by a lot for newly-created articles that start in sandboxes"
### What is happening?
See https://meta.wikimedia.org/w/index.php?title=Talk:Programs_%26_Events_Dashboard&oldid=21178355#Pageviews_compared_to_pageviews

The affected course worked on this article: https://sv.wikipedia.org/wiki/Jugend_i_Sverige

It was created in a sandbox in October 2020, but wasn't moved to mainspace until February 2021. The Dashboard calculates its average daily views based on

[2021-03-19 17:51] #4359 closed

[2021-03-19 17:59] ragesoss opened #4387 "Users with invalid usernames added to a course"
I discovered a course — [this one](https://outreachdashboard.wmflabs.org/courses/Culture_Laurentides/Atelier_1_(9_mars_2021_de_15_à_17h_EST)) — where all the users had invalid usernames like "Fr:User:Misspixels". (I replaced them with the valid usernames, by removing the "Fr:User:" prefix.)

It should not be possible to add invalid usernames like that, and I don't know how it happened. Normally th

[2021-03-23 16:34] anjali1102 commented on #4313
@ragesoss  taking up this issue

[2021-03-23 16:39] anjali1102 commented on #1709
Hey, I have a windows 8 system. To set up this project how can I install Linux with windows? @ragesoss

[2021-03-23 16:42] anjali1102 commented on #1709
Should I do dual boot/ virtual box?

[2021-03-23 16:44] ragesoss commented on #1709
Yes, I would recommend dual boot or virtualization. We've had success setting it up recently on Window 10 via WSL, but for Windows 8 I think it would be an uphill battle.

[2021-03-23 16:46] ragesoss commented on #4313
Awesome!

[2021-03-24 00:35] ragesoss commented on #4332
This should be fixed now with @shailesh1028 's PR.

[2021-03-24 00:35] #4332 closed

[2021-03-24 18:34] anjali1102 commented on #1709
Why  project is not appearing in GSOC and outreachy this time? @ragesoss

[2021-03-24 18:45] ragesoss commented on #1709
I've been stretched thin recently and didn't put together any project proposals in time for this round of GSoC or Outreachy.

[2021-03-24 18:56] anjali1102 commented on #1709
means there will be no Dashboard project in outreachy this time. I was trying to set up this project. Sad

[2021-03-26 23:20] #4356 closed

[2021-03-26 23:20] dependabot-preview[bot] opened #4390 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/74010308).

[2021-03-29 13:30] #4390 closed

[2021-03-29 13:30] dependabot-preview[bot] opened #4391 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/WikiEducationFoundation/update-logs/74288981).

[2021-03-29 14:37] ragesoss opened #4392 "Recent revision activity for a course should be fetched directly from mediawiki"
As part of an effort to move `revisions` data out of the Dashboard database, we need to replace all the ways we currently use the `revisions` table to server data to the frontend.

### Current Behavior:
Visiting the `activity` tab of a course fetches the `revisions.json` route for a course, which provides a list of recent revisions from the Dashboard's database.

### Desired Behavior:
Instead of l

[2021-04-02 18:04] ragesoss commented on #4341
This, along with all the other trailing whitespace messages we identified, should be fixed now.

[2021-04-02 18:04] #4341 closed

[2021-04-05 19:16] ragesoss commented on #4314
This is done, just forgot to close it. :)

[2021-04-05 19:16] #4314 closed

[2021-04-08 13:13] #4391 closed

[2021-04-12 19:03] ragesoss opened #4411 "Programs with very high activity use too much memory during updates"
### What is happening?
The largest programs on Programs & Events Dashboard may be exhausting the available memory on the system (potentially crashing the update process in the middle of its work).

Large portions of time are taken by a) the initial import of revisions and corresponding articles; b) the import of ORES features. Throughout the process, the memory usage gradually grows.

### To Repro

[2021-04-14 21:02] #4171 closed

[2021-04-26 15:45] dvorapa opened #4426 "Table of participants jumps wildly when scrolling just few pixels up/down"
### What is happening?
If I scroll a table of participants page up/down, at one point the page makes weird jumps. I want to see it in the middle of my screen, but the table can be only on top of the screen or bottom, not in between. See the following captures. Pay attention to scrolling distance of the pointer/scrollbar - just few pixels:

https://user-images.githubusercontent.com/5113916/11611158

[2021-05-03 20:59] carlwcheung commented on #4331
Hey @rohitgeddam, are you still working on this? If not, I'd like to start taking a look

[2021-05-03 21:18] ragesoss commented on #4331
@carlwcheung I haven't heard from rohitgeddam in a little while. Feel free to work on this.

[2021-05-04 14:29] ragesoss opened #4465 "Update the styleguide"
The Dashboard includes a styleguide page: https://dashboard.wikiedu.org/styleguide

It hasn't been updated in a very long time, and doesn't include examples of many UI components that have been added in the meantime.

The React examples in the `Form Controls` section are also not rendering. Fix these.

Identify UI components that aren't demonstrated in the styleguide and update it to include them.

[2021-05-04 14:39] ragesoss opened #4466 "Standarize the usage of icons in the UI"
Icons are implemented in different ways throughout the app. There's an 'icon font' (`app/assets/fonts`) which hasn't been updated in a long while but it still used for some icons, via CSS classes. There are also a variety of SVG icons (`app/assets/images`) which are used as background images for CSS classes, and there are some SVG icons defined directly in JSX components (eg, `enroll_card.jsx`).

[2021-05-05 22:04] ragesoss commented on #4331
See also `docs/course_update_scripts/copy_assignments` which is how I've been doing this task for already existing courses when an instructor requests it.

[2021-05-24 18:16] ragesoss opened #4510 "Replace react-motion with react-spring"
We currently use the unmaintained `react-motion` library to provide animations for when a user is reordering blocks in a course Timeline. (See `week.jsx`.) It throws warnings right now, and is likely to stop working with a future version of React.

It looks like `react-spring` provides the same sort of functionality — it's similarly based on the `spring` concept — and it is actively maintained.

C

[2021-06-10 15:47] ragesoss opened #4526 "Wiki select for assigning articles lets you choose untracked wikis"
See https://phabricator.wikimedia.org/T284757

The tracked wikis for a course are the only ones that should show up when you are selecting the language/project via the `SelectedWikiOption` component, if it's on the context of a course.

This probably requires adding an optional prop of wiki options to `WikiSelect`, and if that prop is provided, use that instead of the full default list of `WIKI_OP

[2021-06-10 15:54] ragesoss opened #4527 "Improve workflow for assigning many articles to a single editor"
See https://phabricator.wikimedia.org/T284760

[2021-06-10 16:07] ragesoss opened #4528 "Add username to "Articles data" export in Outreach Dashboard"
See https://phabricator.wikimedia.org/T284762

[2021-06-28 16:12] ragesoss opened #4538 "In Tickets interface, 'delete' icon for a Note isn't rendering"
### What is happening?

Broken icon:
![delete icon](https://user-images.githubusercontent.com/848483/123669202-b0025d80-d7f0-11eb-803f-603a10a8074d.png)

### To Reproduce

1. Log in as an admin
2. Create  a Ticket (you may need to do this from the rails console)
3. Navigate to the ticket, enter a message, and click 'Create note'

### Additional context
I'm not sure exactly when this broke.

[2021-07-06 18:48] ragesoss opened #4549 "Timeline Week date range range meeting days UI is confusing"
### What is happening?
A Week on the Timeline shows a date range that represents the start to end of that week (currently locked to a Sunday-to-Saturday configuration), followed by a list of the days of the week on which the course is scheduled to meet for that week (based on weekdays setting combined with the meeting day exceptions defined for that course).

Especially if there is only one meetin

[2021-07-26 18:10] ragesoss opened #4560 "Clicking a login link before the JavaScript has loaded results in an error"
### What is happening?
Our login links initiate an OAuth login flow. Since a recent update to our OAuth library, the beginning of the login flow needs to be a POST request. (Previously, it could be a GET request, so a simple link could initiate it.) To work around the existing usage and styling of the login buttons and link, we currently use Rails UJS and the `data-method="post"` attribute ([as do

[2021-07-26 18:17] ragesoss opened #4561 "Improve the course approval user interface"
### Current Behavior:
When Wiki Education staff review and approve a submitted course, they must:

* Click 'Edit Details'
* Add the program manager in the staff role
* Add the wiki expert in the staff role
* (sometimes) Add additional tags to the course
* Select the campaign corresponding to the current or upcoming term and add it to the course

### Desired Behavior:

Instead of these separate ste

[2021-08-26 18:03] ragesoss opened #4592 "On Survey Results view, follow-up answers to Text-type questions are not shown"
### What is happening?
Survey's have the Text question type, which isn't an actual survey question, just a way to display a message to the user without an input for them to respond. ("Short" is the type for a short text response.) However, it's still possible to include a follow-up question for a Text-type question. Such follow-up responses are not displayed in the Results view for a survey (becau

[2021-09-13 20:51] ragesoss opened #4604 "Many views don't work for users with usernames that include certain characters"
### What is happening?
Wikipedia users can have usernames ending in `?` or `%`. For example:
* https://en.wikipedia.org/wiki/User:CaesSion%3F
* https://en.wikipedia.org/wiki/User:Wikster808%

(It might be a general problem with any account that includes these characters.)

If such a user is added to a course, clicking their username from the 'Students' tab does not load the details view for the us

[2021-09-16 00:34] ragesoss opened #4607 "ArticleImporter fails to update an article that exists under a different title"
### What is happening?
If an article is in the database with a different title (because it was renamed) and then `ArticleImporter#import_articles_by_title` gets run for the current title (typically because that title was added as an assignment for a course), that action will not create a new `Article` record or update the old one with the correct title. As a result, the assignment will be treated

[2021-09-20 21:10] ragesoss commented on #4604
I've done a partial fix, covering most of the problems with usernames like `Wikster808%`, but not `CaesSion?`.

For `Wikster808%`, navigating directly to the student articles view still doesn't work, but clicking the username from the students list does.

[2021-09-24 16:37] ragesoss opened #4616 "Add specific page titles for user profile pages and other views that lack them"
### Current Behavior:
Many pages on the Dashboard — such as a user profile page like https://dashboard.wikiedu.org/users/Sage%20(Wiki%20Ed) — don't have specific page titles (ie, what shows up in browser history and on the browser tab). This makes it harder to navigate through the site using browser history.

### Desired Behavior:
User profile pages and many other pages should follow the same conv

[2021-09-24 21:34] ragesoss commented on #4604
With the latest change, I think this is probably still a problem for a few other restricted characters. See the commit message for https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/772a2619b724b36e35bad12852ceb2df20d84b5d

[2021-10-01 18:01] ragesoss opened #4621 "Milestones component doesn't always number weeks the same way as Timeline"
### What is happening?
The Timeline for a course lists all the Weeks for the course, and also accounts for weeks where the course is not meeting and weeks before the start of the Wikipedia assignment. For example, a Timeline might start with Week 2 (because the course `timeline_start` is a week after the course `start`, and then have an empty vacation week, following by Week 4, even though there a

[2021-10-08 19:25] mariipia10 commented on #2637
Hi! I'm currently participating in outreachy and wanted to check if i can claim this issue if it's still open. Thanks!

[2021-10-09 14:13] mariipia10 commented on #2637
@ragesoss perfect, i'll do my best. Thanks

[2021-10-10 15:28] subhangi2731 commented on #4621
hello i am an outreachy applicant. I am interested to contribute. can u please guide me here and can I take up this issue

[2021-10-10 18:32] ragesoss commented on #4621
@subhangi2731 yes, you can work on this. It's at the more complex end of the ones I've marked newcomer friendly, as it involves a refactor of multiple components and the use of Redux and selectors.

[2021-10-11 08:24] chepyego commented on #4538
I have started working on this issue

[2021-10-11 14:42] ragesoss commented on #4621
@subhangi2731 have you reproduced the problem locally yet?

[2021-10-13 19:43] ragesoss commented on #1711
We're off of `gulp` now. Might make sense to explore webpacker to simplify things and make them more rails-y, but I'll leave that for another issue.

[2021-10-13 19:47] ragesoss opened #4633 "Upgrade to webpack version 5"
We're using webpack 4 currently. The changes for webpack 5 are relatively minor, but not trivial, and we might have some dependencies on abandoned packages that don't play nicely with version 5.

[2021-10-13 21:39] #4592 closed

[2021-10-16 07:51] chepyego commented on #4538
can i work on this ticket?

[2021-10-16 08:03] ragesoss commented on #4538
Not yet. It may be a little while, as I'm traveling this week.

On Fri, Oct 15, 2021, 9:58 PM jemimah chepyego ***@***.***>
wrote:

[2021-10-16 08:23] chepyego commented on #4538
okay no problem you will check them when you have time

[2021-10-16 19:36] kleyla commented on #4465
I would like to work on it, can I take up this issue?

[2021-10-16 20:19] ragesoss commented on #4465
Sure, go for it.

On Sat, Oct 16, 2021, 9:36 AM Karen Rodriguez ***@***.***>
wrote:

[2021-10-21 20:02] ragesoss commented on #4538
The Ticket may need an associated Message.

On Thu, Oct 21, 2021, 9:48 AM jemimah chepyego ***@***.***>
wrote:

[2021-10-25 18:06] ragesoss opened #4650 "SurveyResponseAlert emails should indicate which survey the alert is from"

[2021-10-28 16:23] ragesoss opened #4657 "Add 'Campaign of Campaigns' feature"
Programs & Events Dashboard users — especially Wikimedia affiliates such as chapters — are using the Dashboard to track multiple campaigns that may overlap (with one program in more than one campaign).

These users need a way to manage these sets of events so that they can see aggregate statistics across all their programs (without double-counting for any programs than are in more than one campaig

[2021-10-28 16:29] ragesoss opened #4658 "Improve UX for Article Scoped Programs"
It should be intuitive to set up a program that will track a specific scope of articles, using one or more of the scoping methods already available (assignments, categories, templates, PetScan, PagePile).

The user interface should explicitly note the methods for scoping a course at the point of choosing the program type, it should guide users who have created an ArticleScopedProgram that doesn't

[2021-10-30 20:29] #4549 closed

[2021-11-01 16:15] ragesoss commented on #4607
Yes, go for it.

[2021-11-01 19:12] chepyego commented on #4607
okay let me work on it, i hope you have seen the changes made on the other PR

[2021-11-01 19:15] #4538 closed

[2021-11-04 21:14] #4526 closed

[2021-11-04 23:19] chepyego commented on #4607
am trying to reproduce this from frontend , but from frontend i can only see articleFinder  can i get a little explanation here "Add "LGBT_representations_in_hip_hop_music" as an Assignment."

[2021-11-04 23:24] ragesoss commented on #4607
You'll need to use a rails console for the second step of 'To Reproduce' instructions, to update the database record directly.

[2021-11-10 18:53] 1v4n4 commented on #4347
I'd like to try to figure out this issue if no one's on it

[2021-11-10 18:55] ragesoss commented on #4347
@1v4n4 great! Go for it.

[2021-11-16 17:52] ragesoss opened #4677 "Add Alerts for "de-userfying" edits"
When new users move a sandbox into mainspace on Wikipedia, the edits are automatically tagged `de-userfying`. Here's a recent changes feed of such edits on English Wikipedia: https://en.wikipedia.org/w/index.php?hidebots=1&hidecategorization=1&hideWikibase=1&tagfilter=de-userfying&limit=500&days=30&title=Special:RecentChanges&urlversion=2

The Wiki Education version of the Dashboard should monitor

[2021-11-18 16:40] ragesoss opened #4680 "Silent javascript error when a course search returns no results"
### What is happening?

If you go to /explore and do a course search that returns no results, there is a JS error like this:

[code]

It looks like this is because the jQuery code in `course.js` doesn't account for an empty table of results.

It has no visible effects, it just generates error logs that get sent to Sentry.

The fix should probably be done by adjusting the JavaScript (rather than tw

[2021-11-23 21:46] ragesoss commented on #4561
It should be easy within this approval workflow to add additional campaigns as well. There should probably be a default campaign, which is the upcoming campaign as defined by the "recruiting term" setting, but we often need to add additional campaigns at the point of approval as well.

[2021-11-24 22:25] cyrillefr commented on #4677
Hello @ragesoss, can i work on this one ?

[2021-11-24 22:29] ragesoss commented on #4677
@cyrillefr sure! let me know if you have any questions.

[2021-11-25 09:22] raffifu commented on #4680
The problem happen because there are two section with `id='course'`
- 1st Section: show search result
- 2nd Section: show campaign course

It will throw an error when one of these element not contain class 'list' used in`list.js` dependencies. in this case, happen when return no results from search

The Best Practice is to change the `id` value from search section. Because as i know `id` params mu

[2021-11-25 20:26] ragesoss commented on #4680
@raffifu go for it. If you run into any problems setting up the environment, give me a ping. (If you like, you can also send me your email address and I can invite you to the project Slack.)

[2021-11-27 06:26] zblace opened #4681 "Improve input matching in WikiSelect component"
### Current Behavior:
There is no way to set some of Wikipedia instances as main (home) ones.

### Desired Behavior:
Option to select HR, SH and BS Wikipedia if not ALL?

### Related Files & Code:
I have no code overview or skill toknow how this is managed.

### Additional context:
https://outreachdashboard.wmflabs.org/

[2021-11-27 15:04] raffifu commented on #4680
Thank you for inviting me, this is my public email `ah2n85yos@relay.firefox.com` (If you can't invite me with these email, i will send my actual email).

Anyway, i'm facing problem when setup dev env with docker. I can't open `/explore` because always redirect to `/`. I've copied `application.example.yml` and `database.example.yml`
![image](https://user-images.githubusercontent.com/22138274/143686

[2021-11-27 15:55] ragesoss commented on #4680
You need to create a default campaign, a Campaign record with a slug that
matches the default_campaign value from application.yml.

On Sat, Nov 27, 2021, 7:04 AM Raffi Utama ***@***.***> wrote:

[2021-11-27 16:32] ragesoss commented on #4680
Running the `setup/populate_dashboard.rb` script would also work.

[2021-11-29 13:53] raffifu opened #4683 "Seperate multiple service with docker-compose"
### Current Behavior:
currently the project create docker image for all service (e.g mysql, redis, and web).The `Dockerfile` also not contains volume for persistent database. it cause a little more difficult for development because every start container, the dummy data (e.g. generate from `rake dev:populate` will deleted. last, the `Dockerfile` must running with host network (in this case develope

[2021-11-29 18:06] ragesoss commented on #4681
You can set any of these as the home wiki. Each course/event can only have one home wiki; additional wikis should be added to the Tracked Wikis field.

For `hr` and `sh`, you may need to type out most of the domain before it shows up as an option in the dropdown, because other language codes that come earlier include those letters (ksh, chr). That can be confusing. An improvement would be to do th

[2021-11-29 19:41] ragesoss commented on #4683
Updating the docker development setup would be great. The current Dockerfile hasn't been actively used for development in quite a while, and may need some updates just to work at all. (I'm not very familiar with using docker-compose, but I'm happy to test it out if you get it working.)

[2021-11-29 20:08] ragesoss opened #4684 "Replace current usage of jquery and remove it as a dependency"
We have a number of places, both in React views and server-rendered HTML views, that use jquery in various ways.

Both to shrink the bundle size and to make it easier to understand the frontend code without being familiar with jquery conventions, it would be nice to remove the jquery dependency.

Possibly among other things, this will require:
* Replacing the many cases in React action files and `

[2021-11-29 22:05] ragesoss opened #4685 "Filter settings in Articles Edited view of course page should be reflected in URL"
The Articles Edited list can be filtered by wiki, new vs existing article, and tracked vs untracked.

It would be useful if these filter settings (if not default) were reflected in URL parameters, so that users could share a link to the exact filtered view they see. (ie, https://commons.wikimedia.org/wiki/File:Screenshot_Programs_Events_Dashboard.png)

See https://meta.wikimedia.org/w/index.php?ti

[2021-12-01 21:05] #4681 closed

[2021-12-03 22:56] cyrillefr commented on #4677
Hello @ragesoss , I am almost done.
Though, I do not know how to link the article title I get from the api call with a model/table.
In my dev environment, I have assigned a student to a wikipedia article, hoping to populate the courses_users.assigned_article_title field to get a match, but it did not change.
I have a new line in Assignment and Article though.
Which model/join should I use to match

[2021-12-03 23:30] ragesoss commented on #4677
Hmm... without seeing your code, I'm not sure exactly what you're trying to do. If you open a work-in-progress PR, I can take a look.

I don't think `Assignment` will need to be part this feature. `Article#title` is a relevant attribute for matching titles you get from the API, although I think in some cases, the Dashboard won't yet have an `Article` record that corresponds to the newly de-userfie

[2021-12-06 05:00] 4kashyadav commented on #1709
hello, @ragesoss I want to contribute to this org can you help me? My skills: HTML, CSS, C, C++, Python, basic ReactJs

[2021-12-06 18:21] ragesoss commented on #1709
@4kashyadav hi! We'd love to have your help. HTML, CSS and React are all relevant for this project. The best way to get started is to set up a development environment and then browse around the issues to find something that makes sense to you.

[2021-12-06 23:02] cyrillefr commented on #4677
Hello @ragesoss ,
I just opened a [WIP] PR.
I have a create_alerts method that try to get the correct matches user/article/course/revision from the API and the DB.
Not sure if this is correct.

[2021-12-08 15:37] ragesoss commented on #1709
Please post the details of where you're stuck.

On Wed, Dec 8, 2021, 3:21 AM Akash yadav ***@***.***> wrote:

[2021-12-08 20:01] ragesoss opened #4693 "Generate an Alert when a WikiProject Medicine article is assigned for a course that doesn't have the medical content training module"
Most existing articles that relate to medicine — and which fall under the strict sourcing rules covered in [this training module](https://dashboard.wikiedu.org/training/students/editing-medical-topics) — have the WikiProject Medicine banner template on their talk page. In `wiki_education` mode only, we should generate an alert whenever one of these articles is assigned — but only if the course doe

[2021-12-10 21:57] #4347 closed

[2021-12-17 21:14] cyrillefr commented on #2954
Hello @ragesoss, I would like to take one of these.
From reading issue #3194, and the code, DailyUpdate and ConstantUpdate have been done.
There is a lib/data_cycle folder with many update files.
There is a training_update file. Coud it be a candidate to a Sidekiqation ?

[2021-12-17 22:06] ragesoss commented on #2954
Hmm... I think this is already done mostly. The training update could be moved to sidekick, and I think we could close the issue after that.

[2021-12-17 22:33] cyrillefr commented on #2954
Ok, so I will try to sidekiqing TrainingUpdate

[2021-12-21 16:53] ragesoss opened #4711 "Generate an Alert and pretty email when an instructor indicates they will teach next term on a survey"
### Current Behavior:
We use the Dashboard to send surveys to the instructors who taught Wikipedia assignments through dashboard.wikiedu.org each term, and one of the questions we use is "When do you think you'll use Wikipedia in a future course?". This gives us an indication of which instructors plan to use the Dashboard again in the following term or the one after, but we have to manually analyz

[2021-12-22 13:46] cyrillefr commented on #2954
Hello @ragesoss,

I deduced at first from the `lib/data/cycle/training_update.rb` file that this process could be async.
But it does not appear in `config\schedule.yml`.

But it is executed here, in `app/controllers/training_controller.rb`:
[code]
in a classical sync way.
So, unless I miss something, this update might not need to run in a Sidekiq Job.

[2021-12-22 17:10] ragesoss commented on #2954
@cyrillefr you're correct that it's different from the other update processes in that it is not part of the regularly scheduled update cycles. Training updates are initiated on-demand via TrainingController.

In the `wiki_ed: true` configuration, the training update process consists of loading content from .yml files and updating the database with any changes from the last time it was run, and thi

[2021-12-22 17:10] #2954 closed

[2021-12-22 17:12] ragesoss opened #4712 "Improve training update process"
Training updates are initiated on-demand via TrainingController.

In the `wiki_ed: true` configuration, the training update process consists of loading content from .yml files and updating the database with any changes from the last time it was run, and this is a very fast process done only by Wiki Education staff. It works fine the way it is.

In the `wiki_ed: false` configuration, it may be done

[2021-12-22 22:09] cyrillefr commented on #4693
Hello @ragesoss, may I work on this one ?

[2021-12-22 22:15] ragesoss commented on #4693
@cyrillefr yes! I was hoping you might take this one on.

[2021-12-28 23:23] cyrillefr commented on #4693
Hi @ragesoss , I cannot find the way to assign a training module to a course.(wiki_education mode on and off, my perm is 1(admin)).

[2021-12-28 23:29] ragesoss commented on #4693
To add a training module:

* Go to the Timeline tab of a course. If it doesn't have a Timeline tab, enable the timeline via Edit Details on the Home tab.
* Add a Week to the Timeline, then add a Block, and from the Block, select a training module. Then save it.
* If there are no training modules available to select, you need to load them. Make sure `wiki_education: 'true'` is set in `application.y

[2021-12-29 19:18] ragesoss opened #4716 "ArticleViewer tries to get data from wikis where WikiWho data isn't available"
For example, a French Wikipedia article listed on the Dashboard still tries to fetch WikiWho data for authorship highlighting, even though French isn't one of the languages that WikiWho supports. (Hopefully, we'll add support for more languages at some point, but meanwhile the Dashboard should be aware of which languages do have support and which don't, and reflect this in the UI.)

[2021-12-29 20:55] cyrillefr commented on #4693
Thank you. Regarding training modules, which I had not, I did TrainingBase.reload_all in the console. In both mode, guess I have them all by now(that was before your post). But I have the one about medical articles editing.

[2021-12-30 22:25] ragesoss opened #4718 "If there is a Block of type "milestone" on the Timeline that includes a training module, the Milestones component won't render"
This bug breaks the Home tab, based on the contents of the Timeline.

Something in the Milestones component expects milestone block content to just be a String, and if there are assigned training modules on that block, it throws an error.

[2022-01-02 15:43] aaditya9899 commented on #4718
hey i would like to work on this issue  but can you provide me the source to set up dev enviroument locally in my laptop?

[2022-01-03 16:00] #4239 closed

[2022-01-03 16:02] ragesoss commented on #4718
@aaditya9899 you can find instructions for setting up a dev environment here: https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/setup.md

Depending on your operating system, you may be able to use the setup script, or you may need to go through the manual setup steps there. If you have any trouble using the setup script, please describe it here: https://github.com/WikiEd

[2022-01-07 20:22] ragesoss opened #4727 "Configure tests to run on GitHub Actions instead of travis-ci"
### Current Behavior:
Our CI is configured to run on travis, via `.travis.yml`. However, Travis-CI now has limited support for open source projects, and switching to GitHub Actions is probably going to be a more reliable way to run the tests.

### Desired Behavior:

Add a GitHub Actions config to run the complete test suite.

### Related Files & Code:

Here's an example CI config for a Rails proje

[2022-01-07 20:42] ragesoss commented on #317
I think the current situation is fine. This does not come up commonly by any stretch.

[2022-01-07 20:42] #317 closed

[2022-01-07 20:45] #395 closed

[2022-01-07 20:46] ragesoss commented on #425
We don't use `gulp` anymore. Errors with `yarn build` have not been a problem, so I don't think this is worth worrying about.

[2022-01-07 20:46] #425 closed

[2022-01-07 20:49] ragesoss commented on #596
This is no longer the case. Not sure if it's because we don't have any such warnings, or just because `yarn` behavior has changed, but the only warnings we currently get are related to browserlist needing an update and to bundle size.

[2022-01-07 20:49] #596 closed

[2022-01-07 20:53] ragesoss commented on #755
I don't aspire to having a test for each React component anymore. Our strategy is to focus on browser tests, with coverage data based on those tests to identify components and codepaths that don't get used during the tests, with supplementary component tests only when it seems worthwhile on a case-by-case basis.

[2022-01-07 20:53] #755 closed

[2022-01-07 21:00] ragesoss commented on #998
This is no longer a common problem.

[2022-01-07 21:00] #998 closed

[2022-01-07 21:04] ragesoss commented on #1001
This isn't currently a problem.

[2022-01-07 21:11] ragesoss commented on #1301
This is done.

[2022-01-07 21:11] #1301 closed

[2022-01-07 21:17] ragesoss commented on #1383
This was a bug in the `premailer` gem: https://github.com/premailer/premailer/issues/375

We've updated `premailer`, so it's fixed.

[2022-01-07 21:17] #1383 closed

[2022-01-07 21:19] ragesoss commented on #1477
We're likely moving off of Travis CI anyway, so probably not worth trying to do this.

[2022-01-07 21:19] #1477 closed

[2022-01-07 21:23] ragesoss commented on #1611
Fixed with https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2652

[2022-01-07 21:23] #1611 closed

[2022-01-07 21:23] #1622 closed

[2022-01-07 21:25] ragesoss commented on #1809
This is done. We want to figure out a way to do this more accurately, but this issue is no longer relevant.

[2022-01-07 21:25] #1809 closed

[2022-01-07 21:27] ragesoss commented on #1836
This doesn't appear to be a problem anymore.

[2022-01-07 21:27] #1836 closed

[2022-01-07 21:28] ragesoss commented on #1843
We got this in the form of the new de-userfying edit alert monitor.

[2022-01-07 21:28] #1843 closed

[2022-01-07 21:29] ragesoss commented on #1863
This is implemented.

[2022-01-07 21:29] #1863 closed

[2022-01-07 21:30] ragesoss commented on #1866
This is done; we use systemd services now.

[2022-01-07 21:30] #1866 closed

[2022-01-07 21:33] ragesoss commented on #1977
This was done via https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2652

[2022-01-07 21:33] #1977 closed

[2022-01-07 21:35] ragesoss commented on #2032
I think we've taken care of all the cases where this happened.

[2022-01-07 21:35] #2032 closed

[2022-01-07 21:36] ragesoss commented on #2171
I think we're going to remove win.setup.bat instead, as it's currently easiest to get a dev environment in Windows by using Ubuntu with WSL 2.

[2022-01-07 21:36] #2171 closed

[2022-01-07 21:37] ragesoss commented on #2364
This is done.

[2022-01-07 21:37] #2364 closed

[2022-01-07 21:39] ragesoss commented on #2602
This is done.

[2022-01-07 21:39] #2602 closed

[2022-01-07 21:41] #3035 closed

[2022-01-07 21:41] #3036 closed

[2022-01-07 21:43] ragesoss commented on #3048
Fixed with the upgrade to sidekiq-unique-jobs 7: https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/7b63be76af9b80b5863cba2a0ec0e281c07bcbbc

[2022-01-07 21:43] #3048 closed

[2022-01-07 21:44] ragesoss commented on #3232
This hasn't happened again.

[2022-01-07 21:44] #3232 closed

[2022-01-07 21:45] ragesoss commented on #3161
Done with https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/e0b6cf19d23f7a21ca691261c0f416481461209b

[2022-01-07 21:45] #3161 closed

[2022-01-07 21:48] ragesoss commented on #3373
This is basically done.

[2022-01-07 21:48] #3373 closed

[2022-01-07 21:49] #3502 closed

[2022-01-07 21:49] #3596 closed

[2022-01-07 21:53] ragesoss commented on #4188
This was done as part of the infrastructure work to move the dashboard to use Terraform and Nomad for dashboard.wikiedu.org.

We still use Apache for outreachdashboard.wmflabs.org though, and we could definitely switch to nginx.

[2022-01-07 21:55] ragesoss commented on #4319
This works on Windows via Ubuntu / WSL 2, so that's how we'll recommend people set up a dev environment on Windows going forward.

[2022-01-07 21:55] #4319 closed

[2022-01-07 21:58] ragesoss commented on #4560
This should be fixed with https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/9a323dc2e3dc3b4e800ce9aa66543ed2a5d22116

Now we redirect back to the home page in this situation, rather than show an error message.

[2022-01-07 21:58] #4560 closed

[2022-01-07 21:58] #4677 closed

[2022-01-07 21:59] #4680 closed

[2022-01-11 17:53] RishiKumarRay commented on #4727
I would like to work on this

[2022-01-11 17:56] ragesoss commented on #4727
@RishiKumarRay please do! Give me a ping if you run into any problems.

[2022-01-12 13:45] aaditya9899 commented on #4718
how to locate the file and code which i have to work upon and also how to check my code is working or not?

[2022-01-12 16:19] ragesoss commented on #4718
The main file here is `app/assets/javascripts/components/overview/milestones.jsx`.

You should be able to replicate the problem locally by creating a course, enabling the Timeline feature, adding a Week and Block to the timeline, then including a training module in the Block, then changing the Block type to 'milestone', then visiting the Home tab of the course (which is where the Milestones compon

[2022-01-13 20:07] cyrillefr commented on #4650
Hi @ragesoss , Can I work on this one ?

[2022-01-13 20:10] ragesoss commented on #4650
@cyrillefr sure. This is probably a pretty small issue.

[2022-01-14 08:21] aaditya9899 commented on #4718
got it , i have setup the dev server, now from where i can find the problem you talked about, i mean how to create the course?
Attaching the screenshot for your reference

![Untitled](https://user-images.githubusercontent.com/38832156/149475007-ce7c1967-6c7a-43be-bade-64dfd928bf9c.jpg)
.

[2022-01-14 15:34] ragesoss commented on #4650
Yes.

[2022-01-14 16:58] aaditya9899 commented on #4727
Hey @ragesoss I too working on this issue and made some progress ....i want to know what this command does to be exact
`sudo apt-add-repository -y ppa:rael-gc/rvm` ?

[2022-01-14 17:03] ragesoss commented on #4727
@aaditya9899 that command is only necessary on WSL; it's for installing the right Ruby version. It looks like it gets configured directly via the `ruby` value in ci.yml.

[2022-01-14 17:59] aaditya9899 commented on #4727
hey @ragesoss I have written this much code till now , i know there also some mistakes and few more things to add , could you tell me in brief what i have to do next?
`name: CI

on: [push]

jobs:

  build:

      runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
      os:
          - ubuntu-latest
        ruby:
          - 2.7.1

        node-version: [16.x,17.x]
        redis-server:

[2022-01-14 18:00] ragesoss commented on #4727
@aaditya9899 I don't know! I've never done this before.

[2022-01-14 18:01] aaditya9899 commented on #4727
Okay no problem , i do some finish up and test it on another branch👍

[2022-01-14 18:07] RishiKumarRay commented on #4727
@aaditya9899 Hey aditya, I was too working on this, But I see you have done much of it. So @ragesoss  i leave this issue to him. Let me know if you can't solve this.

[2022-01-14 18:13] aaditya9899 commented on #4727
@RishiKumarRay hey rishi, i had deal with github actions before and that's why i just give it a try, its not done yet  nor completely bug free but sure if i couldn't solve this in a few days , i would hand it over to you. Thankx👍

[2022-01-17 21:17] Sahethi commented on #4342
Hey, I would like to work on this issue.

[2022-01-17 21:21] ragesoss commented on #4342
@Sahethi go for it. :-)

[2022-01-17 22:31] cyrillefr commented on #4650
Hello @ragesoss, I am facing difficulties completing this task.

I have looked at the DB to see how I could handle this issue. I have watched the associations between models, and may be I am missing something, but I cannot think of a way to get a relationship between an answer and a survey.

So I did a little test:
I went on /admin, then /surveys
- created 2 question groups (with 3 questions each)

[2022-01-17 23:08] ragesoss commented on #4650
Oh... interesting. I didn't realize that an answer can't be traced back unambiguously to the survey it came from. The survey code is quite a mess, both in terms of database design and UI.

Still, in practice, we don't re-use question groups between surveys; we clone them and use the new question group for a new survey. So I think you could work around this problem by checking whether the question

[2022-01-18 12:52] Sahethi commented on #4342
Hello! I apologise if this is too trivial of a doubt but I wanted to know if I'm dealing with it correctly. Like I think it deals with this element on the frontend
<img width="1235" alt="Screenshot 2022-01-18 at 6 22 14 PM" src="https://user-images.githubusercontent.com/40771676/149940774-0719598e-77cf-4505-8511-c9bb1986f60f.png">

but I'm not exactly sure if I even have to implement this part whi

[2022-01-18 15:35] Sahethi commented on #1038
Hello! While working on this issue I think addNotification is not doing the same job as alert cause I ran into this problem.
So when trying to delete a campaign, the prompt asks you to enter the title and will give you an alert in case of an empty answer.  Something like this
<img width="1440" alt="Screenshot 2022-01-18 at 9 02 07 PM" src="https://user-images.githubusercontent.com/40771676/1499676

[2022-01-18 17:58] ragesoss commented on #1038
The ones that require entering text probably can't be replaced without some changes to existing components or creation a of new component.

I suggest starting with other alerts/confirms if there are any.

[2022-01-18 18:01] ragesoss commented on #4342
@Sahethi no, you don't need to go through any OAuth setup steps for this issue. That's only necessary for letting your dev environment make edits on Wikipedia, which is not necessary for creating courses or doing anything related to this issue.

[2022-01-18 18:03] Sahethi commented on #1038
Okay I will look into that, thank you!

[2022-01-18 18:09] Sahethi commented on #4342
@ragesoss very well, thank you!

[2022-01-18 20:08] Sahethi commented on #4342
also wanted to confirm if I'm dealing with the correct element in the frontend as mentioned in the previous comment for the message `Active %{course_type}` where its Active Campaigns here

[2022-01-19 06:13] shreyaansjain06 commented on #1709
@ragesoss  Can you add me to the slack channel?

Are you going to put the project proposals in Gsoc this time?

[2022-01-19 17:16] ragesoss commented on #1709
@shreyaansjain06 please send me an email (sage at wikiedu.org) and I can add you. Yes, I do hope to have a GSoC project this year.

[2022-01-27 17:13] ragesoss commented on #2499
@vaidehi44 yes, it's open. Let me know if you get stuck on it.

[2022-01-28 07:34] vaidehi44 commented on #2499
Thanks @ragesoss. I just had a doubt. It seems that dropdown has been implemented. So, I am supposed to enable multi-select and an option to set a user-defined subject, right?

[2022-01-28 17:38] ragesoss opened #4752 ""Join course" button in Actions component should not be shown if the EnrollCard is being shown"
If a user follows an enrollment link (with ?enroll=passcode) to a course page, the EnrollCard component is rendered, letting the user click 'Join' to automatically join the course without entering the passcode manually. However, there is also a 'Join course' button in the Actions section. Users who click the 'Join course' button will be prompted for a passcode, but in most cases will not know that

[2022-01-28 17:50] ragesoss commented on #2499
@vaidehi44 you're right! I'm so sorry, I was wrong about this still being open. puthalalitha fixed it two years ago, and I missed closing it.

[2022-01-28 17:50] #2499 closed

[2022-01-29 13:09] vaidehi44 commented on #4752
Hey @ragesoss, can I work on this?

[2022-01-29 15:08] ragesoss commented on #4752
@vaidehi44 yes

[2022-01-31 06:25] Ankit-Gupta18 commented on #4752
Is this issue still open to work or has been resolved?

[2022-01-31 16:19] vaidehi44 commented on #4752
Yeah. @Ankit-Gupta18, am still working on this one.

[2022-01-31 18:56] vaidehi44 commented on #4752
@ragesoss, I have opened a PR(#4754) for this issue. Please have a look.

[2022-02-01 10:38] KhanFiza896 commented on #4604
@ragesoss can i work on this?

[2022-02-01 10:51] KhanFiza896 commented on #4426
@dvorapa  can i work on this?

[2022-02-01 15:47] ragesoss commented on #4604
@KhanFiza896 yes, but I only recommend working on it if you are pretty comfortable with React. I think fixing it will require migration to a newer version of react-router.

[2022-02-01 15:53] ragesoss commented on #4426
@KhanFiza896 yes. Please work on one issue at a time and leave a message on the one you're working on.

[2022-02-01 17:04] FIZA-khan7 commented on #4426
Okk thanku...I am working on this..

[2022-02-01 17:47] vaidehi44 commented on #4621
@ragesoss, I was able to reproduce this bug. Can I work on it?

[2022-02-01 18:02] ragesoss commented on #4621
yes, go for it.

[2022-02-01 19:05] #4752 closed

[2022-02-10 18:25] ragesoss commented on #4616
Some of these, including user profile pages, have been fixed, but there are plenty of others that still don't have useful titles.

The training pages — like https://dashboard.wikiedu.org/training and https://dashboard.wikiedu.org/training/students/wikipedia-essentials and https://dashboard.wikiedu.org/training/students/wikipedia-essentials/policies-and-guidelines-basic-overview — are one area that

[2022-02-10 18:48] ragesoss commented on #4616
@chepyego hi! I just recommended this for another newcomer to the project. If you'd like to find something else to work on, I can look around for something. Let me know what kind of issue you're interested in.

[2022-02-10 20:00] ragesoss opened #4781 "MassEnrollmentWorker throws Sidekiq warning"
### What is happening?
The tests for MassEnrollmentController trigger a Sidekiq warning for MassEnrollmentWorker:

[code]

### To Reproduce

Run the rspec tests for MassEnrollmentController.

[2022-02-10 21:03] TheTrio commented on #1709
Did manage to setup the environment manually but the install script failed to detect I was using Ubuntu 20.04. Looked at the script to check what was going wrong and found that (on my fresh install of Ubuntu 20.04 anyway), `platform.platform()` didn't contain the word Ubuntu at all

![image](https://user-images.githubusercontent.com/10794178/153495729-cbd15c33-b4fa-49cc-9779-babf07189b30.png)

Eve

[2022-02-11 12:33] TheTrio commented on #4616
For some reason, my training contents page is entirely empty.

![image](https://user-images.githubusercontent.com/10794178/153591254-36aa7d4a-db22-4ecf-a9fa-86b93acd567e.png)

I did find a `training-content` folder in the root of the project but I have no idea how make that show up on the website. Was this some configuration I missed?

[2022-02-11 13:48] pmartinolli commented on #4337
I strongly support this feature because the "possible plagiarism" has a serious chilling effect on the contributors and the solution proposed could mitigate it.

[2022-02-11 19:18] ragesoss commented on #4616
That takes care of the server-rendered part of the training pages. A possible further improvement would be to add title handling into the React app so that titles change as you navigate through the different tabs of a course page, and through the individual slides of a training module.

Some other pages that still lack titles:
* /admin
* /faq and (eg) /faq/1

[2022-02-11 19:26] TheTrio commented on #4616
Yes, that should be doable.

[2022-02-11 19:42] #4650 closed

[2022-02-12 11:19] TheTrio commented on #4616
Since `slideTitle` is already a state we managed, it should be straightforward to just prepend that to the page title.

I'm wondering what's the best way to do this. Since there is no state here (as far as I can tell, everything is being managed by React Router), I can't find a clean way to do this. We do have access to the current location though - so I could write a switch statement which sets t

[2022-02-12 19:16] Sahethi commented on #4342
Hey, I had been going through the code, but on the development side I can't see this section (one the screenshot), where the issue exists. I'm not sure how to create new courses, I can only active campaigns but can't see active courses below it in the dashboard

This screenshot is from [https://dashboard.wikiedu.org/explore](https://dashboard.wikiedu.org/explore)
![image](https://user-images.githu

[2022-02-13 00:17] ragesoss commented on #4342
Looks like that only shows up in `wiki_education: 'true'` mode. If you set that in `application.yml`, you should see this section.

[2022-02-13 09:23] vaidehi44 commented on #4621
Hi @ragesoss, I got the reason why this is happening. I want to know what you mean by 'selector' in the description of issue.

[2022-02-13 09:38] vaidehi44 commented on #4621
Okay, I found the selectors folder which lists all the selectors. So, got an idea of implementing it.

[2022-02-13 10:51] aaditya9899 commented on #4633
can i work on this?

[2022-02-13 10:53] aaditya9899 commented on #4466
we can use fontawesome for that i think so?

[2022-02-13 11:18] aaditya9899 commented on #4781
Hey @chepyego let me know if the issue can't be reolved ,thankx.

[2022-02-13 11:22] aaditya9899 commented on #4683
Exactly what i asked few minutes back in slack channel, if this is still open can i work on this @ragesoss

[2022-02-14 19:29] ragesoss commented on #4683
@aaditya9899 sure, you're welcome to work on this. Please only work on one issue at a time, and leave a note on the one you're currently working on.

[2022-02-14 20:14] #4693 closed

[2022-02-15 07:43] aaditya9899 commented on #4466
yeah I thought so while implementing fontawesome but installing it will bring all the icons from the library which might reduce page efficiency and better alternative might be using react-icons library as it will just import the necessary icons and that too from different websites!!

here's the link , do tell me how this sounds to you.

[https://react-icons.github.io/react-icons]

[2022-02-15 07:51] aaditya9899 commented on #4466
yeah I get to know while implementing fontawesome that installing it will bring all the icons from the library which will reduce page performance and better alternative might be using react-icons library as it will just import only the necessary icons we use in the page and also provide one additional functionality of choosing icons from different library as well like fontAwesome, Feather, Bootstr

[2022-02-15 08:00] aaditya9899 commented on #4683
I am having  difficult in windows to setup everything on docker this time that's why I will not be working on this at this time maybe in future but for now this is open to work for anyone. Thank you for reminding me this @ragesoss

[2022-02-15 08:03] aaditya9899 commented on #4683
Thankx for reminding me this one @ragesoss , it's currently open to work for anyone if I will start working on this one , I will acknowledge it here.

[2022-02-15 17:57] ragesoss commented on #4337
@pmartinolli I understand that you're coming from the perspective of a having a student whose false positive revision showed up on the public 'Possible Plagiarism' list for a course on Programs & Events Dashboard. Would an alternative label (currently "Possible Plagiarism", or an adjustment to the explanation text ("Wikipedia's plagiarism detection system uses Turnitin/iThenticate to compare new e

[2022-02-15 19:56] pmartinolli commented on #4337
Yes, such an adjustement of the explanation text is a first step to mitigate the issue. Another idea : making the warning only visible for the administrators of the event ?

[2022-02-15 20:19] ragesoss commented on #4337
Do you have an idea for what to adjust in the text? I wrote it with the intention of avoiding this kind of problem, but clearly that didn't work.

The list of revisions that may have copied text is useful to have public, so that other editors who aren't running the event can easily check them.

[2022-02-15 20:29] ragesoss commented on #4466
We want to keep the current icons we're using, and just standardize how they are implemented. It looks like `react-icons` is a library for importing from an existing collection of icons, not taking custom icons and integrating them into an app.

[2022-02-16 03:38] ragesoss commented on #4718
@aaditya9899 you're not working on this one anymore, correct?

[2022-02-16 03:54] aaditya9899 commented on #4718
@ragesoss yes I started working on GitHub actions instead because I was having difficulty in understanding it at that time but currently i am not working on it

[2022-02-16 03:56] aaditya9899 commented on #4466
Oh okay understood i will tell you if i start working on this one.

[2022-02-16 18:14] Sahethi commented on #4342
oh, thank you
i'll try doing that

[2022-02-17 07:03] aaditya9899 commented on #4718
hey @ragesoss  i am working on this now but I am having little difficulty in creating the bug locally.

![bug](https://user-images.githubusercontent.com/38832156/154422955-c56888ba-96b1-4581-b747-ad0835e014a0.png)

[2022-02-17 07:06] aaditya9899 commented on #4718
working on this one currently @ragesoss

[2022-02-17 07:09] aaditya9899 commented on #4718
that part where milestone is written , that's the bug right?

![bug](https://user-images.githubusercontent.com/38832156/154423636-0ece4a59-b1a0-4a99-8c3d-2221bc52f6c0.png)

[2022-02-17 21:50] ragesoss opened #4795 "Improve layout of Article Viewer legend with many users"
### What is happening?
If you use ArticleViewer on an article with a large number of users who edited it, the legend at the bottom (which lists all the usernames) overflows the boundaries of the ArticleViewer modal, and may be cut off depending on the number of users and the height of the browser window.

See for example https://dashboard.wikiedu.org/courses/University_of_Michigan/The_Italian_Mafi

[2022-02-18 06:13] aaditya9899 commented on #4781
hey is someone working on it still?

[2022-02-18 08:25] chepyego commented on #4781
hey yes am working on it, sorry  i was having some troubles setting up the
application

On Fri, Feb 18, 2022 at 9:13 AM aaditya9899 ***@***.***>
wrote:

[2022-02-19 11:04] vaidehi44 commented on #4621
Hey @ragesoss. I have a opened a PR. Please have a look.

[2022-02-19 18:10] aaditya9899 commented on #4718
working on this one currently

[2022-02-19 18:28] aaditya9899 commented on #4718
just a little doubt that part where the milestone is written , that's the bug right , and also while adding it , i received a red warning too. The expected behaviour should be what exactly?

![ew](https://user-images.githubusercontent.com/38832156/154814025-79b4a197-4681-4fc1-a826-0db6d0ab35f9.png)

[2022-02-19 18:51] aaditya9899 commented on #4340
hey @ragesoss I think I can work on this simultaneously with the previous one I mentioned so can I or should I wait for pull request then process.

[2022-02-21 15:54] ragesoss commented on #4340
@aaditya9899 starting on this now is fine. Thanks.

[2022-02-21 17:28] cyrillefr commented on #4345
Hello @ragesoss , may I work on this one ?

[2022-02-21 17:37] ragesoss commented on #4345
@1v4n4 would you like to let cyrillefr take this on? (Ivana is working on Wikidata stats for her Outreachy internship, and might otherwise take this on pretty soon.)

[2022-02-21 18:02] 1v4n4 commented on #4345
I was thinking to add Wikidata stats to a campaign.json as a next step. I think that would  impact this issue. Otherwise, I don't mind.

[2022-02-21 18:10] ragesoss commented on #4345
Cool. I think doing it in campaign.json will basically be independent of this task. What impact do you foresee?

[2022-02-21 18:17] 1v4n4 commented on #4345
well, i thought about it and it wouldn't. except it will generate the same data as csv

[2022-02-21 18:19] ragesoss commented on #4345
Great. Go for it, @cyrillefr .

[2022-02-22 06:46] Ishan-Saini commented on #4795
Hey @ragesoss , Would you recommend a first time contributor to start off with this issue?
I think it should be doable 🤔

[2022-02-22 17:59] Sahethi commented on #4342
Hey, I was able to see the section I queried about previously and I submitted the PR #4799
I have only updated **config/locales/en.yml** and wasn't sure if the same has to be done for the rest of the files in **config/locales**

[2022-02-22 18:05] ragesoss commented on #4342
@Sahethi it should also update the qqq.yml file, which is for descriptions of the interface messages to help translators understand the context and usage of each message. The others don't need to be changed; they get updated periodically based on translation updates that people contribute to translatewiki.net.

[2022-02-22 18:41] ragesoss commented on #4795
@Ishan-Saini Sure, go for it. You may find it useful to use `setup/copy_course_from_production.rb` to copy that example course so that you can replicate the screenshot example locally.

[2022-02-23 08:07] shreyaansjain06 commented on #2887
Is this the error you are talking about that after changing to www.wikidata.org nothing is coming
<img width="1434" alt="Screenshot 2022-02-23 at 1 35 35 PM" src="https://user-images.githubusercontent.com/86606251/155281271-1737ccf1-72a1-40f1-87e6-d470400c9e2b.png">

[2022-02-23 14:41] Harshkumar77 commented on #4795
@ragesoss i think the problem is not with the large number.
![image](https://user-images.githubusercontent.com/72347597/155341426-3b171fc6-cd3b-458c-bf6f-65aa9c3b0d29.png)
its kinda css-y thing. can i work on it ??

[2022-02-23 14:58] Sahethi commented on #4342
@ragesoss Thank you! I have made the necessary changes in the PR #4799

[2022-02-23 15:10] ragesoss commented on #4795
It's definitely a css-y thing, although it's only currently a problem when there are enough users that it wraps to two or more lines.

@Ishan-Saini, please let us know if you stop working on this.

[2022-02-23 16:21] ragesoss commented on #2887
This issue is not about an error, it's just that the Wikidata items show up as Q numbers.

![Q numbers](https://user-images.githubusercontent.com/848483/155359357-bd3fba0b-f986-462c-9d4e-d0570730a8b2.png)

(Make sure your local code is up to date with the latest version. If you are not getting any results there and you have a console error, it may be a bug that was fixed in a later commit than you

[2022-02-23 17:53] TheTrio commented on #4685
Was thinking about trying this. How should I import the articles data so I could try this out locally? Is [this](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/user_roles.md#copy-a-course-from-production) enough?

[2022-02-23 17:55] ragesoss commented on #4685
Yes, that is probably a good way to do it.

[2022-02-24 06:46] shreyaansjain06 commented on #2887
I found that the article prop, which is passed to ArticleViewer in article_finder_row.jsx contains these Q in article.title when we change to www.wikidata.org. So for this I tried finding how this article is formed in action and reducer file but didn't got the idea of its working.

So can you please tell how the article is formed ?

[2022-02-24 10:20] aaditya9899 commented on #4718
hey @ragesoss the red error on assigning the milestone with training module got fixed with starting redis server

[2022-02-24 10:40] aaditya9899 commented on #4718
I just want to know what will it look like on successful rendering of milestone component as I am not sure what's the bug exactly currently

[2022-02-24 15:25] ragesoss commented on #4718
You should be able to replicate the bug like this:

1. In `wiki_education` mode, create a new course that is several months long, and choose the 'research and write an article' option in the assignment wizard to create a timeline.
2. Go to the timeline tab, find one of the blocks that only contains an assigned training module and no other content, and edit this block to change the Type to 'Milesto

[2022-02-24 15:34] aaditya9899 commented on #4718
I have enabled ` wiki_education mode : 'true'` but creating a course mean `creating an independent programme` ?

[2022-02-24 15:35] aaditya9899 commented on #4718
can you explain the first step just in brief to do that? cause I am not sure about it

[2022-02-24 15:36] aaditya9899 commented on #4718
wiki_education mode mean setting ` wiki_education: 'true'` in application.yml

[2022-02-24 15:37] ragesoss commented on #4718
If you're seeing 'create an independent program', you are not in `wiki_education` mode. Make sure you have `wiki_education: 'true'` in `application.yml. Then, on the "My Dashboard" homepage, you should have a "Create Course" button.

[2022-02-24 16:03] ragesoss commented on #4718
I'm not sure either. If you see 'Create an Independent Program' on the homepage, it's definitely not in `wiki_education` mode. If you see no buttons, try adding admin rights to your account.

[2022-02-24 16:10] aaditya9899 commented on #4718
oh how to do that

[2022-02-24 16:13] ragesoss commented on #4718
See https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/user_roles.md#admin-permissions

[2022-02-24 17:20] aaditya9899 commented on #4718
Thank you @ragesoss fixed the issue and now working on the bug

[2022-02-24 17:34] aaditya9899 commented on #4718
not able to reproduce the bug , i also tried making a new block with type milestone and adding training module as well but still it is rendering fine

[2022-02-24 17:47] ragesoss commented on #4718
I couldn't replicate it either by editing the timeline, because it only happens when the the `content` of the `Block` is null; when I changed a training block to Milestone type, it had an empty string as the content. I was able to replicate it by updating the `content` to `nil` via Rails console.

[2022-02-24 17:49] aaditya9899 commented on #4718
oh how to do that via rail console?

[2022-02-24 17:53] ragesoss commented on #4718
Figure out the block's ID (which you can do by inspecting the timeline.json output for the course, or by using the Redux Dev Tools extension for Chrome), then in a rails console, you can some some something like:

[code]

[2022-02-24 18:06] ragesoss commented on #4718
that looks like a plain `irb` console, not a rails console. Try `bundle exec rails c` to launch a rails console.

[2022-02-24 18:09] aaditya9899 commented on #4718
thankx bug is reproduced now

[2022-02-24 18:27] aaditya9899 commented on #4718
what does this code do   `  const rawHtml = md.render(block.content);`

[2022-02-24 18:35] ragesoss commented on #4718
It converts the the block content (which is in Markdown format) into HTML.

[2022-02-24 18:37] #4685 closed

[2022-02-24 18:43] aaditya9899 commented on #4718
oh okay I was referring to your hint that something expecting milestone component to be just string and wondering where it is coming from that's why asked

[2022-02-24 18:56] aaditya9899 commented on #4718
Now looking at the console I got these tips
`
     Error: Input data should be a String

      at b.parse (index.js:519:11)

    at b.render (index.js:544:36)
    at milestones.jsx:34:28
    at Array.map (<anonymous>)
    at milestones.jsx:31:30
    at Array.map (<anonymous>)

I think I can solve this now

[2022-02-24 19:04] ragesoss opened #4805 "In Articles Edited view, filter settings don't match UI after navigating away and back"
### What is happening?
The Articles Edited view on a course page — eg, https://dashboard.wikiedu.org/courses/Brigham_Young_University/The_United_States_Since_1877_(Winter_2021)/articles/edited — lets you filter the list. (There are up to three filter parameters, but just one in that example.) If you change one of the default settings (for example, filter the example to only show `New` articles), t

[2022-02-24 22:46] TheTrio commented on #4805
Am working on this.

[2022-02-25 08:07] aaditya9899 commented on #4718
hey @ragesoss My changes in vscode in not reflecting in the live server?? When I check the code in the source window of console panel of chrome , it still shows the previous code

[2022-02-25 15:54] ragesoss commented on #4718
It sounds like you haven't compiled the assets. If you have `yarn start` running in a terminal, it will compile the assets and then recompile any time there is a change. If you run `yarn build` and wait for it to exit, it will compile the production version of the assets.

[2022-02-25 16:56] Sahethi commented on #4465
Hey @ragesoss I tried to work on this and I have submitted the PR #4809 for this issue

[2022-02-25 18:14] aaditya9899 commented on #4718
okay but its taking too long to complete yarn start , I have to exit it after 10 min or so because it was not moving further

[2022-02-25 18:16] ragesoss commented on #4718
`yarn start` doesn't exit, it just keeps running and watches for changes, automatically recompiling each time you save a JS or CSS change.

[2022-02-25 18:17] #4342 closed

[2022-02-25 18:17] aaditya9899 commented on #4718
ohh okay thank you so much for clarity .

[2022-02-25 18:22] #4805 closed

[2022-02-26 09:16] aaditya9899 commented on #4718
on replacing  `const milestoneBlocks = filter(week.blocks, block => block.kind === this.milestoneBlockType);`
with `const milestoneBlocks = [ ] ;` , the milestone component is not getting but the screen is appearing , this command filter out on basis of what

[2022-02-26 14:46] ragesoss commented on #4718
The big is that the whole Home tab disappears. A fix will mean a Milestone with null content and a training module will no longer crash the whole Home tab

[2022-02-26 15:22] aaditya9899 commented on #4718
hmm yes I have fixed it by not rendering it on the hometab but having difficulty in not making tab disappear as well as keeping that also, let me see what I can do

[2022-02-27 15:51] TheTrio commented on #4684
Am working on this

[2022-02-28 18:26] ragesoss commented on #4795
@Ishan-Saini any updates?

[2022-03-01 04:12] Ishan-Saini commented on #4795
Apologies! I got busy with some project work at my university.
@Harshkumar77 let me know if you're already working on this, I will be happy to work on this otherwise. Sorry again 😅

[2022-03-01 06:44] Harshkumar77 commented on #4795
Sure I will look into it !

[2022-03-02 16:55] marklocklear commented on #4795
Notes for others to reproduce locally. Run `rake dev:copy_course "https://dashboard.wikiedu.org/courses/University_of_Michigan/The_Italian_Mafia_(F2021)"` to copy the course to your local environment. Then run `rails c` to load the rails console; `course = Coiurse.last` then `UpdateCourseStats.new(course)` to copy the related article data. Be patient as your console may hang...its a lot of data to

[2022-03-02 18:57] marklocklear commented on #4781
@chepyego I think you just need to change the text in app/services/add_users.rb and b/app/services/join_course.rb from symbols to regular strings; so instead of ` { failure: 'Not an existing user.' }` use `{ "failure" => 'Not an existing user.' }`

[2022-03-02 20:19] marklocklear commented on #2460
How can I reproduce this locally? Any way to copy user data/contributions to my local environment?

[2022-03-02 20:49] chepyego commented on #4781
@marklocklear am actually not getting any sidekiq warning and i haven't changed anything
![massEnrollement](https://user-images.githubusercontent.com/22706319/156446833-c0cd341b-5491-48e0-b2db-9ebb9dbcf6bd.png)

[2022-03-02 21:22] ragesoss commented on #4781
It looks like you ran the spec for SelfEnrollmentController, not MassEnrollmentController.

[2022-03-02 23:43] ragesoss commented on #2460
One way would be to create a course locally, and set the start and end dates very wide (eg, 2014 - 2022), then add 'Pharos' as a participant and do a data update.

You could perhaps get a more realistically full database by copying each of the courses that user has participated in:
https://outreachdashboard.wmflabs.org/users/Pharos

I'm not sure the description is right, as this user doesn't actua

[2022-03-03 20:29] marklocklear commented on #2460
I'm getting an "Internal Server Error" when trying to create a program. Any ideas? Here is what I am seeing in the console:

[code]

[2022-03-03 20:35] ragesoss commented on #2460
Hmm... Not sure. Is there more of the stacktrace above that?

[2022-03-04 19:16] TheTrio commented on #4795
I guess it depends on how you wish it to look in case of an overflow, but I guess a simple fix would be to just make the entire container scrollable

![wiki](https://user-images.githubusercontent.com/10794178/156827263-6af16e8f-8fbc-47cb-a838-5ca1969a91bc.gif)

[2022-03-07 21:59] dvorapa opened #4823 "Adding a user to project results in error 500 and no change is propagated to Wikipedia (userpage and project page)"
### What is happening?
When I add a user to https://outreachdashboard.wmflabs.org/courses/Wikimedia_%C4%8Cesk%C3%A1_republika/Online,_zima_2022,_za%C4%8D%C3%A1te%C4%8Dn%C3%ADci_(zima_2022)/students/overview , I get red notification informing about error 500 and no changes are made to any page in Wikipedia.

### To Reproduce

1. Open the project https://outreachdashboard.wmflabs.org/courses/Wikimed

[2022-03-07 22:25] ragesoss commented on #4823
@dvorapa thanks! I've been investigating, and I think the system is stable again. Try again and see if it's working now.

[2022-03-07 22:34] dvorapa commented on #4823
Thank you for your quick response, I tried just to edit the project details to see if it edits Wikipedia, but still it has got some issue:
![obrazek](https://user-images.githubusercontent.com/5113916/157129359-baba27f6-23c8-4857-84e4-b1d24a2d79d7.png)
Anyway, I edited the userpages by hand and the Wikipedia project page does not matter that much.

[2022-03-07 23:44] ragesoss commented on #4823
Wow. That was a lot harder to debug than I expected. I think it's working again for now.

[2022-03-08 15:21] verdy-p opened #4824 "Corrupted localisation messages in fr.yml"
### What is happening?

Broken message in "fr.yml": an existing message that was encoded on two lines (with a continuation line syntax) has been its last word (on the second line) interpreted as additional text continuting two new unrelated messages that were inserted at the wrong place.

Beware of continuation lines.

### To Reproduce

### Additional context

See my comment in localisation file f

[2022-03-08 15:33] #4824 closed

[2022-03-08 15:44] Biki-das commented on #4633
will be happy to pull this out.

[2022-03-08 18:04] vaidehi44 commented on #4658
Hi @ragesoss. I was just going through this issue. It seems that new, enhanced UX for `Article Scoped Program` has not been implemented at all. It looks similar to other types of programs when we are creating a program. Am I right?

[2022-03-08 20:33] dvorapa commented on #4823
Thank you, I'll report if anything bad happens again

[2022-03-08 20:35] ragesoss commented on #4823
Much appreciated!

[2022-03-08 22:26] ragesoss commented on #4633
Ruby is very easy to learn as you go, especially if you're familiar with JavaScript. Biggest tip is just, whenever you get stuck or confused about something in Ruby, ask!

[2022-03-10 18:29] vaidehi44 commented on #4561
@ragesoss, can you mention steps to reproduce this? I am not able to get to a point where I can approve submitted courses.

[2022-03-10 18:35] vaidehi44 commented on #4561
Okay. And, how can I login as Admin?

[2022-03-10 19:02] vaidehi44 commented on #4561
This seems interesting to me @ragesoss. Can I work on this?

[2022-03-10 19:04] ragesoss commented on #4561
@vaidehi44 sure, go for it.

[2022-03-12 09:10] vaidehi44 commented on #4621
@ragesoss, shouldn't this be closed now?