[2022-03-12 15:10] ragesoss commented on #4621
Yes!

[2022-03-12 15:10] #4621 closed

[2022-03-14 19:16] vaidehi44 commented on #4561
Hey @ragesoss. A few questions after looking at the present UI (haven't actually seen the code yet) -

- After clicking on 'View Course Page' the wiki education staff reviewer gets the same interface as it is when some instructor creates a course. This gives the reviewer ability to even edit the course page. Is this deliberately done? If not, then I think first step would be to present the course

[2022-03-14 19:26] ragesoss commented on #4561
The program manager is typically also the person who is reviewing a submitted course page (Helaine — https://wikiedu.org/about-us). Within the Dashboard, they are identified by having the `classroom_program_manager` Special User role (via /settings). The review sometimes needs to make edits to a course before approving it, and in general, an admin should be able to edit a course no matter what sta

[2022-03-14 19:32] vaidehi44 commented on #4561
Okay. Will work on the new section then and let you know.

[2022-03-15 21:16] ragesoss commented on #4795
I'd like to avoid that kind of scroll-within-scroll situation, if possible.

[2022-03-15 21:17] ragesoss commented on #4795
@Harshkumar77 are you still working on this?

[2022-03-15 21:21] ragesoss commented on #4727
Fixed in #4779

[2022-03-15 21:21] #4727 closed

[2022-03-15 21:37] ragesoss opened #4859 "Create an Alert when an active course Timeline gets removed"
### Current Behavior:
On dashboard.wikiedu.org, a course must have a Timeline before it gets submitted, and Wiki Education staff will only approve courses with detailed timelines that include the standard set of training modules (among other things that we check for).

However, after course approval, an instructor can still modify their Timeline. In rare cases, they may remove the standard Timelin

[2022-03-16 04:00] shekinahmanyi commented on #4859
Hi @ragesoss please i will like to work on this issue

[2022-03-16 15:42] ragesoss commented on #4795
Maybe. I guess ideally it would keep the entire modal within the screen, and just reduce the space used for the article content to make room for the extra names.

[2022-03-16 16:02] ragesoss commented on #4795
Yes. Any improvements, even partial, will be most welcome.

[2022-03-21 16:48] ragesoss opened #4873 "Cannot directly load student view for username that include a period"
The server returns a 404 for this URL: https://dashboard.wikiedu.org/courses/University_of_Ottawa/CMN2160C_(Winter)/students/articles/Heba.Aweiwi

Other usernames in the same course work fine: https://dashboard.wikiedu.org/courses/University_of_Ottawa/CMN2160C_(Winter)/students/articles/Nabila%20Bashamuher

Navigating to that user from an already-loaded course page (such as the second link) also w

[2022-03-21 19:06] ragesoss commented on #4604
I think this is as fixed as it's going to get now that we've upgraded React Router in #4869. `Wikster808%` now works everywhere, including direct navigation to a student articles page, and links/navigation work properly for `CaesSion?`. Loading a page directly via URL still doesn't work if `CaesSion?` is in the URL rather than `CaesSion%3F`, but that's probably a fundamental limitation (and is als

[2022-03-21 19:06] #4604 closed

[2022-03-22 23:01] ragesoss commented on #4781
Fixed in 1c44a30d4c5b3c3a0ce6f26e68be2ddc77516dc0

[2022-03-22 23:01] #4781 closed

[2022-03-25 19:52] FatimaJaffal commented on #1834
@ragesoss I think this is not resolved yet, no? If so, I would like to work on this.

[2022-03-25 19:55] ragesoss commented on #1834
@FatimaJaffal yes, it's not resolved yet. Go for it!

[2022-03-25 19:56] FatimaJaffal commented on #1834
@ragesoss any idea how can I re-assign it?

[2022-03-25 19:57] ragesoss commented on #1834
It doesn't need to be assigned.

[2022-03-25 20:00] FatimaJaffal commented on #1834
@ragesoss I will start working on it, thank you!

[2022-03-26 03:13] enelesmai commented on #4873
Hello @ragesoss I would like to work on this issue, I will start the research

[2022-03-26 04:45] Florence-Njeri commented on #4716
Hi @ragesoss , can I pick this task?

[2022-03-26 08:08] FatimaJaffal commented on #4528
@ragesoss I opened a PR for this https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/4885.

[2022-03-26 08:15] FatimaJaffal commented on #1135
@ragesoss Do we still need to do this?

[2022-03-26 08:36] vaidehi44 commented on #4561
Hi @ragesoss, I was thinking to implement something like this -

![image](https://user-images.githubusercontent.com/56690165/160231646-c4d6a25b-1668-4a82-8528-b8141dde5d4b.png)

However, I think, for this to work correctly, i.e. the users for `Program Manager` and `Wiki Expert` are different, we will have to explicitly define separate roles in the database too. I don't think this should be done th

[2022-03-26 08:51] vaidehi44 commented on #4561
Actually, here my intention was to make it clear to the reviewers what people(program manager and wiki expert) they are adding to the staff role. Hence, I also have this doubt, whether `Program Manager` and `Wiki Expert` are the only two sub-roles in `staff` or there can be more people joining?

[2022-03-26 14:12] ragesoss commented on #4716
@Florence-Njeri yes, go for it.

[2022-03-26 14:13] ragesoss commented on #1135
Yes.

[2022-03-26 14:35] ragesoss commented on #4561
Thanks for the update and illustration, @vaidehi44!

The main goal for this is to simplify the workflow for the admin who is reviewing and approving the course. A simpler workflow would be something like this:

1. the program manager clicks an 'approve course' button, which opens a form
2. the form only lets you add one program manager and one wiki expert, and the choice of which user to add is in

[2022-03-26 14:38] ragesoss commented on #4561
The people to populate in the 'program manager' and 'wiki expert' roles come from `SpecialUsers.classroom_program_manager` and `SpecialUsers.wikipedia_experts` on the server (which can be set from /settings if you are a super-admin).

[2022-03-26 14:54] vaidehi44 commented on #4561
Thank you @ragesoss for the detailed description of what is expected. This sounds cool. Will approach it accordingly.

[2022-03-28 10:00] FatimaJaffal commented on #4528
@ragesoss can you review it please.

[2022-03-28 16:13] ragesoss commented on #4859
@shekinahmanyi hi! are you working on this?

[2022-03-28 16:55] #4528 closed

[2022-03-28 17:52] shekinahmanyi commented on #4859
Yes @ragesoss

[2022-03-28 17:54] ragesoss commented on #4859
Great! Let me know if you have any questions or get stuck with anything.

[2022-03-28 17:55] shekinahmanyi commented on #4859
Ok thanks!
I'll do so

[2022-03-29 17:51] Sahethi opened #4887 "Edit Count Should be Reversed for Student's Table"
### What is happening?
Issue is submitted with regards to the PR #4880 In `Students Table` for a `Campaign`. In here the `Edit Count` features sorts the values in ascending order not providing the ideal User Experience.

### To Reproduce

Steps to reproduce the behavior:
1. Go on any particular campaign of your choice. In order to access the courses table, one has to make `wiki-education: 'true'`

[2022-03-29 17:52] ragesoss commented on #4873
@enelesmai how is it going? Give me a ping if you need any help.

[2022-03-29 18:56] Sahethi opened #4889 "References Added not sorting in Articles Table for Campaign"
### What is happening?
In Articles Table for Campaign, `References Added` fails to sort the table.

### To Reproduce

Steps to reproduce the behavior:
1. Go on any particular campaign of your choice. If you want to access the courses table, then you have to make `wiki-education: 'true'` in `application.yml`.
2. In the main `dashboard` click on `Find Your Course` button.
3. Select anyone of the `Ac

[2022-03-29 18:59] #4887 closed

[2022-03-30 00:49] Sahethi opened #4891 "Tables are indicated to be sorted by the wrong column."
### What is happening?
Many tables are indicated to be sorted by the first column, but this would not be the case, the indicator is misplaced.

### Steps to reproduce the behavior:
1. Go on any particular campaign of your choice. If you want to access the courses table, then you have to make `wiki-education: 'true'` in `application.yml`.
2. In the main `dashboard` click on `Find Your Course` butto

[2022-03-30 07:00] Rish-av4 commented on #1883
I don't understand the problem statement. Like where is the problem? A little help would be appreciated.

[2022-03-30 15:11] #4891 closed

[2022-03-30 15:41] marklocklear opened #4893 "Error when running the rails server for the first time on new dev environment (using vagrant)"
### What is happening?
Getting the error ```Error during failsafe response: No such file or directory @ rb_sysopen - /vagrant/WikiEduDashboard/public/assets/javascripts/css-manifest.json```  in server console when trying to access development server on local dev environment. Note, this is a vagrant environment so I'm not sure if that has any bearing on the issue. Here is the box I am using https:/

[2022-03-30 16:11] ragesoss commented on #4893
That's the error you get when the assets haven't been generated. Did you run `yarn` and `yarn build` (or `yarn start`)?

[2022-03-30 16:48] marklocklear commented on #4893
OK, doing `yarn build` seemed to do it. Thanks!

[2022-03-31 01:30] Grahamwp opened #4895 "grammatical error on "articles edited" page"
The text "These ratings may corresponds to much older versions" should be "These ratings may correspond to much older versions" (i.e. corresponds should be correspond) in the table description found on lists of articles edited, like this one:
https://dashboard.wikiedu.org/courses/Indiana_University_of_Pennsylvania/Composition_I_-_Writing_Wikipedia_(Spring_2022)/articles/edited?

[2022-03-31 16:52] ragesoss commented on #4328
@marklocklear please do! thanks!

[2022-03-31 17:13] ragesoss commented on #1760
@Iphytech yes, go for it.

[2022-03-31 17:19] ragesoss commented on #2082
Here's what the current coverage on the reducers looks like:
![reducer coverage](https://user-images.githubusercontent.com/848483/161113266-582ef796-217f-455d-a190-73ffb5af34ac.png)

[2022-03-31 17:25] ragesoss commented on #4658
@vaidehi44 that's correct, there is almost nothing related to this issue that has been implemented so far.

[2022-03-31 17:26] #4345 closed

[2022-03-31 17:28] ragesoss commented on #272
This is the same as #4561

[2022-03-31 17:28] #272 closed

[2022-03-31 17:31] ragesoss commented on #279
This should be pretty easy after the refactor of how we handle timeline weeks to use shared redux state for Timeline and Milestones.

[2022-03-31 17:41] ragesoss commented on #950
I think this doesn't happen much anymore, and no further changes are needed.

[2022-03-31 17:41] #950 closed

[2022-03-31 17:45] ragesoss commented on #2461
I think this is fixed now, via duplicate #4621

[2022-03-31 17:45] #2461 closed

[2022-03-31 18:02] ragesoss commented on #2015
This is close to done. There are just a few uses of `ajax` left in the codebase.

[2022-03-31 18:09] ragesoss commented on #2622
I think we don't want to do this for all revisions, just for the sake of database size, except for Wikidata... which we do now.

For the activity tab, if needed, we can fetch the summaries from the wiki API client-side.

[2022-03-31 18:09] #2622 closed

[2022-03-31 18:10] ragesoss commented on #2762
I think this is done.

[2022-03-31 18:10] #2762 closed

[2022-03-31 18:20] #4895 closed

[2022-03-31 21:24] sanyud24 commented on #2887
Hey @ragesoss, can I work on this issue?

[2022-03-31 21:26] ragesoss commented on #2887
@sanyud24 sure, go for it!

[2022-03-31 22:02] Iphytech commented on #1760
Thanks

[2022-04-01 23:31] chepyego commented on #4036
hey, can I work on this?

[2022-04-02 00:16] ragesoss commented on #4036
Yes, go for it.

[2022-04-04 08:22] buildwithallan commented on #4873
Hi @ragesoss I will like to work on this if it's still available.

[2022-04-05 06:17] sanyud24 opened #4901 "Docker build not working due to eslint"
### What is happening?
Running `docker build -t wikiedu .` fails at `yarn` step due to eslint incompatibility with the image's Node v10.
[code]

### Expected behavior
Docker build should be working fine with the given node and package versions.

### Context
`eslint` was recently updated to v8.x series, but the Dockerfile wasn't update to newer node version in the https://github.com/WikiEducationFo

[2022-04-05 15:57] ragesoss commented on #4873
@buildwithallan sure. can you summarize what you've researched and what ideas you have so far?

[2022-04-05 16:53] #4901 closed

[2022-04-05 16:54] #4328 closed

[2022-04-05 17:23] buildwithallan commented on #4873
@ragesoss  Okay. I read that if you want to support a url parameter more complex than an id number, you may run into trouble with the parser if the value contains a period. Anything following a period will be assumed to be a format(i.e. json)

If you want to support a url parameter more complex than an id number, you may run into trouble with the parser if the value contains a period. Anything fol

[2022-04-05 17:34] ragesoss commented on #4873
Good, it sounds like you are on the right track. A good next step would be to write some tests for the examples in this issue. Doing that may help you pin down which route lacks the `constraints` it needs to work in this situation.

[2022-04-05 17:35] ragesoss commented on #4873
You can see that we already use this `constraints: { id: /.*/ }` approach for many routes in `routes.rb`, so it might be easy to fix once you find the correct route.

[2022-04-05 17:44] buildwithallan commented on #4873
@ragesoss  Sure I will do that.

[2022-04-05 18:14] sanyud24 commented on #2887
@ragesoss created the PR, please review

[2022-04-06 14:55] marklocklear opened #4908 "Unable to login to wikipedia on dev machine"
### What is happening?
After starting the rails server and browsing to localhost:3000 I click the "Log In with Wikipedia" link and get the message:

Login Error
It looks like there was an problem with the sign in process. (Sorry about that! It happens occasionally.) Please try logging in or enrolling again.

In the console I see:
[2022-04-06 15:22:11.794 INFO ] Started POST "/users/auth/mediawiki"

[2022-04-06 15:09] marklocklear opened #4909 "Grammar issue on login error"
### What is happening?

### To Reproduce

Login fails to load Wikipedia URL you get the message:

It looks like there was an problem with the sign in process...

### Expected behavior
Should read:
It looks like there was a problem with the sign in process.

Found this while running into error https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/4908

[2022-04-06 15:15] marklocklear commented on #4909
Fixed with https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/4910

[2022-04-06 15:15] #4909 closed

[2022-04-06 16:28] marklocklear commented on #4908
The environment variables in config/initializers/devise.rb all appear to be nil. Specifically ENV['wikipedia_token'], ENV['wikipedia_secret'] and ENV['wiki_language']. Could this be the issue and how should these be set?

[2022-04-06 16:39] marklocklear commented on #4908
Renamed config/application.example.yml to config/application.yml and this resolved the issue.

[2022-04-06 16:39] #4908 closed

[2022-04-06 16:41] ragesoss commented on #4908
Yes, copying the example config to `application.yml` is the intended way to get those credentials in a dev environment. (You want to copy rather than move to avoid accidentally committing a change that removes the example file.)

[2022-04-06 16:42] ragesoss commented on #4716
Hi @Florence-Njeri! Are you still working on this? Let us know if you have any questions.

[2022-04-06 16:52] marklocklear commented on #4908
@ragesoss thanks! Good call on copying vs. renaming 🙏

[2022-04-06 16:54] ragesoss opened #4911 "Create a way for admins to copy courses from a production instance of the Dashboard"
We have a script for copying the core data of one program on a public instance of the Dashboard to another instance: `setup/copy_course_from_production.rb`. However this can only be used manually from a rails console.

A good step forward would be to add a controller and very simple frontend for this functionality, so that it's really easy for a developer to copy a course from production for testi

[2022-04-06 17:12] ragesoss opened #4912 "In dev build, console is flooded with errors related to source maps"
### What is happening?

When the dev build of the assets (`yarn start`) are being used, when you load the dashboard locally, the console is flooded with errors like this:

Chrome: `DevTools failed to load source map: Could not load content for webpack:///node_modules/react-day-picker/build/index.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME`

Firefox: `Source map error: TypeErro

[2022-04-06 17:23] marklocklear commented on #4859
@ragesoss How can we tell if a course is approved? Is the **approved?** method in **course.rb** sufficient?

[2022-04-06 17:30] ragesoss commented on #4859
@marklocklear yes, for an individual Course, `#approved?` is the way to tell. (We don't have scope for getting the collection of all approved courses, but the same logic could be turned into a scope if needed.)

[2022-04-07 02:14] anirudh-t-d commented on #4911
Hi @ragesoss I would like to start working on this. But I am new to this, so it might take me a bit of time.

[2022-04-07 04:20] enelesmai commented on #4911
Hello @ragesoss do you think I can work on this issue? Or should I take another one? I'm an applicant for outreachy program

[2022-04-07 15:00] marklocklear commented on #4859
@ragesoss here is a first stab at this https://github.com/marklocklear/WikiEduDashboard/tree/timeline_removal_alert. Let me know if I'm headed down the right path. Also probably need more logic in the **deleted_timeline?** method in deleted_timeline_alert_manager.rb.

Also unclear about what email template gets called from **alert_mailer.rb**; like what is **@alert.message**?

[2022-04-07 16:25] #4392 closed

[2022-04-07 16:57] ragesoss opened #4916 "Update article_finder_actions.js and related files with accurate variable names"
I noticed while reviewing #4905 that in `article_finder_actions.js` and related files that use it, `fetchKeywordResults` and some other functions take a `home_wiki` parameter. However, wiki object passed to it are not necessarily the home wiki for a course. The variable names are misleading, and this code will be easier to understand and modify if variable and prop names are updated where appropri

[2022-04-07 18:58] ragesoss commented on #4859
Thanks @marklocklear. I think following the pattern of the other alert managers is probably not the right way to do this, because the situation we're trying to detect may look like this:

* Course is approved with a normal timeline
* Later, instructors removes all content from the timeline (either using the 'delete timeline' button or by deleting each week or block manually)
* Instructor immediate

[2022-04-09 01:51] enelesmai commented on #4911
Sorry I didn't saw your message and started to work on it, but we can collaborate and work in the same branch if you want. Maybe I can guide you :)

[2022-04-09 04:57] anirudh-t-d commented on #4911
It's ok @enelesmai I couldn't start to work on it as I had to take care of my Mum. You can work on it. I hope things will get better by tomorrow and work on another issue. And @ragesoss can you please add me to the slack channel?

[2022-04-09 21:24] anirudh-t-d commented on #4916
@ragesoss I would like to work on this

[2022-04-10 17:49] zishugshan commented on #4873
initially :

[code]

mysuggestion :
[code]
update :
[code]

➡️ @ragesoss is it make sense?

[2022-04-11 00:35] ragesoss commented on #4873
Something like that is what I was thinking, yes. Did you test it out?

[2022-04-11 14:53] buildwithallan commented on #4873
I am currently working on this issue @zishugshan

[2022-04-11 15:11] zishugshan commented on #4873
👍 sure, you do this.
@buildwithallan I am sorry, I thought you are not active for someday

[2022-04-11 18:51] #2887 closed

[2022-04-11 20:12] #4916 closed

[2022-04-12 09:25] Kingstalux commented on #4911
Hello @ragesoss , since this issue has not yet been resolved can I start working on it too?

[2022-04-13 04:16] buildwithallan commented on #4036
@rageross Hey, has this been worked on already? I followed the steps to reproduce the expected error trace but the survey results is shown.

[2022-04-13 16:57] ragesoss opened #4933 "Add 'News' feature to the Dashboard"
### Current Behavior:

Currently, there's no good way to keep users informed of recent changes and other important news/information related to the Dashboard. We occasionally use the `sitenotice` feature to add a banner about particularly important announcements, but this shows up on every page all the time and cannot be dismissed, so it's not suitable for something like "Zoom office hours for Dash

[2022-04-13 17:16] #4873 closed

[2022-04-13 19:05] ragesoss commented on #4036
Looks like I fixed this with https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/4bc40dc1f24a9177e4d6ea2047ed7b793c44acf4

[2022-04-13 19:05] #4036 closed

[2022-04-13 19:10] #4912 closed

[2022-04-14 10:50] zishugshan commented on #715
hey @ragesoss
I sort it out , I tested it in my localhost, it working fine .

[2022-04-14 18:00] marklocklear commented on #4859
@ragesoss another stab at this here https://github.com/WikiEducationFoundation/WikiEduDashboard/compare/master...marklocklear:delete_timeline_alert?expand=1. Any suggestions or docs on configuring mail so I can send locally with my own mailgun credentials? I tried adding my key to config/env/dev.rb and no cigar.

[2022-04-14 21:32] #1949 closed

[2022-04-15 13:32] marklocklear commented on #4716
Spent some time trying to understand this issue. I found `fetchParsedArticle()` in `app/assets/javascripts/components/common/ArticleViewer/containers/ArticleViewer.jsx` and also `const supported = ['de', 'en', 'es', 'eu', 'tr'];` in `isWhocolorLang()` in this same file. Is this in the ballpark @ragesoss ?

[2022-04-15 13:46] ragesoss commented on #4716
@marklocklear yes, it sounds like you're on the right track.

[2022-04-17 13:49] DevanshKariya commented on #3482
@ragesoss is this issue still open? I would like to work on it

[2022-04-17 14:26] ragesoss commented on #3482
@DevanshKariya yes, go for it.

[2022-04-18 06:29] vaidehi44 commented on #2412
@ragesoss, seems like to reproduce this bug, I will have to first find an article which doesn't have a talk page. How can I find such an article?

[2022-04-18 12:38] DevanshKariya commented on #3482
@ragesoss Can you give some more info on this

[2022-04-18 14:04] marklocklear commented on #3259
A couple of notes on this one:

- add `disable_training_emails` boolean flag to course.rb model
- add logic to `overdue_training_alert.rb` with something like:
[code]

- Add drop-down selection to Details page of a course allowing the instructor to disable training emails for students

@ragesoss other alerts/mailers I should consider for this feature?

[2022-04-18 14:56] enelesmai commented on #1175
Hello @ragesoss is this issue already solved?

[2022-04-18 14:58] enelesmai commented on #924
Hello @ragesoss, can I take this issue?

[2022-04-18 16:29] ragesoss commented on #1175
@enelesmai this is not already solved.

[2022-04-18 16:30] ragesoss commented on #924
@enelesmai yes.

[2022-04-18 16:40] ragesoss commented on #3259
I think think there are other alerts that should be wrapped in as well (so, the flag and selector shouldn't be specific to training emails).

When an instructor wants to turn off emails for their students, they typically want to try to ensure that NO email from the dashboard reaches their students at all. The relevant one that I spot from `/rails/mailers` is: `High Quality Article Assignment Maile

[2022-04-18 16:57] ragesoss commented on #3482
Hm... it looks like this got fixed at some point, as there's no border on the DiffViewer loading element.

[2022-04-18 16:57] #3482 closed

[2022-04-18 17:33] ragesoss commented on #2412
I don't think it's necessary to have a live page without a talk page on Wikipedia production in order to fix this bug. While you won't be able to reproduce it in terms of configuring your dev environment to make live edits on Wikipedia — which you probably should not do anyway — you can still write a test for it by mocking the Wikipedia response for a non-existent page.

[2022-04-18 17:34] ragesoss commented on #2412
I think `WikiAssignmentOutput` is the place to start.

[2022-04-18 18:42] DevanshKariya commented on #3482
ok😅

[2022-04-18 19:29] ragesoss opened #4940 "Add a way to reach specific training modules and slides via ID numbers"
For the training system on Programs & Events Dashboard, we use wiki pages on Meta to specify training content that gets imported into the Dashboard's database, including unique IDs as the primary keys. However, there's no way to load a module index or an individual slide by ID, only by slug. Adding a similar redirect functionality to translate a URL with module/slide IDs into a working training UR

[2022-04-18 19:37] marklocklear commented on #3259
Ah, I see. Something more abstract would be adding a boolean `disabled` field to the alert model. Each course would have an instance of each of its alerts (OverdueTrainingAlert, ProductiveCourseAlert...etc) then you could enable/disable each of those alerts if you like. Default would be true, then in each of the alert models (ie class OverdueTrainingAlert < Alert) we could call `return if self.dis

[2022-04-18 19:44] ragesoss commented on #3259
Correct, that is code you found is for system-level disabling of emails for an alert type.

The `flags` hash for an individual course is probably the right place for this to live. I don't think we want to disable alert-types one-by-one at the course level, just one toggle for whether students should receive any course-related emails or not.

[2022-04-18 20:31] ragesoss commented on #4387
I still have no idea how this happened in production, or how to replicate. The first step to a fix here would be to replicate it (or come up with a plausible mechanism, so that we could see if it was possible in 2021 and whether the responsible code got changed to prevent it in the meantime).

It's a little mystery.

[2022-04-18 21:59] vaidehi44 commented on #2412
https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/c722b4ccd37e6acf5bda04468289ddec83076d9c/lib/wiki_assignment_output.rb#L30-L38

@ragesoss, is this existing part of code related to this issue in some way?

[2022-04-18 22:10] ragesoss commented on #2412
Yes, this is closely related. There are a number of other situations where we already return `nil` from this method (which means, don't make an edit) because of the guard statements around here, but we don't handle the specific situation of trying to remove a template from a page that doesn't exist.

[2022-04-19 21:47] enelesmai commented on #924
@ragesoss how can I get to this view? I already enrolled my user, but can't see the status info
<img width="1187" alt="image" src="https://user-images.githubusercontent.com/5160907/164107079-ead08251-b8c4-42ab-8e3c-02b740f99649.png">

<img width="1155" alt="image" src="https://user-images.githubusercontent.com/5160907/164107170-4483af71-fdbf-49ef-a0f8-b3098e2652b9.png">

[2022-04-19 21:57] ragesoss commented on #924
You may need to load the training modules first. See `user_roles.md`.

[2022-04-20 18:33] marklocklear commented on #3259
OK, first stab at this here: https://github.com/marklocklear/WikiEduDashboard/tree/disable_email_for_course. I only added a single check for the flag in OverdueTrainingAlert, but can add other places depending on the need.

[2022-04-20 19:16] ragesoss commented on #3259
Cool. Open a PR?

[2022-05-03 21:03] ragesoss opened #4961 "Add an easy way to see a student's edits in a particular namespace"
### Current Behavior:

The Assignments & Articles view of the Students shows a list of recent edits, a list of assigned and other edited articles, and links to a) an on-wiki list of the user's sandboxes, and b) the on-wiki contribution history.

Sometimes, though, instructors want to check for specific kinds of edits, for example, edits to Talk pages to find article critiques that have been posted

[2022-05-03 21:31] ragesoss opened #4962 "Create alerts for edit-warring students"
### Current Behavior:

Student editors using the Dashboard occasionally engage in edit-warring on Wikipedia, repeatedly restoring their version of an article after other editors undo their work (rather than engaging on the Talk page to discuss and fix problems).

We don't have an automatic way to detect this.

### Desired Behavior:

A new Alert type for edit warring behavior should be added, with

[2022-05-05 18:49] marklocklear commented on #3210
@ragesoss looking at this one. Just so I'm clear, we are wanting to edit the user model (@user.email) and email preferences in the user profile (user_profile.email_preferences)?

[2022-05-10 21:22] ragesoss commented on #3210
@marklocklear I think I just had in mind updating @user.email.

The `user_profile.email_preferences` is, if I remember correctly, designed to let a user follow a link in a particular email and opt out of an further emails of that kind, but it's used very minimally and I don't think we need to be able to see or edit that from the profile page.

[2022-05-11 17:06] ragesoss opened #4970 "Articles Edited should have an option to show deleted articles"
### Current Behavior:

The Articles tab of a course page shows (by default) all the mainspace articles edited by a course, but if an article is subsequently deleted, it will disappear from the list. This is a common source of confusion, with instructors asking where an article they saw before went.

### Desired Behavior:

Articles that got deleted (or that the Dashboard mistakenly thinks are delet

[2022-05-12 20:47] #4561 closed

[2022-05-16 19:09] vaidehi44 commented on #4961
@ragesoss, the links which you mentioned -

Are you referring to these links?

![wikiedu](https://user-images.githubusercontent.com/56690165/168664305-28dd2462-fb58-4e52-b986-4740eedfee02.png)

[2022-05-16 19:11] ragesoss commented on #4961
Yes, exactly.

[2022-05-16 19:25] vaidehi44 commented on #4961
Okk...I am not getting where the filter option would go. You said to have a filter option for Revision list. Does it mean for the `Revisions` table.
![image](https://user-images.githubusercontent.com/56690165/168667071-74090bb6-fdc0-4dc0-9a94-dbf86efb0da4.png)

Or, should it filter the results for entire page (the `Assignments & Exericises` tab)?

[2022-05-16 19:34] vaidehi44 commented on #4961
Okay. But that wouldn't affect the above links, right. So, we'll have to add a section, probably a column ,in the table for links corresponding to the filter?

[2022-05-16 19:37] ragesoss commented on #4961
Something like that. I think the same kind of UI above the table that we use on the Articles tab — for example https://outreachdashboard.wmflabs.org/courses/Wikimedia_Ghana_Entertainment_Community/3Music_Awards/articles/edited?newness=new&tracked=both — would probably work.

[2022-05-16 19:46] vaidehi44 commented on #4961
Okay. And, what kind of filters can we have? One is talk pages. And, you mentioned in the description of having deeper filters by tracking where an exercise should be completed. I am guessing this can be inferred from the assignment which is assigned or which user is working on.

[2022-05-16 19:47] ragesoss opened #4977 "When top-line statistics change because of new edits, changes to Articles Edited are not reflected until a page refresh"
### What is happening?

Course pages automatically poll for updates to the topline course stats by re-fetching course.json once per minute. (See `details.jsx` for the implementation.) This means the 'last updated at, next update expected' text below the main stats — along with the stats themselves — stay up-to-date (for up to 12 hours) without requiring a full page refresh. If one of these updates

[2022-05-16 19:49] ragesoss commented on #4961
I think for this issue, the only easy and useful thing to implement would be a namespace filter. That could be used to isolate Talk edits, as well as User (ie, sandbox) edits.

Tracking which exercises have been completed is a more complex problem that take some significant server-side work to prepare for.

[2022-05-16 19:59] vaidehi44 commented on #4961
Got it.
Right now, the Revisions list already shows the edit data for article, user and draft namespace. I guess then talk namespace can simply be added there, instead of a filter on Revisions table. Same for the contribution links too.

Am I getting it right?

[2022-05-16 20:00] ragesoss opened #4978 "Add a way for users to trigger a username update for a renamed user"
### Current Behavior:

If a user gets their account renamed on Wikipedia, the Dashboard does not automatically detect this. That means, after the name change, the Dashboard continues to look for new revisions by the old username.

The username gets updated on the Dashboard if the user logs out (of the Dashboard) and then back in again, because the OAuth login flow for an unknown username includes

[2022-05-16 20:04] ragesoss commented on #4961
The screenshot you show doesn't actually have any revisions in the table, so it's just the summary.

The actual table (which is shown if you click on that row) has details about individual revisions. See for example https://dashboard.wikiedu.org/courses/University_of_California,_Berkeley/African_Politics_(Spring_2022)/students/articles/Aguerrero427

The idea would be that if you are viewing that t

[2022-05-16 20:17] vaidehi44 commented on #4961
Okk....And, here the `Date/Time` column and the last column shows the difference in revisions which will then show the edits for filtered namespace, right?

[2022-05-16 20:19] ragesoss commented on #4961
I think everything about the table itself and how individual Revision rows are rendered would remain the same, it's just that using the filter would load a different set of Revisions to display in the table.

[2022-05-16 20:23] vaidehi44 commented on #4961
So, its just about implementing the filter. Which namespaces should the filter have. Article, User and Talk? Or something else?

[2022-05-16 20:29] ragesoss commented on #4961
I think those three to start out with would be fine.

[2022-05-31 20:00] ragesoss commented on #4683
@sergiouve sure! we don't have anyone currently use docker for their dev environment, but it would be great to have that as a working option.

[2022-06-03 20:21] #958 closed

[2022-06-08 19:26] ragesoss opened #4999 "Wikidata revision analysis is not correct for multi-part revisions"
### What is happening?

We calculate the `www.wikidata.org` stats for a Course by importing the edit summary of each Wikidata edit and parsing it to determine what the edit did (eg, adding a claim, adding a label, etc.).

However, some edits make changes to multiple fields of Wikidata item in one revision. For example, https://www.wikidata.org/w/index.php?title=Q111269579&diff=1596238100&oldid=159

[2022-06-10 07:09] TheTrio opened #5003 "Add support for HMR(Hot Module Replacement)"
Presently, when you run start the dev server using `yarn start` and make some changes, the browser window reloads when those changes are compiled. This means that you lose all your existing state(like filled in forms, or data stored in the Redux store)

[Hot Module Replacement](https://webpack.js.org/guides/hot-module-replacement/) allows code to be updated at runtime without the need for a full r

[2022-06-10 07:32] TheTrio opened #5004 "Optimize ESLint"
ESlint is responsible for a large percentage of our build time. See #4982 for more.

The way we deal with this currently is to only lint dirty modules. This speeds up the initial compilation(the first time you do `yarn start`) but means that the first recompilation is quite slow since the ESlint cache is empty. As you edit files, the cache builds up and the recompilation times decrease significant

[2022-06-10 07:40] TheTrio opened #5005 "Switch to in-memory mode for the dev server"
Writing files to the disk is a slow process - serving the files from memory is a lot more faster and efficient.

Switching to in-memory mode should be straightforward but there are some issues related to [dynamic imports](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import#dynamic_imports).

To see for yourself, set `hot_loading` to `true` in `config/application.yml

[2022-06-13 13:06] TheTrio commented on #4633
This can be closed now.

[2022-06-13 13:08] TheTrio commented on #4510
This can be closed as well.

[2022-06-13 16:07] #4633 closed, assigned to nobody

[2022-06-13 16:08] #4510 closed

[2022-06-15 17:05] ragesoss opened #5007 "Training resources should have a search feature"
### Current Behavior:
There are lots of training modules about specific topics and specific task, but it's no always obvious where to find the training content about the topic you are looking for. Browsing the modules to find exactly what you are looking for is tedious.

### Desired Behavior:
There should be a search bar that can help you find training content related to arbitrary keywords or phra

[2022-06-20 19:33] marklocklear opened #5019 "Update development environment instructions to include specific version of node"
### Current Behavior:
Currently, if you have a node version older than 13.x and newer than 14.x running `yarn build` fails

### Desired Behavior:
Specify the node version in the dev env. set up instructions here https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/setup.md

### Related Files & Code:

In the Prerequisite section add `-node version 14 or 16`
### Additional co

[2022-06-22 14:15] marklocklear commented on #5019
Submitted https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/5021

[2022-06-22 16:59] #5019 closed

[2022-06-22 20:31] #5005 closed

[2022-06-22 20:31] #5003 closed

[2022-07-07 17:38] ragesoss opened #5034 "Detect and surface large pageview spikes"
Dashboard users — instructors, editors, Wiki Education staff — like to know when content they worked on becomes suddenly very relevant to the public and results in large spikes in the number of pageviews. These typically represent success stories, where users created or improved content that then became highly relevant to the public (eg, because the topic become relevant to an important current ev

[2022-07-11 17:30] ragesoss opened #5041 "When entering 'Edit Details' mode on a Course page, the campaign.json and tag.json lookup requests each happens twice"
### What is happening?

There appears to be a duplicate request to the `all campaigns` lookup endpoint, which occurs when entering 'Edit Details' mode.

### To Reproduce

1. Load a course page
2. Click 'Edit Details'
3. There are two separate GET requests to the `/lookups/campaign.json` endpoint, as well as two requests to the `lookups/tag.json` endpoint. Similarly, there are two instances each of

[2022-07-11 18:17] #4961 closed

[2022-07-12 20:07] #3210 closed

[2022-07-14 17:42] marklocklear commented on #4911
In case others stumble across this and its not clear, there is a PR addressing this issue here https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/4914

[2022-07-19 12:52] marklocklear commented on #4322
@ragesoss going to spend some time looking at this. I'll focus on Windows 10 Pro and the documentation here: https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/ubuntu_wsl_setup.md

[2022-07-19 15:11] ragesoss commented on #4322
@marklocklear thank you!

[2022-07-25 17:37] ragesoss opened #5068 "Wikilinks in ArticleViewer should open a new tab"

[2022-07-25 17:40] ragesoss opened #5069 "When students go through training very quickly, show a popup emphasizing the importance of the training content"

[2022-07-25 22:50] #5068 closed

[2022-07-28 17:33] ragesoss opened #5078 "Rails mailer previews should be available in production"
### Current Behavior:

Wiki Education Dashboard sends out a variety of emails in various circumstances. However, these previews are not available in production — only in staging and development environments. Also, the staging environment — https://dashboard-testing.wikiedu.org/rails/mailers — is not necessarily up-to-date, not all the previews work (because some previews expect example records to

[2022-07-29 21:58] ragesoss opened #5082 "Default campaign should be determined automatically"
### Current Behavior:

The default term, which is used for the (logged out) home page and the explore page, is set via `/settings` and needs to be changed twice a year for Wiki Education Dashboard. We routinely create spring and fall terms for each year, but we must also update the default term whenever it's time to change terms.

### Desired Behavior:

The default term should be automatically upd

[2022-07-31 19:51] TheTrio commented on #2319
This can be closed now

[2022-08-01 15:27] #2319 closed

[2022-08-03 16:31] marklocklear commented on #5007
How do we set up /training in our local environment? When I got to http://localhost:3000/training I get a blank page.

[2022-08-03 16:50] ragesoss commented on #5007
In `wiki_education` mode, you can load the full set of training modules from .yml files by visiting `/reload_trainings?module=all`.

It would be a nice improvement to add a message or link on how to do this that would display when there are no training modules in the database.

[2022-08-03 17:24] ragesoss opened #5094 "`/training` should explain how to load training content if none is available"
### Current Behavior:

When a developer visits `/training` in their development environment, no training content is shown by default. Training content is loaded into the database — either quickly from .yml files in the `training_content` directory if it's in `wiki_education` mode, or slowly by pulling in wiki page content and translations from meta.wikimedia.org if it's not in `wiki_education` mod

[2022-08-03 17:25] ragesoss commented on #5007
I opened a separate issue for the latter: https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/5094

[2022-08-08 16:43] ragesoss opened #5102 "Large course fails to update, fails to log error"
### What is happening?
This course in P&E production has only ever gone through two updates: https://outreachdashboard.wmflabs.org/courses/Wikimedia_Belgium/Wiki_Loves_Heritage_Belgium_(2021)

It's currently still getting put into the `short_update` queue, where it gets processed for multiple hours, but apparently never finishes. (It's likely that the Sidekiq process runs out of memory.)

This can

[2022-08-09 18:50] ragesoss opened #5106 "For courses with large numbers of edited articles, the student details view list of articles is incomplete"
### What is happening?
When a user tries to see the list of pages they have edited for a course, such as [here](https://outreachdashboard.wmflabs.org/courses/Black_Lunch_Table_and_Igbo_Wikimedians_User_Group/Black_artists_in_history_and_contemporary_Contest_(2022-06-04)/students/articles/Kingsley%20Nkem), the list is based on the shared articles redux store that powers the Articles tab. We only lo

[2022-08-10 16:06] ragesoss commented on #5102
The root problem of this course never completing an update was an infinite loop while trying to fetch Commons image thumbnails. It got stuck on this: https://commons.wikimedia.org/w/api.php?action=query&prop=imageinfo&iiprop=url&iiurlheight=480&pageids=107709976|111662244|109767821|109782162|109782164|109782168|109782171|109782172|109782180|109782183&iilimit=50&continue=%22||%22&iicontinue=Flag_of

[2022-08-10 16:06] #5102 closed

[2022-08-10 18:55] ragesoss opened #5108 "Import many Wikidata edit summaries at once"
### Current Behavior:

We import Wikidata edit summaries one at a time (one API request per revision) via ImportWikidataSummariesWorker and UpdateWikidataStats. This is too slow.

The mediawiki API supports fetching up to 50 edit summaries per request, eg: https://www.wikidata.org/w/api.php?action=query&prop=revisions&revids=10000|10001|10002|10003|10004|10005|10006|10007|10008|10009|10010|10011|1

[2022-08-10 19:16] ragesoss opened #5109 "Improve efficiency of "warm" updates for very large courses"
This example course has more than 1 million edits spread across several wikis, and more than 50 thousand Commons uploads: https://outreachdashboard.wmflabs.org/courses/Wikimedia_Belgium/Wiki_Loves_Heritage_Belgium_(2021)

A "cold" update (performed by importing the course to a database without any of the revisions or related data) takes a very long time (on the order of a day). A "warm" update (do

[2022-08-12 14:20] TheTrio commented on #5108
Can be closed now I think

[2022-08-17 16:57] ragesoss opened #5118 "Cannot change wiki in Article Finder"
When using Article Finder, either for a specific course or just at /article_finder, the default wiki can't be changed. It will set the default based on the home wiki of a course, and other tracked wikis show up as options, but selecting one does not actually work.

[2022-08-19 19:15] #5118 closed

[2022-08-19 20:28] #5108 closed

[2022-08-19 20:28] ragesoss commented on #5108
Done in https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/4071d4aaa7977124dc4dc77864961915a7ec3b51

[2022-08-19 20:55] #2530 closed

[2022-08-29 06:22] TheTrio opened #5130 "Update React to version 18"
We are currently using React 17. Upgrading to React 18 might involve some work, as outlined [here](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/future.md#react)

[2022-08-29 09:32] TheTrio opened #5131 "Port Survey system to React"
The current system uses jQuery to manipulate the HTML generated by [RapidFire](https://github.com/code-mancers/rapidfire). This is one of the few places where we (still) use jQuery.

One of the ways to go to solve this would be to add support for JSON in our RapidFire fork and then use that from the front end.

[2022-08-29 19:27] ragesoss commented on #5078
See the Course Approval Mailer preview for examples of how to work around mailers that expect records to behave like production records in the database; `define_singleton_method` can work around these cases to avoid using any production records in the previews.

[2022-08-30 15:37] ragesoss opened #5135 "ArticleViewer hightlighted html doesn't handle <mapframe> element properly"
### What is happening?
When this article loads the the highlighted text, it shows the `<mapframe>` element as text, while that element doesn't show up in the normal rendered version.

https://dashboard.wikiedu.org/courses/IUPUI/Historic_Site_Interpretation_(Spring_2022)/articles/edited?showArticle=247310123

### Additional context

This is likely a bug with the WikiWho algorithm, related to the pa

[2022-09-11 13:22] arka1002 opened #5144 "Cannot find module ‘worker_threads’"
### What is happening?

### To Reproduce

### Screenshots
![This is an image](https://iili.io/PIJaPn.png)

### Additional context

[2022-09-12 17:13] ragesoss commented on #5144
Hmm... my best guess is that this is an incompatibility with the `nodejs` version you're running. Which version of node do you have? (Run `nodejs -v` from a terminal.)

[2022-09-13 04:38] arka1002 commented on #5144
v10.19.0

[2022-09-13 04:54] ragesoss commented on #5144
you need a newer version of node, 14 or 16

[2022-09-14 19:51] ragesoss opened #5152 "Tickets should be searchable by email and by username"

[2022-09-23 09:42] cyrillefr commented on #5094
Hello @ragesoss , I would like to work on that one.

I would go for a link to the reload_trainings URL.
But no idea of the proper text to go along.

[2022-09-23 21:43] ragesoss commented on #5094
There should be two variants, one for if the app is in `wiki_education` mode and one if not.

`wiki_education` mode:

non-wiki_education mode:

[2022-10-10 20:26] ragesoss opened #5165 "Lists of students, articles, assignments can get out of date when tab is left open"
### What is happening?

If a user keeps a Dashboard window open (for example, perpetually throughout a course) without reloading, then the lists of users, articles and assignments are not refreshed from the server. This can lead to confusion wherein a student joins but is not shown to the instructor because they've only been navigating from tab-to-tab of the course page without a full page reload.

[2022-10-11 12:15] iLynette commented on #4978
Hi @ragesoss I would like to work on this issue. Can I?

[2022-10-11 12:29] iLynette commented on #5165
Hi, @ragesoss I would like to work on this issue. Can I?

[2022-10-11 16:12] ragesoss commented on #4978
Yes. (Please stick to one issue at a time, though.)

[2022-10-11 16:12] ragesoss commented on #5165
This one is probably too complex for a good first issue.

[2022-10-11 16:42] iLynette commented on #4978
Got it, thank you.)

[2022-10-11 17:23] iLynette commented on #5165
Alright.)

[2022-10-13 19:48] #5094 closed

[2022-10-13 21:20] cyrillefr commented on #5007
Hello @ragesoss , can I work on this one ?

[2022-10-13 21:34] ragesoss commented on #5007
Sure!

On Thu, Oct 13, 2022, 2:20 PM cyrillefr ***@***.***> wrote:

[2022-10-14 09:53] cyrillefr commented on #5007
Is there a pattern from an existing feature you want me to copy/get inspiration of ?
(/explore : there is an input box to look for courses, there is also a FAQ and I surely misses other ones).

Also, I have spotted a bug in `/reload_trainings?module=all` and possibly another one when modules are displayed.

[2022-10-14 11:37] sharon-kathambi commented on #4940
Hi @ragesoss  Can I work on this one?

[2022-10-14 12:04] tnwoodard commented on #4978
Hi @ragesoss and @iLynette. I'd like to try to fix this issue if it is still open. Thanks!

[2022-10-14 13:13] ragesoss commented on #4940
sure, please do.

On Fri, Oct 14, 2022, 4:37 AM sharon-kathambi ***@***.***>
wrote:

[2022-10-14 15:51] ragesoss commented on #4978
@iLynette thanks. please post on slack if you'd like any help with the setup process.

[2022-10-14 18:31] tnwoodard commented on #4978
Ok I understand. That sounds good. @ragesoss and @iLynette I will check back in a day or so, and if it is still open I'll ask again. Thanks.

[2022-10-14 22:47] sylvia-boyani commented on #4859
Hello @ragesoss, Is it okay if i start on this issue?

[2022-10-15 01:32] sharon-kathambi commented on #4940
Okay, i have a question, you would like the ID of the articles to be stored on the URL as well?

[2022-10-16 16:16] ragesoss commented on #4940
I'm not sure what you mean.

[2022-10-17 07:45] sharon-kathambi commented on #4940
In the training modules controller, we find modules by slug.. is the issue supposed to find training modules by ID? because when you click on a training module it redirects you to the specific module...and that's the functionality we want...or what exactly is the issue?

[2022-10-17 09:35] kamzzy commented on #5106
@ragesoss can i work on this

[2022-10-17 11:34] sharon-kathambi commented on #4340
Hi Sage, decided to start on this one, as i wait for your response on the other issue.

[2022-10-17 15:33] sharon-kathambi commented on #4340
For the APIs, i can see the mediawiki,oreo and replica api, all have the loggers,Using Sentry and Rails.logger. Could you shed somelight on which steps on updateCourseStats that dont have the error handling

[2022-10-17 15:51] ragesoss commented on #4940
The idea is, if you know the ID of a training module or slide — because you're editing the source on Meta, eg, slide 10815 https://meta.wikimedia.org/wiki/Training_modules/dashboard/slides/10815-using-a-talk-page — you should be able to use that to reach the slide on the Dashboard. This could be one similarly to the `find_course` route: `/find_training_slide/10815` could redirect to the URL of tha

[2022-10-17 15:52] ragesoss commented on #5106
Go for it.

[2022-10-17 15:55] ragesoss commented on #4340
(Adding it to just one step at a time is probably the best approach.)

[2022-10-17 19:41] cyrillefr commented on #5007
Hello @ragesoss,
regarding the courses search module, front-end is in React. The current code for listing training modules is in html/haml. I can mimick the back-end code of courses search, but for the front-end part, I guess it is better to stick with back-end html.

Regarding  the bug(?) I found out: on my local machine `/reload_trainings?module=all` causes a 500 error due to a `ActiveRecord::Re

[2022-10-17 19:47] ragesoss commented on #5007
It happens in the method self.inflate at the slide.save fragment.

Ah, yes! This is a problem related to switching back and forth between `wiki_education` mode. If you load training content in one mode, and then switch, then loading training content again means you can run into collisions with duplicate slugs.

One reasonable solution would be to (in development mode only) delete all training data

[2022-10-17 19:55] ragesoss commented on #4859
@sylvia-boyani yes, if you're not already working on another issue, feel free to work on this one.

[2022-10-18 05:31] sharon-kathambi commented on #4340
Hi Sage, kindly review my PR to see if i am headed the right way
https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/5174

[2022-10-20 14:56] vasconsaurus commented on #5041
Hi @ragesoss! I was taking a look at this one and I noticed that we fetch the campaigns inside `campaign_actions.js`, but we also have a `GET` for this in our routes.

I commented out the get in our routes, and though it shows an error, it still works. I can edit and save the course.

Could the issue be linked to this?

1. Edit Page
<img width="849" alt="Screen Shot 2022-10-20 at 11 50 04" src="ht

[2022-10-20 17:53] ragesoss commented on #5041
Hmm... I'm not sure whether that's related or not. Can you post the error details (from the rails server log as well as the browser console, ideally)?

[2022-10-20 19:23] tnwoodard commented on #4313
Hi @ragesoss. Can I work on this issue?  Thanks!

[2022-10-20 19:39] ragesoss commented on #4313
@tnwoodard yes... although I'm not sure how big of a challenge this ticket will be.

[2022-10-20 23:21] vasconsaurus commented on #5041
Do these help?

<img width="1624" alt="Screen Shot 2022-10-20 at 20 14 18" src="https://user-images.githubusercontent.com/87862340/197076768-5b08e2db-8d0b-481f-946f-733bfb807725.png">
<img width="1624" alt="Screen Shot 2022-10-20 at 20 15 06" src="https://user-images.githubusercontent.com/87862340/197076795-53102608-8449-4a55-8a51-178d9af91e72.png">
<img width="800" alt="Screen Shot of server log"

[2022-10-20 23:29] ragesoss commented on #5041
That's unexpected. I can't think of a reason why that `lookups/campaign.json` route would cause a routing error; it works for me locally (even if I delete all the campaigns, in which case it returns an empty array but it's still a 200 rather than a 404).

I'm currently stumped. :-(

[2022-10-20 23:30] ragesoss commented on #5041
Oh wait... did you comment out those parts in routes.rb? If so, that would explain the errors.

[2022-10-21 10:30] vasconsaurus commented on #5041
Yes!

I don't know if this has to do with anything, but I thought the 2 gets could maybe explain a duplicated request, since they seemed to get the same route 😅

[2022-10-21 16:06] tnwoodard commented on #4313
I understand. I will work on my previous issue and come back to this later. Thanks Sage.

[2022-10-23 17:41] vasconsaurus commented on #5041
@ragesoss I was wondering why it still worked, even though errors appeared (and the line was commented out)

[2022-10-23 17:46] vasconsaurus commented on #4977
@ragesoss do you think maybe `useEffect` could be used to solve this?

[2022-10-23 19:09] ragesoss commented on #5041
It doesn't work. Those two requests get the lists of all campaigns and all
tags in the database, to populate picklists in Edit Details mode. Both will
be empty when the route is disabled.

On Sun, Oct 23, 2022, 10:41 AM Manu Vasconcelos ***@***.***>
wrote:

[2022-10-23 19:10] ragesoss commented on #4977
Yes, that's probably one way to do it.

On Sun, Oct 23, 2022, 10:46 AM Manu Vasconcelos ***@***.***>
wrote:

[2022-10-24 11:34] vasconsaurus commented on #4977
If it's ok I'll try to solve this one 🙂

[2022-10-29 16:43] TheTrio commented on #5165
One quick and simple way to solve this would be to refresh the data every few minutes - say something like this in `app/assets/javascripts/components/students/containers/StudentsTabHandler.jsx`

[code]

Another way might be to refresh the data only when the user switches tabs. Something like this

[code]

This however doesn't work if the user is on the same tab for a long time - so I guess a combi

[2022-11-08 18:23] ragesoss opened #5195 "Add global ID to 'editors data' CSV output"
See https://phabricator.wikimedia.org/T322662

[2022-11-14 20:08] ragesoss opened #5199 "Add a button to for instructors to add all students' talk pages to their watchlist"
### Desired Behavior:
Some instructors want to use their Wikipedia watchlists to keep an eye on the Talk pages of all their students. There's no automatic way to add all your students to your watchlist, though. As an instructor, I want to be to click a button on my Course page to have the Dashboard automatically add all the User pages of my students' to my watchlist.

(This is at the harder end of

[2022-11-15 21:16] #5007 closed

[2022-11-16 19:55] cyrillefr commented on #5152
Hello @ragesoss , can I work on this one ?

[2022-11-16 20:20] ragesoss commented on #5152
@cyrillefr yes. :-)

[2022-11-16 21:37] cyrillefr commented on #5152
Browsing issues still open, I came across a bit similar issue #3588.
In it, @epleaner describes how to set up a dev environment, I will follow his guidelines to work.

Do you want me to get inspiration from one of existing component ?
My first intention would be a search input with autocompletion (fuzzy from a prepopulated list?) and maybe merge data from both usernames and emails. I have got not

[2022-11-17 00:44] ragesoss commented on #5152
I don't think autocompletion is an important feature to include (although it would be fine, if you can get it working efficiently).

My suggestion for an overall approach to this this would probably be to a) create a query object similar to what you did for training search, b) make a json endpoint for return search results (and only admins should be able to access it), c) add a search bar to the t

[2022-11-21 18:58] twinsfan421 commented on #5199
I can work on this

[2022-11-21 19:08] ragesoss commented on #5199
Great! Let me know if you'd like to join our Slack to chat about anything related.

[2022-11-21 19:10] twinsfan421 commented on #5199
Yes, joining your slack channel sounds good. Thanks

[2022-11-21 19:16] ragesoss commented on #5199
YGM

[2022-11-22 22:26] twinsfan421 commented on #5199
@ragesoss would you like the add all students/editors to watchlist button on the courses home page, maybe under "Actions"?  or under the Editors page(students/overview)?  Also, for the "editing a user's watchlist through the MediaWiki API", is there a relevant example for that you recommend?   Thanks

[2022-11-22 22:41] ragesoss commented on #5199
Good questions. I think `students/overview` is probably the best place.

For editing the watchlist, the closest things are probably the methods that call `api_post` in `lib/wiki_edits.rb`. I expect this will look similar, in terms of figuring out the right parameters to post to the general MediaWiki API in order to make watchlist changes. See https://en.wikipedia.org/w/api.php?action=help&modules=