[2017-02-03 00:02] #1068 closed

[2017-02-03 01:05] #1131 closed

[2017-02-03 01:05] #990 closed

[2017-02-03 16:27] ragesoss commented on #1141
To get the account creation date, we can use the MediaWiki 'list users' API and request the 'registration' property: https://en.wikipedia.org/w/api.php?action=help&modules=query%2Busers

There's an example query of that 'list' API for user data in `WikiApi`.

[2017-02-03 22:20] #1127 closed

[2017-02-03 23:06] MrWilhelm commented on #1164
Should we create another admin page like feedbacks, alerts etc., which lists and search users? Or should we include it anywhere else?

Also, do we need something like typeahead(https://twitter.github.io/typeahead.js/) or just basic search with a button?

[2017-02-03 23:16] ragesoss commented on #1164
@MrWilhelm I think a `/users` index page would make a lot of sense for this (added the the admin nav like the others).

Typeahead would be nice if it's easy to add, but just a basic search with a button would be fine.

Another nice-to-have feature would be a way to get a list of all the instructors in the system.

[2017-02-04 00:42] #1123 closed

[2017-02-04 01:56] #1160 closed

[2017-02-05 06:56] MrWilhelm commented on #1164
I have started tests and some implementation and send it soon.

However I'm not sure about scope of the search. I did something like this, but depends on it, we can create separate query builder on lib, but for now it is simple class method on model. Query is something like:

[code]

[2017-02-05 16:57] ragesoss commented on #1164
Sounds good to me.

[2017-02-06 23:52] ragesoss opened #1169 "Cannot remove a due date on a timeline Block, once set"
The field is clearable, but if if you clear it, it reverts to the previous value on save.

[2017-02-13 21:33] kaldari opened #1173 "Please mention https://outreachdashboard.wmflabs.org/ in the README"
This repo is also the repo for https://outreachdashboard.wmflabs.org/, which is an important thing for anyone working on this code to know. Also it would be nice to be able to find this repo by searching for outreachdashboard in GitHub.

[2017-02-14 21:45] #1124 closed

[2017-02-14 23:28] ragesoss commented on #1164
Implemented in #1170

[2017-02-14 23:28] #1164 closed

[2017-02-14 23:31] ragesoss commented on #1139
Please reopen if this comes up again, and/or if you have specific details I can look into.

[2017-02-14 23:31] #1139 closed

[2017-02-14 23:43] ragesoss opened #1175 "On-wiki course pages should show all instructors, not just first"
The course details templates used for on-wiki course pages currently uses 'instructor_username' and 'instructor_realname' parameters, which shows the first (ie, first enrolled) instructor/facilitator. (See `WikiCourseOutput#course_details`.)

Support should be added for any number of additional instructors. This should be done with new parameters, so that the templates will remain backwards-compat

[2017-02-15 00:13] ragesoss opened #1176 "Dashboard should detect, and create alerts for, blocked edits"
Occasionally, automated edits from the dashboard are blocked. This can happen either because of an autoblock, where-in subsequent users of the same IP as an initial blocked user get automatically blocked, or because of a range block that affects the IP of the dashboard's server (which is currently on Linode).

Blocked edits should trigger an alert with an email to the dashboard's `technical_help_s

[2017-02-15 00:15] ragesoss commented on #1176
Failed edits and their error codes are handled in `lib/wiki_response.rb`.

The relevant error codes are `blocked` and `autoblocked`.

[2017-02-15 16:09] ragesoss commented on #1124
@erikaherzog It's now ordered from from newest to oldest. Next time you need to add campaigns, let me know whether it seems practical this way.

[2017-02-15 18:55] ragesoss opened #1177 "Upgrade react-day-picker to 5.0"
This looks like it may have some breaking changes that require minor revisions to how we integrate it, but it may (or may not) have some a11y improvements.

https://github.com/gpbl/react-day-picker/blob/master/CHANGELOG.md#v500-2017-02-14

[2017-02-15 18:57] ragesoss opened #1178 "Course clone form has ClassroomProgramCourse-specific language"
We need to make a similar update to the cloning form to what we did for the main course creation form, so that it shows fields that are appropriate for the kind of course/program being cloned.

[2017-02-16 16:24] ragesoss opened #1180 "Add support for incubator.wikimedia.org"
Some projects involve new users editing on the incubator wiki. We'll need to special-case this in `Wiki` as we do with wikidata.

[2017-02-16 17:32] ragesoss opened #1181 "JavaScript error on many pages caused by user profile jquery"
When I load course pages and some other non-profile pages, I get the following error:

`TypeError: $(...).offset(...) is undefined`

I think this is related to the user profile jquery plugin.

[2017-02-16 19:52] #1173 closed

[2017-02-16 21:58] #1144 closed

[2017-02-16 22:00] ragesoss opened #1182 "Admins should be able to trigger refresh of on-wiki training content and see results"
For P&E Dashboard with on-wiki trainings enabled, we need a way to manually trigger a refresh of the training content.

This should also identify any problems — such as duplicate slide IDs or slugs — and show those to user.

[2017-02-16 22:04] ragesoss opened #1183 "Fetching on-wiki training content should be done in parallel"
With all the API calls involved, it takes annoyingly long to load the on-wiki training content.

This fetching — within `TrainingLoader` — should be done with threads, with ~20 simultaneous requests.

[2017-02-16 22:16] ragesoss commented on #1150
Whoops, this is already there in Sentry logs.

[2017-02-16 22:16] #1150 closed

[2017-02-16 22:24] ragesoss opened #1184 "Wikis should be validated to ensure they exist"
`Wiki` currently has a basic validation for new records based on a list of language codes and projects. However, not all project/language codes actually exist. For example, `dk.wikipedia.org` does not exist; it redirects to `da.wikipedia.org`. Invalid wikis result in data not being fetched and lots of noise in the Sentry logs for all the API failures when when `Replica` cannot connect to the (none

[2017-02-16 22:30] ragesoss commented on #1008
This is no longer a problem since we limited the slow parts to non-admins, who do not have large numbers of courses.

[2017-02-16 22:30] #1008 closed

[2017-02-16 22:31] ragesoss commented on #994
This done is `docs/user_roles.md`

[2017-02-16 22:31] #994 closed

[2017-02-16 22:34] ragesoss commented on #991
This can maybe be done with a new resolvable alert type that loops through current and future courses and checks for whether the timeline has enough available time to fit the number of `Week`s for the course.

[2017-02-16 22:38] ragesoss commented on #989
Fixed somewhere along the way...

[2017-02-16 22:38] #989 closed

[2017-02-16 22:39] ragesoss commented on #845
This is now being done via the user profile pages.

[2017-02-16 22:39] #845 closed

[2017-02-16 22:52] ragesoss opened #1185 "System should detect and alert new users who don't have email enabled on their Wikipedia accounts"
Forgetting passwords is a very common issue for instructors and students, and if they don't have a Wikipedia email enabled, they won't have any options besides abandoning their account and making a new one.

A good way to implement this might be to trigger something during onboarding to check whether wiki email is enabled, and show a warning message … probably an extra screen highlighting the prob

[2017-02-16 22:57] ragesoss commented on #14
We don't keep the instances closely in sync any more, so this isn't going to be an actionable issue.

[2017-02-16 22:57] #14 closed

[2017-02-16 23:08] ragesoss commented on #356
This appears to no longer be a problem. I checked the last 10000 assignments and they all look fine.

[2017-02-16 23:08] #356 closed

[2017-02-17 22:43] ragesoss opened #1187 "Improve styling and relevant info shown in AlertsList"
* The resolve link should be a button.
* Instead of showing either 'N/A' or the resolve link, that column should show a check mark or similar indicator if the alert is resolved, and should show nothing at all if it is unresolvable.

[2017-02-21 17:23] ragesoss opened #1188 "On P&E Dashboard, users need to be able to delete programs they created"
If a user creates a program and then wants to delete it, there's no obvious path forward. An admin is required to remove it from the initial campaign before it can be deleted. A user should be able to handle that themself if the program has no editors.

[2017-02-21 19:38] ragesoss commented on #234
* Move Notifications to course.jsx, in the nav section
* Add Notifications component to other routes besides Course
* Ensure that messages appear as expected on screen when screen is scrolled down (and they would be above the fold in the old design)

[2017-02-21 19:58] ragesoss commented on #1184
* During validation before a new `Wiki` record is created, ping the corresponding API to confirm that it exists. If not, catch the network error and raise an `InvalidWiki` error.

[2017-02-21 20:30] FedericoEsparza commented on #234
https://youtu.be/d-8MafzIxIU?t=26m41s Some discussion and assignment in the 2017-02-21 AV Americas Scrum recording.

[2017-02-21 20:35] FedericoEsparza commented on #1013
https://youtu.be/d-8MafzIxIU?t=26m50s Some discussion in the 2017-02-21 AV Americas Scrum recording.

[2017-02-21 20:43] FedericoEsparza commented on #234
https://youtu.be/d-8MafzIxIU?t=32m4s Further discussion. Same scrum.

[2017-02-21 20:46] FedericoEsparza commented on #1187
https://youtu.be/d-8MafzIxIU?t=36m10s Some discussion and point voting in the 2017-02-21 AV Americas Scrum recording.

[2017-02-21 20:50] FedericoEsparza commented on #1185
https://youtu.be/d-8MafzIxIU?t=44m2s Some discussion and point voting in the 2017-02-21 AV Americas Scrum recording.

[2017-02-21 20:57] FedericoEsparza commented on #1184
https://youtu.be/d-8MafzIxIU?t=52m2s Some discussion and point voting in the 2017-02-21 AV Americas Scrum recording. _(Link bookmarks and directs to the starting time)_

[2017-02-22 09:55] arreche commented on #1149
Steps to enroll in a course:
1. A student opens a course URL containing an enroll code.
2. The page prompt to join in the course
3. A notification is displayed indicated when the student tries to join in the course.

![joining to an ended course](https://cloud.githubusercontent.com/assets/459813/23206300/0acf961e-f8e5-11e6-8b2b-838a9e2817ad.gif)

[2017-02-22 10:14] arreche commented on #1149
@ragesoss How will the user notice that this course is already ended?

[2017-02-22 12:11] arreche commented on #1149
This is my proposal:
- Not displaying the embedded dialog which prompts to join a course.
- Disabling the `join` button in the actions pannel.
- Displaying another text in that button. i.e. `Enrollment is closed`

What do you think?

[2017-02-22 12:42] bachounda commented on #1180
hi
Is it possible to integrate incubator projects into the dashboard because students in our education program.https://outreachdashboard.wmflabs.org/courses/Chlef_university__Algeria/Wikipedia_education_program__2016-2017

They also contribute to the incubator

Otherwise I really use the dashboard / and I think it's a great program

We discovered another way to use the dashboard in contest - we "j

[2017-02-22 14:37] patmbolger opened #1191 "Test issue for auto github action"
Testing, 1,2,3 ..

[2017-02-22 14:49] #1191 closed

[2017-02-22 17:53] ragesoss commented on #1149
I suggest instead:
* Replacing the message in the embedded dialog (from `EnrollCard`) with one noting that the course has ended. This dialog is triggered by having `?enroll` in the URL, which usually means the user got there by following an enroll link from email or another site. This is the only situation where we need to highlight the 'course has ended' situation.
* Removing the `join` button in

[2017-02-22 20:37] ragesoss opened #1193 "Survey system should capture amount of time user took to complete it"
This would be very helpful for researchers.

[2017-02-23 18:55] #1149 closed

[2017-02-24 09:09] FedericoEsparza commented on #1140
https://youtu.be/u2Jn1C8mqbI?t=6m15s Some discussion in the 2017-02-23 AV Americas Scrum recording. _(Youtube link directs to the starting time of the discussion)_

[2017-02-24 15:55] ragesoss opened #1195 "Add support for Multilingual Wikisource"
Wikisource has a catch-all multi-lingual version for cases where texts are in a language (or multiple languages) that don't have its own wiki: https://wikisource.org

We'll need to special-case that particular wiki in the `Wiki` model.

[2017-02-26 21:57] #1181 closed

[2017-02-26 22:24] ragesoss opened #1197 "Too long assignment titles cause MySQL errors"
Putting in a very long assignment title results in an error in MySQL. Too-long titles should be caught and handled earlier in the data flow, with a sensible error message presented to the user.

[2017-02-26 23:14] ragesoss opened #1198 "In development mode, it should be easy to switch between user accounts without logging in/out of Wikipedia"
Having an easy way to switch to an admin / instructor / student account with a single click would make it much easier to get started with any development tasks that involve multiple user roles.

[2017-02-27 14:31] arreche commented on #958
I am Learning a little bit about that [React DnD](https://react-dnd.github.io/react-dnd/docs-overview.html) before to start.

[2017-02-28 16:24] ragesoss opened #1200 "Course passcode should be optional for some course types"
The Programs & Events Dashboard main course types, `GenericCourse` and `Editathon`, should allow blanking the passcode so that no code is necessary to join. `ClassroomProgramCourse` courses should still required a passcode.

[2017-02-28 16:28] ragesoss opened #1201 "PushCourseToSalesforce should handle Salesforce unavailability"
Currently if the SF API is down, it results in `Faraday::ParsingError` and it breaks the update process.

[2017-02-28 18:14] #1201 closed

[2017-02-28 18:47] patmbolger opened #1202 "Add process doc link to /readme.md"
The process documentation (dev process mechanics for  managing Waffle stories and submitting PR's, for AgileVentures people) needs to be linked to the readme file.

[2017-02-28 22:19] arun1595 opened #1205 "Horizontal overflow when an instructor tries to create an available article"
## Steps to reproduce:

1. Login as an instructor
2. Create a course and try to add a new available article.
3. You can find the popup causing a horizontal overflow.

### Screenshot

![overflow](https://cloud.githubusercontent.com/assets/7039523/23436802/d95a2764-fe31-11e6-85a4-7caacf2b8531.png)

[2017-02-28 22:23] arun1595 opened #1206 "Close the popup once an available article has been created"
## Steps to reproduce:

1. Login as an instructor
2. Create a course and try to add a new available article.

Even after creating the article, the popup remains opened. I guess this could be fixed by removing the `open` class from the popup on clicking the 'Assign' button.

[2017-02-28 22:34] ragesoss commented on #1206
The best way to do this is to use the `open` function (`this.props.open(e)`) that comes from Expandable and is a prop on `AssignButton`.

[2017-02-28 22:36] ragesoss commented on #1202
Resolved via #1203

[2017-02-28 22:36] #1202 closed

[2017-03-01 00:42] ragesoss opened #1207 "On Programs & Events Dashboard home page, button says 'All Courses' instead of 'All Programs'"
The button should switch messages when it is rendered on P&E Dashboard vs. Wiki Ed dashboard.

[2017-03-01 17:03] #913 closed

[2017-03-01 19:34] ragesoss commented on #1183
Done

[2017-03-01 19:34] #1183 closed

[2017-03-01 19:36] ragesoss commented on #1188
This change in behavior only applies for P&E Dashboard. On the frontend, this means `!Features.wikiEd` is true.

[2017-03-02 00:44] ragesoss opened #1208 "Update how Article #rating data is imported: use the new PageAssessments API"
Currently, `RatingImporter` gets article ratings by calling `WikiApi.get_article_ratings`, fetching the text of the talk page and using regular expressions (in `ArticleClassExtractor`) to figure out what the rating of an article is.

This only works for English Wikipedia, and is potentially subject to error if the format of common WikiProject templates changes.

The new PageAssessements API provid

[2017-03-02 07:22] pruby opened #1209 "Arbitrary Render Vulnerability"
Hello,

There is an arbitrary render call present in this project here:

https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/app/controllers/courses_controller.rb#L64

Render may be invoked with a string of the attacker's choice. The exploitability of this was highly limited by this patch: https://groups.google.com/forum/#!topic/rubyonrails-security/335P1DcLG00

It is not likel

[2017-03-02 18:24] ragesoss commented on #1209
Thanks! Exploitation seems very unlikely to have happened. If I understand correctly, this vulnerability would have allowed rendering of an arbitrary view, but without setting any additional instance variables. I can't think of any private data that could have been extracted with this. Survey and feedback data is private, but would not be accessible without setting the relevant records. User email

[2017-03-02 20:11] #1209 closed

[2017-03-02 20:11] pruby commented on #1209
Hi ragesoss,

The bug was originally described as an information disclosure issue in those terms, however people found several ways to exploit this following that. The main method known is that by causing ERB code to be written to the logs, then including a log file, an attacker could cause code to run.

Another method is that by exploiting a type confusion vulnerability, as in the link in the fir

[2017-03-02 20:49] ragesoss commented on #1209
I see. With arbitrary shell access, I suppose any data could have been obtained. There aren't any indications that would point me towards having been exploited, but it sounds like it would be pretty hard to trace.

Thinking through what data it would be possible to leak:

* The auth data is all in the form of OAuth tokens for Wikipedia accounts that would only work when coming through the applicat

[2017-03-02 23:38] ragesoss opened #1215 "Students list is overwhelming for large classes"
Passed on from an instructor with a large class: "It can be overwhelming to have all the students listed together under the students tab, especially for larger classes. Apparently platforms like canvas, have the students in a drop down so you can view them individually."

Some kind of more compact or modular design for large (40+ students) classes might help with this.

[2017-03-03 17:34] ragesoss opened #1216 "When user is both facilitator and editor in a course, elements that switch on 'current_user.role' don't handle both roles"
Currently, the `Course` component sets current_user from the `UserStore`, finding the first user with a matching ID.

This means that components that switch behavior based on user role will sometimes work incorrectly for the case of dual roles, including:
* `MyArticles` only shows up for role 0.
* `AvailableArticles` renders nothing for role 0 users if the list is empty.

[2017-03-03 17:39] ragesoss commented on #1216
The solution to this is probably to avoid switching behavior on current_user.role.

One option would be to instead providing some utility functions along the lines of `CourseUtils.isStudent(course, current_user)` and `CourseUtils.isInstructor(course, current_user)`, which check the user store for the id/role combination.

[2017-03-04 00:34] ragesoss opened #1217 "Long file names cause MySQL errors"
We need to update the schema to accept longer filenames.

[2017-03-04 00:48] #1217 closed

[2017-03-04 17:07] ragesoss opened #1219 "Invalid course URL can be created by putting only whitespace for school/institution"
There should be some validation on both the frontend in the course creation screen and on the `Course` model.

[2017-03-04 17:34] ragesoss opened #1220 "Course can be created with end time before start time"
Although the dates work pretty well in terms of front-end validation, the times are not checked.

AM/PM confusion in particular can lead to invalid dates such that no data will be collected.

There should be validation in both the javascript and in the Course model.

[2017-03-08 17:39] ragesoss opened #1226 "If user submits a program via the CourseCreator with an invalid wiki, fixing the problem and resubmitting does not work"
Submitting an invalid wiki should be caught on the frontend and it should put the course creator back into a state where it can be submitted again.

[2017-03-08 17:48] ragesoss commented on #1226
To replicate this bug:
* In config/application.yml set default_course_type to 'GenericCourse'
* Log in and Click 'Create a New Program' from the home page, then 'Create New Program'
* Fill out the form, and enter an invalid langauge code (like 'abcd') in the Home Language field
* Submit, which will trigger an error notification
* Replace the language code with a valid one (like 'es') and click Sub

[2017-03-08 22:38] FedericoEsparza commented on #1187
https://youtu.be/mPfZ1szbekU?t=5m40s Some discussion and point voting AGAIN (by accident) in the 2017-03-08 AV Americas Scrum recording. (*Link directs to the starting time of the relevant discussion*)

[2017-03-11 23:04] ragesoss commented on #1197
@keer25 You asked:

These get called via the javascript frontend. The starting point is the AssignButton component: https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/app/assets/javascripts/components/students/assign_button.jsx#L284

Submitting the input for a new assignment triggers the `assign` function of that component, which does some validation, then triggers a confirmat

[2017-03-12 00:12] sejalkhatri commented on #1197
Control Flow:
/assets/javascripts/components/students/assign_button.jsx handles the Assign button submit action and calls assign() method onSubmit which updates the store and calls for a server action.

From /javascripts/utils/api.js createAssignment method is called which redirects control to assignments_controller, where lib/assignment_manager.rb is imported and used to update the assignment mod

[2017-03-13 18:10] patmbolger commented on #958
Note: there was some work performed on this story (still incomplete).  That can be seen in this "work in progress" PR: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1210

[2017-03-13 19:20] ragesoss commented on #1226
One good fix for this, which would also address cases like users typing in `wikipédia` (which causes an error instead of being interpreted as 'wikipedia'), would be to change the text entry to a picklist of available projects.

[2017-03-13 19:47] ragesoss commented on #1182
Done

[2017-03-13 19:47] #1182 closed

[2017-03-13 19:49] ragesoss commented on #1147
Fixed with 1dc7b8ebeb2e86473de9b8d7172468524c2898d0

[2017-03-13 19:49] #1147 closed

[2017-03-13 22:49] #1197 closed

[2017-03-14 20:29] #1140 closed

[2017-03-15 12:44] medhabansal commented on #1219
@ragesoss Is it okay if we disallow leading whitespaces in the front-end check?

[2017-03-15 15:40] medhabansal commented on #1219
@ragesoss Requesting review: [pull request](https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1233)

[2017-03-15 17:15] medhabansal opened #1234 "Datepicker takes wrong date on course creation page"
Date selection on the course creation page for course start date and end date through datepicker enters the selected date's previous date in the input field.

Observed behaviour:

![courses_datepicker_bug](https://cloud.githubusercontent.com/assets/10144999/23961491/1579b804-09d1-11e7-93f6-0f434079b6b2.gif)

[2017-03-15 17:19] medhabansal commented on #1234
@ragesoss As per our discussion yesterday, I have created the issue. Could you please take a look at the processes followed and suggest changes? Thanks.

[2017-03-15 20:00] ragesoss commented on #1219
Yes, that sounds reasonable.

[2017-03-15 21:12] FedericoEsparza commented on #1187
https://youtu.be/FTXQLL8eZUo?t=6m5s Extended discussion in the 2017-03-15 AV Americas Scrum recording. (*Link directs to the starting time of the relevant discussion*)

[2017-03-16 00:19] ragesoss commented on #1234
@medhabansal thanks!

I'm pretty sure this is related to timezones, and how they are treated in `app/assets/javascripts/components/common/date_picker.jsx` by default, when the `showTime` prop is not `true`.

One thing to investigate is how it behaves for you when `showTime` is true. You can do this by editing `application.yml` and changing the `default_course_type` line to "default_course_type: 'B

[2017-03-16 17:41] medhabansal commented on #1234
@ragesoss The behaviour was as expected with the change you suggested, and date was being accepted in the user's current time zone. [This](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/eaac2f427c73d269f0c44af919038af1556f675d/app/assets/javascripts/components/common/date_picker.jsx#L225) line here seems to be the culprit. But the current behavior was specifically added in [this]

[2017-03-16 19:00] ragesoss commented on #1234
@medhabansal The context for the two different behaviors (switching on showTime) is that for the Programs & Events Dashboard instance of the app, the main use case is one-day events where a start and end time are relevant, but for the Wiki Ed Dashboard instance, the main use case is weeks-long courses where the start/end times are not relevant.

This component was converted to use moment objects w

[2017-03-17 12:44] medhabansal commented on #1234
@ragesoss Should I now change it to just one common time zone(user's time zone as taken by the moment object)?

[2017-03-17 14:16] ragesoss commented on #1234
Maybe. I'm not entirely sure how to fix the bug. I suggest this:

1. See if you can change the behavior by changing your computer's time
and/or timezone.
2. If you can, then try out that change and see if it makes the bug go away
for both positive and negative timezones far from UTC.

-Sage

On Mar 17, 2017 5:44 AM, "Medha Bansal" <notifications@github.com> wrote:

[2017-03-18 16:42] #1219 closed

[2017-03-20 19:36] #1207 closed

[2017-03-22 22:18] #1195 closed

[2017-03-22 22:45] ragesoss commented on #11
I don't think this is solvable in isolation, and may or may not make sense if the design changes enough for it to be solvable, so closing.

[2017-03-22 22:45] #11 closed

[2017-03-23 16:24] #234 closed

[2017-03-23 16:24] #1216 closed

[2017-03-24 16:22] keer25 commented on #1005
Design for displaying the message : How about a info icon that opens a popup message on hovering over it.

[2017-03-24 16:26] ragesoss commented on #1005
@keer25 yes, something like that would make sense.

[2017-03-24 17:08] ragesoss commented on #1234
@medhabansal one not-very-elegant solution that might work:
* In that `DatePicker` `moment` method when showTimes is false, only convert to UTC if user's timezone has a negative offset.

[2017-03-24 17:38] ragesoss opened #1244 "Available Articles should be sorted alphabetically"
The 'Available Articles' section shows up on the Articles tab of a course; instructors can add articles that are available to the students to choose as their assignments.

Currently, the list is ordered arbitrarily, probably by assignment id. It ought to be sorted alphabetically by default.

The place to start is the AvailableArticles component: `app/assets/javascripts/components/articles/availabl

[2017-03-25 10:27] keer25 commented on #1005
The constant update that happens every 15 minutes pulls revisions and hence except for article views and commons uploads all other metrics get updated every 15mins.? What about articles creates? How often is it updated?

[2017-03-25 15:12] ragesoss commented on #1005
`ConstantUpdate` runs every 15 minutes, but it exits immediately if another instance of that process is already running. Currently, updates are taking about 4 hours each on Wiki Ed production, and 8 hours each on Programs & Events Dashboard. The update process reports the time the update took to the logging service Sentry — see the `Raven.capture_message` call in `BatchUpdateLogging`.

One way to

[2017-03-25 18:17] keer25 commented on #1208
PageAssessments API also works only only for English Wikipedia (I referred to [here](https://meta.wikimedia.org/wiki/Community_Tech/PageAssessments). But it has structured data so it will be good to update to PageAssessments API

[2017-03-25 18:53] medhabansal commented on #1219
@ragesoss The edit-update flow is allowing the title to be edited to accept blank values, and creating as well as updating invalid slug. No error is being displayed in this case(errors encountered earlier were from courses with bad first slugs).
![edit_page_screenshot](https://cloud.githubusercontent.com/assets/10144999/24325235/4227793c-118c-11e7-9e5e-61c67e308cdc.jpg)

Should I create a PR with

[2017-03-28 22:05] #1220 closed

[2017-03-29 00:27] ragesoss opened #1247 "Cannot import revisions from multilingual wikisource"

[2017-03-29 02:42] #1247 closed

[2017-03-30 02:02] ragesoss opened #1252 "Delete button on course should be visible but disabled if user can delete but course is active"
Currently, the delete button shows up only if it is usable, which means all campaigns have been removed.

Instead, the button should show up but be disabled, with mouseover text explaining that it can be deleted if all campaigns are removed first.

[2017-03-30 15:41] #1187 closed

[2017-04-03 18:48] ragesoss commented on #1035
Adding an index to the CoursesUsers table made this bottleneck disappear.

[2017-04-03 18:48] #1035 closed

[2017-04-04 16:28] ragesoss opened #1254 "When back-filling data for previous events (via :needs_update flag), Commons Uploads are not imported"
Currently, the CommonsUpload import process happens during the `DailyUpdate` cycle, and imports uploads for all users in the `User.current` scope (which is based on the `Course.current` scope).

If a course is marked in need of an update, the `ConstantUpdate` cycle will import revisions for that course (once). It should also import uploads for the users in that course.

[2017-04-05 21:45] #1180 closed

[2017-04-06 16:40] ragesoss opened #1255 "Admins should be able to search for users by real name"
Currently, we can search by email via `/users`. Adding a separate option to search by real name (`User.real_name`) would be handy. This should be straightforward to implement by following the pattern of the initial search-by-email implementation.

[2017-04-11 15:20] ragesoss opened #1259 "Bio field of user profile is not long enough"
A user hit the limit for bio size. We should increase the size allowed.

[2017-04-11 15:39] #1259 closed

[2017-04-11 15:58] ragesoss commented on #1208
Done via #1245

[2017-04-11 15:58] #1208 closed

[2017-04-12 14:46] ragesoss opened #1260 "Trainings are reloaded too often"
I recently changed the way training data is loaded and stored; it now lives in a class instance variable for each type of training content, set in `TrainingBase`. I expected that this would be long-lived, but this is not the case; content has been reloaded (with a flurry of web requests to Meta Wiki) about 1000 times since I deployed the new code yesterday.

We should find a better, more permissio

[2017-04-12 14:50] ragesoss opened #1261 "`Errno::EMFILE: Too many open files` when loading training content from wiki"
I few times, P&E Dashboard has hit this error within Pandoc during the process of loading training content from wiki.

As an attempt to work around this, today I edited `/etc/security/limits.conf` on the server and set a `nofiles` limit of 5000 (up from the default of 1024).

Perhaps a better solution that will scale to more trainings would be to first import all the text (in the mulithreaded way

[2017-04-12 18:04] #1013 closed

[2017-04-12 18:07] ragesoss commented on #1255
Search by email PR: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1170

[2017-04-13 20:00] #1184 closed

[2017-04-13 20:02] ragesoss commented on #1260
I think I've fixed this by re-adding Rails caching, now using Dalli as the store: 108d05d167d52785f7d142207f7f8cabbe4fbfdd

[2017-04-13 20:02] #1260 closed

[2017-04-14 20:44] ragesoss opened #1263 "Going to previous question and changing answer that affects conditional questions sometimes breaks rendering of survey"
This is happening if you do that in the spring 2017 survey.

![broken](https://cloud.githubusercontent.com/assets/848483/25055580/80b4b3cc-2118-11e7-82d5-04b3b0514801.png)

[2017-04-17 16:43] ragesoss opened #1264 "Replica queries by article title on Hebrew Wikipedia may fail because URI is too long"
[code]

This happens because we try to pass up to 100 titles at once to Replica, and if they are in a language where URI encoding significantly increases the number of characters — pretty much anything that is mostly not basic Latin characters — then the URI can grow much larger.

We can solve this by limiting the number of articles per request, as set in `ArticleStatusManager`. Ideally, we could

[2017-04-18 19:20] ragesoss opened #1265 "Mobile links pasted into AssignButton aren't parsed corrected"
Pasting a mobile URL, such as https://en.m.wikipedia.org/wiki/Let's_kill_all_the_lawyers, gets interpreted as language "m".

[2017-04-18 19:40] #1265 closed

[2017-04-21 16:01] ragesoss opened #1266 "Add support for anonymous (IP) users"
In some cases, people want to track participation by anonymous IP users, along with registered users.

This would involve updating revision import and user record code to handle the case of IP users without usernames.

[2017-04-23 20:12] chicocvenancio commented on #1226
I ran into this as I incorrectly interpreted "primary language" as including the language variant.
For me it did not even show an error notification, only noticed what the problem was through developer tools.

[2017-04-24 23:05] ragesoss commented on #241
We've now switched to using the PageAssessments extension for this, which may open it up to other languages once the extension is enabled on them. Implementing fallback support for Wikidata badges may be a way to extend support further. See https://phabricator.wikimedia.org/T163556

[2017-04-24 23:15] ragesoss commented on #970
I haven't seen this happen again. Closing, as I have never been able to reproduce it.

[2017-04-24 23:15] #970 closed

[2017-04-27 17:06] ragesoss opened #1267 "long titles cause layout problems with Article Viewer"
We need more colors, and handling for overlong titles.
![layout prob](https://cloud.githubusercontent.com/assets/848483/25495207/3910d99c-2b31-11e7-84cd-ce3d9b0b04a0.png)

[2017-04-27 19:03] #1267 closed

[2017-04-28 17:08] ragesoss opened #1268 "Peer review workflow is confusing for students"
In most cases, students are supposed to distribute their peer reviews of classmates evenly, but there's no tracking of peer reviews in direct connection to main assignments and now easy way to see which ones are already 'taken'.

Separately, the dashboard doesn't give much guidance on *how* to do a peer review.

[2017-04-28 17:14] ragesoss opened #1269 "Articles Edited should have a toggle to show only assigned articles"

[2017-04-28 17:24] ragesoss opened #1270 "Dashboard should have option for private feedback for students"

[2017-04-29 02:32] ragesoss opened #1271 "left-to-right mark doesn't get removed from pasted usernames"
The LTR mark, ruby character 8206, can sneak into the beginning of a username. This will break revision importing.

[2017-05-01 19:55] ragesoss commented on #241
The relevant places to start for adding support for Wikidata badges are:

https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/lib/importers/rating_importer.rb

and

https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/lib/wiki_api.rb

We should be able to configure which wikis have badges enabled and which ones have PageAssessments enabled.

[2017-05-01 20:39] ragesoss commented on #1271
To replicate:
1. Set up a course, add it to a cohort, and then as the instructor (or an admin), go to the Students / Editors tab and click Enrollment / Participation.
2. copy a string that starts with the invisible LTR mark and continues with a real username, and put this in the input field
3. The link to the user's userpage will include the encoded LTR mark

The fix will be to edit UserImporter (

[2017-05-03 16:34] medhabansal commented on #649
@ragesoss Have been investigating on this issue and have a few questions about API usage, could we discuss the expected design?

[2017-05-03 16:52] ragesoss commented on #649
Sure. The short answer is that it would work similarly to this: http://playlist.wiki/

It would make calls to the Wikipedia API from the client, showing a list of suggested titles based on what the user has typed so far. This would be within the AssignButton component.

I'm around on IRC if you want to chat in more depth.

[2017-05-03 19:49] ragesoss opened #1274 "Add suggestions for how articles can be improved"

[2017-05-03 19:50] ragesoss commented on #1274
The latest version of the MyArticles components may be a good place from which to surface ORES-based feedback/suggestions.

![ui](https://cloud.githubusercontent.com/assets/848483/25678554/efe8acd6-2ffe-11e7-8b45-c998bcf458f3.png)

![peer](https://cloud.githubusercontent.com/assets/848483/25678553/efe586f0-2ffe-11e7-970e-b93880afd2e6.png)
![quality](https://cloud.githubusercontent.com/assets/84848

[2017-05-04 21:16] arun1595 commented on #1226
I haven't been able to spend time on this. Anyone interested in tackling this issue can work on top off my [PR](https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1250) or start from scratch.

[2017-05-15 17:29] #1255 closed

[2017-05-15 18:26] ragesoss commented on #1254
It looks like this may just be a matter of adding a step to ConstantUpdate that runs `UploadImporter.import_all_uploads` for the users in the `needs_update` courses and runs `UploadImporter.update_usage_count_by_course` for those courses.

[2017-05-15 21:14] ragesoss opened #1278 "whocolor API limitations"
The authorship annotation data from whocolor has some significant bugs and limitations:

* For many pages, the authorship spans stop partway through the article — [reported](https://github.com/jurkan/whoCOLOR/issues/3) — No longer happening with this example.
* For some articles, the authorship spans are very partial, and don't include student edits (even though the revision ids for those edits in

[2017-05-22 17:48] ragesoss opened #1283 "Review and improve mobile layout of course pages"
Make sure all the key data on a course page is accessible via mobile, such as number of edits for each user.

[2017-05-22 17:54] ragesoss opened #1284 "improve Uploads tab layout"
The Uploads tab currently acts as simply a recent uploads feed, and doesn't help much with either getting an overview of all contributed Uploads (where a justified gallery would fit many more images for a good overview) or evaluating uploads on a user-by-user basis. (Currently, you can sort by username, but can't easily get to the Commons upload page for a user, and also there's no visible groupin

[2017-05-22 17:59] ragesoss opened #1285 "Dashboard should provide quick access to user talk discussion"
As a first step, we could just add a link to the Talk page, but probably the better way would be to surface discussion content from within the dashboard itself. A starting point might be to use the ArticleViewer to pull up a user's talk page without leaving the dashboard. This would not provide a concept of messages / replies / notifications but it would serve well for reviewing the talk pages of

[2017-05-22 18:02] ragesoss opened #1286 "Users should be able to cycle through diffs in the Activity view"
A 'Next' button and/or keyboard shortcut would make this list of diffs much more useful.

[2017-05-23 17:25] ragesoss opened #1287 "show Draft byte counts on Students tab"

[2017-05-23 23:51] ragesoss commented on #1287
Done in 86b5fe5bc7b9c6524d5d37522d1b5916ff934503

[2017-05-23 23:51] #1287 closed

[2017-05-25 18:08] ragesoss opened #1288 "DiffViewer should show info about diffs that are not available"
Sometimes a diff gets deleted, for example because of copyright violation.

When that happens, the diff viewer should handle it and show the user relevant information if possible.

[2017-05-25 18:51] #1288 closed

[2017-05-26 18:22] ragesoss commented on #972
Fixed with d58710f95dce81615f11b2c61efb88a0193a91d6

[2017-05-26 18:22] #972 closed

[2017-05-26 18:23] ragesoss commented on #1188
Fixed with d58710f95dce81615f11b2c61efb88a0193a91d6

[2017-05-26 18:23] #1188 closed

[2017-05-26 22:22] #1178 closed

[2017-05-26 22:22] #1254 closed

[2017-05-26 23:34] ragesoss opened #1289 "Formatting of datetimes in Revision list is not localized"
The datetimes we show come from moment: `moment(this.props.revision.date).format('YYYY-MM-DD   h:mm A')`.

That's not a standard format in some locales. Brazilian Portuguese, for example, is normally DD/MM/YYYY.

[2017-05-31 19:47] #1271 closed

[2017-05-31 22:55] ragesoss commented on #1141
Done with #1290

[2017-05-31 22:55] #1141 closed

[2017-05-31 22:56] ragesoss commented on #1252
Done via c8178ea4f295716f3533fe56423f0502f2fa0762

[2017-05-31 22:56] #1252 closed

[2017-06-01 05:38] Nikerabbit opened #1291 "Translation update failed"
Have you changed any settings recently? I got this error today:

[code]

[2017-06-01 14:35] ragesoss commented on #1291
@Nikerabbit no, we haven't changed any settings very recently. I noticed that @translatewiki didn't have push rights on master though. Maybe that was the problem. I've added @translatewiki for master.

[2017-06-01 14:36] ragesoss commented on #1291
You and Siebrand already had push rights for master, btw.

[2017-06-01 14:52] Nikerabbit commented on #1291
That's probably the reason. I have been running with two accounts for migration period, and GitHub handles that case inconsistently and weirdly. Now that I am only running with @translatewiki the lack of permission was surfaced.

Permissions for me and Siebrand can be removed once I confirm @translatewiki works.

[2017-06-01 15:21] Nikerabbit commented on #1291
Yeah, now it went through :)

[2017-06-01 17:32] ragesoss commented on #1291
cool. I've removed master rights for you and Siebrand. Thanks for all this!

[2017-06-01 17:32] #1291 closed

[2017-06-01 18:16] ragesoss opened #1292 "UserImporter should fall back to home wiki of the course for users that don't exist on Meta."
There are accounts that participated in past evens, like Lukasoch on pl.wikipedia, who don't have Meta accounts. It should be possible to add these users by verifying that they exist on the relevant wiki, even if they don't on Meta.

[2017-06-01 18:52] #1292 closed

[2017-06-01 20:12] ragesoss opened #1294 "new_or_returning tagging is not accurate for P&E Dashboard"
Because it relies on *published* courses, all courses are counted as returning on P&E Dashboard, since they are published by default.

[2017-06-01 22:18] #1294 closed

[2017-06-01 23:41] #1226 closed

[2017-06-02 02:43] JoalpeBrasil opened #1295 "Expanding the length of the list of activities (Activity tab)"
On the P&E Dashboard, the list of activities only shows last ~50 edits; the possibility to show more than that should be available, as cohorts might be much larger than 50 students

[2017-06-02 19:42] ragesoss opened #1297 "Duplicate revisions can be created with the same mw_rev_id and wiki_id"
I'm not sure how this gets into the system, but there are about 2000 such revisions with multiple copies in the P&E Dashboard database.

[2017-06-02 22:28] ragesoss commented on #1297
Fixed with 782b51327d068cc0381a383a04052b929c9cd8e4

[2017-06-02 22:28] #1297 closed

[2017-06-02 22:38] ragesoss opened #1298 "Long programs with thousands of articles slow down update rate significantly"
There are some programs set with very wide date ranges, and thousands of articles edited. These contribute considerably to the long update times on P&E Dashboard, where there are currently about 42,000 articles for active courses, the udpate cycled has stretched to about an hour, and most of it is taken up by cache updates for Article and ArticlesCourses, which both scale with the number of active

[2017-06-03 15:42] ragesoss commented on #1264
Still happening after changing it to 50 titles. I guess we should go with one of the more complicated solutions, either switching the value on language (easy, but not ideal) or moving the chunking into Replica and choosing number per query dynamically based on title length.

[2017-06-05 22:01] ragesoss opened #1299 "i18n pluralization only uses the English rules"
The CLDR standard has pluralization rules that vary by language. The rails i18n system, however, just defaults to the English rules, which use `:one` and `:other` as the main keys. The Polish translation currently has more specific pluralization categories (`:one`, `:few`, `:many`), but this causes an error because the system is expecting `:other` for more than one.

This currently causes errors o

[2017-06-05 23:01] #1299 closed

[2017-06-12 16:18] #1080 closed

[2017-06-13 17:22] ragesoss opened #1300 "StudentGreetingChecker makes too many mediawiki requests too rapidly, and errors"
StudentGreetingChecker sometimes triggers a 429 response from Wikipedia, which we don't handle in WikiApi and which causes a nil no-method error in StudentGreetingChecker.

WikiApi should handle 429 errors by slowing down, and StudentGreetingChecker should be able to handle unsuccessful api queries.

[2017-06-14 20:37] #1300 closed

[2017-06-14 22:58] #1200 closed

[2017-06-15 17:50] #1264 closed

[2017-06-15 17:55] ragesoss commented on #1043
Resolved with 3a7b7fc378f48db88f5170db258c29d82f624061

[2017-06-15 17:55] #1043 closed

[2017-06-15 19:53] #1058 closed

[2017-06-15 22:38] ragesoss opened #1301 "During course creation and afterwards, users should be able to add wikis to a course"
The current way of checking for edits based on assignments is okay, but it would be better to explicitly choose which wikis to track during or after program creation.

We could do this with a new CoursesWikis model, and then pull in edits from home_wiki, all CoursesWikis, and all assignment wikis.

Steps involved:
* Create a CoursesWikis model
* Update CourseRevisionUpdater to use CoursesWikis to

[2017-06-15 22:41] ragesoss opened #1302 "Update ArticleViewer authorship highlighting to use wikiWho 2.0"
This mainly involves work on https://github.com/WikiEducationFoundation/whoCOLOR

See https://github.com/jurkan/whoCOLOR/issues/4

[2017-06-16 00:03] ragesoss opened #1303 "Upgrade to webpack 3"
The new version of webpack may ultimately do a better job of tree-shaking to minimize unused code that we send to clients. However, it looks like we'll need to update our webpack configuration (`gulp/tasks/webpack.js`) to conform to the newer version's API.

(Also, Webpack 3 is coming soon.)

[2017-06-21 02:50] JoalpeBrasil opened #1306 "Only last edit per student on Activity tab"
Only list last edit of a specific student/editor on Activity tab

Problem the way it is: each edit is listed individually, and students who save a lot may take up too much space on the Activity tab

[2017-06-21 12:21] sejalkhatri opened #1307 "For an instructor or admin, finding out which user is still active after the course has ended - a way to track users."

[2017-06-21 12:42] sejalkhatri opened #1308 "Instead of putting zero in some of Stats fields, Notifying visitors that old data is unavailable."

[2017-06-21 13:53] sejalkhatri commented on #1308
We can start by Notifying visitors that data from old programs is not included while calculating the page views stats for the historic courses , instead of putting zero in the page views fields.

[2017-06-21 14:58] ragesoss commented on #1306
This purpose is served by the Editors tab; clicking on the row of an editor shows their most recent edits.

The Activity tab is intended to show the most recent edits from the group, no matter who made them.

[2017-06-21 15:44] sejalkhatri opened #1309 "For the class rating of an article on the Articles Page, displaying the information (mostly using tooltips) that "Article ratings via WikiProjects are not supported by all languages.""
This only applies to the Programs and Events dashboard, So We'd need to switch it on course type,  so that it doesn't show up for the Wiki Ed Dashboard.

[2017-06-22 03:17] #1044 closed

[2017-06-26 16:05] ragesoss opened #1314 "UploadImporter.import_all_uploads may fail with `SystemStackError: stack level too deep`"
This error has been occurring lately during the DailyUpdate process, probably related to too-large numbers of images being imported.

Ultimately could probably move the Commons upload updating processes into Sidekiq processes, as they are pretty independent of the rest of the update cycle (although dependent on each other... we want to get usages and thumbnails after fetching images).

Meanwhile,

[2017-06-26 23:51] #1314 closed

[2017-06-27 20:29] #1094 closed

[2017-06-30 01:50] lopezabegaillyn opened #1317 "Disordered Article page when in mobile"

[2017-06-30 02:00] lopezabegaillyn opened #1318 "Disordered Article page when in mobile"
The navbar is blocking some parts of the div of the articles.

[2017-06-30 02:03] #1317 closed

[2017-06-30 02:12] lopezabegaillyn commented on #1318
<img width="660" alt="screen shot 2017-06-30 at 10 04 01 am" src="https://user-images.githubusercontent.com/29187834/27718154-8c6d3f9a-5d7c-11e7-9e0b-fdf028edbfb6.png">

[2017-06-30 03:13] lopezabegaillyn commented on #858
Hi @ragesoss , could you give me more info about this? thanks

[2017-06-30 04:03] ragesoss commented on #1318
Thanks! @sejalkhatri is working on a mobile layout cleanup soon.

[2017-06-30 04:09] ragesoss commented on #858
On the My Dashboard view (which is the home page when logged in), there is a list of a user's courses which have ended. This is currently a simple list, but it would be better if it was sortable.

![archived](https://user-images.githubusercontent.com/848483/27720541-e4568716-5d0e-11e7-9d80-dd195e423999.png)

You can replicate this by creating several courses and setting the end date to some time i

[2017-07-03 01:04] lopezabegaillyn commented on #1285
Hello @ragesoss,

[2017-07-03 01:37] lopezabegaillyn commented on #1270
Hi @ragesoss,

How do you want to implement this issue? Thanks!

[2017-07-03 01:38] lopezabegaillyn commented on #1244
Hi @ragesoss, can you take a look if this issue is already solved? Thanks.

[2017-07-03 01:40] lopezabegaillyn commented on #1198
Hi @ragesoss, can you also tell me how do you want to implement this issue?

[2017-07-03 02:00] lopezabegaillyn commented on #1038
Hi @ragesoss , can you explain this further? Thank you so much. :)

[2017-07-03 15:07] ragesoss commented on #1198
I'm not sure. This would probably be a complicated issue to tackle, and I've never done something like it before.

[2017-07-03 15:09] ragesoss commented on #1153
done via Articles tab of campaigns

[2017-07-03 15:09] #1153 closed

[2017-07-07 19:06] ragesoss opened #1323 "in Timeline, weeks should be numbered from course start, not assignment start"
One piece of recurring feedback from instructors is that it's confusing when the week numbering does not match up with the way weeks are numbered on their syllabus, because the assignment timeline does not start at the very beginning of the course.

We should number the weeks based on the course start, which means a timeline could begin with 'week 4' instead of 'week 1', for example.

[2017-07-11 15:33] ragesoss opened #1325 "Dashboard should generate alerts for DYK articles"
We currently generate an `AriclesForDeletionAlert` and send an email whenever a student article is being nominated for deletion. See `lib/articles_for_deletion_monitor.rb`.

We should implement similar alerts for 'Did You Know' nominations, based on the currently nominated DYK pages: https://en.wikipedia.org/wiki/Template_talk:Did_you_know

[2017-07-12 22:06] ragesoss opened #1328 "Add username advice to the enroll modal for non-signed in users"

[2017-07-12 22:08] ragesoss opened #1329 "Link to 'finding articles' training from Articles tab, for Wiki Ed instructors"

[2017-07-13 23:54] ragesoss opened #1330 "Training Libraries index should have links directly to individual trainings"
It currently names them, but does not link to them.

[2017-07-14 02:34] lopezabegaillyn commented on #1329
@ragesoss Can you elaborate this issue? Thank you

[2017-07-15 20:48] hin101 commented on #955
For this ticket, do we simply want to delete the unsubmitted courses, or retain them and just hide it from the view?

[2017-07-16 02:31] ragesoss commented on #955
@hin101 The story is like this:

1. Instructor creates a course, using the assignment wizard to create a timeline.
2. The instructor has not yet clicked submit. Upon reviewing the timeline, the instructor decides they want to make some different choices. They want to scrap the entire timeline and go through the assignment wizard again.
3. Instead of needing to delete every week in that timeline (t

[2017-07-17 19:05] ragesoss commented on #955
@medhabansal since you've got a few other things on your plate, how about we leave this for Hinesh for now?

@hin101 I had forgotten that Medha was going to work on this one, but I don't think she's started yet. Keep us updated, though; if you're not able to tackle it, we'll pass it back to Medha or myself, since I'm hoping to get this one done within the next few weeks. And if you get stuck or ha

[2017-07-17 19:16] hin101 commented on #955
@ragesoss Thanks, I will give it a go and keep you updated

[2017-07-18 08:26] medhabansal commented on #955
@ragesoss Cool, I had just begun with my investigation and made only a few basic changes. I'll work on the issues we discussed yesterday.

[2017-07-18 16:21] ragesoss commented on #1306
This could work as a toggle that the user can select to show only the most recent edit per user.

[2017-07-20 19:29] ragesoss opened #1335 "If user is both Editor (student ) and Facilitator (instructor) for a course, edit permissions may be disabled"
For a user in two roles, the 'current_user' prop gets set in course.jsx based on the first user object from `UserStore` that matches their user id, and the 'role' property of that user object is the basis for enabling/disabling edit permissions and other capabilities.

If a user was added in role 0 (editor/student) before being added as role 1 (instructor/facilitator), then that role 0 object is t

[2017-07-25 12:07] vdineva commented on #1330
Created a PR: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1336
Attaching a screenshot of before and after. One thing I wasn't quite sure about is if the default underline for the link should be there and about the spacing between the 'Instructors' and 'Students' and the block below them. I'd be more than happy to address any visual changes
BEFORE
![1330-before](https://user-im

[2017-07-25 16:43] ragesoss commented on #1330
@vdineva Thanks! I think the newly introduced spacing between the header and the list of modules should be removed. The link styling looks good.

[2017-07-26 04:05] Sharan-ram commented on #1244
@ragesoss i would like to work on this issue if its still open

[2017-07-26 04:18] ragesoss commented on #1244
Please do! Let me know if you have any questions.

On Jul 25, 2017 9:05 PM, "Sharan Ram" <notifications@github.com> wrote:

[2017-07-28 22:58] ragesoss opened #1338 "Ores data should not be requested until 'Feedback' button is clicked"
On the Articles tab, currently we do a request for each assigned article to get the feedback data, as soon as the component mounts. For courses with many assignments, then bogs down the server and may be causing degraded performance of the 'edited by' lookup in the article drawer.

It would be better only do the fetch once the user has clicked to see the feedback for that article.

[2017-08-02 17:54] ragesoss opened #1341 "In Chrome, out of order points in Students Taught graph"
On Chrome (but not Firefox, or Safari), this page shows a glitchy Students Taught graph: https://dashboard.wikiedu.org/users/Amyc29

It looks like the points are not in the normal order, so the line connecting them zips back and forth.

![out of order](https://user-images.githubusercontent.com/848483/28887098-c349c5ac-7770-11e7-899e-9177dbc9a33f.png)

Any ideas, @sejalkhatri?

[2017-08-02 20:54] sejalkhatri commented on #1341
I'll look into it.

[2017-08-02 21:30] ragesoss commented on #1328
Resolved with bf8591aee3bd16e4c0a465bf5a1537a64387d0e6

[2017-08-02 21:30] #1328 closed

[2017-08-02 23:22] ragesoss commented on #1302
Done.

[2017-08-02 23:22] #1302 closed

[2017-08-03 16:55] #1338 closed

[2017-08-03 16:56] #1323 closed

[2017-08-03 23:39] ragesoss commented on #1325
Added in bc4d13f6dbb7818de3ce3d090d576ba84ced0568

[2017-08-03 23:39] #1325 closed

[2017-08-05 13:29] hin101 commented on #1176
Do we have a queue table for alerts or do we need to create one and reset it once the email has been sent?

[2017-08-05 16:22] ragesoss commented on #1176
For similar email alerts, we've used the Alerts model (which has many specific types for various kinds of alerts). Here's a recent one I added: bc4d13f6dbb7818de3ce3d090d576ba84ced0568

Something like that would work here, although should probably be done asyncronously via a sidekiq worker.

[2017-08-07 17:21] ragesoss commented on #955
done

[2017-08-07 17:21] #955 closed

[2017-08-07 17:31] ragesoss opened #1342 "Convert remaining McFly Flux actions/stores to Redux"
We currently have a mix of older McFly-based Flux stores (in `app/assets/javascripts/store`) and a Redux store built from reducers (in `app/assets/javascripts/reducers`). We want to transition to using Redux for everything.

The easier ones are the Flux stores that don't use the generic StockStore as the basis. `ConfirmationStore`, `DidYouKnowStore`, `UserCoursesStore`, and some others are among t

[2017-08-07 18:02] ragesoss commented on #1335
Fixed with 94f3eef9a8727c874b72e48a004814711fb44f8e

[2017-08-07 18:02] #1335 closed

[2017-08-10 14:31] ragesoss opened #1344 "MyArticles should indicate which assigned articles are newly created"

[2017-08-10 16:04] ragesoss opened #1346 "Download Stats modal may extend below fold and not be accessible"

[2017-08-10 18:05] ragesoss opened #1347 "DiffViewer does not work for Wikidata"
The button should not be shown for Wikidata items.

[2017-08-17 17:12] #1346 closed

[2017-08-17 17:48] #1176 closed

[2017-08-18 00:51] ragesoss opened #1350 "on-wiki course pages should include course stats"
Although they would go out of date quickly, it would still make sense to mirror the basis course stats to the wiki versions.

This would require:
* some on-wiki template work to display the stats
* adjustments to `WikiCourseOutput` to include the stats
* an action button on course pages to manually trigger a wiki update without any other changes to the course

[2017-08-18 19:34] ragesoss opened #1351 "Undocumented dev setup problems"
We could improve the troubleshooting by mentioning some of these things:

* "Sorry, you can't use Pry without Readline or a compatible library." => add `rb-readline` to the Gemfile in the development group.

[2017-08-21 19:45] ragesoss opened #1354 "Names of Wikidata items should be displayed"

[2017-08-22 19:34] ragesoss opened #1355 "Campaign programs list should be sortable by Institution"

[2017-08-22 19:35] ragesoss opened #1356 "Programs should be searchable (by name and/or institution)"
It would be useful also be have searches that could be scoped by Campaign (for example, so search by name or institution from a Campaign)

[2017-08-22 21:15] mattwarren10 commented on #1041
I can take this one, unless someone else is already is doing it.

[2017-08-22 21:37] ragesoss commented on #1041
@mattwarren10 sure! Please ask if you have any questions.

Some notes:
* currently, we store the user's name on `User` at the time a user goes through the onboarding flow (which is enabled in some cases, and disabled in others). We'll need to copy those names to the existing `CoursesUsers` objects, and then do the same thing in the future only when a user self-enrolls (via `SelfEnrollmentControlle

[2017-08-23 13:30] mattwarren10 commented on #1041
@ragesoss,
- So for the first bullet point,  would it be as simple as generating a migration on the ```courses_users``` table and then create an instance method through ```CoursesUsers``` model that gets the ```User```'s ```real_name```? Also I'm not sure what onboarding means.

- I'm fresh off a new React course, so I'm still fairly a beginner at it. If I look into it enough, I might be able to h

[2017-08-23 18:16] ragesoss opened #1357 "Old revisions that didn't get imported may be perpetually skipped"
If a user has revisions that somehow get skipped, whether because of network problems or database lag or changed start date, then later revision imports will start from the latest revision known and never pick up the old revisions.

We should periodically do an update for all revisions, not just new revisions.

[2017-08-23 19:41] ragesoss commented on #1041
* That sounds basically right: add a real name column to CoursesUsers, and write a simple script to go through all courses_users and do `courses_user.update(:real_name, courses_user.user.real_name)` (to be run once manually, after the migration). For onboarding, visit `/onboarding` while logged in; on one of the production instances, users are redirected here after logging in, if they haven't been

[2017-08-24 20:09] mattwarren10 commented on #1041
So here are my changes. I thought it might be best to let you view them before I make a pull-request.
[code]

[code]

[code]
[code]

[code]
[code]
[code]
[code]
[code]
I haven't extended `MassEnrollmentController`, but I did add the parameter `real_name` for calling `JoinCourse` as displayed above. Let me know what other changes I need to make, or if I left something out. When submitting a pull re

[2017-08-24 20:53] ragesoss commented on #1041
@mattwarren10 This looks like it's going in the right direction, but I have a bunch of inline comments to make. You can open a PR without merging, and I'll add my notes soon after.

[2017-08-24 21:29] ragesoss commented on #1041
Left all my comments on the commit.

[2017-08-24 22:47] ragesoss opened #1360 "Campaign 'Articles' tab should show more detail about each article"
In particular, characters added — and sorting by that value — would be very nice.

[2017-08-25 18:28] ragesoss opened #1363 "Dashboard should not post more than one 'welcome' message to use talk page"
Basically, before making the talk page welcome post, it should check to see whether that template is already present, and skip it if it is.

[2017-08-28 20:57] coleworsley commented on #1205
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-08-28 20:58] ragesoss commented on #1205
@coleworsley go for it! Let me know if I can help with anything.

[2017-08-29 20:03] ragesoss opened #1369 "Training modules that don't exist can cause courses to break"
In particular, assigned modules that doesn't exist will cause the timeline.json endpoint to error. This is a problem for P&E Dashboard, since the modules can change.

[2017-08-29 20:23] #1369 closed

[2017-08-31 19:31] ragesoss opened #1375 "Remove the 'disable_training' feature toggle"
This is no longer used or needed, since both production instances have training enabled. The config should be removed from the example application.yml file, the relevant method in `Features` presenter should be removed, and all the places that call it — most in view templates — will also need to be updated.

[2017-09-01 20:03] ragesoss opened #1376 "When adding a new instructor/facilitator, user should be able to enter an optional 'role' field"
The role, if present, would show up along with each name. This way, we can tell whether someone is participating as a TA, librarian, co-instructor, or some other role, without needing to email them to find out.

We'll need need to add a field to `CoursesUsers`, allow the extra field in `JoinCourse` and adjust the frontend as well.

[2017-09-01 20:11] ragesoss opened #1377 "For Classroom Program CourseCreator, form should ask for class level"
We want to know whether a course is introductory, advanced undergraduate, or graduate-level, so that this info can be automatically pushed to Salesforce.

[2017-09-01 20:12] ragesoss opened #1378 "Wizard should ask about disclipline-specific brochures, and include links to them in the timeline"

[2017-09-04 15:45] mattwarren10 commented on #1041
This is probably good to close, right?

[2017-09-04 19:08] #1041 closed

[2017-09-07 10:33] testa19 commented on #1360
Hi
There is same feature implemented on Course's Articles page. See example: https://dashboard.wikiedu.org/courses/Ohio_University/Writing_for_Biologists_(Spring_2017)/articles

Would it be better to reuse the same logic(? or React code)?
Or is there anything against that?

[2017-09-07 17:05] ragesoss commented on #1360
@testa19 it would be rather more complicated to do it in React, because unlike the course pages, the Campaign pages don't currently use any React. It would be nice to port them to React at some point, but it's a fair bit of work.

[2017-09-07 17:09] ragesoss opened #1380 "For courses with no passcode, 'Join' button in Available Actions should not request a passcode"
This means we'll need to let the frontend know that the password is blank, in the cases where the password has been removed.

[2017-09-07 17:43] #756 closed

[2017-09-07 18:05] ragesoss commented on #1347
The button no longer shows up for Wikidata items. Nicer would be for the DiffViewer to work for them.

[2017-09-08 09:50] ihsavru commented on #1380
Hi! I am a newcomer and would like to work on this issue.

[2017-09-08 16:42] ragesoss commented on #1380
Hi @ihsavru! Great. This is a relatively straightfoward change to describe, but it will probably touch both the server and client code in a few places, so don't hesitate to ask if you have any questions or want any clarification about how the system works.

[2017-09-08 20:50] ragesoss opened #1382 "PushCourseToSalesforce should set Wikipedia Expert"
I think we can do this with a Setting record that maps staff usernames to their Salesforce record ids.

[2017-09-08 21:22] ragesoss opened #1383 "Plain text versions of alert emails have incorrect links if apostrophe is present"
For example, the alert email for a course like this one: https://dashboard.wikiedu.org/courses/Queen's_University/Critical_Appraisal,_Research_and_Lifelong_Learning_(Fall_Term_1)

The link in plain text ends up being just https://dashboard.wikiedu.org/courses/Queen even though the one in html works fine.

[2017-09-10 02:25] ragesoss opened #1385 "Create `SpecialUsers` presenter to fetch users in special system-wide roles"
Currently, we use ENV variables to identify some specific user roles like classroom_program_manager who receive certain types of emails.

Instead of using ENV, those usernames should be set in a `Setting` record, and accessed via a new `SpecialUsers` class. Then all the places that currently use ENV to get a specific user can use that instead.

(Moving that config data to the `Setting` record will

[2017-09-10 02:29] ragesoss opened #1386 "Create a super-admin UI for modifying application settings"
We currently use lots of ENV variables for assorted system-wide settings, which occasionally must be changed. Some of these would make more sense if moved to a `Setting` record.

Build a UI, accessible only to users who are among the system's super-admins (a designation that does not exist yet) for modifying the system-wide user roles. (This depends on #1385 being completed first.)

In this UI, a

[2017-09-10 02:55] ragesoss opened #1387 "BlockedEditAlert should include block data"
Currently we send the block data that we get from MediaWiki through Raven to Sentry, but we don't include it in the BlockedEditAlert that we email to Wiki Ed staff.

It would be very useful to save that data on the Alert record (requires a new db field) and send it in the email. That way the email would include enough info for someone to get the block sorted out. This is particularly important for

[2017-09-10 17:56] ihsavru commented on #1380
@ragesoss I am having trouble setting it up locally on my machine. Is this the right place to ask :sweat_smile: ?

[2017-09-10 20:46] ragesoss commented on #1380
@ihsavru You can post specific problems you're having with the setup process here: https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/1351

I also sent you a slack invite where you can post any questions you have; a few folks there can probably help out.

[2017-09-11 13:33] alehed commented on #1355
I would like to take this one

[2017-09-11 13:49] testa19 commented on #1360
Sage, is there some kind of _articles_cources_ relation is needed for Compaign model (_like has_many :articles, -> { distinct }, through: :courses_) to get the view and characters count.
Or we should just use `article.articles_courses.where(course_id: @campaign.courses)`

`       - @campaign.articles.includes(:wiki).order(:title).each do |article|`
`          %tr
              %td.title

[2017-09-11 16:44] ragesoss commented on #1360
@testa19 very good question!

I think adding an articles_courses relation for Campaign would make the most sense. This page may have very large numbers of articles, so it's going to be important to avoid introducing any N+1 queries.

So you probably want to add a Campaign.articles_courses scope, and do something like @campaign.articles_courses.includes(:articles). Then you can rewrite that view to

[2017-09-11 20:41] lpassamano commented on #1363
Hi, first time contributer here! I would like to help out with this issue if no one else is working on it already.

[2017-09-11 20:49] ragesoss commented on #1363
@lpassamano great! This message gets posted from the WikiCourseEdits#enroll_in_course method. It currently doesn't fetch the content of the page before posting, but there are other similar routines that do, including `WikiAssignmentOutput`.

You may want to start a new class like `WikiWelcomeOutput` and call it from `WikiCourseEdits` to isolate this new behavior, instead of just expanding `WikiCou

[2017-09-11 23:54] #1375 closed

[2017-09-11 23:54] #1356 closed

[2017-09-12 05:23] heysusgarcia commented on #1347
If no one has started on this I can take it! I think I know what I need to do to get the DiffViewer to work for wikidata.

[2017-09-12 13:06] alpha721 commented on #1385
Hi, I am a first time contributer.
I would like to take up this issue if no one else is working on it.

[2017-09-12 21:15] #1355 closed

[2017-09-13 09:26] testa19 commented on #1360
Thanks for advice!
Now there is `@campaign.articles_courses.includes(article: :wiki).order('articles.title')` for querying.

I have another question:
I've madde some changes to campaign JS ('/assets/javascripts/') for sorting on the page to work but it seems like it is not loading (js from public is (?)).
There could be an issue of me using ubuntu VM on Windows host with shared folder and some gua

[2017-09-13 16:44] ragesoss opened #1391 "Real name field can have leading/trailing whitespace"
This should be removed for consistency.

Real names are set via the /onboarding flow.

[2017-09-13 16:49] ragesoss opened #1392 "Sorting of students by real name should be case insensitive and should ignore trailing whitespace"

[2017-09-13 16:54] #1392 closed

[2017-09-13 19:04] ragesoss opened #1393 "Links from course description and timeline should open in new tabs"
Most of these are links to external resources, so it will be better if they open a new tab instead of navigating away.

I'm not sure whether this can be done with CSS, or whether it will require tweaks to the markdown parser config, or what.

[2017-09-13 20:58] ragesoss opened #1394 "Update ArticleViewer to use whocolor for all available languages"
The whocolor API now supports Basque (`eu`) as well as English Wikipedia. `ArticleViewer` should work for Basque as well, in a way that will be easy to extend to more languages as the number supported by whocolor grows.

----
https://api.wikiwho.net/

[2017-09-13 22:04] majakomel commented on #1393
I would like to work on this one

[2017-09-14 08:48] testa19 commented on #1360
Ok, seems i can get where the issue is: i had used `gulp build` at project setup because of `gulp` returned an error.
Will dig a bit in this derection.

[2017-09-14 13:08] alpha721 commented on #1377
I would like to take up the issue if no ones working on it.

[2017-09-14 13:10] alpha721 commented on #1377
I would like to take up the issue if no ones working on it.
@ragesoss

[2017-09-14 13:45] ragesoss commented on #1377
Go for it.

[2017-09-15 00:47] ragesoss opened #1395 "Improve error handling"
1. redirect /404 and /500 to the prettier error pages, like this: https://gist.github.com/scaffeinate/651f57ef8aa74c115ed6c5cd0fbba440#file-routes-rb

2. Move error rescues from ApplicationController to a RescueControllerErrors module

We currently have a few rescues in the ApplicationController. These should be moved into a module; see the technique used in `Errors::RescueDevelopmentErrors`, and

[2017-09-15 09:53] testa19 commented on #1360
Hi @ragesoss
I think i've finished it
Please take a look https://github.com/testa19/WikiEduDashboard/commit/c04caffeb94387e8fe50a6e1c2105d222e376a17

[2017-09-15 10:37] testa19 commented on #1393
@majakomel is this https://css-tricks.com/snippets/jquery/open-external-links-in-new-window/ - ok trick?

[2017-09-15 11:16] testa19 commented on #1391
Does adding simple before save callback to User model is ment?
before_save do
  self.real_name = self.real_name.squish
end

[2017-09-15 14:08] jstoebel commented on #1395
I'm new to this project and would like to take a crack at it.

[2017-09-15 14:51] majakomel commented on #1393
I have opened PR #1397 but it solves the issue only for links in course description (needed only markdown parser config). Timeline content is unlike course description stored as HTML and Trix editor doesn't have this option. I could either parse the content and add `target="_blank"` attribute to `<a>` before saving to the db or probably better solution, use suggestion @testa19 offered. I'm just no

[2017-09-15 15:16] ragesoss commented on #1391
I would rather sanitize it at the controller level instead of adding a callback. Empty is not the problem; it's things like ` My name `.

[2017-09-15 15:20] matthew-campbell commented on #1126
I am taking a look into this. Are there any process documents I should read?

[2017-09-15 16:42] ragesoss commented on #1393
@testa19 one other option that might fix it 90% of the way would be to add target="_blank" to all the pregenerated timeline html from the wizard content.yml files. I'm not sure whether Trix will strip that out upon saving an edit, though.

The description is the more important part. I definitely don't want to resort to jquery to define that behavior. If we're going to do it for the Trix html, I th

[2017-09-15 16:46] ragesoss commented on #1126
@matthew-campbell this should cover the basics: https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/CONTRIBUTING.md

The current /explore page may provide some ideas, but we *also* need to have links that are currently in the campaigns index to remain available.

[2017-09-15 16:48] ragesoss commented on #1360
@testa19 cool! please open a pull request, and make sure the CI build passes.

[2017-09-15 18:38] matthew-campbell commented on #1126
@ragesoss

The campaigns index appears to be a way to quickly find and export information.

Are there any persons that use this frequently for whom I should get input?

To get started and provide a demo I could just add a column for the end dates and sort them in reverse chronological end date order (as suggested by the first comment.) This would make it easier for admins to select recent campaign

[2017-09-15 18:56] ragesoss commented on #1126
@matthew-campbell that sounds like a good start. All the stats on the /explore page's list of campaigns are also relevant here, as this also serves the purpose of a comparative overview of all the difference campaigns.

[2017-09-16 12:54] asmigos commented on #1391
Hello,
I am new-comer,
This could be resolved by using `.trim` method

[2017-09-16 13:11] asmigos commented on #1383
It could be resolved by using `%27` instead of the apostrophe ( ' ) in the link .

[2017-09-16 13:12] asmigos commented on #1383
It could be resolved by using %27 in place of the apostrophe `'` in the link

[2017-09-16 13:12] asmigos commented on #1383
It could be resolved by using `27%` in place of the apostrophe `'` in the link .

[2017-09-16 13:18] asmigos commented on #1383
should i work on it ?

[2017-09-16 14:19] asmigos commented on #1354
I want to contribute , so could you please elaborate the issue.

[2017-09-16 21:49] ragesoss commented on #1383
Yeah, some kind of necessary url encoding is not happening in the plain-text emails. Feel free to work on this @asmigos. A good place to start will be the mail previews, 'localhost:3000/rails/mailers', which come from `/spec/mailers/previews`.

[2017-09-16 21:53] ragesoss commented on #1354
On Wikidata, each item has a page title like Q42. For example, https://www.wikidata.org/wiki/Q42

If I make a change to that page, the dashboard will show it as "Q42", but the page also has a meaningful label, "Douglas Adams".

Instead of showing 'wikidata:Q42', the dashboard should show 'wikidata:Douglas Adams'.

[2017-09-17 10:35] BellPepperLab commented on #1385
Hi ragesoss,

Can it be achieved by adding a "role" column to the user table and then creating an ENUM with all user roles in the user model.

[2017-09-17 14:45] ragesoss commented on #1385
There are many possible ways, but in this case the setting more represents a system-wide setting rather than a trait for a particular user. The idea here is to refactor the way configuration settings are accessed to move them from the appllcation.yml into a `Setting` record in the database. The benefits includes: 1. no changes to the database schema are necessary, and 2: because these are system-w

[2017-09-18 11:10] testa19 commented on #1391
@ragesoss so is it just simple private method for Onboarding controller like below that is called by  onboard action:
[code]
[code]
?

[2017-09-18 16:25] testa19 commented on #1244
@ragesoss please see PR.
are there any tests needed? (i'm not so good at testing)

[2017-09-18 16:41] heysusgarcia commented on #1383
Hi @asmigos are you going to take this issue? Otherwise, I'd be happy to work on it.

[2017-09-18 16:48] ragesoss commented on #1393
The course description fix is merged.

[2017-09-18 16:55] asmigos commented on #1383
Yeah @heysusgarcia i am taking this issue .

[2017-09-18 17:12] ragesoss opened #1402 "Convert `article_url`, `full_title`, and `escaped_full_title` in ArticleHelper into Article instance methods"
I often find myself wanting to get the url or full title of an article by calling `article.url` or `article.full_title`, etc.

Let's replace those `ArticleHelper` methods with instance methods on `Article`. This will require changes to every place in the app that currently calls those methods.

[2017-09-18 17:25] ragesoss opened #1403 "edit-a-thon facilitators should have easy ways to work around IP account creation limits"
For one possible approach, see https://phabricator.wikimedia.org/T176051

For another, see WIP solution based on account creator rights: https://github.com/WikiEducationFoundation/WikiEduDashboard/tree/RegisterUsers

[2017-09-18 17:37] ragesoss commented on #1391
Yes, something like that should work.

[2017-09-18 17:40] ragesoss opened #1404 "For course slugs, multiple internal spaces should be collapse into one space"
MediaWiki automatically treats links and page names with multiple consecutive spaces as just one space, which can cause a mismatch between the course page names on the dashboard and on-wiki.

During slug generation in `CourseCreator` (and in renaming via `Details`), multiple spaces should be condensed into one.

[2017-09-18 20:25] #1360 closed

[2017-09-18 21:47] alpha721 commented on #1404
I think, adding `slug = slug.gsub(/\s+/, ' ')` in `def slug` should solve the problem.  Am I going in the right direction?

[2017-09-18 22:30] ragesoss commented on #1404
@alpha721 I think this is best handled on the frontend first, since we already do a lot of similar cleanup there. The key places are in the `CourseUtils` javascript file: `slugify()` and `cleanupCourseSlugComponents()`.

There are tests for these as well, so a good place to start would be to run `jest --watch`, then modify the inputs for those functions in `course_utils.spec.js`, and then fix `Cou

[2017-09-19 07:22] alpha721 commented on #1404
I have opened PR #1405 . I have tried to followed through what you suggested. Please let me know if I did it the right way or not. (This is my first attempt at fixing an issue, so please let me know if I am doing anything wrong)

[2017-09-19 16:19] unnatii commented on #1402
I would like to take this up as my first issue

[2017-09-19 17:37] #1347 closed

[2017-09-19 17:42] #1205 closed

[2017-09-19 17:54] ragesoss opened #1407 "Article titlle should not say 'null' for Wikidata items, etc"
When an article is shown that has a wiki with no language attribute, such as wikidata or multilingual wikisource, the dashboard shows 'null' as the language code. Instead, should omit the language code in this case.

![null](https://user-images.githubusercontent.com/848483/30607158-e873999c-9d28-11e7-9e37-57646f6cff61.png)

[2017-09-19 18:41] alpha721 commented on #1380
@ragesoss I figured that the some changes have to be made in `self_enrollment_controller.rb` but I am not able to find the code which requests the passcode on the front end. Can you give a slight hint as to where I should be looking.

[2017-09-19 18:53] ragesoss commented on #1380
The frontend does not currently know anything about the password (unless the user is an admin or instructor). I think the way to handle it will be to add an attribute to send through course.json in the case where there is no password: `app/views/courses/course.json.jbuilder`. This is the main course object that gets passed through most of the frontend.

Set passcode to empty string if the course p

[2017-09-19 19:39] #1391 closed

[2017-09-19 19:54] ragesoss commented on #1404
I think the only loose end for making sure we clean up all these fields is to apply `cleanupCourseSlugComponents()` from within saveCourseDetails() in details.jsx, which will apply the same sanitization when those fields are changed for an existing course.

[2017-09-19 20:21] alpha721 commented on #1380
` # If course has no passcode set, treat any submission as valid.
    return true if @course.passcode.blank?`
should this still hold?

[2017-09-19 20:23] ragesoss commented on #1380
I think so. Where is that from?

[2017-09-19 20:25] alpha721 commented on #1380
` def passcode_valid?
    # If course has no passcode set, treat any submission as valid.
    return true if @course.passcode.blank?
    params[:passcode] == @course.passcode
  end`
its from `self_enrollment_controller.rb`.

[2017-09-19 20:28] ragesoss commented on #1380
Yeah, that should be fine still. Enrolling without a passcode works, it's just the 'Join course' action modal that doesn't handle it elegantly because it doesn't know that the course requires no password.

[2017-09-19 21:20] alpha721 commented on #1380
![wiki](https://user-images.githubusercontent.com/18638840/30615999-5ef5fdaa-9dae-11e7-8a4e-2b01ca5adf93.png)

[2017-09-19 21:44] ragesoss commented on #1380
change the course type to 'Generic Course', save, and refresh the page. Then you'll be allowed to remove the passcode.

[2017-09-20 06:23] alpha721 commented on #1402
@unnatii are u still working on this issue , because otherwise I would be happy to take it up.

[2017-09-20 16:37] ragesoss opened #1408 "Enable additional javascript style linting rules"
We're using eslint rules from several plugins — the airbnb config, plus some React plugins — to maintain fairly standard style and Javascript usage. However, we have many of the rules disabled via `.eslintrc`, because there were violations that appeared after an update of the eslint config.

Most of these should be re-enabled along with fixes for any violations in the codebase.

This is best done

[2017-09-21 11:48] testa19 commented on #1385
@ragesoss hi
So is it should be like this:

./presenters/special_user
[code]

Somewhere in code:
`staffer = SpecialUser.classroom_program_manager`
?

Second question:
How are settings stored in `Settings` table? What are the contents of the `key` property?

[2017-09-21 17:35] ragesoss commented on #1385
The `key` property is basically the name of the setting, so in this case, it might be 'special_users', which you would use to find it. And then the `value` would be a hash of all the roles and usernames, so something like
[code]

[2017-09-22 11:49] testa19 commented on #1385
@ragesoss So would there be a Settings record and searching would be:
`Setting.find_by(key: :special_users).value`

And should there be a presenter SpecialUser:
[code]

Or is there some kind of god practise of dealing with these tipes of tasks?

[2017-09-22 14:03] mauditecandela commented on #1407
I would like to pick this as my first issue :)

[2017-09-22 15:12] ragesoss commented on #1385
That looks like the right approach, except that 'key' is a string, so do 'special_users' instead. Probably it should also automatically create that setting if it doesn't exist. So 'find_or_create_by(key: 'special_users').

[2017-09-22 20:26] jstoebel commented on #1408
I'll give this one a shot!

[2017-09-23 11:35] mauditecandela commented on #1407
Hi! I would like to pick this as my first contribution to the program but unfortunately cannot reproduce the bug. Could someone help me? Thanks.

[2017-09-23 14:57] ragesoss commented on #1407
You can reproduce it by creating a course, adding a user who has been active in Wikidata (e.g., Ragesoss if you set the course to start about a month ago), adding an available article from Wikidata to connect the course to that wiki, and then visiting [course page]/manual_update.

[2017-09-25 10:50] jyoti0208 commented on #1394
I am working on implementing this feature.

[2017-09-25 17:10] mauditecandela commented on #1402
@unnatii and @alpha721 are you both still working on this issue? I find it very interesting and therefore I will be happy to take it up if you are not still working on it :)

[2017-09-25 17:13] mauditecandela commented on #1407
I created a PR for a possible fix.

[2017-09-25 18:21] ragesoss commented on #1395
That came out nicely!

[2017-09-25 18:21] #1395 closed

[2017-09-25 18:29] ragesoss opened #1414 "Add footer on P&E Dashboard noting that all contributions are CC-BY-SA 4.0"
We need a footer to note the license of contributions, since we don't send P&E users through the onboarding screen that says that for Wiki Education Dashboard.

This can be a new partial, similar to the existing Wiki Ed one, that only displays for P&E dashboard.

[2017-09-26 09:02] majakomel commented on #1414
I'd like to work on this

[2017-09-26 11:44] testa19 commented on #1407
@mauditecandela Hi
Could it be simple check for `null `or `undefined ` in `shouldShowLanguagePrefix()`?
seems like it is the place responsible for "should omit the language code in this case"

`if (!this.props.article.language) { return false; }`

or
`if (this.props.article.language == undefined) { return false; }`
`== null` returns `true` if `this.props.article.language` is also `undefined`
`== u

[2017-09-26 14:28] mauditecandela commented on #1407
@testa19 indeed that was a better solution as it's more consistent with the logic of the whole article.jsx and prevents for false positives. I already did a commit for it and it's already added to my PR :) https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1413

[2017-09-26 15:58] testa19 commented on #1407
@mauditecandela there could be a bug introduced with your previous commits - so Travis CI build failed.
I'm not a specialist in git PRs: i would get rid of previous commits and left only the last meaningfull one.

And seems like `!this.props.article.language` does that check for `null` and `undefined`. Try to play in dev cosole in a browser.

[2017-09-26 17:30] jyoti0208 commented on #1394
I am not able to find ArtcleViewer on any page.
I have created a dummy campaign on my local as `http://localhost:3000/courses/Wiki/React_Training_(first)/articles`
Also, there is article_viewer.jsx in common, So if I modify anything to this file which page will get change?

[2017-09-26 17:33] ragesoss commented on #1394
@jyoti0208 Have you done the steps of populating the course with data? https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/user_roles.md

[2017-09-26 17:47] ragesoss commented on #1407
You can look at the CI build log to see the error. In this case, it's a javascript eslint error: `Unexpected whitespace before semicolon  semi-spacing`.

[2017-09-26 20:14] mauditecandela commented on #1407
Thanks a lot you both for the feedback! I will try the solution @ragesoss proposed in https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1413#issuecomment-332241174 and if not fix this another approach. I will also check the tests to make sure nothing breaks 😅

[2017-09-26 21:52] bcb37 commented on #1376
This is something I might be able to tackle. It would require a database migration, no?
Also, should the possible values for the 'role' field be constrained? And the adjustments to the front end would just involve displaying the role with other user info for instructors/facilitators (nothing like the ability to search/group/refine the definition per role, etc.)?

This seems like a relatively strai

[2017-09-26 22:22] ragesoss commented on #1376
@bcb37 yes, it will require a migration. I think leaving it unconstrained is what we want; it's main purpose is so that we can easily tell who is doing what in cases where there is, eg, an instructor and a TA, but the exact titles and use cases will vary too widely, and we don't need to do anything programmatically with that data except display it.

The frontend part would involve both displaying

[2017-09-26 22:41] #1414 closed

[2017-09-26 23:16] ragesoss opened #1417 "Refactor CoursesController into multiple controllers"
`CoursesController` is rather large, because it is responsible for a bunch of different independent things.

It could be reorganized into multiple smaller controllers. `#update` in particular has a lot of helper methods that are not reused by other actions, so most of the other actions could probably be moved to new controllers (or vice versa). One possible approach to doing that is described here

[2017-09-26 23:33] #1385 closed

[2017-09-27 08:05] jyoti0208 commented on #1394
Yes, I have 2 new users as participants and run the update routine.
Also, I am getting this page `http://localhost:3000/courses/Wiki/React_Training_(first)/articles`
 Is this the Article viewer page?

[2017-09-27 18:34] testa19 commented on #1417
@ragesoss  Is it just another file `course_update_controller.rb` (`class CourseUpdateController < ApplicationController`)?
(There would be nearly 170 and 100 LOC in two course-controller files if other update actions will be moved)

or is there will be some kind of Courses namespase (with folders)? CoursesController and Courses::UpdateController

Do i get the article right: other suggests controll

[2017-09-27 22:42] bcb37 commented on #1376
Well I can make a branch and give it a shot. I'm not a complete stranger to React or Rails.

[2017-09-27 23:40] ragesoss commented on #1376
@bcb37 great! please ask if you get stuck or have questions.

[2017-09-28 17:12] ragesoss commented on #1417
@testa19 I don't have set answers to those questions. If you're going to take the CRUD-only strategy from the blog post, I think that would involve leaving update (and create, and destroy, and show), adding a namespace, and creating new namespaced controllers for each of the other remaining actions.

On the other hand, separating update into its own controller makes the most sense in terms of sing

[2017-10-01 04:41] jyoti0208 commented on #1342
@ragesoss I would like to work on this.

[2017-10-01 16:50] ragesoss commented on #1342
@jyoti0208 cool. Once you've poked around a bit, you should note which one(s) you're working on. One at a time is probably best.

[2017-10-02 17:28] #1407 closed

[2017-10-02 18:03] ragesoss commented on #1394
@jyoti0208 I just noticed that now German and Turkish are available too. :)

[2017-10-03 00:59] JoalpeBrasil opened #1423 "Automatic identification of users did not work"
During an [edit-a-thon](https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:Outreach_Dashboard/UNICAMP/Linguagem_e_Literatura_I), users who enrolled via the P&E Dashboard were not automatically identified as part of the edit-a-thon and did not receive a message on their talk page with instructions. They made edits.

Example:
[Wscoroa](https://pt.wikipedia.org/wiki/Especial:Contribui%C3%A7%C3%B5es/Wscoroa

[2017-10-03 10:42] mauditecandela commented on #1402
@ragesoss I created a first proposal for this issue, you can see it in 18e9bd4. All my local tests pass. I am not sure if I should transfer the namespaces constant to the article.rb model or if I should keep them at article_helper.rb. What do you think?

[2017-10-03 14:00] mattwarren10 commented on #1387
What file(s) is the block data that we get from MediaWiki referenced? What would you want the new attribute in the `alerts` table to be called? `block_data`?

[2017-10-03 15:08] nemobis opened #1425 "Add reference to translation on the README"
The README should mention that the project is translated at https://translatewiki.net/wiki/Translating:Wiki_Ed_Dashboard , so that potential translators can easily find where to contribute.

[2017-10-03 15:30] #1425 closed

[2017-10-03 15:32] nemobis commented on #1425
Thanks!

[2017-10-03 15:43] ragesoss commented on #1387
Nothing so specific as `block_data`, since the Alert table holds all the different alert types. Maybe `details`, as a serialized Hash.

[2017-10-03 16:41] ragesoss commented on #1423
Hmm... Here's the course: https://outreachdashboard.wmflabs.org/courses/UNICAMP/Linguagem_e_Literatura_I

Edits ocassionally fail, but there were a lot that failed here. In this case, it looks like the main reason was rate-limiting. We have some room for improvement on how batches of edits are handled, both to avoid hitting rate-limits in the first place, and to respond better when we do hit them.

[2017-10-03 18:57] ragesoss opened #1428 "Disable Survey cloning"
There's a link to clone a survey, but 'deep_cloneable' does not work like we would need it to for the `has_and_belongs_to_many` relationship; it doesn't end up creating any new records except the `Survey` itself. To be useful, it would need to clone the QuestionGroups and Questions as well.

Instead, let's remove the links and code for cloning surveys.

[2017-10-03 19:58] ragesoss commented on #1394
All available languages are set now, and it should be trivial to add more as they are available.

[2017-10-03 19:58] #1394 closed

[2017-10-03 20:16] mercykinoti commented on #1377
@ragesoss I'm interested in working on this issue

[2017-10-03 20:18] ragesoss commented on #1244
Fix with that commit.

[2017-10-03 20:18] #1244 closed

[2017-10-03 20:26] ragesoss commented on #1377
Cool. Looks like alpha721 has moved on.

[2017-10-03 20:59] ragesoss commented on #1351
Mysql installation should come before the bundler steps.

[2017-10-03 21:01] ragesoss commented on #1295
Having an option to load a larger number of activities would be pretty easy to implement; just add a button the Activity view, and pass a parameter for the max activities to fetch... more or less.

[2017-10-03 21:38] #1402 closed

[2017-10-04 17:04] jyoti0208 commented on #1342
@ragesoss I have to convert all McFly-based Flux stores to the redux store?

[2017-10-04 17:11] ragesoss commented on #1342
@jyoti0208 that's the ultimate goal, but it can be done one store at a time.

[2017-10-04 20:35] #1404 closed

[2017-10-04 22:42] bcb37 commented on #1376
Hi, I'm making my way through this and I've noticed that there already exists a field on `CoursesUsers` called 'role'. It appears to be an integer that corresponds to one of "Visitor", "Student", "Instructor", "Campus Volunteer", etc. It doesn't seem to have been added recently and doesn't quite correspond to the feature described above, since its value determines the user's access to functions. T

[2017-10-04 22:44] ragesoss commented on #1376
@bcb37 you're right. Maybe call the new field `role_description`.

[2017-10-05 13:42] KarmaHater commented on #1342
@jyoti0208 @ragesoss Could I also work on this? Maybe, I start with `DidYouKnowStore` ?

[2017-10-06 14:19] mauditecandela commented on #1295
Hi! I have been having a look to this issue. Where's the activity view rendered? Do you mean the activity_table.jsx? I am having problems finding the limit of rows shown. Any hint is super welcome! Thanks a lot :)

[2017-10-06 16:20] ragesoss commented on #1295
@mauditecandela in broad strokes, the data flow is:
* user navigates to the activity tab, which renders RevisionHandler component
* as it mounts, that component initiates fetching the revisions
* api.js makes a call to the course_controller show revisions endpoint, which renders `app/views/courses/revisions.json.jbuilder`. That's the file that sets the limit of 50.
* the frontend receives the set

[2017-10-09 09:58] mauditecandela commented on #1295
@ragesoss thanks a lot for the explanation.

I was having a look and I have some questions regarding this:
- Would you render all the list of revisions from the server and then show only 50 in the UI? Or add different calls based on user interaction?  I don't know how many activity could be displayed if I don't limit it from the model directly, and if that would slow down the application. What do

[2017-10-09 15:23] KarmaHater commented on #1342
@jyoti0208 Here is the pull request for the DidYouKnow reducer.

https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1434

I will move onto `UserCoursesStore` I expect to be done by October 11, 2017 :)

[2017-10-09 17:45] ragesoss opened #1438 "Course pages can end up in a broken state after a series of clicks"
I've found a bug that seems to be related to React getting into a broken state on course pages.

Here's how I've been able to (inconsistently) replicate it:

* Go to Students tab
* Click a student to open the drawer of recent revisions
* Go to the Activity tab
* Go to the Articles tab
* Go to the Students tab again

(Open a different student drawer and try again if it doesn't break the first time.

[2017-10-09 18:42] ragesoss commented on #1295
@mauditecandela I think the way to handle it will be something like:
* add a 'limit' param to the controller, and use that (with a default of 50) to generate the json list.
* add some kind of UI for using the limit. Have a look at `recent_edits_handler.jsx` for an example of something similar (a check box that affects the 'scoped' param on a query).

The component itself should be able to continue

[2017-10-09 23:48] ragesoss opened #1440 "Allow course edits to be disabled for a single course"
Probably this could be done the same way we handle enabling/disabling timelines, with another entry in the course flags.

See https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/1b66177d705d1836340ca7612b478f570c1c59f2

[2017-10-09 23:49] ragesoss opened #1441 "Course CSV output should have per-wiki edit counts and other stats"

[2017-10-10 16:57] ragesoss opened #1442 "WikiAssignmentOutput treats failed API calls to get page text as simply a blank page"
Lot's of bad edits were made to article talk pages that blanked them except for an assignment template. See for example the October 10 edits: https://en.wikipedia.org/wiki/Special:Contributions/Fcu001

This is because `WikiApi` treated anything but a 200 response the same way, meaning that it couldn't tell the difference between an empty page (where just posting the desired contents is what we wan

[2017-10-10 16:58] #1442 closed

[2017-10-10 18:27] ragesoss opened #1445 "Javascript errors don't include source file line numbers in stack trace"
It's harder than it should be to track down the source of errors, because even in a development environment, the console stack traces use the compiled javascript rather than the source files.

There should be some sort of configuration that will make source mapping work better for our build pipeline.

[2017-10-11 12:57] mauditecandela commented on #1295
PR: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1446

[2017-10-11 16:47] heysusgarcia commented on #1438
@ragesoss I would like to give this issue a try! I will follow your steps to try to reproduce the bug and follow up.

[2017-10-11 16:52] ragesoss commented on #1438
@heysusgarcia awesome. let me know if you have any questions.

I'm able to replicate it on staging as well, for example here: https://dashboard-testing.wikiedu.org/courses/University_of_San_Francisco/Faculty_as_Wikipedians_Fall_2016_(Fall_2016)/students

It usually happens after the second time through with a different student.

You'll probably need to get a course with one or two students who hav

[2017-10-11 18:44] heysusgarcia commented on #1438
I was able to replicate the bug. It seems that this bug only happens when you

1. open a student drawer that contains revisions
2. you leave the drawer open
3. navigate to one of the tabs on the navbar (i.e. Home, Timeline, Activity, Articles, Uploads)
4. navigate back to the student tab

If you close the drawer before navigating to one of the other tabs and back, nothing happens.

I'm thinking it

[2017-10-11 18:47] ragesoss commented on #1438
Maybe the easiest way would be to reset the drawer state to closed via a `componentWillUnmount()` hook.

[2017-10-11 23:23] bcb37 commented on #1376
Ok, if I understand this, there are only two page types that will be affected:

- The course pages for all courses (Where, under __Details__, there's a list of instructors - editable if you're an admin) - in fact, it looks like you can add instructors, but not ever remove them, so maybe there's a place I didn't see?
- The user pages for each user, under the __Course Details__ for each course, wher

[2017-10-11 23:32] ragesoss commented on #1376
You can remove instructors also, you just have to first click the 'plus' button as if you were adding one, and then a list of removable ones will appear.

The user page for each user need not be changed, although it could be.

One other thing... after conversations with my team today, we realized that we also want to prompt for full name alongside role. (Name is already in the CoursesUsers table.)

[2017-10-12 05:45] mauditecandela commented on #1295
@ragesoss new commit with some changes:
- I limited the set_limit function to revisions endpoint in the courses controller
- I relocated the server_actions and api functions more accordingly

Right now this fix only shows 50 or 100 activities. I am thinking of generating a +50 show_more, so each time the button is clicked would show 50+ activities until all of them are shown. What do you think?

[2017-10-12 11:14] testa19 commented on #1386
Hi @ragesoss
Have some questions:
`App Settings` link could be added to Admin Navigation bar.
So can we use `Admin` controller? `Index action` in paticular: rendering empty `index.haml` for admins and some `super_index` for super_admin (with app settings)
So `App Settings` nav tab would lead to `Admin:index`
And `Admin:update` would be a place for changing `Settings` table (Is it ok?)

Changing us

[2017-10-12 13:39] KarmaHater commented on #1342
I just finish UserCourseStore.

@ragesoss

https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1448

[2017-10-12 14:50] testa19 commented on #1386
@ragesoss Or it better be a `Settings_controller`
`resources :settings` in routes
With `Admin `layout
`App Settings` link could be added to Admin Navigation bar.

Changing user roles (remove admin rights, change a student to instructor or vice-versa):
is it for User Nav tab and for User Controller?

[2017-10-12 15:12] heysusgarcia commented on #1438
my changes are in [PR#1449](https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1449).

[2017-10-12 17:18] ragesoss commented on #1295
@mauditecandela Good idea. I think increasing by 100 or 200 each time make sense (including the first time you click 'more'); the use case is for very active courses that may have a lot more than 100 recent edits.

[2017-10-12 17:36] ragesoss commented on #1386
I think a Settings controller is the best option. The changing of admin rights could be done from there. I think one good way to start might be to render a list of all the admins, and have a 'New Admin' form where the user puts in a username, and if they already exist, they get turned into an admin. Similarly, there could be a 'remove admin rights' button for each current admin.

Users can switch

[2017-10-13 17:06] #1295 closed

[2017-10-13 17:15] ragesoss opened #1451 "Improve behavior of 'see more' button on Activity tab"
The 'See More' button at the end of the revisions list allows the user to fetch a larger number of revisions beyond the default of 50. It should only be shown if the limit is already the number of revisions being shown; it should not appear if there are fewer available revisions than the limit (and it should not appear while new revisions are being fetched, before they return).

It may make sense

[2017-10-13 17:21] #1438 closed

[2017-10-13 21:32] ragesoss commented on #1005
An update on this... Currently, `ConstantUpdate` updates take about 15 minutes on Wiki Ed production, and about 2 hours on P&E Dashboard. `DailyUpdate` takes about 1 hours on Wiki Ed, and 4 hours on P&E.

We now have a `Setting` model which could be used to keep track of update data, such how long each of the last 10 constant and daily updates took and which update started most recently when.

[2017-10-13 21:41] ragesoss commented on #1378
Done in 01019697276b51e26ad80f7812599e38d8b5a14e

[2017-10-13 21:41] #1378 closed

[2017-10-13 21:43] ragesoss commented on #1329
Done with d5c3577b4c601c557cf792471605406a76b540b0

[2017-10-13 21:43] #1329 closed

[2017-10-13 21:46] ragesoss commented on #1308
This would be really difficult now, as stats.grok.se (which provided the older pageview data) has been down for a while and there doesn't seem to be any effort to get it running again.

The only remaining option I know of for daily article stats from before the 2015-08 horizon of the Wikimedia pageviews API would be to process old raw pageview dumps.

[2017-10-13 21:52] ragesoss commented on #1261
Now that we only import one on-wiki module at a time, this probably won't be an issue in the future. I don't think it happened any further after the limit change, and is even less likely now.

[2017-10-13 21:52] #1261 closed

[2017-10-13 22:27] ragesoss opened #1452 "Upgrade enzyme to version 3"
The enzyme javascript testing library has a breaking change for version 3; it looks like we need to add additional configuration in the form of an 'adapter' to make enzyme work.

Edit package.json to change enzyme to the latest release, then run `yarn`, then run `jest` to see the error messages, then make the `jest` tests pass again.

[2017-10-13 23:22] ragesoss opened #1453 "Migrate away from bower"
We use bower for some dependencies from early in the project's life, but it's deprecated: https://bower.io/blog/2017/how-to-migrate-away-from-bower/

However, it's not as easy as just following the bower-away instructors, as our gulp pipeline — `gulp/tasks/bower.js` in particular — still rely on bower in ways that the bower-away instructions don't account for. This may be related to gulp's use of

[2017-10-13 23:37] ragesoss commented on #1377
Done with bfc68484b1a1619a5a9191a92d121406f3c064ff and subsequent commits.

[2017-10-13 23:37] #1377 closed

[2017-10-13 23:39] ragesoss commented on #1376
@bcb37 this issue has become a high priority for my team, so I'm planning to take it on early next week. If you've made any headway on it, you can open and WIP pull request and I'll see if I can incorporate it.

[2017-10-14 20:40] ragesoss opened #1456 "Get rid of `InputMixin`"
We use this mixin for most of the input fields in the app, mainly for handling validations in an extensible way. However, this one in particular seems to be the source of a lot of warnings that will need to be fixed for the React 16 upgrade, and this is the only mixin that isn't just a store subscription.

[2017-10-14 20:40] ragesoss commented on #1452
https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md

[2017-10-14 21:39] KarmaHater commented on #433
@thenickcox @ragesoss I know this issue is old but better late then never :)

https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1457

[2017-10-14 21:53] ragesoss commented on #433
Hmm... I think this actually got addressed a while ago (with the index on title + wiki + namespace). I think we no longer do any queries on just article title.

[2017-10-14 21:53] #433 closed

[2017-10-16 12:24] mauditecandela commented on #1005
I'm checking this issue for my next contribution, but tbh I think it is to backend-ish for me to properly understand. I have several questions regarding the issue, and I would like to understand them better as it's a relevant topic at the art+feminism program.

- I was checking the Setting model but I am unable to find the Service table. Why? I mean, is not part of the database yet?
- What do you

[2017-10-16 14:14] mauditecandela commented on #1428
@ragesoss while waiting for more info about the updates, I decided to take a look at this issue. I deleted some code, but I am not sure if I took care of all the links. If you think it's correct, I will prepare a PR. :)

[2017-10-16 15:15] ragesoss commented on #1428
@mauditecandela that looks right. If you open a PR, you'll see a few specs fail; those will need to be edited or deleted (depending on whether they mainly testing the deleted feature, or are just using that feature in passing).

[2017-10-16 15:20] ragesoss commented on #1428
@mauditecandela here's the build from @yeli-buonya's incomplete PR for the issue: https://travis-ci.org/WikiEducationFoundation/WikiEduDashboard/jobs/282999356

Survey admin spec is failing; you'll need to edit that spec to not try to clone a survey (but still do all the other steps that are tested in that spec)

[2017-10-16 16:48] ragesoss opened #1459 "On-wiki course page shows the instructor with the first User record, rather than the first CoursesUsers record"
On-wiki course pages (from `WikiCourseOutput`) list only the first instructor. (See also #1175) This 'first' instructor is not necessarily the first one enrolled in the course, but it should be.

Also, the real name is fetched from the User record. It should instead by fetched from the CoursesUsers record.

[2017-10-16 17:04] ragesoss commented on #1005
Either here or slack are best.

There is no `Service` table. What is that in relation to?

For using the Setting model, I was imagining something like this: a Setting record with a key like `data_cycle` or `recent_updates`, with the value being a hash that holds everything we need to give users an idea of how long it should take to update: when each of the last X updates took and how long each too

[2017-10-16 17:56] #1387 closed

[2017-10-16 20:48] sljohnson32 commented on #1452
@ragesoss Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-10-16 20:51] ragesoss commented on #1452
@sljohnson32 cool, go for it. How did you find your way to this project?

[2017-10-16 21:00] sljohnson32 commented on #1452
@ragesoss Awesome!  I am a student at Turing School of Software & Design in Denver and we have a project to contribute to an open source project.  Our instructor @brittanystoroz gave us this repo as an option.

[2017-10-16 21:03] ragesoss commented on #1452
Thanks much. @brittanystoroz, how did *you* find your way to this project?

[2017-10-16 22:02] brittanystoroz commented on #1452
@ragesoss Haha I honestly don't remember, I made a lot of pleas on twitter for people to help me find good open-source projects for my students to work on, which is really difficult. Someone must have linked me to it on one of those threads.

[2017-10-16 23:39] ragesoss opened #1462 "Upgrade React to version 16"
It looks like this will require removing mixins altogether; the mixins — stores as well as InputMixin — rely on the deprecated `isMounted` function.

So this task will depend on first fixing #1456 and #1342.

[2017-10-16 23:42] ragesoss commented on #1462
@KarmaHater from the warning stack trace, it looks like the isMounted calls come from the react class mixin factory. I'm not certain, but I think getting rid of those will depend on first getting rid of all mixin use.

[2017-10-17 13:19] mauditecandela commented on #1428
fixed! 😄

[2017-10-17 17:13] mauditecandela commented on #1005
I meant 'Setting' table, not Service, sorry.

My first thought regarding this (spoiler: basic questions to come):
1) We could create a last_update method at Settings Model that fetch the last updates and calculates the time left for the next update. Would you add all this information to the ':values' parameter from Settings model?
2) We could add this last_update method to log_end_of_update method

[2017-10-17 17:49] ragesoss commented on #1005
The table is called `settings`, per Rails convention, corresponding to the `Setting` model.

I don't think we want to cram all this into the `Setting` model itself, since this behavior would be focused on one particular Setting record. We probably want a new class to handle updating the record (which could be called from relevant places in BatchUpdateLogging methods). Then the class could be teste

[2017-10-17 18:28] #1452 closed

[2017-10-17 21:20] #1428 closed

[2017-10-17 21:22] ragesoss commented on #1376
Resolved with 6be5f9d4eba67c81303c47b9e27a8be41d65cfae

[2017-10-17 21:22] #1376 closed

[2017-10-18 12:32] mauditecandela commented on #1005
- About the table, yes, it was a misunderstanding, sorry.
- About the model, should we locate the record in a module in lib, for example? This way could be imported and used e.g. in BatchUpdateLogging.
- Would you write the info in the settings table, btw?
- I've seen that all the logs are written to Sentry, right? Is there any way of accessing them?

Maybe I am asking too much but I am trying ver

[2017-10-18 15:29] mauditecandela commented on #1005
Meanwhile I added an UI fix with a general warning, that I think can already help the user :)

[2017-10-18 18:34] ragesoss opened #1467 "Write a setup script"
We need a script that automates the process of going from a cloned repo to a working development environment. Ideally, this can replace parts of of the travis.yml config as well, so that the script gets run and therefore tested in CI.

[2017-10-18 18:35] ragesoss opened #1468 "Test, improve and document the dev data population script"
We  have a script that getting reasonable test data into a dev environment, by creating a few courses of different types, campaigns, etc.

It doesn't yet do the pulling of data from Wikipedia, and it isn't documented from the setup docs.

[2017-10-18 20:06] sejalkhatri opened #1469 "In mobile, making sure key information is accessible as the user scrolls"
In the Course Editors Page, the header of the page should stick to the top while user is scrolling down -- to help them to understand the information being displayed.
**Current Version**
Before scrolling
![scroll_stick2](https://user-images.githubusercontent.com/14351471/31739930-39e8aaa0-b46d-11e7-8a0e-4b6b1e2ef1ea.png)
After scrolling
![52stick_row_tothetop_editorssection](https://user-images.gi

[2017-10-19 17:25] ragesoss commented on #1005
I think SpecialUsers presenter is a good exemplar for how it could be done; it also exists to provide access to data in a particular Setting record. Since this will probably be a class that we will want to use for both writing and reading, though, it probably makes sense to keep in in app/models (as a plain, non-ActiveRecord model).

Yes. The Settings table is designed to be very flexible about th

[2017-10-19 21:33] heysusgarcia commented on #1445
@ragesoss i will look into this one. Was it working at some point?

[2017-10-19 21:40] ragesoss commented on #1445
Go for it! It was never working before, but it's something available in the
dev environments of many projects. Not really sure how to make it happen
though.

On Oct 19, 2017 2:33 PM, "Jesus Garcia" <notifications@github.com> wrote:

[2017-10-19 22:23] ragesoss commented on #1453
This is the equivalent of what mainBowerFiles() outputs:

[code]

We also import some specific css files from vendor/jquery.uls, in `main.styl`.

[2017-10-20 02:30] heysusgarcia commented on #1445
i created PR #1470

[2017-10-20 11:54] sejalkhatri opened #1471 "Education managers should be able to access the courses for supporting teachers."
Making available course access rights to the Education manager, So that they could support teachers - Work involves updating privileges of the Education Manager.

[2017-10-20 18:28] #1445 closed

[2017-10-20 22:34] #1303 closed

[2017-10-21 12:32] sejalkhatri opened #1472 "On the My Dashboard Page, displaying the Archived courses in a way to make the newest information available first."
Work involves changing the order of the courses from newest to oldest.
![archived](https://user-images.githubusercontent.com/14351471/31851758-c74ed626-b689-11e7-859e-50e7fb743258.png)

[2017-10-21 13:35] sejalkhatri opened #1473 "In the Program Clone Page, programs should be displayed from newest to oldest in the dropdown list."
Similar to issue #1472

![clone](https://user-images.githubusercontent.com/14351471/31852236-dff3c13e-b691-11e7-9fd7-a44ae6d7e306.JPG)

[2017-10-21 14:09] sejalkhatri opened #1474 "Instructor should be able to add multiple Available Articles at the same time."
Currently one available article can be added at a time.

![addarticle](https://user-images.githubusercontent.com/14351471/31852505-708f97dc-b696-11e7-94fc-8723c077bcb5.png)

Further enhancement:  Instructor could import Available Articles from previous programs.

[2017-10-22 19:26] mauditecandela commented on #1005
I added a new presenter (in my Fork https://github.com/mauditecandela/WikiEduDashboard/commit/edbb22ee45055b47783f2fe93e4f03b61096451f) to access the data in the Setting record (fetch the data and update it). I will continue working on the cache and calculation, but a review would be very appreciated :) Thanks!

[2017-10-26 10:52] mauditecandela commented on #1005
Sorry for the github Spam. I closed the PRs and will reopen them once I have a more stable solution. Sorry again!

[2017-10-26 15:46] ragesoss commented on #1005
No worries!

[2017-10-26 20:31] #1382 closed

[2017-10-27 15:40] jstoebel commented on #1408
currently working on `no-find-dom-node` and `forbid-prop-types`

[2017-10-28 17:29] ragesoss opened #1476 "Investigate using rspec-retry for intermittently failing specs"
This might make our travis-ci builds more reliable.

https://github.com/NoRedInk/rspec-retry

[2017-10-28 17:31] ragesoss opened #1477 "Investigate using parallel_tests to speed up the build"
If this could work on travis-ci, it might cut down the build time considerably: https://github.com/grosser/parallel_tests

[2017-10-30 16:22] ragesoss opened #1478 "On Debian Firefox, In surveys, input focus styling is not good"
The dotted line around a square region is not what we want. A focus highlight that matches the rest of the design would be best.

![focus outline](https://user-images.githubusercontent.com/848483/32182249-701f9ee6-bd53-11e7-9e4b-690b467f262a.png)

Set up a survey (via `/surveys` with an admin account) with a question group and some questions of various types, then preview it to see the issue.

The

[2017-10-30 23:04] ragesoss opened #1479 "Move article views import into a non-blocking process"
On P&E Dashboard, updating article views is currently the major bottleneck of the update process. It's done in the daily updates, but these have now stretched to 11 hours long — blocking all other updates while they are happening.

It may be possible to decouple the Constant and Daily updates, so that a Daily update can be going on without pausing the Constant updates that pull in new revisions an

[2017-10-31 00:44] ragesoss opened #1480 "Deleted articles should be marked as such on Campaign articles view"
We should highlight them in red and also indicate "deleted" in text somewhere in the article row.

[2017-10-31 20:09] ragesoss commented on #1135
Replica returns this data now, as `page_is_redirect`.

Next steps:
* add a `redirect` column to `Article`
* in ArticleImporter and ArticleStatusManager, set redirect attribute to true for redirects.
* update the ArticlesCourses-related tcode to pay attention to whether an article is a redirect, and don't create ArticlesCourses records in such cases.

[2017-10-31 20:40] ragesoss commented on #1480
Done

[2017-10-31 20:40] #1480 closed

[2017-11-01 07:32] appleJax commented on #1478
Has this been fixed already? I can't reproduce the issue.

Chrome:
![chrome](https://user-images.githubusercontent.com/13618860/32264431-e1b435b4-be9b-11e7-9ce8-00c59852f8cd.png)

Safari:
![safari](https://user-images.githubusercontent.com/13618860/32264438-e80a9b6a-be9b-11e7-9b16-8d61e8e3456b.png)

Firefox:
![firefox](https://user-images.githubusercontent.com/13618860/32264442-ed66ab76-be9b-11e7-

[2017-11-01 23:36] #1473 closed

[2017-11-02 14:14] mauditecandela commented on #1005
Another PR for this issue: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1484

[2017-11-06 20:49] ragesoss opened #1487 "ArticleViewer cuts off author list if it's too long"
The ArticleViewer's author list at the bottom doesn't handle large numbers of usernames very well, and if it ends up at three rows worth, it can extend beyond the visible area (depending on screen size).

![cutoff](https://user-images.githubusercontent.com/848483/32463071-866a7804-c2f0-11e7-87f5-5c8d4a50b1c8.png)

The handling of that section should be adjusted so that it can be viewed even with v

[2017-11-06 20:50] ragesoss commented on #1487
See this bug in your own browser here: https://dashboard.wikiedu.org/courses/Marshall_University/Principles_of_Cell_Biology_(Fall_2017)/articles

[2017-11-07 17:46] ragesoss commented on #1478
@appleJax thanks! This seems to be OS-dependent. I get it on Firefox on Debian (but not on Chromium on Debian).

[2017-11-08 20:40] #937 closed

[2017-11-08 23:19] #1479 closed

[2017-11-10 08:19] appleJax commented on #1472
Is there a difference between courses and programs? Whenever I try to create a program, it takes me to a page for creating a new course. Also, was this fixed in #1483 ?

![archived_courses](https://user-images.githubusercontent.com/13618860/32648894-c478058a-c5ac-11e7-8996-cf659dd70ad4.png)

[2017-11-10 15:41] ragesoss commented on #1472
Programs and courses are synonyms. One instance of the dashboard mainly uses "course", and the other "program". I don't think this would have been fixed by the other patch. Not 100% sure though.

[2017-11-12 19:49] bryszard commented on #1408
Working on `no-danger`. See #1492

[2017-11-13 17:23] #1472 closed

[2017-11-14 18:48] feelfreelinux opened #1493 "Google Code-In 2017: Setup Wiki Education Dashboard and run tests"
[The Wiki Education Dashboard](https://github.com/WikiEducationFoundation/WikiEduDashboard) is a web application that supports Wikipedia education assignments, provides data and course management features for groups of Wikipedia users — instructors, students, and others — who are working on a common Wikipedia project.

- [Create fork](https://help.github.com/articles/fork-a-repo/) of WikiEducation

[2017-11-16 01:56] ragesoss opened #1494 "Improve handling of incomplete clones"
If a course is an incomplete clone (`cloned_status: 1`), it behaves badly when it comes to the term field.

Instead of looking like a normal course page, an incomplete clone should show the course clone modal.

Maybe this could be done by using `cloned_status: 1` instead of the ?modal=true param to make the modal appear.

----

To test this:
* Create at least one course
* Create a new course via t

[2017-11-16 22:05] ragesoss opened #1495 "Course has two internal spaces, breaking wiki-to-dashboard links"
Not sure how it happened, as I thought we stripped out duplicate spaces now, but... https://dashboard.wikiedu.org/courses/Yale/Issues_in_Medicine__and_Public_Health_(Fall,_2017)

[2017-11-16 23:52] ragesoss commented on #1495
This was fixed in September for new courses and course renames. This course was created shortly before then. We'll fix it after the term ends.

[2017-11-16 23:52] #1495 closed

[2017-11-16 23:53] ragesoss commented on #1494
Done with 3bd551c9fa1cf5e28ef4d3b56e6e18bd9c89428b

Surprisingly didn't break any specs!

[2017-11-18 21:15] ragesoss opened #1496 "If password in enroll link is incorrect, user should have a chance to put in the correct one"
For edit-a-thons and other events, an enroll link may get distributed before the passcode is changed (or it may be miscopied). Handling incorrect passcodes silently, and prompting the user for the correct one, would be a nice improvement.

[2017-11-18 22:13] ragesoss opened #1497 "Update X time ago shows up underneath MyArticles component"
@mauditecandela I just noticed this (at an A+F editathon today).

It should be above MyArticles.

![update an hour ago](https://user-images.githubusercontent.com/848483/32985215-82b41b38-cc6a-11e7-90c7-d22eb325241c.png)

[2017-11-18 22:27] ragesoss commented on #1134
Hopefully this is no longer an issue, since I think we removed the database queries within the threads for the view import process.

[2017-11-18 22:27] #1134 closed

[2017-11-18 22:31] ragesoss opened #1498 "Edit-a-thons should be updated on a very fast cycle while they are happening"
For editathons and any other very short event, they should maybe have their own update cycle in parallel to the main one for current courses. There will only be a few of them at any given time, and few articles, so it should be possible to get update times that are very fast if we decouple these updates from the main cycle.

Probably we can leave the main update cycle alone, and just add in a para

[2017-11-18 22:59] ragesoss opened #1499 "On P&E Dashboard, layout of training index is bad"
Almost all the libraries are on the left.

![training index](https://user-images.githubusercontent.com/848483/32985484-04313c1c-cc71-11e7-869b-1b3b18978a2e.png)

[2017-11-19 00:07] ragesoss opened #1500 "Don't show 'up to date with training' mouseover unless there are assigned trainings"
On the course home tab, the Editors count has a mouseover that shows the number who are up to date with assigned training modules. This should not appear at all in cases where no trainings are assigned, which includes most of the programs on P&E Dashboard.

[2017-11-20 09:35] mattwarren10 commented on #1499
I went to the training page on the dashboard, but couldn't find this issue. What is the route where the issue exists?

[2017-11-20 15:54] mauditecandela commented on #1497
Should be fixed by #1502

[2017-11-20 17:31] #1497 closed

[2017-11-20 17:43] #1494 closed

[2017-11-20 17:56] ragesoss opened #1503 "Sentry events should be sent asyncronously"
See https://docs.sentry.io/clients/ruby/config/

This will involve creating a simple Sidekiq worker to perform the sending, and configuring Raven to use it in the raven initializer.

[2017-11-20 18:53] ragesoss commented on #1499
The route is the training index: `/training`: https://outreachdashboard.wmflabs.org/training

This only happens on P&E Dashboard, which suggests that it's related to how on-wiki trainings get stored.

You can configure your dev environment to pull in the same trainings using these settings in application.yml

[code]
After that, you may need to visit `/reload_trainings?module=all` to load the train

[2017-11-21 01:20] ragesoss opened #1507 "HistogramPlotter should cases where the CSV has no articles"
This currently causes errors.

[2017-11-21 18:39] mattwarren10 commented on #1499
I changed the `application.yml` file to fit these settings, and after I reloaded the trainings, I couldn't reproduce the issue. Maybe there's another setting to change. I'll look for one.

[2017-11-21 18:41] ragesoss commented on #1499
Interesting. Screenshot of what it looks like for you?

-Sage

[2017-11-21 18:50] mattwarren10 commented on #1499
![training-library](https://user-images.githubusercontent.com/13757305/33090706-ee32e01a-cec2-11e7-83d3-36827b41d0d5.png)

[2017-11-21 18:53] ragesoss commented on #1499
It looks like you haven't reloaded the trainings, so you're still seeing the yml-based wiki ed versions.

Visit `/reload_trainings?module=all` and check back. It may take a while.

[2017-11-21 18:56] mattwarren10 commented on #1499
I visited that route and did it several times. I'll just wait if it takes time.

[2017-11-21 18:59] ragesoss commented on #1499
If you saved those changes in application.yml (and there aren't the same config lines with different values elsewhere), and you've restarted rails since that change, then the reload should take a while. It's almost immediate if enable_wiki_trainings is false.

[2017-11-21 19:04] mattwarren10 commented on #1499
Got the issue working. Forgot to reload the server. I'll see what I can do.

[2017-11-21 20:41] #1500 closed

[2017-11-21 20:41] #1499 closed

[2017-11-21 21:02] #1507 closed

[2017-11-22 15:54] ragesoss opened #1510 "Add Jest tests for untested React components"
The core of the Dashboard user interface — course pages — uses React.js. We have a test system set up for unit tests of Javascript and JSX files, consisting of:
* [Jest](https://facebook.github.io/jest/) - the framework that runs the JS test suite
* [Enzyme](http://airbnb.io/enzyme/) - a tool for interacting with isolated React components for testing
* [Chai](http://chaijs.com/) - an assertion lib

[2017-11-22 16:32] ragesoss commented on #1024
This is stale, and one of very many JS browser support errors.

[2017-11-22 16:32] #1024 closed

[2017-11-22 16:37] ragesoss opened #1511 "Improve browser support by identifying and adding polyfills for Javascript errors"
The app has lots of noise on Sentry from various Javascript features that are not supported on specific browsers and/or operating systems. These are hard to fix without knowing where exactly they occur and how to replicate them.

If you find a Javascript error in your console, report it in a comment below, along with a description of the effects and how to reproduce it.

Then look for polyfills or

[2017-11-27 18:53] ragesoss opened #1513 "AvailableArticles title formatting is buggy for non-EN programs"
For example, on this program, the articles have an 'en:' prefix even though they are not English Wikipedia articles: https://outreachdashboard.wmflabs.org/courses/%D0%9A%D0%BE%D0%BD%D0%BE%D1%82%D0%BE%D0%BF%D1%81%D1%8C%D0%BA%D0%B5_%D0%BC%D0%B5%D0%B4%D0%B8%D1%87%D0%BD%D0%B5_%D1%83%D1%87%D0%B8%D0%BB%D0%B8%D1%89%D0%B5/%D0%97%D0%B0%D1%80%D1%83%D0%B1%D1%96%D0%B6%D0%BD%D0%B0_%D0%BB%D1%96%D1%82%D0%B5%D1%8

[2017-11-27 19:39] ragesoss opened #1514 "Add i18n support for training module page titles, 'next page' buttons, and breadcrumb links"
We currently have some untranslated parts of the interface for training modules.
![basque slide](https://user-images.githubusercontent.com/848483/33285552-7f2eec5a-d367-11e7-837f-bdc70dc99482.png)

[2017-11-29 16:16] #1487 closed

[2017-11-29 16:35] ragesoss opened #1516 "Make the build pass on Ruby 2.5"
Ruby 2.5 is expected to be released on Christmas 2017, and preview builds are available now. We want to switch from Ruby 2.3.1 to Ruby 2.5.0 as soon as possible after release.

Currently, the build passes on Ruby 2.4.2 (with just one small change to a single spec required because of a change in Ruby's handling of unicode string case).

On Ruby 2.5.0-preview1, one of the feature specs — `onboarding

[2017-11-29 16:44] ragesoss opened #1517 "For live edit-a-thons, add an 'Update stats' button to AvailableActions"
During edit-a-thons, people want ongoing info about the contributions. This can be done via the hidden `/manual_update` path for a program, but for edit-a-thons that are currently happening, we should make this discoverable.

For editathons (only), between the start and end times, add a button that links to the manual_update for that program.

You should create a stateless functional component, Up

[2017-11-30 01:24] ragesoss opened #1518 "Convert react classes to stateless functional components"
These components don't use any React class features, and so could be converted into pure functions:

- [x] /app/assets/javascripts/components/app.jsx - https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1519
- [x] /app/assets/javascripts/components/activity/recent_activity_handler.jsx - https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1520
- [x] /app/assets/javascript

[2017-11-30 01:34] arun1595 commented on #1518
I am working on converting `App` class component to a stateless functional component.

[2017-11-30 17:32] ragesoss opened #1526 "ConstantUpdate on P&E dashboard was running for 4 days straight"
The process ran for 4 days without exiting, until I killed it. Likely it was choked by the ArticlesCourses cache update bottleneck.

[2017-11-30 21:56] bcb37 commented on #1513
I think I've got a handle on this one, but there are a couple tests that call `CourseUtils.articleFromAssignment` with only the first argument ('article'), so those fail if I'm trying to dereference `defaultWiki.langauge` in the method. There don't seem to be any places in the actual non-test codebase where that method is called that way, but I don't want to change the tests if something depends o

[2017-11-30 22:54] ragesoss commented on #1513
Yeah, if the test interface doesn't match how it's used throughout the app, then you should change the test.

[2017-11-30 23:20] takidelfin commented on #1493
[There](https://github.com/takidelfin/gci-task-wikiedudashboard) is my task documentation. Errors are at the end of the readme.md
:wave:

[2017-11-30 23:22] ragesoss commented on #1493
@takidelfin took a quick look, and that's awesome! That'll be really helpful for others trying to set up on recent Windows, I think, and we can incorporate some of it into our setup and troubleshooting docs.

[2017-11-30 23:39] ragesoss commented on #1526
Fixed with the tweaks to Utils.run_on_all

[2017-11-30 23:39] #1526 closed

[2017-12-01 01:46] JoalpeBrasil opened #1527 "Wikidata-generated structured test page for non-existing entries on Wikipedia"
(1) Programs often request from students/participants to create from scratch new entries. This work can be eased if we automatically provide a basic framework for new entries.
(2) Integrating Wikidata and Wikipedia is an answer. It can lead to producing Wikidata-generated structured test page for non-existing entries on Wikipedia. Click on the red link for an example: https://pt.wikipedia.org/w/in

[2017-12-01 04:45] bcb37 commented on #1513
I just tried to do a pull request, but the CI failed on a formatting issue. Should I try it again?

[2017-12-01 07:56] takidelfin commented on #1493
feel free to do this :)

[2017-12-01 13:06] refeed commented on #1493
Hi,

Here is my repository about setup Wiki Education dashboard and run tests, dashboard screenshot, and errors that I encountered are documented here: https://github.com/refeed/WikiEduDashboard-setup-debian9-fish  :)

[2017-12-01 16:35] #1513 closed

[2017-12-01 17:27] ragesoss opened #1529 "For Wiki Ed ask new instructors how they heard about Wiki Ed"
This could probably be done in the /onboarding flow. Maybe create an Alert and email someone each time it happens.

[2017-12-01 18:43] ragesoss commented on #1493
@refeed excellent!

That's a suprising set of spec failures. The admin spec one is a feature spec that occasionally fails on travis-ci as well.

The course creation and course page ones look like they might be related to timezone and locale (language), respectively.  What timezone are you in, and what is the default language setting of your computer? We might be able to shore those specs up to wor

[2017-12-02 03:00] refeed commented on #1493
@ragesoss My computer uses UTC time and my time is UTC+7, my default language is english with en_US.UTF-8 locale.
[code]

Executing training tool spec individually still failing
[code]
The screenshot from the tmp dir:
![screenshot_2017-12-02-09-54-21 317](https://user-images.githubusercontent.com/20320125/33511095-98bddde6-d747-11e7-906d-944763b0d215.png)

[2017-12-04 17:36] ragesoss opened #1530 "Data on a user's training progress through all modules should be available"
We currently only show such info for assigned modules on the Students tab of a course. For other use cases like the WMDE Thank You campaign (https://phabricator.wikimedia.org/T181305), it would be useful to provide data on any user about which modules they've started or completed.

There should probably be both a JSON API and a new component on user profile pages to display such data.

[2017-12-05 12:55] mauditecandela commented on #1005
@ragesoss I will continue with this issue for my first day at Outreachy if you don't have anything against it. ^^

[2017-12-05 14:31] ragesoss commented on #1005
@mauditecandela sounds good.  We should also find some time to meet soon.

[2017-12-05 15:18] mauditecandela commented on #1005
@ragesoss sure. I wrote you on slack :) Let me know about your schedule.

[2017-12-05 17:58] ragesoss commented on #1514
See also https://phabricator.wikimedia.org/T182132

[2017-12-05 18:31] ragesoss commented on #1408
@nicktu12 go for it! The a11y rules are especially appreciated, as fixing the javascript so that those rules are not violated may concretely improve the accessibility of the app.

[2017-12-07 01:37] ragesoss opened #1539 "Admins should be able to change salesforce_id for a course"
Mistakes happen, and they must currently be corrected manually from the console.

[2017-12-07 19:33] bcb37 commented on #1514
Hi, I've got most of these interface items able to be translated, but the module and slide names  (on the breadcrumbs and table of contents) seem like they have to come from the training content itself. It's not clear to me how the dashboard finds that content. When I run it locally, it doesn't present translated training content, even when the rest of the UI is translated, through calls to `I18n.

[2017-12-07 20:02] ragesoss commented on #1514
@bcb37 the training content all gets rendered in React. `app/views/trainging_modules/show.json.jbuilder` passes the content for a module, including all the translations, to the client. Accessing the correct translation happens in `app/assets/javascripts/training/components/training_slide_handler.jsx` (and you'll see there that it doesn't use the translations for the quizzes, which it should do as

[2017-12-08 00:21] ragesoss commented on #1516
The failing spec is caused by Devise: https://github.com/plataformatec/devise/issues/4719

It's already patched, but hasn't been released yet. We can switch to a git version if it's not released in time. Looks like we'll be all clear for the 2.5.0 upgrade right after Christmas!

[2017-12-08 17:50] mauditecandela commented on #1517
One nice reference to consider is the join button from available_actions.jsx

[2017-12-12 15:15] mauditecandela commented on #1451
@ragesoss I am working in this issue as my next one, but I need to understand better reducers vs stores. So right now I am doing some research. Any tips are welcome (besides the official Redux Documentation).

[2017-12-12 15:33] ragesoss commented on #1451
@mauditecandela this was the most useful resource for me to wrap my head around Redux: https://egghead.io/courses/getting-started-with-redux

Redux is a particular way to implement stores in React; it combines all the different parts of the application state into a single store, rather than having separate stores for different parts of it. Our redux store is created by coming all the reducer funct

[2017-12-12 21:33] ragesoss opened #1547 "If authorship highlighting data fetching fails, ArticleViewer should re-fetch upon re-open"
Fetching data from whocolor may occasionally fail. When that happens, closing diff viewer and reopening it should trigger another attempt at fetching the data. Currently, a user would need to refresh the page to try again.

[2017-12-13 20:40] ragesoss opened #1549 "Add i18n support for (history) and (article development) links in Articles tab"
These strings in article.jsx and article_graphs.jsx are currently hardcoded to English. They should use i18n with the messages added to the locale file.

[2017-12-14 18:30] ragesoss opened #1552 "Add i18n support for training module index pages and library pages"
For P&E Dashboard, we need to be able to translate the module descriptions and titles.

[2017-12-14 19:04] ragesoss opened #1553 "ArticlesForDeletionMonitor should detect user sandboxes and draft pages, not just mainspace pages"

[2017-12-15 14:00] mauditecandela commented on #1380
I would like to pick this as my next issue. ^_^

[2017-12-18 05:09] aSquare14 commented on #1351
I added this in the troubleshooting.md and also modified setup.md a litlle bit.

[2017-12-18 05:36] aSquare14 commented on #1459
I'd like to work on this issue.

[2017-12-18 14:42] ragesoss commented on #1459
@aSquare14 great! would like me to set up a GCI task for it?

[2017-12-18 15:38] aSquare14 commented on #1459
By GCI do you mean Google Code In?  Because if you do, I'm not eligible for
GCI, I'm a sophomore at college(not in the age gap 13-17) . I'm just
getting started with Open Source and have a keen interest in learning and
exploring. :D

On Dec 18, 2017 20:12, "Sage Ross" <notifications@github.com> wrote:

[2017-12-19 17:09] jstoebel commented on #1386
after speaking with @ragesoss he suggested I attempt this ticket. @testa19 if you are still working on this ticket, let me know. I don't want to step on toes!

[2017-12-19 18:59] ragesoss opened #1561 "Campaigns should have a default program type"
For A+F, we want each program created from the campaign page to be Editathon type, instead of the current default 'BasicCourse' type. That way, the 'update statistics' button will show up for all of the A+F events without extra steps on the part of organizers.

To do this, we'll probably need to:
* Add a new field to the Campaign record
* Pass the type to the frontend via campaign/show.json.builde

[2017-12-19 19:05] ragesoss commented on #1561
@mauditecandela

[2017-12-20 08:34] testa19 commented on #1386
@jstoebel no problem.
Can't find the time lately (

[2017-12-20 15:41] mauditecandela commented on #1561
@ragesoss I would like to work on this topic, ping me once you've finished converting the course store ;)

[2017-12-21 16:48] mauditecandela commented on #1561
@ragesoss  I am working on this. I have one question: maybe we should create a CourseTypeSelector similar to CourseLevelSelector and use it in the Course Creator to allow the instructors to modify the Default Course Type if they want to. What do you think?

[2017-12-21 17:03] ragesoss commented on #1561
@mauditecandela I think such a selector makes sense (we already have a CourseTypeSelector component, used in Details, and it can probably be reused). I suggest doing that as a separate follow-up PR, though, once this issue is implemented.

[2017-12-22 10:23] tulikavijay commented on #1552
hi! can i take this up?

[2017-12-22 15:42] aSquare14 commented on #1284
I'd like to work on this !

[2017-12-22 15:50] ragesoss commented on #1284
Great! Starting with wireframes might be helpful.

[2017-12-23 17:50] ragesoss commented on #1552
@tulikavijay sure. I think @bcb37 is in the middle of some related i18n work, but isn't working on this particular part of it. Send me an email — sage at wikiedu.org — and I can send you an invite to the project Slack.

[2017-12-25 14:58] tulikavijay commented on #1552
Can you point me to the files/folder , where i have to make changes? i tried to figure it out myself but i couldn't.

[2017-12-25 16:52] aSquare14 commented on #1175
I'd like to work on this. Would be helpful if you tell me what exactly backwards-compatible means !

[2017-12-26 16:15] ragesoss commented on #715
@aSquare14 this issue wasn't clear enough. In order to switch from characters added to words added, we also need to be able to convert the values from characters to words. We do this for English via `lib/word_count.rb`.

[2017-12-26 16:19] aSquare14 commented on #715
I still don't get it ! Characters to words means like converting an array of characters to a string ? Is that what it means ?

[2017-12-26 16:31] ragesoss commented on #715
We store data about the wiki edits that people make in terms of characters, because that's how mediawiki does it. For example, [this edit](https://en.wikipedia.org/w/index.php?title=Okenia_japonica&diff=775856563&oldid=775777495) added 12 characters to the article.

However, it's easier to understand those stats in terms of "words added". So we convert from characters to words using an average cha

[2017-12-26 17:25] ragesoss opened #1569 "On course details editing view, campaign selector should autocomplete and be better sorted by default"
See https://phabricator.wikimedia.org/T183630

[2017-12-26 17:56] ragesoss commented on #1552
@tulikavijay there are a few parts to this:

1. Getting translations from meta.

I created some training wiki pages for convenient development on this. You can set these values in application.yml:

[code]

Then you can reload content from the wiki by visiting `/reload_trainings?module=all`.

Here are the corresponding wiki pages:
* https://meta.wikimedia.org/wiki/Training_modules/dashboard/slides-

[2017-12-29 17:35] ragesoss opened #1575 "Replica article queries should be broken into multiple queries when the URI is too long"
`Replica` is the class for fetching data from copies of the Wikimedia databases. It's a PHP service that connects to the wmflabs replica databases: https://github.com/WikiEducationFoundation/WikiEduDashboardTools

One failure mode it has is querying for lots of article titles, which can result in a URI that is too long and causes an error. This mainly happens with queries for languages with non-la

[2017-12-29 23:01] ragesoss opened #1577 "Admin course rows should be right-clickable to open in a new tab"
On the dashboard home page for a logged-in admin, the list of that user's courses is rendered with `views/dashboard/_admin_courses` and `_admin_course_row`. This creates a sortable table, and there's a jquery function in `app/assets/javascripts/utils/course.js` that makes each row into a clickable link.

However, these rows don't otherwise behave like links... you can't right-click to bring up a c

[2018-01-04 17:28] #1561 closed

[2018-01-05 17:58] ragesoss opened #1592 "Campaigns should be able to select "no passcode" as the default"
Currently, a campaign with no set default passcode will result in new programs that have a random passcode. That's normally what we want, but there will be cases where a campaign wants the default to be programs that don't have a passcode (like Art + Feminism).

Add an option to campaigns for 'no passcode', and make it work.

[2018-01-05 17:59] #1516 closed

[2018-01-05 18:07] ragesoss opened #1593 "Enable more rubocop rules and fix the violations"
Rubocop has recently been added to the travis-ci build, and the builds will now break if there are rubocop offenses. But to make that happen, we had to disable many cops that we ought to be using but that have violations in the codebase. These are configured in the "Temporary exceptions" section of [.rubocop.yml](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/.rubocop.yml)

[2018-01-05 19:21] mauditecandela commented on #1592
What about a checkbox for the no passcode as default? Something like
Default passcode: __________________ [ ] No passcode
If the campaign has set the "No passcode" as true the Default would be no passcode.

[2018-01-05 19:27] ragesoss commented on #1592
Yes,I think that makes sense. The data flow side of it is where it gets slightly more complicated, since Rails will generally treat `nil` and an empty string the same way, in terms of forms, but I'd rather avoid adding another column to the Campaigns table just for that option if possible.

[2018-01-08 11:56] mauditecandela commented on #1592
I think I understood wrong on Friday. You are right:
When setting a default passcode as blank, then it doesn't get overwriten by the default passcode, and the system. So yes, the option would be to create an exception that will work overwriting the passcode as "" when creating a new program.
For the UX I would still add a checkbox or something similar to make it clearer and easier for the user.

[2018-01-08 18:58] wycats opened #1597 "Offering Wiki Education a free Skylight account"
Hello maintainers of the Wiki Education Dashboard!

We’re planning on making [Skylight](https://www.skylight.io/) free for open source projects this year and want to offer you a free beta account to use Skylight on your Rails app for free.

If you’re not already familiar with [Skylight](https://www.skylight.io/), it is a smart profiler for Ruby on Rails apps. Skylight makes it easy to pinpoint per

[2018-01-08 19:33] ragesoss commented on #1597
@wycats thanks! We actually tried using skylight in late 2015, but couldn't get it working successfully (and have been using New Relic instead since then).

But this seems like a good time to give it another try.

[2018-01-08 23:22] #1597 closed

[2018-01-09 17:12] ragesoss commented on #1301
Be sure to replace `Course#wiki_ids` with an AR relation.

[2018-01-09 17:19] ragesoss opened #1598 "Factor form control styles out of _onboarding.styl module"
The form control styles are not specific to the onboarding screens, so they should somewhere more general.

[2018-01-09 17:24] ragesoss opened #1599 "Upgrade lodash to version 4"
Lodash is sometimes used globally from vendor.js, and that one we probably want to leave alone. But the version from package.json is used where lodash is explicitly imported, and that's the one we can and should upgrade.

This will require some updates for functions that change names between these versions, such as replacing `_.sum` with `_.sumBy` in `grading.jsx`.

[2018-01-09 17:29] ragesoss opened #1600 "WikiCourseEdits#enroll_in_course should replace the default sandbox template if present"
`WikiCourseEdits#enroll_in_course` makes several edits, including one edit that adds a custom template to the user's "/sandbox" user subpage. This is done to preempt the default template that gets added if the user clicks the Sandbox link from their personal tools on Wikipedia (and which steers users to Articles for Creation, which we want to spare them from).

Improve this method so that, if the

[2018-01-09 20:22] ragesoss commented on #1005
Done.

[2018-01-09 20:22] #1005 closed

[2018-01-09 22:36] ragesoss commented on #1380
Done.

[2018-01-09 22:36] #1380 closed

[2018-01-10 10:26] mauditecandela opened #1603 "Programs should have different dates for Event and Statistics Calculations"
Current status: Every time we create a new program, we set a new start and end date that will be used as information about the timeframe of the event but also for the statistics calculations.

We would like to be able to set two different kind of dates:
- Event start/end dates
- Statistics Calculation start/end dates

In order to make it easier, we'll leave the current start/end dates as Statistic

[2018-01-10 23:27] ragesoss opened #1606 "Recent edits count for courses includes edits by users not in that course"
The recent edit count was including edits in the relevant timeframe made to that course's articles, but by users in a different course. So if the same article was being edited by multiple courses, the counts would be inflated.

[2018-01-10 23:27] #1606 closed

[2018-01-10 23:59] #1177 closed

[2018-01-11 18:08] alpha721 commented on #1529
"Maybe create an Alert and email someone each time it happens." Should it ask the new instructors this question via mail? As, in the same way some websites ask for account activation for first time sign up? @ragesoss

[2018-01-11 19:22] ragesoss commented on #1529
The Alert email is something intended for Wiki Ed staff, and would happen after the user submits an answer as part of the onboarding flow.

[2018-01-12 13:57] mauditecandela commented on #1603
@ragesoss the more I think of it the less I am sure if we should set by default a different value for statistics/events or we should leave this decisions to the users. Please let me know so I can continue working on the topic or if I should stay with what I already did in PR #1604

[2018-01-12 23:24] bcb37 commented on #1552
@tulikavijay  , are you still working on this?

[2018-01-12 23:25] ragesoss commented on #1552
@bcb37 I don't think so. If you're up for this one, please go for it.

[2018-01-15 17:25] alpha721 commented on #1600
Hi, @ragesoss, I would like to work on this issue.

[2018-01-15 19:01] alpha721 commented on #1569
Hi @ragesoss , I would like to try working on this issue. Can you please elaborate a little?

[2018-01-15 19:44] alpha721 commented on #1569
Is this issue regarding "edit details" part of the page after a course is created? If that is so, I can't seem to find the campaign selector option. If not , any help to isolate the error would be very much welcome :).
Also,please let me know, if you would prefer me to ask questions on slack or here.

[2018-01-16 16:19] ragesoss commented on #1569
@alpha721 slack is usually good.

To see the issue, you need to be logged in as an admin. Then, in 'edit details' mode after the course is created, you should see the Campaigns item with a button to add/remove campaigns.

![campaigns button](https://user-images.githubusercontent.com/848483/34998978-53206468-fa95-11e7-8405-28c9c9e1a00b.png)

I think the ideal way to fix this will be to replace Camp

[2018-01-16 20:41] psinghal20 commented on #1599
Hi, I would like to work on this issue. Can you give me any pointers on how to start with this issue?

[2018-01-16 20:54] ragesoss commented on #1599
@psinghal20 the steps involved would be:

* in `package.json`, change the lodash version to the latest one.
* run `yarn` to update to the new version
* Go through the codebase and evaluate each of the places where lodash functions are used (by searching for `_.`)
* Use the [lodash changelog](https://github.com/lodash/lodash/wiki/Changelog#v400) to identify which function names and/or usage needs t

[2018-01-16 21:26] ragesoss opened #1611 "Instructors should be able to (optionally) customize the names of weeks in the timeline"
We have a `title` attribute for `Week` records, but we no longer use it because in most cases it is unnecessary additional complexity.

## feature request
"Their institutions don't count spring breaks or ski breaks in their "weekly" course schedules.

So once students reach "week 4, no classes this week" on the Dashboard (which might be spring break) and return to the Dashboard for "week 5" their

[2018-01-16 21:31] ragesoss commented on #555
Also, when this change gets made we should also let blocks specify their units for the grading value: points or percent.

[2018-01-16 22:07] ragesoss opened #1612 "In Students tab, users should be sortable by draft space characters added"

[2018-01-16 23:14] hoslack commented on #1510
I want to work on this issue @ragesoss , Please invite me if possible.

[2018-01-17 10:50] #1603 closed

[2018-01-17 11:06] mauditecandela opened #1613 "Campaign Default Passcode text field should hide after clicking another option"
At creating a new Campaign, when clicking on "Customize passcode" a text field to enter a Default Passcode appears. This text should be hidden again after clicking on another option (Random Passcode or No Passcode), to not generate confusion to the users.

Note: This behaviour is generated by Jquery at assets/javascripts/campaigns.js so it probably should be fixed by changing the Jquery there.

[2018-01-17 22:38] psinghal20 commented on #1613
Hi @mauditecandela , are you working on this issue? I would love to take a stab at it if it is up for grabs.

[2018-01-17 22:39] ragesoss commented on #1613
@psinghal20 go for it

[2018-01-18 01:32] ragesoss opened #1615 "Training content should be stored in the database"
We've been gradually stretching the TrainingModule, TrainingLibrary, and TrainingSlide classes beyond their original design, and the storage strategy is breaking down for the on-wiki training modules on P&E Dashboard.

We currently import training module content from the wiki, and we cache the entire collection of TrainingLibrary.all, TrainingModule.all, and TrainingSlide.all in respective Rails c

[2018-01-18 19:58] ragesoss opened #1618 "With VCR fixtures already saved, all tests should pass without network access"
Currently, we have failures in the following specs when running without network access:

* article_status_manager_spec
* course_revision_updater_spec
* article_importer_spec
* category_importer_spec
* modified_revisions_manager_spec
* replica_spec

These all rely on Replica endpoints on wmflabs.org (which is a PHP script we maintain), so we do want to test against the live data at least sometimes.

[2018-01-19 14:06] psinghal20 commented on #1577
Hi, If nobody is working on this, can I take up this issue?

[2018-01-19 17:30] #1613 closed

[2018-01-19 17:54] #1599 closed

[2018-01-19 18:35] ragesoss commented on #1577
Go for it. :-)

[2018-01-20 11:27] khyatisoneji opened #1622 "Unable to bundle install"
I am using Ruby 2.5.0 on Windows 10 to run the repo.

When I run the command bundle install, I get the following:
[code]

I tried to delete the cache folder multiple time, but it didn't solve the issue.

I searched about "unable to stat just-written file" issue but didn't find anything conclusive.

Is someone else facing this issue on Windows?

[2018-01-20 11:29] khyatisoneji commented on #1622
The error log doesn't show the same thing every time. It also gives the following output as well:

[code]

[2018-01-20 15:04] ragesoss commented on #1622
Interesting. It looks like it's having trouble with github-based gems only?

Try commenting out all the github sources in Gemfile and running it again. (That will break the app, but at least it might narrow down the problem you're having.)

More info about your system would also be helpful... how are you running Ruby? In a linux subsystem, or via rubyinstaller, or something else?

[2018-01-20 15:22] psinghal20 commented on #1577
Hi, I tried accessing the page for a logged in admin user but still, the _course_row views is getting rendered not the _admin_course_row. I gave my account permissions by using the steps mentioned in the user_roles docs. Can you help me with this?

[2018-01-20 15:31] ragesoss commented on #1577
Hmm... giving your user record `permissions = 1` should have been enough, if you saved the record and refreshed the home page. Do you see the `admin` link at the top?

If so, have you created any courses that are "strictly current" (as in, already started and not yet ended, and that have been added to a campaign)? Those should be the ones that show up with the _admin_course_row template.

[2018-01-20 15:38] khyatisoneji commented on #1622
Hi,

Thank you for your reply,

I tried removing git repositories from gem file and it worked,

Also, I'm running Ruby 2.5.0 from Ruby devkit as mentioned in the documentation;
Windows:
Use RailsInstaller
Install Ruby DevKit.

[2018-01-20 15:44] ragesoss commented on #1622
Hmm... apparently Ruby 2.5 support is still a work in progress for Ruby DebKit: https://rubyinstaller.org/downloads/

I suggest using Ruby 2.4 instead. You'll need to change the version at the top of the Gemfile (and not include Gemfile or Gemfile.lock changes any time you make a commit) but otherwise, the app should still work the same way as on 2.5.

[2018-01-20 16:11] khyatisoneji commented on #1622
I tried this with Ruby 2.4.3, but it still gives the same error;

[code]

[2018-01-20 16:38] ragesoss commented on #1622
Hmm... I'm not sure what is going on there. It's talking about linking so maybe that has to do with creating symlinks to the version-specific gem files? I'm not sure how RubyInstaller does that kind of thing, but it might be from leftover files from your Ruby 2.5 attempts.

Sorry I can't be more helpful.

[2018-01-20 17:14] psinghal20 opened #1625 "Calendar modification required when creating new course timeline"
When you create a new course, the portal asks you about the days your classes will take place on and then modifies the calendar based on that but the next button remains disabled. It only gets activated once you click on one of the cells of the calendar even though the user doesn't want to change the calendar schedule.

[2018-01-20 17:16] #1625 closed

[2018-01-20 19:40] psinghal20 commented on #1467
Hi, I would love to work on this if it is up for grabs.

[2018-01-20 19:44] ragesoss commented on #1467
Sure, go for it.

[2018-01-21 23:39] psinghal20 commented on #1612
Hi, I would like to work on this. Can you brief me a little more about this issue?

[2018-01-22 04:15] ragesoss opened #1628 "In Details section on P&E Dashboard, facilitators or admins should be able to change the 'private' setting for a program"

[2018-01-22 19:55] ragesoss commented on #1612
@psinghal20

On the the Students tab of a course page, there's a table of users and info about what they've contributed:

![students tab](https://user-images.githubusercontent.com/848483/35241214-9816ad78-ff6a-11e7-8953-291f27d977dd.png)

This table is sortable, and in the case of the 'characters added' column, it includes three values in the same column, for the respective amount of content the u

[2018-01-22 20:02] #1577 closed

[2018-01-23 09:12] alpha721 commented on #1549
Hi, @ragesoss , I would like to work on this issue. Can I give it a try?

[2018-01-23 12:14] alpha721 commented on #1549
Hi, @ragesoss can I give this one a try?

[2018-01-23 14:46] ragesoss commented on #1549
Yes, please do.

[2018-01-23 15:41] psinghal20 commented on #1593
Hi, I would like to work on this if nobody is working on it.

[2018-01-23 15:51] ragesoss commented on #1593
Sure. Pick a rule and note it here.

[2018-01-23 16:15] psinghal20 commented on #1593
I am currently working on line length rule.

[2018-01-23 16:21] ragesoss commented on #1593
@psinghal20 cool.

In cases where it doesn't really improve anything to keep under 100 characters for a line — like really long strings that don't need to be read to understand the code — you should feel free to disable the rule inline for that violation, rather than break things up just to satisfy the rule.

[2018-01-23 19:17] #1549 closed

[2018-01-23 19:48] ragesoss opened #1632 "Use 'oj' instead of 'json' for Ruby json parsing"
`oj` is a faster json parser than the Rails default `json` gem: https://github.com/ohler55/oj

It's also now used by the i18n gem if available, the app uses a lot of i18n, so switching to it might result it a measurable performance improvement.

[2018-01-23 19:49] ragesoss commented on #1632
The main thing will be to find all the places that call `JSON` in the ruby code and replace those with appropriate calls to `Oj`.

[2018-01-23 21:06] #1612 closed

[2018-01-23 21:30] psinghal20 commented on #1632
Hi, @ragesoss can I work on this as well? The Rubocop rules issue is a little time-consuming. I will continue working on both these issues simultaneously if it is okay.

[2018-01-23 21:36] ragesoss commented on #1632
Yeah, sure. The rubocop thing should be done one PR per rule, and definitely don't treat it like you have to do all of them. They are too nice of tasks for newcomers to spend them all one person. :-)

[2018-01-23 21:39] psinghal20 commented on #1632
Thanks! I have been through a couple of those, will save the remaining for the newcomers :smile:

[2018-01-24 19:11] ragesoss opened #1637 "Dragging and dropping timeline blocks no longer works"
I don't know when this functionality broke, but the drag-and-drop feature for arranging the timeline doesn't work.

[2018-01-24 19:26] ragesoss opened #1638 "Recent Edits sorting is wonky"
Sorting is somehow implemented for the Recent Edits table (`/recent-activity/recent-edits`), probably via the List component. However, it doesn't work that well. Sorting by date does not work, and all the other sorting only works ascending; clicking again does not reverse the sorting like it does in some other tables.

Figuring how how to implement sorting nicely for redux-backed tables, starting

[2018-01-24 21:21] ragesoss commented on #1637
This was working as of the November 1 version of the repo, and broken as of December 1.

[2018-01-24 21:37] #1637 closed

[2018-01-25 16:31] ragesoss opened #1639 "/explore page should load more quickly"
The `/explore` page is one of the slower things in the dashboard and gets a fair amount of traffic. The slowness is mostly because it's got a not-easily-fixable case of N+1 queries... I think it's actually more like 11N+1, with 11 queries required for every active campaign.

Two areas two to look for improving the performance of this page:
* add rails caching, especially for the campaign _row part

[2018-01-25 19:22] ragesoss opened #1640 "ArticleViewerLegend should show real names on mouseover, if available"
The ArticleViewerLegend component would be more useful to instructors if it let them easily remind themselves of the real name of a given user.

To make this feasible without adding a bunch of Flux-related code that will need to be cleaned up later, we'll need to convert UserStore to redux first. Then we can pass in the full set of users and extract the real name if available, for the users passed

[2018-01-25 19:23] ragesoss commented on #1278
This isn't actionable. We've reported all the know bugs related to parsing, and the WikiWho team continues to work on general improvements, language support, etc.

[2018-01-25 19:23] #1278 closed

[2018-01-25 19:25] ragesoss opened #1641 "Replace hardcoded strings in ArticleViewerLegend with i18n"
ArticleViewerLegend react component has some hardcoded interface messages; it should use i18n messages instead.

[2018-01-26 14:16] alpha721 commented on #1641
Hi, @ragesoss, can I take this up as well?

[2018-01-26 14:37] ragesoss commented on #1641
Please do.

On Jan 26, 2018 6:16 AM, "Neetu" <notifications@github.com> wrote:

[2018-01-26 16:09] ragesoss opened #1643 "Add unique user/course/role index to CoursesUsers table"
There are Ruby safeguards, but no database constraint on duplicate enrollment records.

[2018-01-26 18:56] #1643 closed

[2018-01-27 00:09] #1641 closed

[2018-01-27 00:10] ragesoss commented on #1640
Unblocked by https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1644

[2018-01-27 00:33] #1640 closed

[2018-01-27 00:55] ragesoss commented on #1638
I think I cracked the sorting nut, more or less, in the new `users` reducer and the model_utils `sortByKey` helper function.

[2018-01-27 06:53] khyatisoneji commented on #1547
Hi @ragesoss , I would like to work on the issue. Please provide details as to how to replicate this issue.

[2018-01-27 08:24] khyatisoneji commented on #1638
Hey @ragesoss , I was able to find out the problem and fix it. However there is a css issue still as I mentioned in this gif.

![recent-edits page](https://user-images.githubusercontent.com/31898080/35470109-75411a9c-0369-11e8-9dd7-110d253bef9c.gif)

The issue is in sortItems function in activity_table.jsx file.

Here we are removing 'asc' or 'desc' class from all the table headers and hence losin

[2018-01-27 15:50] ragesoss commented on #1547
You'll first need to create a course with some articles edited, see https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/user_roles.md#populating-a-course-with-data

Then, you can replicate a failing API call by changing the whocolor URL in ArticleViewer component to something that returns:
a) some json that does not include an `html` element, eg, `https://jsonplaceholder.t

[2018-01-27 15:51] ragesoss commented on #1638
Sure, let's see what you've got.

[2018-01-27 16:50] ragesoss opened #1646 "Assignment rows should show more useful information"
In particular, it should duplicate some of the info shown in the Articles Edited rows, if that assigned article is also an edited one.

See original request here: https://phabricator.wikimedia.org/T185802

[2018-01-27 16:51] ragesoss commented on #1593
@alpha721 yes, certainly. One PR per rule, please.

[2018-01-27 16:53] ragesoss commented on #1615
@bcb37 FYI, in case you haven't seen it, this is related to the work you've been doing.

[2018-01-27 17:11] bcb37 commented on #1615
Yeah, I have come up against the memcached limit. This makes a lot of sense. I could take it on next.

[2018-01-28 02:51] khyatisoneji commented on #1547
@ragesoss , I have added a course to my local database.
I have also made the changes as specified in ArticleViewer component, but I am not able to see this issue (404 message).

Can you please tell me which specific url to navigate to, if I were to replicate this issue?

[2018-01-28 03:17] ragesoss commented on #1547
You can make the whocolor api return a 404 if you just, for example, remove the 'r' from 'whocolor: `https://api.wikiwho.net/${this.props.article.language}/whocolo/v1.0.0-beta/${this.props.article.title}/`

That will just make the frontend display the loading message forever, rather than show an error message like it should.

[2018-01-28 05:04] khyatisoneji commented on #1547
@rageross, I was able to re-create the issue.

Should we handle this by having an error function in the Ajax request?
Then, in this function we can write logic to display error message.

[2018-01-28 05:06] ragesoss commented on #1547
Sounds good.

[2018-01-28 05:26] khyatisoneji commented on #1547
@ragesoss, is there any component that we have for displaying error?

I initially thought of having it as a function, but I think that it would be better to have it as a component as it can be used elsewhere.

[2018-01-28 16:07] ragesoss commented on #1547
@khyatisoneji I was thinking it should be handled the same way as the other whocolor failure mode, by setting the 'legendStatus' that gets passed to ArticleViewerLegend as 'failed'.

We have a general system for displaying error messages, by sending a addNotification redux action that will end up rendering the message in the Notifications component. But for this particular component, I think it ma

[2018-01-28 16:31] khyatisoneji commented on #1547
@ragesoss , I tried setting this.state.whocolorFailed to true and thus legendStatus that was passed to ArticleViewerLegend is failure state.

The screen still displays loading screen with "could not fetch authorship data" , and the same is mentioned in the ArticleViewerLegend's render function.

The screen looks like this. Is that ok?
<img width="1008" alt="screen shot 2018-01-28 at 9 58 41 pm" sr

[2018-01-28 16:46] ragesoss commented on #1547
Which failure causes that? The legend in that state is fine, if there is a failure.

The article body should only show that loading animation if the original article html from Wikipedia hasn't loaded; there shouldn't be any loading animation if only the whocolor query failed.

[2018-01-28 16:54] khyatisoneji commented on #1547
I made changes to both **wikiUrl** and **whocolorUrl** function to make requests to random sites.

Is the wikiUrl function not expected to fail? In that case the screen only shows **could not fetch authorship data**

<img width="1210" alt="screen shot 2018-01-28 at 10 23 35 pm" src="https://user-images.githubusercontent.com/31898080/35484721-ff82c23a-0479-11e8-8121-86e0126dee59.png">

[2018-01-28 16:58] ragesoss commented on #1547
Cool. The wikiUrl one is unlikely to fail, but of course it might
occasionally. I don't think we need any special handling for that, though.

On Jan 28, 2018 8:54 AM, "khyatisoneji" <notifications@github.com> wrote:

[2018-01-28 17:05] khyatisoneji commented on #1547
Just a few ending remarks:

There are three functions that are making AJAX request:

1. fetchUserIds

2. fetchWhocolorHtml

3. fetchParsedArticle

Error callback cases:

1. when fetchParsedArticle returns an empty article, we turn status as 'failed'. So as this function can throw error, here we should add the error callback function.

2. fetchUserIds on error will not change the status and thus, n

[2018-01-29 16:37] khyatisoneji commented on #1628
@ragesoss , can you please provide information about which page are you talking about? Also talk briefly about what do you mean by changing private setting.

[2018-01-29 17:04] alpha721 commented on #1569
Hi, @ragesoss, I want to change campaign store with a reducer , but I am still not sure if I understand all the things in the stockstore completely . Is there  any previous fix that I can use as an example? Thanks.

[2018-01-29 19:36] ragesoss commented on #1547
I think that sounds reasonable. Please open a PR. :-)

[2018-01-29 20:11] ragesoss commented on #1628
There's a `private` attribute on the Course model, which can be set during course creation. If set to true, it makes it so that only the instructors for that course, or admins, can view it.

Users who can edit the course details should be able to change this setting, in the same way that admins can change the `submitted` value while in Edit mode in the Details section of a course Home tab. See `Su

[2018-01-29 20:28] ragesoss commented on #1569
@alpha721 stock store is basically a general-purpose store for receiving sets of model data (like a list of users, or a list of campaigns). It implements of a bunch of different actions that it can respond to, but the most important ones are a) receiving data from the server and storing it, and b) sorting the items.

Typically, each individual store that uses StockStore only uses a small portion o

[2018-01-29 21:31] psinghal20 commented on #1646
Hi, I would like to work on this issue if nobody is working on it.

[2018-01-29 22:17] #1632 closed

[2018-01-30 19:22] #1592 closed

[2018-01-30 19:24] ragesoss commented on #1569
@alpha721 I think @mauditecandela and I are going to try to tackle this one.

[2018-01-30 21:33] #1547 closed

[2018-01-31 06:54] alpha721 commented on #1569
@ragesoss, okay, no problem. Is there any other issue that you would like me to take up? Please let me know.

[2018-01-31 20:14] ragesoss opened #1655 "account creation cleanup and polish"
* Use initiateConfirm instead of `confirm` for the confirmation dialog in AvailableActions
* After successfully enabling account requests, the course should be updated (using CourseActions.updateCourse) to set the flag, so that the button disappears
* In StudentList, NewAccountButton should be used instead of NewAccountModal; that component should be in charge of launching the modal and closing it

[2018-01-31 20:45] ragesoss opened #1656 "Limit course articles.json results for programs with huge numbers"
There are some P&E Dashboard programs with huge numbers of articles edited, such as this one: https://outreachdashboard.wmflabs.org/courses/CIS-A2K/Wikidata_India_Workshop

The `articles.json` query takes a very long time, and the app can't render so many articles without problems either.

The easiest solution would be to limit the query to some reasonable value (~500) and to show a message for co

[2018-01-31 21:21] HartiganHM commented on #1510
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but interest has been shown. There are several components to still test, so I think it would be doable to take the `uploads` component tests. I’m happy to try helping out elsewhere as well.  Thanks!

[2018-01-31 22:49] ragesoss commented on #631
I think we're doing pretty okay here; I don't see a strong need for counter caching right now.

[2018-01-31 22:49] #631 closed

[2018-01-31 23:44] #1639 closed

[2018-02-02 17:09] alpha721 commented on #1503
Hi @ragesoss  , I would like to give this issue a try. Any hints are super welcome :)

[2018-02-02 18:07] ragesoss commented on #1503
@alpha721 the 'async' section in the link above has a clear example. Look at `app/workers` to see how other Sidekiq workers are implemented.

Sentry in configured in `config/initializers/raven.rb`

[2018-02-07 23:05] ragesoss opened #1663 "Error on /recent-activity when user is logged out"
For a logged out user, the recent-activity pages are all throwing a javascript error: `SyntaxError: JSON.parse`

These pages should work whether you are logged in or out.

[2018-02-07 23:08] ragesoss opened #1664 "On /recent-activity pages, outbound links in the table row components should open in a new tab"
On the recent edits, Did You Know, and plagiarism pages, all the outbound links currently don't open in a new tab like they ought to.

[2018-02-08 00:21] #1663 closed

[2018-02-08 14:57] mauditecandela commented on #1664
@AmitJoki AFAIK and remember, you don't need to add any seed data to get started. You can locally test your changes writing a react test and running jest --watch. Here more info about the test: https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/testing.md

[2018-02-08 14:59] AmitJoki commented on #1664
@mauditecandela ah fine. I am new to the codebase and wanted to know what the outbound links are and which property is assigning those links so I could change them.

[2018-02-08 15:00] mauditecandela commented on #1664
I think @ragesoss can explain a bit more about that, I am not sure what does he means :)

[2018-02-08 15:01] ragesoss commented on #1664
Look at docs/user_roles.md for some info on getting example data into your environment.  That will be the easiest way to replicate this issue locally.

[2018-02-08 15:04] AmitJoki commented on #1664
@ragesoss thanks will look into it!

[2018-02-08 16:56] AmitJoki commented on #1656
Where should the message be shown? Is there any utility for showing such messages?

[2018-02-08 17:03] ragesoss commented on #1656
The easiest way to handle the message would probably be to use the Notifications component. Search the code for places that use `addNotification` (in particular, search for `this.props.addNotification`).

[2018-02-08 19:06] #1664 closed

[2018-02-08 19:26] ragesoss opened #1668 "Username links on recent-activity did-you-know and possible-plagiarism tabs are broken"
These links don't go to Wikipedia user talk pages like they do on recent-edits; they are relative links to nonexistent dashboard pages.

[2018-02-08 19:42] ragesoss opened #1669 "Dashboard should create alerts for Good Article Nominations"
Similar to the DYK alerts, the Dashboard should generate alerts and send emails when relevant articles get nominated for Good Article on English Wikipedia.

It'll probably look a lot like `DYKNominationMonitor`

[2018-02-08 19:52] ragesoss opened #1670 ""Resolve" links for alerts should explain more about when to use the resolve feature"
For example, deletion alerts should only be resolved if the nomination has closed or the deletion tag was removed; then the dashboard will create a new alert if it ever shows up again in a deletion process.

If an alert is resolved while the situation that triggered it is still present, then the dashboard will create another alert at the next update cycle.

[2018-02-11 20:40] alpha721 commented on #1408
@ragesoss can I give some of these a try?

[2018-02-11 20:52] ragesoss commented on #1408
Yep!

On Feb 11, 2018 12:40 PM, "Neetu" <notifications@github.com> wrote:

[2018-02-12 17:53] maryam21 commented on #1593
Hi @ragesoss , I would like to work on this issue as well.

[2018-02-12 17:55] ragesoss commented on #1593
@maryam21 cool, just let us know which rule you're working on.

[2018-02-12 18:09] maryam21 commented on #1593
I will work on Naming/PredicateName.

[2018-02-12 19:57] #1503 closed

[2018-02-12 21:57] ragesoss commented on #1628
@mauditecandela this would be a good one for you handle. It's already been an issue with several A+F events in the last few weeks.

[2018-02-12 22:06] ragesoss opened #1674 "Details edit mode is too long and detailed for the current layout"
The 'Edit' mode for the Details component often stretches below the fold, and has a lot of editable fields.

It might be better at this point to make it into a large modal so that all of the editable details can be show on one screen.

[2018-02-13 05:37] ragesoss opened #1675 "The on-wiki week numbering of courses does not match the dashboard timeline"
The dashboard starts numbering the first week of the timeline based on the course start date rather than the timeline start, so it may begin with Week 2 or higher.

The wiki output should match.

[2018-02-13 06:04] #1675 closed

[2018-02-13 09:33] psinghal20 commented on #1668
Hi @ragesoss , I would like to work on this issue. Can you tell me how to populate database for recent edits. Thanks!

[2018-02-13 16:12] ragesoss opened #1676 "Links to programs from the campaign editors view are broken"
See https://outreachdashboard.wmflabs.org/campaigns/studenti/users

Looks like a url-encoding problem with the `/` in the program slugs.

[2018-02-13 21:40] ragesoss opened #1686 "Add filtering by project to Articles Edited table"
The Articles Edited table may contain edits from multiple wikis. For example: https://dashboard.wikiedu.org/courses/University_of_North_Carolina_at_Chapel_Hill/Helping_Giving_Away_Psychological_Science_(Spring_2018)/articles

It would be useful to be able to filter it (with controls that only show up if there are multiple wikis present) to show one wiki at a time.

This will depend on ArticleStore

[2018-02-14 01:59] AmitJoki opened #1689 "Unable to create course"
I logged in as an instructor and have not been able to create a course.

![capture](https://user-images.githubusercontent.com/5158554/36184268-abf39a22-1158-11e8-8157-3d7787251c5f.JPG)

[2018-02-14 10:00] maryam21 commented on #1593
Enable predicate name and fix violations #1690

[2018-02-14 11:13] psinghal20 commented on #1689
@AmitJoki first create a campaign and then try to create a course for that campaign. If you see your log file carefully you can see that it expects to receive campaign parameter but got nil instead.

[2018-02-14 15:06] mauditecandela commented on #1451
@ragesoss I think this is done...

[2018-02-14 15:11] #1451 closed

[2018-02-14 18:56] yunjuc commented on #1284
I'll tackle on this as well.

[2018-02-14 21:30] #1676 closed

[2018-02-14 22:01] #1668 closed

[2018-02-15 19:17] psinghal20 opened #1709 "Improve Setup Script"
For those who faced issues with using the setup scripts, Please comment below with the errors you faced and the logs for your installation. You can find the logs in setup directory.

[2018-02-15 21:28] ragesoss opened #1710 "replace jquery-ujs with rails-ujs"
`rails-ujs` is what is now maintained within rails core, and it does not depend on jquery.

This blog post has a section on rails-ujs that may be helpful: https://medium.com/@coorasse/goodbye-sprockets-welcome-webpacker-3-0-ff877fb8fa79

[2018-02-15 21:34] ragesoss opened #1711 "Investigate switching to webpack and webpacker (without gulp) for asset compilation"
We use gulp as the main way to compile the assets for the project, with the webpack step at the end doing the biggest portion of the work. However, webpack itself should be able to do all the things we currently use gulp for, and webpacker would provide rails integration, which might simplify the process of getting an environment up and running and recompiling as needed. Currently, the gulp compil

[2018-02-16 09:37] yunjuc commented on #1284
Here is what I have in mind - a grid view photo gallery with the following information:
- Description (instead of filename, which is less informative)
- Thumbnail (link to source page)
- Uploaded by
- Usage count (omit when usage is 0)

![upload](https://user-images.githubusercontent.com/18255878/36301146-ae5bd976-12b8-11e8-84bc-be2a811103f7.png)

When users click on author name, they will be take

[2018-02-16 17:08] ragesoss commented on #1284
This is going in the right direction. I'm not sure about the separate view for a single user; that should definitely not be done in the initial implementation, but maybe something like that would make sense later. I think we'd want to do it as a filter on the same set of images, rather than a separate page.

For the layout, I think it's important to use as much space as possible; padding should be

[2018-02-16 17:45] yunjuc commented on #1284
Agree on the filter usage.

Also agree justified gallery looks better. So maybe mouseover to surface text and click linking to source page?

[2018-02-16 17:46] ragesoss commented on #1284
Yeah, something like that might work nicely.

[2018-02-16 17:55] yunjuc commented on #1284
Ok, I'll start working on this.

[2018-02-16 18:44] ragesoss opened #1715 "CampaignEditable generates a warning"
For CampaignEditable in edit mode, I get this console warning:
[code]

[2018-02-17 19:57] yunjuc opened #1717 "Dashboard enhancements (page view, table sorting, search box)"
While I was browsing the site, I observed some usability issues on the page and table views. I list them here with potential fixes. They are not meant to be the final answers but for everyone to brainstorm and see if there are better solutions.

Page view
- Currently, there is no page pagination and if a table has many entries (especially true for articles), it's a long scroll to get to the bottom

[2018-02-18 11:43] AmitJoki commented on #1670
@ragesoss which files concern this issue?

[2018-02-19 00:29] vzhz commented on #1440
Hello @ragesoss, I'm applying to this summer's Outreachy session, and I am interested in working on this issue.

[2018-02-19 03:55] ragesoss commented on #1440
@vzhz hi! Send me an email (sage at wikiedu.org) and I can send you an invite to the development slack channel for this project.

[2018-02-19 04:12] vzhz commented on #1440
Will do!

[2018-02-19 18:43] vzhz commented on #1709
I run macOS High Sierra and when I ran `python setup.py` from the root directory, I was referred to the manual setup process.
I am happy to attempt this setup again as a test as work on this continues.
Here is my complete log:
`Admins-MacBook-Air:WikiEduDashboard Admin$ python setup.py
WARNING! This is a work in progress script. It has been tested to work for debian-based systems.   There are indi

[2018-02-19 21:28] jstoebel commented on #1711
I'd like to give this one a shot

[2018-02-19 22:09] ragesoss commented on #1717
@yunjuc thanks!

These all make sense, and I think we have issues open for a few of them; someone is working on a solution for the 'articles edited' table right now.

If you're looking for a good first contribution, a nav solution for the 'articles' tab with multiple tables would be a great one.

[2018-02-19 22:16] ragesoss commented on #1711
@jstoebel great!

[2018-02-21 05:31] #1628 closed

[2018-02-21 05:33] ragesoss commented on #1569
Done!

[2018-02-21 05:33] #1569 closed

[2018-02-21 14:27] jstoebel commented on #1711
would we like to move away from bower as well?

[2018-02-21 15:11] ragesoss commented on #1711
We have already, as of last week.

[2018-02-21 16:05] ragesoss commented on #1711
Whoops, nevermind. We haven't yet removed bower, it's still an open PR: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1708

[2018-02-21 16:31] jstoebel commented on #1711
ok cool, but I will proceed assuming bower components don't need any special handling

[2018-02-22 00:30] psinghal20 commented on #1575
Hi @ragesoss, I would like to take on this issue next if it is up for grabs! I also feel it would be better to use POST for the requests and thus changes on the wmflabs replica endpoint tool would be required.

[2018-02-22 01:12] psinghal20 commented on #1638
@ragesoss As the existing PR is not solving the issue, can I look into this issue if nobody is working on this?

[2018-02-22 01:19] ragesoss commented on #1638
@psinghal20 go for it. khyatisoneji isn't working on it further.

[2018-02-22 17:33] psinghal20 commented on #1710
@ragesoss As the previous PR for this issue was closed, I tried taking this on. I hope it is okay.

[2018-02-22 19:56] #1710 closed

[2018-02-22 20:56] #1453 closed

[2018-02-22 21:35] #1669 closed

[2018-02-22 21:49] #1655 closed

[2018-02-23 17:05] AmitJoki commented on #1600
How to check if a default sandbox page is already present and what is the function to replace it?

[2018-02-23 19:35] psinghal20 commented on #1715
@ragesoss The thing is we can not keep a div element as a child of a tbody element. It must always be a tr element and tr element can only have a td element as a child. The warning is due to rigid structure of table element in HTML.

[2018-02-25 17:30] ihsavru commented on #1598
Hi, I'd like to work on it. Should I move them to _forms.styl?

[2018-02-25 17:32] ragesoss commented on #1598
Sounds reasonable.

On Feb 25, 2018 9:30 AM, "Urvashi Verma" <notifications@github.com> wrote:

[2018-02-26 10:01] mauditecandela commented on #1715
@psinghal20 thanks for the hint. I will work on this today

[2018-02-26 11:58] mauditecandela opened #1738 "Editathons should only show statistics related to specific campaign"
After talking with some Program Instructors, we realized that during editathons we are showing all the statistics for all the editions the users enrolled in the program are making. It would be great if we could filter the statistics being shown.

One way to do this is to still count all the statistics but enable a filter so we can delete all those unrelated editions.

[2018-02-26 13:59] AmitJoki commented on #1529
@ragesoss can you point me to some example where Alert is created to send to the WikiEd staff? Like, how do I send an alert to a wiki ed staff?

[2018-02-26 15:51] psinghal20 commented on #1711
Hi @jstoebel, We finally moved away from bower sometime back. Now the bower components have a separate directory in node_modules and are compiled in a single file by the gulp task `jquery-uls` which uses gulp concat Plugin to concatenate all the required bower components in a single file. Just wanted to give you an update! :smile:

[2018-02-26 17:30] vzhz commented on #1440
@ragesoss, I notice there is [an "edit" toggle that is part of the timeline being turned on and off](https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/1b66177d705d1836340ca7612b478f570c1c59f2#diff-309e9ba7ca4bd789f6bbc1455e0ed28cR268) already. I'm considering if it would be best to replace this line with one that calls a modular "course edits" toggle, but I want to make sure I und

[2018-02-26 19:02] #1715 closed

[2018-02-26 19:14] #1598 closed

[2018-02-26 19:36] ragesoss opened #1741 "Home wiki for a course should be changeable"
Currently, the home wiki for a course is set at the time of course creation, and cannot be changed. It would be useful to allow instructors/facilitators to change this.

[2018-02-26 20:08] #1638 closed

[2018-02-26 20:14] ragesoss opened #1742 "React-based tables should show a sorting icon corresponding to the current sort direction"
Unlike the (List.js-sorted non-React) tables on `/explore` and elsewhere, ActivityTable has hard-coded `asc` sorting icons in the header, while most other tables (like the StudentsList) do not have sorting icons at all.

These tables should behave more like the `/explore` table, with icons that show which column is currently being sorted and which direction (including the initial default sort).

I

[2018-02-26 20:31] ragesoss commented on #1529
See `lib/alerts`. In particular, `unsubmitted_course_alert_manager` does something similar.

[2018-02-26 20:54] ragesoss commented on #1440
@vzhz enabling/disabling the timeline should be independent of 'course edits'. This new setting would replace `Course#wiki_edits_enabled?`, which is currently statically defined for each subclass of `Course`.  `Course#timeline_enabled?` is something that only affects the frontend, determining whether or not to show the Timeline tab.

Here's an example of a course with edits enabled (but without ti

[2018-02-26 22:24] ragesoss commented on #1738
I think this doesn't just apply to editathons, although maybe it would only apply to certain course types.

I'm not sure what the best approach would be. Maybe we add a new model for FilteredArticle, which is a join table between article and course, and the revisions scope gets rewritten to exclude the filtered articles.

[2018-02-27 06:01] ihsavru commented on #1742
I'd like to work on this.

[2018-02-27 22:29] ragesoss opened #1743 "Available Articles do not appear if user is both instructor and student, and the list is empty"
For editathons it is common for organizers to also be participants. Currently, if a user is in both roles then the option to add an available article may not appear.

[2018-02-27 22:34] bcb37 commented on #1552
This issue seems to have a bureaucratic block. As I currently understand it, the middle breadcrumb link, and some other short text content associated with libraries, exist only in json files, and so are not translatable mediawiki resources. For testing purposes, I've created a wiki page (https://meta.wikimedia.org/wiki/Training_libraries/Support_and_Safety/description) from the text in this json f

[2018-02-27 22:34] psinghal20 commented on #1741
@ragesoss I would like to work on this issue. I have found that wiki_title from basic_course model and home_wiki.base_url is used to generate the Wiki URL needed. To allow the change in Wiki URL we can change the wiki_title from basic_course which would require a change in slug field in the Course model or we can add a URL field in the course model and change that when the user needs to change the

[2018-02-27 22:38] ragesoss commented on #1552
Sorry about the delay is getting the translation side of things available. I'm trying a different tack now to find someone to enable it.

[2018-02-27 22:43] ragesoss commented on #1741
I think you could just implement a universal version of `Course#wiki_title` and remove the type-specific implementations.

Basically, a course should have a wiki title if it has edits enabled and the home wiki has edits enabled. Otherwise, it should return nil.

[2018-02-28 00:31] #1743 closed

[2018-02-28 11:17] jstoebel commented on #1711
sounds good. I'll work on switching to webpacker first and then moving up to webpack 4

[2018-02-28 17:27] #1575 closed

[2018-02-28 22:07] ragesoss commented on #1741
Yes, that sounds good.

[2018-02-28 22:09] ragesoss opened #1744 "four-byte emoji article titles cause MySQL errors"
A new error appeared in Programs & Events Dashboard production today: an emoji article title caused this error:

[code]

[2018-03-01 21:47] #1498 closed

[2018-03-02 18:16] vzhz commented on #1440
Hello @ragesoss, I've made some progress:
- spent some time familiarizing myself with the codebase (thank you for the link to the course, that helped me understand expectations), and
- added (on my local copy) a flag for course edit

Before I continue, I have a question: I see that 'course.wiki_edits_enabled?' has several subclasses (ie. `classroom_program_course`). Should edits be enabled on each

[2018-03-02 18:20] ragesoss commented on #1440
I think it can be done by removing the methods on the subclasses and implementing it in `Course` in a way that handles every relevant situation.

[2018-03-03 12:35] maryam21 commented on #1510
Hi! I'd like help in this issue as well. I want to work on tests for 'user_profiles' component if nobody is working on it.

[2018-03-03 18:15] psinghal20 commented on #1686
@ragesoss I would like to work on this issue. As the article store is based on `StockStore`, I think it would be a major step towards migration to Redux. I think all the stores utilizing the stock store can be converted to redux easily if one is converted successfully.
I plan to:
- Move all the stock store utilities in a common `stock_utils.js`.
- We can also separate the sorting functionality usi

[2018-03-03 18:39] ragesoss commented on #1686
Sounds good. Don't implement more for Stock Utils than you need. Much of
StockStore is not needed.

-Sage

On Mar 3, 2018 10:15 AM, "Pratyush Singhal" <notifications@github.com>
wrote:

[2018-03-04 09:50] AmitJoki commented on #131
Is this issue still unresolved? If yes, I'd like to work on it.

[2018-03-04 10:17] AmitJoki commented on #293
Does the wizard refer to campaign creation wizard?

[2018-03-05 13:29] AmitJoki commented on #811
What files should I be looking?

[2018-03-05 17:57] ragesoss opened #1749 "Error message for no default campaign is unhelpful"
After you finishing setting up a dev environment initially, loading the app will result in an error message about no campaigns. It actually means that the default campaign does not exist, so even if you create a campaign you will not necessarily fix this problem.

The handling of this error in `RescueDevelopmentErrors` should just create the default campaign, instead of displaying an error message

[2018-03-05 18:00] ragesoss commented on #1709
The message for when ruby 2.5 is not available should just say to install it, without insisting on a specific method. It can link to https://rvm.io/ as one option for doing so, but without any more specific instructions than that.

The exact instructions in the current script didn't work for me on a Mac, but other instructions from the RVM website did.

[2018-03-05 18:28] ragesoss opened #1750 "Improve validation and cleanup of RequestedArticle emails"
Currently, we are getting requests that fail because of trailing whitespace or punctuation. These should be validated more fully client-side.

[2018-03-05 20:34] #1741 closed

[2018-03-05 22:31] ragesoss commented on #131
@AmitJoki Yes, this is still unresolved. I'm not sure what it will take to fix it, but it should be possible with the version of React Router that we use, I think.