[2018-03-05 22:35] ragesoss commented on #811
I'm not entirely sure. Probably a combination of the template partials in `/app/views/surveys`, the templates in `/app/views/rapidfire/questions`, and `SurveyAdmin.js`.

[2018-03-05 22:43] ragesoss commented on #293
No, this is the assignment wizard, which launches after course creation if the dashboard is in the Wiki Ed configuration. I think, though, that our current ideas around this have changed a little.

[2018-03-05 22:57] ragesoss commented on #293
I'm closing this, as I think instead of saving progress, we want to come up with a new system where the choices are saved after submission but instructors could go through the wizard a second time to change their choices, if they need to.

[2018-03-05 22:57] #293 closed

[2018-03-06 00:05] ragesoss commented on #1750
Done with e61dfc6767ed04387f29ad449073acd52ac8a76b, mostly server-side.

[2018-03-06 00:05] #1750 closed

[2018-03-06 17:12] AmitJoki commented on #1749
What will be the parameters of this default campaign?

[2018-03-06 17:14] ragesoss commented on #1749
Basically, the slug needs to match `ENV['default_campaign']`. If it does that, it should just work.

[2018-03-06 17:32] AmitJoki commented on #1749
Where should it redirect after creating the default campaign in the rescue block?

[2018-03-07 00:14] ragesoss opened #1756 "Convert Campaign overview page to React"
Campaign pages will be nicer, and the architecture more consistent, if we use React pretty much everywhere and get progressively closer to a single-page app.

One good place to start with that is the Campaign pages, which are structurally pretty similar to Course pages. The overview tab of campaigns, and the associated `edit` view, will be the first step.

[2018-03-07 00:28] ragesoss opened #1757 "For wiki-based training modules, module page should link to the wiki page"
On wiki-based training modules, it would be nice be be able to easily go from the content on the dashboard to the content on the wiki, and trigger a refresh of content from the dashboard.

[2018-03-07 01:51] ragesoss opened #1759 "Convert TrainingModule to ActiveRecord"
Following the recent conversion of TrainingSlide (see https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1732 ), we should convert TrainingModule into a database-backed model as well.

[2018-03-07 01:53] ragesoss opened #1760 "Provide a useful error message when course home wiki is changed to an invalid wiki"
Currently, the message is just 'Internal Server Error'. It should be something more useful.

You can replicate this issue as follows:
1. create a new program
2. click edit details, and change the language and wiki; you have to change it to one that doesn't exist.
for example, pick language `egl` and project `wikinews`

The option to change Home Wiki Language and Home Wiki Project in the Edit Detai

[2018-03-07 03:03] ragesoss opened #1761 "Move EnrollCard to Overview component"
The enroll card should only show up on the course index.

Extract `onCourseIndex` from CourseNavbar, maybe, and use it in course.jsx?

[2018-03-07 17:29] ragesoss commented on #1761
Fixed.

[2018-03-07 17:29] #1761 closed

[2018-03-07 19:23] #1749 closed

[2018-03-07 19:58] #1529 closed

[2018-03-07 23:56] ragesoss opened #1764 "Create new Course type for Wikimedia Commons upload campaigns"
Some events are specifically focused on commons. Users should be able to select Commons as the home wiki, so that edits from other wikis do not get pulled in.

This will require converting `CommonsWiki` to a database-backed normal `Wiki`.

[2018-03-08 06:01] mtrivera commented on #1760
I'm interested in working on this, do you have any resources for Rails? I have done some basic Ruby before.

[2018-03-08 07:03] psinghal20 commented on #1760
Hi @mtrivera , in my opinion the rails documentation is one of the best resource. If you have a basic understanding of the MVC architecture, it will be much easier for you to work with rails.

[2018-03-08 07:06] mtrivera commented on #1760
@psinghal20 Thanks, I will look into it.

[2018-03-08 15:52] ragesoss opened #1765 "Timeline toggle should have an tooltip explaining what the timeline is good for"

[2018-03-08 16:50] AmitJoki commented on #131
@ragesoss I was thinking of using PushState API and using this, we could, I think also persist the form data across navigation.

[2018-03-08 16:53] AmitJoki commented on #1764
Can you please elaborate a bit? `CommonsWIki` inherits from `Wiki`, which is database backed, and since it is STI, we have already got `type: CommonsWiki` attribute on the Wiki table.

Am I missing something?

[2018-03-08 17:02] ragesoss commented on #1764
CommonsWiki inherits from Wiki, but is actually not database-backed itself. It's always used via `CommonsWiki.new`.

[2018-03-08 17:04] AmitJoki commented on #1764
That creates a `Wiki` record with type`CommonsWiki` right? Are you saying `CommonsWiki` should have its own database and not share Wiki's?

[2018-03-08 17:11] ragesoss commented on #1764
No, the idea would be to adapt Wiki to allow commons.wikimedia.org to be created as a regular Wiki record rather than a hard-coded subclass.

[2018-03-08 17:12] AmitJoki commented on #1764
Okay now I get it.

[2018-03-08 17:26] AmitJoki commented on #1765
Which page should I be looking for the timeline toggle? Also what should be the content of the tooltip?

[2018-03-08 17:35] ragesoss commented on #131
@AmitJoki Cool. I don't know anything about PushState, but feel free to give it a try. If you can find a solution to this, it will definitely be appreciated by users of the app.

[2018-03-08 17:38] AmitJoki commented on #131
Cool. Will start working on it.

[2018-03-08 18:15] #1656 closed

[2018-03-09 03:41] ragesoss commented on #131
Set your default course type to `ClassroomProgramCourse` in application.yml. Then when you create a new course, you'll go from course creator directly to the assignment wizard (`[course path]/timeline/wizard`, which has a number of steps. If you press back on your browser (as opposed to 'Previous' button on the screen) then you'll go back to `/course_creator` and it will be blank.

[2018-03-09 15:15] AmitJoki commented on #131
@ragesoss I did the changes in `application.yml`. I now, don't have the login option and every attempt at creating a course returns me back to the index page in the following URL: `http://localhost:3000/course_creator?campaign_slug=game_of_thrones`

[2018-03-09 15:16] ragesoss commented on #131
Sounds like broken javascript.

[2018-03-09 15:18] AmitJoki commented on #131
Yeah, it shows: `Cannot find module "react-confetti"` may be I should run `yarn` again?

[2018-03-09 15:21] AmitJoki commented on #131
@psinghal20 Yeah. I just ran it. May be there should be a way to display a breaking changes changelog when we pull in from the master so we can know what's changed and what's to be done. But I guess there's no way to do that?

[2018-03-09 15:23] psinghal20 commented on #131
I guess we can but will require regular maintenance, what are your views @ragesos?

[2018-03-09 15:28] AmitJoki commented on #131
Maintaining a `CHANGELOG.md` for breaking changes would be a start. People could look into the `changelog.md` everytime they pull in from upstream and be up to date with what's transpired.

[2018-03-09 15:37] psinghal20 commented on #131
Well but then in our case the change log will only end up having changes in the dependencies we use. The changelog is meant for breaking changes between each version of the project. Currently, we don't release versions or milestones for our project and it is in continuous development and being deployed on production simultaneously. A changelog, in my opinion, is not something we need.

[2018-03-09 16:52] psinghal20 opened #1767 "DatePicker reduces the value of input field by one when it goes out of focus"
In DatePicker component, when the input field goes out of focus, it reduces its value by one day.
Step to reproduce the bug:
- Start creating a new course
- In the course start dates, select a date and then bring the date input field out of focus. You will see that the value of the input field is reduced by one of what you selected.
- Again, bring the input field in focus but don't change its valu

[2018-03-09 17:25] ragesoss commented on #1767
This is probably the same bug as #1234. It's related to timezones and translating from local time to UTC, and going from start-of-day for the course start and end-of-day for the course end, or some subset of those things.

[2018-03-09 17:27] ragesoss commented on #1767
Closing as duplicate. Please reopen if this is actually a different bug from #1234.

[2018-03-09 17:27] #1767 closed

[2018-03-10 01:00] srish opened #1768 "'Join' confirmation message should set expectations for activity tracking"
In the edit-a-thon (that I attended at SFMOMA recently) guidelines, it was mentioned that an editor should keep their dashboard window open in a browser tab as this helps track their edit activity on Wikipedia.

If this is true, then a popup could be displayed at the top of the app window when a user logs in for the first time in the dashboard at an event. I noticed that many participants didn't r

[2018-03-10 01:06] ragesoss commented on #1768
@srish there's no need to keep the dashboard window open. Once a user joins an event on the dashboard, their edits will be tracked. I think keeping the window open was just suggested so that users can easily see the stats during the event (but not in real time, and only if they refresh).

[2018-03-10 01:12] srish commented on #1768
@ragesoss WOW! This is helpful to know. Thanks!

[2018-03-10 01:42] ragesoss commented on #1768
This can probably be done by expanding the `courses.join_successful` interface message to include more details about what the dashboard does.

[2018-03-10 01:46] ragesoss opened #1769 "For Editathons, dashboard stats should refresh automatically"
Now that we have a quick update cycle for short-running events, it will be practical to auto-refresh the course stats while a user has the overview page open. Re-fetching the course every 5 minutes or so might be all it takes to do that.

[2018-03-10 15:20] ragesoss opened #1773 "EOFError: end of file reached"
This rare error should be handled gracefully like other common failures in WikiPageviews.

https://sentry2.wikiedu.org/wikiedu/p-e-dashboard/issues/1049/

[code]

[2018-03-10 16:29] psinghal20 commented on #1765
Hey @ragesoss, I would like to work on this issue. Could you help me with what the explanation should be?

[2018-03-10 16:37] AmitJoki commented on #1773
Um, is this the only change that's required? in the `rescue` block?
[code]

[2018-03-10 16:38] psinghal20 commented on #1756
Hey @ragesoss, I would like to work on this issue. I think it will be essential for our complete shift to React. I find that there are various similarities in the Campaign pages and Course pages, I think many components can be reused or helpful with the conversion to React. I think it would be a time-taking task and thus I will submit a PR for this when I start working to get your feedback.

[2018-03-10 16:38] ragesoss commented on #1773
Yeah, I think so.

[2018-03-10 16:42] psinghal20 commented on #1686
I will start working on this issue again. I found that Amit Joki was working on the conversion of ArticleStore in one of his PR so I figured that I should wait for him to complete his conversion.

[2018-03-10 17:00] #1773 closed

[2018-03-10 17:41] vzhz commented on #1769
I'd be happy to work on this next, if it isn't addressed by @AmitJoki 's fix on #1772 .

[2018-03-11 16:10] ragesoss opened #1783 "For Available Articles, dual-role particants should have both 'claim' and 'remove' options"
Right now, the remove option is replaced if the user is both instructor and student.

[2018-03-11 18:31] AmitJoki commented on #1274
Is there any canonical wiki page that shows how an article can be improved? If so, those suggestions can be included in this. If not, can you give please give me some pointers as to what the content of the suggestions should be?

[2018-03-11 23:34] tuxology opened #1786 "Setup script for yum/dnf based distributions"
It would be nice to have this for supporting Fedora. I will take this up. Feel free to assign me

[2018-03-11 23:37] tuxology opened #1787 "Containerize the application for easy setup"
I was trying WikiEduDashboard, but it takes sometime to get all prerequisites for a dev setup on some distributions such as Fedora. It may be nice to containerize the build (preferably docker) for easy setup. We can also add a make target to build the docker image locally and run it. In addition, publish/maintain an image on dockerhub also. I can take a stab at it.

[2018-03-11 23:43] ragesoss commented on #1787
That would be amazing! I've spent a little bit of time playing around with trying to containerize it, but never got far enough for it to be useful.

[2018-03-12 01:44] psinghal20 commented on #1786
Hi @tuxology, there is a setup script supporting Debian-based systems using `apt` as the package manager, I think they can provide you with a great starting point for the fedora-setup script. I think some of the code can be reused from there.

[2018-03-12 01:50] psinghal20 commented on #1787
Hi @tuxology, sorry for intruding but if you feel like pushing this task to someone else, I am up to work on it. I have been planning to learn more about docker but never got the start. Seems like a great opportunity to me.

[2018-03-12 02:43] mtrivera commented on #1760
Having issues with my dev environment setup. If someone else wants to work on this, go ahead.

[2018-03-12 03:09] ihsavru commented on #1674
I'll be taking up this issue :+1:

[2018-03-12 12:59] tuxology commented on #1786
@psinghal20 Thanks. I took that as a ref. Testing on a clean Fedora VM now

[2018-03-12 13:15] tuxology commented on #1787
@psinghal20 I started with the dockerfile already. Trying to polish and shine :sparkles: my docker skills as well :wink:  But there is no dearth of new TODOs!  If @ragesoss  agrees, what we can do is file a new issue for preparing a Vagrant setup to create a reproducible dev/deploy environment for people who want to work on VMs or provision the app eventually on their own infra. This can be an add

[2018-03-12 16:30] ragesoss opened #1789 "Docs should explain how to get Commons upload data into dev environment"
https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/user_roles.md

That file covers Wikipedia edits, but not uploads.

[2018-03-12 17:59] #1618 closed

[2018-03-12 18:30] #1765 closed

[2018-03-12 20:46] #1686 closed

[2018-03-12 22:40] ragesoss opened #1792 "Improve campaign Alerts list"
* Implement filtering by type, with a default filter that only includes ArticlesForDeletion and DiscretionarySanctions. User should be able to select as many types as they want to include in the filter.

[2018-03-13 02:56] srish opened #1793 "'My Articles' section does not list the article one creates if they don't manually assign it to them"
On the outreach dashboard, in `/courses`, 'My Articles' section does not list the article one creates if they don't manually assign it to them. Though, the article is visible in the 'Editors,' 'Articles edited,' etc. list, but it does not get shown in the 'My Articles' view.

[2018-03-13 03:05] srish opened #1794 "Missing graphs: analytics assets are not loading on 'Articles Edited' page"
On the outreach dashboard, in `/Articles Edited,` on clicking 'Changes in structural completeness,' a graph description appears but the visuals are missing. It looks like the analytics assets are not loading on this page. Also, as a user, the term 'Changes in structural...' is hard to understand.
<img width="1254" alt="screen shot 2018-03-11 at 6 46 46 pm" src="https://user-images.githubuserconten

[2018-03-13 03:30] srish opened #1795 "Engaging event participants around edit-a-thon statistics"
As a user, I would like to engage with / understand the event statistics in a more meaningful/interactive manner, also get an update on them after an event is over. For the latter part, from what I understand, as it is right now, one can only learn more about the stats if they remember to visit the dashboard afterward.

A few ideas come to mind to address this:

* There be a real-time punch card v

[2018-03-13 03:37] srish commented on #1795
@ragesoss If some of these ideas make sense to you, then @tuxology and I would like to further research/work on them.

[2018-03-13 03:41] srish commented on #1383
@ragesoss If no one is currently working on this issue, then feel free to assign it to me. Also, is it a newcomer-friendly task to start with on this project?

[2018-03-13 03:47] tuxology commented on #1795
@ragesoss We are currently working on refining these ideas and will update them here with user-stories and mockups. Kindly assign it to both of us so we can keep track of this. If you have something specific in mind, or any critique on them, let us know as well!

[2018-03-13 03:56] tuxology commented on #1794
@srish This could be an issue of missing R packages on the instance where the app is [hosted](https://outreachdashboard.wmflabs.org/courses/SFMOMA/SF_SFMOMA_ArtAndFeminism_2018/articles) as it is related to ORES, but I am not very sure. I'm still trying to wade through the codebase :blush:

[2018-03-13 16:17] ragesoss commented on #1795
@srish @tuxology Those are all cool things that are worth exploring. There are some relevant starting points / related features for some of these things in the app already, which we can talk about once you've fleshed out the ideas a little more. (For some reason, github isn't letting me assign @tuxology.)

[2018-03-13 16:26] ragesoss commented on #1794
It's not missing any packages, as other places that use this same plot code are working, eg: https://outreachdashboard.wmflabs.org/campaigns/artfeminism_2018/ores_plot

The one on the Articles tab of a program used to work as well, but it's not working currently for me either. Here's the stack trace:

NoMethodError

[code]

[2018-03-13 16:30] ragesoss commented on #1794
@srish if you can come up with a clearer explanation, please do. We want to avoid suggesting that ORES wp10 scores (which are the basis for these plots) are measures of article quality, per se. The idea behind calling it structural completeness is that it is based on the gross structural features of an article rather than the content; it's how much, at the level of headings and wikilinks and ref c

[2018-03-13 16:34] ragesoss commented on #1793
That feature was designed around the education program use case, where student editors may make some early edits in a wide variety of articles — copyedits, citing unsourced text, etc. — as part of an introductory 'learn the basics' phase of the assignment, before moving on to their main assigned article that they will research and work on in depth.

I think having some kind of way to show the full

[2018-03-13 16:47] #1786 closed

[2018-03-13 17:21] #1539 closed

[2018-03-13 19:22] #1456 closed

[2018-03-13 21:58] #365 closed

[2018-03-14 00:19] ragesoss opened #1796 "Extract user registration and enrollment functions from MassEnrollmentController into a service"
MassEnrollmentController has code to take a list of usernames and a course, and add all the users to the course, creating the users if they do not already exist in the database.

This should be extracted into a service object.

[2018-03-14 16:28] #131 closed

[2018-03-14 16:59] ragesoss opened #1798 "For courses with no passcode, do not show the 'Join' modal by default if it has already ended"

[2018-03-14 18:02] #1674 closed

[2018-03-14 23:16] #1798 closed

[2018-03-15 15:33] ragesoss commented on #1518
All of the ones that were detected automatically, except for Conditional which doesn't seem to be actually possible to convert, are done. There are more that could be converted with a bit of work, but we don't need a tracking issue for them; we'll convert them as they come up if it seems helpful.

[2018-03-15 15:33] #1518 closed

[2018-03-15 17:37] #1496 closed

[2018-03-15 17:48] ragesoss commented on #1796
Also, the service object can be put to use in `setup/populate_dashboard.rb`. Not being able to call the controller method from that script while I was writing it was the motivation for this issue.

[2018-03-15 18:07] AmitJoki commented on #1744
This might be worth reading: https://stackoverflow.com/questions/39463134/how-to-store-emoji-character-in-my-sql-database

[2018-03-15 18:33] ragesoss commented on #1794
I've been trying to debug this on the server, but I can't get to the bottom of it. The behavior from the screenshot is a different failure mode from the one I posted the stack trace for above. With the stack trace one, it's (ultimately) a Ruby error, which results in a 500 response and the spinner just keeps spinning forever.

The screenshot is for a 404 error, which probably means an error in the

[2018-03-15 22:49] ragesoss opened #1801 "Implement ORES histogram plots in javascript"
Currently, we have some graphs that illustrate the distribution of ORES scores before and after a course or campaign. This is shown for individual courses on the Articles tab, the ORES tab for campaigns, and can also be generated with some customized parameters via `/analytics`.  All these plots are currently done with `HistogramPlotter`, which uses `Rinruby` to generate the graphs with `R`.

Hist

[2018-03-15 23:17] ragesoss opened #1802 "Add ability to view and set SpecialUsers via /settings"
Some users have specific unique roles on the Dashboard, such as being the recipients of certain emails. These roles are stored in the `special_users` Setting record, and are accessible via the `SpecialUsers` presenter.

The super-admin-accessible `/settings` page should display these special users and allow them to be set or changed.

[2018-03-15 23:32] ragesoss opened #1803 "Convert `/alerts_list` to React"
The /alerts_list view could be converted to React and reuse the new AlertsList component from Campaigns, which just a little extra work to allow it to do the additional things that /alerts_list currently does. Instead of linking to individual alerts, it can receive all the data for each alert, and render it view clicking a single alert or somesuch.

[2018-03-15 23:45] ragesoss opened #1804 "Provide a convenient way to switch between 'Wiki Education' and 'Programs & Events' configurations"
There are a number of different configuration options in the dashboard, mostly accessed via the `Features` presenter.

Many of these things — get help button, open course creation, language switcher, onboarding, default course type — no longer really need to be configurable independently. They are all one way on P&E Dashboard and another way on Wiki Education dashboard.

There should be basically

[2018-03-16 00:07] ragesoss opened #1805 "Onboarding supplementary form should ask about 'why are you here'"
Maybe something like a multiple choice with 'other' free text: 'I want to teach with Wikipedia this term', 'I want to teach with Wikipedia next term', 'I want to learn more about teaching with Wikipedia', 'Other'

[2018-03-16 05:24] srish commented on #1796
I am almost done working on this issue, most likely will send PR tomorrow!

[2018-03-16 15:14] #1783 closed

[2018-03-16 15:54] ihsavru commented on #1792
Working on it :+1:

[2018-03-16 15:54] AmitJoki commented on #1804
Can you provide some sort of pseudo code as to how you're expecting to call the switch?

[2018-03-16 15:57] ragesoss commented on #1804
Probably the simplest option would just be to replace many of the ENV config variables in application.yml with a single one, `wiki_education = 'true'`. So to switch, you would change that value in application.yml.

[2018-03-16 16:25] AmitJoki commented on #1804
Where can I find Programs and Dashboard `application.yml` file?

[2018-03-16 16:26] #1768 closed

[2018-03-16 16:26] #1769 closed

[2018-03-16 16:29] ragesoss commented on #1804
There isn't one.

disable_help?, disable_onboarding?, disable_onboarding?, wiki_trainings?, enable_language_switcher?, enable_account_requests? ... should all be true for P&E Dashboard and false for Wiki Education Dashboard.

enable_get_help_button?, wiki_ed? ... should be false for P&E Dashboard and true for Wiki Education Dashboard.

[2018-03-16 19:05] ragesoss opened #1807 "DiffViewer is partially hidden by course navbar"
The addition of `z-index` 0 to the `course-main` class is making the DiffViewer render beneath the course nav.

For example, click one of the +/- buttons here: https://dashboard.wikiedu.org/courses/University_of_Southern_California/Social_Media_for_Scientists_and_Engineers_(Spring_2018)/articles

![overlap](https://user-images.githubusercontent.com/848483/37539829-18aacb60-2912-11e8-9a8a-a3f33bd12

[2018-03-16 19:05] ragesoss commented on #1807
@ihsavru want to have a look at this one?

[2018-03-16 19:12] ragesoss commented on #1807
If there's a simple CSS solution, that's ideal.

Alternatively, one way to make sure the notifications appear would be to insert another copy of the `Notifications` component into the modal itself.

[2018-03-16 21:51] ragesoss opened #1808 "Uploads should be imported during normal course updates"
Currently, we update uploads as part of the DailyUpdate cycle because it takes a very long time. That is mostly because, unlike with Revisions and Articles, we don't time-bound the request for commons activity very well.

The result is that, while article stats are up to date, uploads are not updated for quite a while after a short-running program.

[2018-03-16 21:55] ragesoss opened #1809 "Page views should used average views for an article, rather than actual views based on revision timestamps"
The pageviews calculations are one of the major stats bottlenecks, because we try to keep track of actual cumulative view counts (for every revision) on a continual basis. Currently, on P&E Dashboard the view updates are taking several days per run.

A better, more intuitive, easier-to-maintain way to do this would be to just store average page views for each article and use that to estimate cumul

[2018-03-17 00:36] #1808 closed

[2018-03-17 02:58] srish opened #1812 "No notification popup is shown when multiple users are added"
When an organizer adds multiple users to an event, there is no notification reflecting whether the operation finished or not. Also, the page just reloads.

While, in the case of adding a single editor, a notification popup shows up and the page redirects to the `/editors` page if there are no errors. We could probably do the same for the other one too.

[2018-03-17 06:06] psinghal20 commented on #1801
Hi @ragesoss, I would like to work on this issue next if no one is working on this. Currently, when I tried to access the ORES plots for a campaign in my master branch, I met with a 500 internal server error and the similar tech stack error as you mentioned on the other issue. Can you please elaborate more on the graphs that we are using as I am not much familiar with R and the particular estimate

[2018-03-17 14:17] ragesoss commented on #1801
A local 500 might be because you need to install ggplot2 in your R
environment.

On Mar 16, 2018 11:06 PM, "Pratyush Singhal" <notifications@github.com>
wrote:

[2018-03-17 14:39] ragesoss commented on #1812
I'm not clear about what you're describing here.

The add-multiple-users-at-once form looks like this after you submit it, showing the result for each username you tried to add.

![add users results](https://user-images.githubusercontent.com/848483/37556610-dacea6dc-29b5-11e8-863b-7981134f43c9.png)

It was implemented in a quick-and-easy way using only Rails views, rather than trying to integrate

[2018-03-19 15:08] ragesoss opened #1827 "Improve course page and assignment talk page template usage"
The talk page template currently takes params for the course and the list of users either assigned to or reviewing a given article. For example, https://en.wikipedia.org/wiki/Talk:Language_and_gender

It might be useful to include additional information, either directly in the template, or indirectly with Lua from some kind of structured form based on the course param, to pull in additional info,

[2018-03-19 15:37] #1796 closed

[2018-03-19 18:25] ragesoss opened #1828 "User stats query does not work when username includes `&`"
This user, for example: https://outreachdashboard.wmflabs.org/users/Here&elsewhere

The username comes through as just `Here`, causing an error in the controller:

[code]

Either the username needs to be URI-encoded (on the javascript side), or the query can be done with POST.

To replicate this, add user `Here&elsewhere` to a course locally, and then visit `/users/Here&elsewhere`.

[2018-03-19 19:24] ragesoss commented on #1801
Here's the Vega feature that looks like it's the relevant thing: https://vega.github.io/vega/examples/probability-density/

Basically, it's a smoothed histogram. `HistogramPlotter` uses R to do something similar, plotting two overlapping distributions: ORES wp10 aggregate scores before and after (either before edits from a course, or before edits during a campaign). (HistogramPlotter can do it as

[2018-03-19 20:48] psinghal20 commented on #1801
Thanks for the info. I will take a look at the mentioned vega example for clarity. Will update you on my progress as soon as possible.

[2018-03-19 21:59] #1764 closed

[2018-03-19 23:31] psinghal20 commented on #1828
@ragesoss We can encode the username using `encodeURIComponent` method. I checked locally, worked fine. If you think using POST method is better alternative than I can try that instead.

[2018-03-19 23:32] ragesoss commented on #1828
@psinghal20 `encodeURIComponent` is fine with me.

[2018-03-20 00:14] #1828 closed

[2018-03-20 01:54] psinghal20 opened #1830 "Expected students input field in Edit details modal disappears when the input field is empty"
When a user manually tries to enter the number of expected students in the input field, if the input field gets empty, the input disappears.
It maybe caused because the `expected_students` field value getting `null` in `details` component.
**ScreenShot**:
![expectedstudentsissue](https://user-images.githubusercontent.com/23720731/37631398-8803b756-2c0f-11e8-8be0-9a26002a72c4.gif)

[2018-03-22 22:58] #1493 closed

[2018-03-22 23:34] ragesoss opened #1833 "Switch to headless Chrome as the driver for feature specs"
Our current driver for browser tests is Poltergeist, which uses the now-unmaintained PhantomJS to run headless browser tests.

We can likely replace this with headless Chrome, which has been available for some time now. There will likely be some trial-and-error getting the configuration worked out properly; in preliminary exploration, I was able to get some tests to pass but ran into trouble relat

[2018-03-22 23:58] psinghal20 commented on #1833
@ragesoss Glad to hear we are trying to shift to Headless chrome. I read several good reviews about its performance. As I have a couple of issues assigned to me right now, I think I will wait before taking this on though I am really interested. I have found several articles describing the advantages of headless chrome over PhantomJS. These also describe the process of shifting to headless Chrome.

[2018-03-23 17:15] ragesoss opened #1834 "RatingImporter.update_all_ratings is too slow"
Currently, the RatingsImporter.update_all_ratings step of `DailyUpdate` is quite slow on Programs & Events Dashboard, taking about 4 hours. I'm not sure, but I suspect there may also be memory bottlenecks from loading too many Article records into memory at once.

The main thing that will help would be to use threads to update the ratings concurrently. See, for example, RevisionScoreImporter.

[2018-03-23 19:08] ragesoss opened #1835 "Use babel-plugin-lodash and lodash-webpack-plugin to reduce bundle size"
In our javascripts, lodash makes up a moderate portion of the bundle size. We can probably save much of that by adding `babel-plugin-lodash` and `lodash-webpack-plugin` to the build. See https://nolanlawson.com/2018/03/20/smaller-lodash-bundles-with-webpack-and-babel/

![bundle analyzer](https://user-images.githubusercontent.com/848483/37848829-c511a916-2e92-11e8-8766-c68e8c568d8a.png)

[2018-03-23 20:19] yunjuc commented on #1830
I'll take a look at tihs.

[2018-03-23 22:05] ragesoss opened #1836 "`jQuery.Deferred exception` is adding noise to some feature specs"
This doesn't appear to be causing any specs to fail, but it may still be a flaw in the javascript code.

There are several places this happens in the travis builds, such as:

[code]

[2018-03-23 23:17] #1789 closed

[2018-03-25 09:18] bekicot commented on #1802
I'm currently working on this, do you mind to assign this to me?

[2018-03-26 16:55] ragesoss commented on #1802
@bekicot we don't usually use the 'assign' feature, but thanks for taking this on!

[2018-03-28 16:56] #1792 closed

[2018-03-28 17:12] #1469 closed

[2018-03-28 20:15] ragesoss opened #1842 "Replace jquery-uls with a simpler dropdown language selector"
We're using a forked version of the Wikimedia jquery universal language selector to let users choose their locale. However, the global jquery dependency is not ideal, we can't easily update it because it relies on bootstrap class names that we changed in our fork, and we don't really need the full complexity of it. A simpler language dropdown selector would fine, and would let us cut out the separ

[2018-03-28 20:20] #1807 closed

[2018-03-30 22:40] ragesoss opened #1843 "Generate alerts when a student moves a page from User: or Draft: space into mainspace"
* Query for recent move log, since start of previous update cycle: https://en.wikipedia.org/w/api.php?action=query&list=logevents&letype=move&leend=2018-03-29T14:33:10Z&lelimit=500&lenamespace=118
* Match those against usernames from current courses (`User.current.pluck(:username)`)

[2018-03-31 00:44] johncoleman83 commented on #1787
How is this update going?  What stage would the docker images/containers be used for?  Development?

[2018-03-31 03:54] tuxology commented on #1787
@johncoleman83 Sorry, I got context switched between other stuff and didn;t keep my promise :disappointed: I have a basic Dockerfile ready for testing. Was having some issues in the DB container (where I have to install and initialize the DB) I am trying to either separate the app/DB containers or would just put them in same container for testing. Expect some updates on this Sunday (1st April)

[2018-03-31 03:57] yunjuc commented on #1787
Hi, her is a quick intro to everyone. John is my friend and there is a docker hackathon coming up. We want to take the ideas of using docker to create a dev environment to compete, thus the questions.

[2018-03-31 04:01] johncoleman83 commented on #1787
Thanks @tuxology... @yunjuc, I think for the docker hackathon we should wait for @tuxology updates & or use his branch if he isn't merging to master.  There might be a need to have this finished before the hackathon as well.  But there may be a chance to build off of their start of using docker.

[2018-03-31 04:04] johncoleman83 commented on #1787
p.s. @tuxology I've had more success with DB's in their own containers (that's with mysql).  @yunjuc, I think you should definitely wait for these updates because they are doing exactly what you wanted to start.

[2018-04-01 16:50] Adjoa commented on #1843
Gonna be working on this. :+1:

[2018-04-02 07:55] srish commented on #1842
I would like to work on this issue, and I've started to understand the code flow a bit.

[2018-04-02 08:38] tuxology commented on #1787
@johncoleman83 @yunjuc I have included a Dockerfile and a pre-built image to test with in #1844. Its pretty easy to use and spins up a dashboard. In the next iteration, I'd move the DB creation & migration part to a separate script to initilizae DBs independently of the app. I propose we get this in first though and then incrementally update it such that we have a dev/test as well as a deploy setu

[2018-04-02 14:02] tuxology commented on #1834
Since there is a `performance` tag on this, I have a moral imperative to try fixing this. In other words, I am on this 😉 Also, I will find why the loads were slow. Can you assign this to me?

[2018-04-02 19:36] ragesoss commented on #1834
Great! The individual loads are not particularly slow, I don't think... there are just a whole lot of them done in serial during the `DailyUpdate` process. I can assign this once you accept the invite to the github team.

[2018-04-02 22:20] ragesoss opened #1846 "Images in timeline blocks don't translate properly to on-wiki course pages"
See https://dashboard.wikiedu.org/courses/University_of_Washington/LIS_584_-_Knowledge_Management_(Spring_2018)

https://en.wikipedia.org/wiki/Wikipedia:Wiki_Ed/University_of_Washington/LIS_584_-_Knowledge_Management_(Spring_2018)#Week_6

[2018-04-03 10:34] psinghal20 commented on #1835
Hi @ragesoss, I implemented the `babel-lodash-plugin` and was able to reduce the size of lodash in the bundle to stat size of 110 kB which earlier was around 527 kB. I am still experimenting with the `webpack-lodash-plugin`.
Screenshot:
![screenshot from 2018-04-03 16-03-23](https://user-images.githubusercontent.com/23720731/38244553-a96ada92-3758-11e8-8254-62e73b39b42d.png)

[2018-04-03 19:49] srish commented on #1842
I am a bit stuck on this issue! So, following the same approach as Pageviews does, I considered writing a function in `/language_switcher.js`, make it extract all available languages (from `/i18n/ `) and then populate them in the drop-down selector. As a first step, I tried using the npm package glob. But, I am running into the following error: `Module not found: Error: Can't resolve 'fs' in '../P

[2018-04-03 21:01] #1330 closed

[2018-04-03 22:24] ragesoss commented on #1842
@srish if you push your WIP to github, I can take a look.

There will be many ways of doing this.

To recap the overall set of things going on:
* language_switcher.js uses jQuery to load and configure the language switcher and define the behavior when a language is selected. This is included in main.js, so it happens once when the page is loaded.
* uls_box.jsx is a React component that reloads/rec

[2018-04-04 15:06] #1787 closed

[2018-04-04 18:05] ragesoss opened #1847 "Articles tab for campaigns may time out if there are too many articles"
We need to add pagination... maybe 1000 per page.

[2018-04-05 07:14] srish commented on #1842
@ragesoss This information was much helpful! I've made some progress on this issue and my changes are currently [cooking up here](https://github.com/WikiEducationFoundation/WikiEduDashboard/compare/master...srish:language-selector).

I've to do a few more things before sending the pull request:
* Include `Help translate` in the options
* Add an icon beside the language selector
* Modify the test c

[2018-04-05 16:59] ihsavru commented on #1847
Should it be something like the "See More" button on Activity Tab or separate pages with page numbers?

[2018-04-05 17:14] ragesoss commented on #1847
Since this is currently done with a Rails view, I think pagination will be the best option.

[2018-04-05 18:08] ragesoss opened #1848 "Download stats modal appears underneath Milestones component"
![stacking problem](https://user-images.githubusercontent.com/848483/38383129-82cae940-38c0-11e8-9c99-5b5fb1126868.png)

This appears to be related to Milestones having `position: relative` from the `module` class, but there are other components on the page that also have the `module` class but don't have this behavior. I don't understand the CSS well enough to diagnose the problem, but if we can

[2018-04-10 14:08] #1847 closed

[2018-04-10 16:53] ragesoss opened #1851 "Extend article rating support to additional wikis"
The PageAssessements API of Wikipedia is now enabled on Arabic and Turkish Wikipedias ([with more to come](https://phabricator.wikimedia.org/T120219)). RatingImporter should add support for those wikis.

This will probably make sense to implement after #1834 is complete.

[2018-04-13 14:56] ragesoss opened #1852 "Replace multiendpoint CoursesController#show action with separate actions for each"
A high proportion of traffic goes through the the `show` action, which is responsibile for variably rendering many different course-specific JSON views (see `SHOW_ENDPOINTS`).

Performance monitoring tools treat these all as the same endpoint, so it's not easy to single out performance problems with a single view.

Pulling the whole set of `show` endpoints to a separate namespaced sub-controller,

[2018-04-13 19:07] ragesoss opened #1853 "When stats for a course are updated, there should be a visual indication of the update"
Some courses — editathons while they are going on, in particular — automatically refresh the stats while the home tab is open.

It would be nice to add some subtle visual indication when the stats change. I'm not sure what that would look like exactly. Maybe some CSS animation of the stats that fades out within a second or two. (It should only happen if the stats actually change, not when the stat

[2018-04-14 06:54] yunjuc commented on #1848
Where is the download? I've been poking around but still can't find it...

[2018-04-14 15:26] ragesoss commented on #1848
@yunjuc it will show up in Available Actions on the home tab if the course is 'published' (ie, has at least one campaign) you are an admin or instructor for it.

[2018-04-14 22:10] yunjuc commented on #1848
There is the fix, the why I'll have to think about it.

[2018-04-14 23:29] yunjuc commented on #1848
The relative attribute has two functions - to set custom position for itself and to allow the child elements to set custom position. (https://www.w3schools.com/css/css_positioning.asp).

I didn't see custom position setting in `.module`, and after I removed `position: relative`,  `Actions` and `Milestons` stay in the same position, so that removes the first concern.

For the second concern, I did

[2018-04-16 23:43] yunjuc commented on #1848
I tried a few things such as replacing `.milestone` with `.action` and the issue persists, so it's most likely `.module` caused the issue.

I still can't find the `syllabus-upload`, `enroll-card` and `my-articles` in the app, looking at the code they seem to be unaffected.

I further removed some child elements code since `position: relative` isn't there anymore. If issue comes up, the alternative

[2018-04-16 23:48] ragesoss commented on #1848
EnrollCard appears if you put ?enroll at the end of the url.

MyArticles appears if you are enrolled as a student. (You can create a
CoursesUsers record with role 0 to test this.)

SyllabusUpload won't be in use at the same time as the stats modal.

On Mon, Apr 16, 2018, 4:43 PM Yunju Chen <notifications@github.com> wrote:

[2018-04-18 19:05] ragesoss opened #1856 "Campaign Alerts list is not shown on mobile"
When it switches to mobile layout, the list just disappears: https://outreachdashboard.wmflabs.org/campaigns/artfeminism_2018/alerts

[2018-04-19 01:44] #1848 closed

[2018-04-19 02:14] yunjuc commented on #1848
@ragesosa I saw you just closed this. I meant to take another look for the failing checker. What was it about?

[2018-04-19 02:39] ragesoss commented on #1848
@yunjuc it was failing because a new version of rubocop was release, and the CI build was misconfigured to install and use the latest version of rubocop rather than the one from Gemfile.lock.

I fixed that with https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/e36acfbbbfe8fc2d1a643822541158f3fa92f1b3

I tried out your patch locally and couldn't find any style regressions, so I mer

[2018-04-20 14:40] ragesoss opened #1857 "Course page should have a description of expected stat scope and update behavior"
Based on the course type, home wiki, assignments, and dates, there should be a description of how the dashboard will track the course. For example, an Editathon with ar.wiki as the home wiki, as assignment for es.wiki, and an end date one week from now should say something like: "Edits for this program from ar.wiki, es.wiki, and wikidata will be tracked through [end date]. The dashboard will conti

[2018-04-24 14:12] wendyyuchensun commented on #1856
Hi @ragesoss, I'm Wendy, a web developer from Taiwan. I came across this issue few days ago and found that I can fix it. I've created a [pull request](https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/1859). Hope it helps!

[2018-04-24 14:18] ragesoss commented on #1856
Thank you! Does this affect the Articles list on a course page? I imagine
that class was reused here for convenience but was initially designed for a
different table.

On Tue, Apr 24, 2018, 7:12 AM Wendy Yuchen Sun <notifications@github.com>
wrote:

[2018-04-24 14:19] wendyyuchensun commented on #1856
@ragesoss Let me have a look. I'll get back to you asap. :)

[2018-04-24 14:31] wendyyuchensun commented on #1856
Hi @ragesoss, the Article list should be fine. It does not contain any `<Alert />` component, which is what I've changed.

[2018-04-24 16:54] #1830 closed

[2018-04-24 20:49] MusikAnimal commented on #1851
Hungarian and French are now supported, too.

I don't know how you expose assessments in the Dashboard, but if you care about the wiki's preferred colours and icons for classification/importance levels, you may be interested in the XTools API for this: https://xtools.wmflabs.org/api/project/assessments I am committed to keeping this up-to-date, so you can programatically know which wikis are suppo

[2018-04-26 18:00] #1856 closed

[2018-04-28 01:07] srish commented on #1833
On a similar note, testing with Poltergeist was tedious until I found that `page.save_screenshot('/path/to/file.png' full: true)` feature exists and it was helpful to test rendering of UI elements that way.

[2018-05-01 16:55] ragesoss opened #1861 "Add language names for available locales that lack them"
We just switched to a simple dropdown language picker in place of the jquery universal language selector. To provide language names that correspond to the locale codes, we started from an iso 639-1 data set that has names for all of the two-letter language codes: https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/app/assets/javascripts/utils/language_names.js

For the other av

[2018-05-01 18:35] ragesoss commented on #1842
Done!

[2018-05-01 18:35] #1842 closed

[2018-05-02 20:52] ragesoss opened #1862 "Instructors should receive an end-of-the-week summary email during active weeks"
To make sure instructors are keeping up with the work their students are doing, and familiarize them more with what the dashboard can show them, it would be cool to send out an end-of-the-week email that shows stats for what their class did over the last week.

[2018-05-02 20:54] ragesoss opened #1863 "Instructors should receive an end-of-term summary email"
Similar to #1862, a summary email recapping the overall stats, possibly including an ORES graph or other visualization of cumulative work, would be a nice thing to send out at the end of a course.

[2018-05-02 20:55] ragesoss opened #1864 "Students should receive emails when they are overdue on training modules"
An email reminder when the due date of an incomplete training module (or set of modules) passes would likely do a lot to ensure students are doing all of their assigned trainings.

[2018-05-03 05:18] yunjuc opened #1865 "Dockerfile testing results"
I tested the new dockerfile and had some issue accessing `localhost:3000` in the browsser. After @ragesoss made some tweaks to the dockerfile, now I am able to start a working container on my laptop. A couple of glitches for me at the moment are:

1. When I open a new page in the browser, I get `The page is not working localhost didn’t send any data`, the page will get displayed after refreshing a

[2018-05-03 19:50] ragesoss opened #1866 "Make sidekiq workers start on system boot"
Currently, the sidekiq workers that get started/restarted in the deployment process are pretty stable; no worker has died unexpectedly in a long time.

However, if the server gets restarted, the workers will not be restarted. This means edits and data updates are not done until the workers are restarted manually.

Let's find a good way to ensure that, by default, the workers are ready on productio

[2018-05-03 19:53] ragesoss opened #1867 "Lower the concurrency on the default sidekiq queue"
This is the queue that processes wiki edits and other jobs besides the update processes. When it has a backlog (which only happens if the workers are offline for a while), then when processing starts there are too many concurrent requests, resulting in 429 errors for some of them.

We could easily scale the concurrency for that queue back dramatically, maybe even down to 1 or 2.

[2018-05-07 23:18] #1867 closed

[2018-05-07 23:23] ragesoss opened #1868 "Dashboard should support recurring events"
Some campaigns involve a regular series of events, for example, an edit-a-thon that happens every Monday from 2-4pm.

The dashboard should provide some kind of support for automating the setup of such events. Maybe this would just be at the setup phase: a tool for creating a whole series of events at once, with a calendar picker to choose the dates, so that many events in a series could be set up

[2018-05-09 17:02] ragesoss opened #1869 "Convert campaign /programs tab to React"
Converting the program list to React will be helpful, especially because it will enable filtering of the list, eg, to show only events that are currently going on.

See also #1756

[2018-05-12 13:34] ihsavru opened #1870 "Implement a justified gallery layout on Uploads tab"
A justified gallery would fit many more images for a better overview.

[2018-05-18 21:11] #1804 closed

[2018-05-21 18:12] #1870 closed

[2018-05-25 10:45] jstoebel commented on #1738
I'd like to give this one a shot, but I think I need a little more context. Could you give me some pointers on how to get started?

[2018-05-25 13:47] jstoebel commented on #1852
I'm going to take a stab at this one

[2018-05-25 15:31] ragesoss commented on #1738
@jstoebel sure!

The basic idea is for someone running a course to be able to review the list of articles edited and mark some of them to be excluded from the statistics and the list of edited articles.

For example, in [this event](https://outreachdashboard.wmflabs.org/courses/Wikimedia_Chile/WikiGap_Santiago_(2018)/articles), one of the participants made an edit totally unrelated to the event to

[2018-05-25 15:57] ragesoss commented on #1738
More concretely in terms of getting started, here would my approach:
1. Implement `FilteredArticle`, along with new `:revisions` relations in `Editathon` and `BasicCourse` that override the basic implementation in `Course` to exclude revisions for the filtered articles. (See `ArticleScopedProgram` for a similar situation.)
2. Add a method to indicate whether filtered articles are enabled, for each

[2018-05-25 16:29] ragesoss opened #1877 "Data download options should include aggregate CSV of edits for a campaign"
We have the option to download all the edits for a course, via the 'Download Stats' modal. A similar option for an entire campaign (like the others currently accessible from /campaigns) would be useful.

[2018-05-25 21:25] yunjuc opened #1878 "Notification banner doesn't display properly on the Training page"
On program & event dashboard, the notification banner is off place and doesn't display properly on the Training page.
https://outreachdashboard.wmflabs.org/training

[2018-05-25 21:27] ragesoss commented on #1878
This is because the training layout uses a completely separate stylesheet. Copying over the relevant styles from the main css to one of the training css files will probably fix it.

[2018-05-31 22:07] ragesoss opened #1881 "Upgrade react-burger-menu and fix styling"
It looks like there's a style regression when the `react-burger-menu` node module is updated to the latest version (2.5.0 as of now). Perhaps some CSS class names or html elements changed, breaking our styling of the 'questions' input.

Run `yarn upgrade react-burger-menu@2.5.0` (or later, if a newer version is available), then start `gulp` to build the assets, then fix the styling regression.

Se

[2018-06-01 15:32] yunjuc commented on #1853
How can I simulate the data update? I tried to add new editors to a course and ran `rake batch:update_constantly` but nothing changed?

[2018-06-01 15:49] ragesoss commented on #1853
@yunjuc there are two parts to this.

On the server, the stats need to actually change; that normally only happens if there are additional Wikipedia edits that happened since the previous update, but you can simulate it by directly modifying the `Course` record in the rails console. For example, `Course.last.update(article_count: 101)`.

On the browser side, if the 'home' tab of a course is open,

[2018-06-01 16:01] ragesoss commented on #1853
@yunjuc `update_constantly` is a little different than it was a few months ago; it's no longer what fetches new data for courses. The easiest way to do that for a single course is to add `/manual_update` to the end of the base URL. The way we do it now on the server is via `rake batch:schedule_course_updates`; that puts all the courses that need to be updated into the Sidekiq job queue, but those

[2018-06-01 16:15] yunjuc commented on #1853
Ok, I'll try that. I'm also trying to find a way to re-format 1000 to 1k on the frontend. Right now it's done with `number_to_human` but the 'k' can't be animated because it's not a number.

[2018-06-01 16:21] yunjuc commented on #1853
Also, the `byte_added` count doesn't format the number so it runs long and overlaps with next number sometimes, like this one:
https://outreachdashboard.wmflabs.org/courses/Wikidata/Wikidata_WikiProject_India

[2018-06-01 23:48] ragesoss commented on #1853
@yunjuc the campaigns are currently all done server-side, but change the numbers for one of the courses should be all it takes to change the campaign numbers.

[2018-06-02 00:31] yunjuc commented on #1853
That's weird, I updated article edited count in one course, but the number is not updated on the campaign page. Maybe it's my database, it has been acting weird.

I ran the setup script last week and my localhost changed from wikiedu dashboard to program & event dashboard with some old data carried over. I'll figure out what happened after I finish this.

[2018-06-02 01:10] ragesoss commented on #1853
There is a new setting in application.yml, `wiki_education = 'true'`, which controls whether it will be the Wiki Education Dashboard configuration or the Programs & Events Dashboard configuration.

But the campaign page should show numbers based on the courses in that campaign. `app/views/courses/_header_stats.html.haml` is the template that renders the aggregate stats for a campaign, and it does

[2018-06-04 02:05] yunjuc commented on #1853
How can I insert a piece of jQury code into course page? I was able to add it to the campaign page, but can't figure out how to do it with course page.

[2018-06-04 04:33] yunjuc commented on #1878
How can I create a notification?

[2018-06-04 05:21] yunjuc opened #1883 "Campaign > Articles table runs over container range"
The article table under Campaign > Articles is out of the border on the live site, but looks normal on the local dev environment.
https://dashboard.wikiedu.org/campaigns/spring_2018/articles

[2018-06-04 16:27] ragesoss commented on #1883
Hmm... I guessing it's from long course names in the last column. Maybe we can make it wrap instead?

[2018-06-04 19:54] ragesoss commented on #1853
I'm not sure exactly, but I think the generally idea would be to call some jQuery from a React component lifecycle callback, such as `componentDidMount`. That way it runs after the React component has already been rendered into the DOM, so that jQuery can find it and modify it. See https://reactjs.org/docs/integrating-with-other-libraries.html

However, I don't think this kind of thing should be d

[2018-06-11 22:00] robotscissors commented on #1877
@ragesoss I am a new contributor, I would like to work on this.

I may have a few follow-up questions :)

[2018-06-12 00:41] ragesoss commented on #1877
@robotscissors cool! Ping here, ask on Slack, for any questions you have.

[2018-06-12 16:31] robotscissors commented on #1877
Hi @ragesoss,
Having trouble with the installation process. I am almost there, but need a nudge.

OS: Mac Sierra
I have installed on two separate machines.

Used two methods (manual and script)
- Succeeded in getting through mysql installation.
- Rails s - server starts nicely
- localhost:3000 produces the following error:
No such file or directory @ rb_sysopen - /Users/christopher/work/bloc/wiki-

[2018-06-12 16:59] ragesoss commented on #1877
@robotscissors try `npm install -g gulp` (or `sudo npm install -g gulp`), then re-run `gulp build`.

[2018-06-12 17:23] robotscissors commented on #1877
@ragesoss, I appreciate the attention.

`sudo npm install -g gulp` then `gulp build`

Yielded this:

Let's go (~/work/bloc/wiki-dashboard$) > gulp build
[10:18:48] Failed to load external module @babel/register
[10:18:48] Failed to load external module babel-register
[10:18:48] Failed to load external module babel-core/register
[10:18:48] Failed to load external module babel/register
/Users/christ

[2018-06-12 17:24] ihsavru opened #1895 "Add uploads count in the CoursesUsers model"

[2018-06-12 17:27] ragesoss commented on #1877
Hmmm.... haven't seen that before.

Did you get any error messages when you ran `yarn`?

Also, what version of nodejs are you using? (`node -v` or `nodejs -v`)

[2018-06-12 18:37] robotscissors commented on #1877
YOU were right! I needed to downgrade node.
Node was at 10.X and I did `rvm use 9` and now I see the home page. Thank you!!

[2018-06-12 21:00] ragesoss opened #1896 "Extend ORES graph support to all langauges that have WP10 ORES model"

[2018-06-13 22:01] robotscissors commented on #1877
Hi @ragesoss, I plan on adding a link on the page below. Perhaps a link that says: Edit Statistics or All Edits?

Very well written application and I am still looking through it. Am I on the right track?

<img width="1070" alt="screen shot 2018-06-13 at 2 57 49 pm" src="https://user-images.githubusercontent.com/24664863/41380649-876c4346-6f1a-11e8-8636-ddcc313afce6.png">

[2018-06-13 22:09] ragesoss commented on #1877
Thank you!

Yep, that's the place for it for now. 'all edits' would be a good label.

At some point, we'll move all these links for each campaign to the `home` view for that campaign, and make `/campaigns` table use the same row layout as the `/explore` page, which shows stats for each campaign. But meanwhile, this is the place that makes sense.

[2018-06-18 15:57] #1895 closed

[2018-06-18 23:39] ragesoss opened #1903 "Document and consolidate usage of SVG assets"
We have a couple of different patterns in use for serving SVG assets. More recent SVGs are in `app/assets/images` while older ones are in `app/assets/svg`.

The ones in the `svg` directory were compiled in icon fonts in `app/assets/icons`, presumably through the use of the `icon-font` gulp task (`gulp/tasks/icon-font.js`). However, `gulp icon-font` throws an error.

Both the font-based icons and t

[2018-06-19 18:31] ragesoss commented on #1440
Resolved with e9cc94bf9e4490f206364e15bc13878e2e5f6473 and 62f5fb1007976af148c83396951a21053b916f45

[2018-06-19 18:31] #1440 closed

[2018-06-22 17:34] ragesoss commented on #1175
Backward-compatible means it should use the same mediawiki template parameters it currently uses, but also add additional ones. That way, if the template gets updated to use the new parameters then it will show additional instructors, but if a call to the same template just has the old parameter, it will keep the current behavior.

[2018-06-22 18:28] urbanecm opened #1908 "Allow admins to edit courses of their wiki"
I think it is useful for admins to be able to edit courses of their wiki (precisely, courses with admin's wiki as a home wiki). Admins are trusted wikipedians anyway, have a lot of on-wiki permissions and it makes sense to allow them to edit the dashboard courses as well (just as it was possible with https://www.mediawiki.org/wiki/Extension:Education_Program).

[2018-06-22 21:37] ragesoss opened #1909 "Encoding error from unicode character in course_prefix from application.yml"
This new implementation from 15313bb6f4ddce5c73cc32b3067a4433c30ea955 caused a production-only error: `ActionView::Template::Error: incompatible character encodings: ASCII-8BIT and UTF-8`

[code]

It breaks course pages for cs.wikipedia, where the course prefix was set to 'Project:Nástěnka'.

[2018-06-23 21:41] urbanecm opened #1910 "Propose course page for deletion when the course is deleted"
The dashboard empties the course on-wiki page when the course is deleted. More useful it will be if it can be proposed for speedy deletion. On all Wikipedias, this happens by inserting a template. On Czech Wikipedia, it should be {{smazat|justification, for example course was deleted}}.

Maybe the Dashboard OAuth customer can be extended with the delete right, but I think "just" proposing deletion

[2018-06-26 22:48] ragesoss opened #1915 "Course Creator datepicker may be off-screen"
For the Wiki Education config where precise times are not used in the course creator, the full-width start and end date fields can cause the datepicker to render off-screen.

This could be fixed by limiting the width of the parent divs of those fields to about 65% (but only when times are not used).

![cut off datepicker](https://user-images.githubusercontent.com/848483/41943460-5f116050-7958-11e8

[2018-06-29 02:34] NickSchimek opened #1918 "Use of local time zone retrieval is causing a test to fail"
The test `./spec/lib/alerts/overdue_training_alert_manager_spec.rb:23` only fails after 5pm PST due to the way the `overdue` method retrieves the current date.

The computed_due_date is a UTC date and it's being compared against a local time zone date, hence it only fails when UTC and the dev's local date are not matched.

File: `lib/training_module_due_date_manager.rb`
[code]

Is it possible to u

[2018-06-29 04:08] ragesoss commented on #1918
Whoops!

Looks like changing it to `Date.current` causes a different spec in that file to fail (when local and UTC dates differ).

We could change `Date.today` to `Time.zone.now.to_date`, and make the same change in `training_module_due_date_manager_spec.rb`.

[2018-06-29 04:09] ragesoss commented on #1918
(This has never showed up in CI because it runs on systems set to UTC, I think.)

[2018-06-29 04:39] NickSchimek commented on #1918
hmmm interesting. I didn't get any additional failures in that file when changed to Date.current, although Time.zone.now.to_date is fine too

[2018-06-29 17:29] #1918 closed

[2018-06-29 18:08] ragesoss opened #1921 "Explore page should have a course search feature"
As the number of courses grows, it becomes less practical to find a particular program you are looking for starting from `/explore`. Being able to search for courses (by matching something in the title or school, or by alternatively searching by instructor/facilitator) would improve the usability of this page considerably.

[2018-06-29 18:14] ragesoss opened #1922 "Add `Institution` model so that courses can be grouped by school/institution"
Having a new model for Institution would allow us to build features like an aggregrate page for all courses from the same university, and a map that shows the distribution of courses (based on the locations of their institutions).

The tricky part of this will be migrating the existing data; we will need a path to first create institution records based on all the different `school` values in exist

[2018-06-29 18:20] ragesoss opened #1923 "User Profile should provide links to contributions for every wiki the user has dashboard-tracked edits on"
Currently, it defaults to linking to the home wiki of the last course they participated in.

Figuring out how to handle the case of multiple links will require a some design work: https://outreachdashboard.wmflabs.org/users/Ragesoss

[2018-06-29 18:21] ragesoss opened #1924 "Allow profile pics from Commons"
Currently, we store the user profile pic locally. It would be nice to allow a user to choose an existing photo from Wikimedia Commons as an alternative.

[2018-06-29 18:29] ragesoss opened #1925 "User profile should provide a way to see all of a user's uploads"
Perhaps we can adapt the `UploadList` component to work in the context of a user profile.

[2018-06-29 18:38] ragesoss opened #1926 "'Expected editors' count in Details should only be shown for ClassroomProgramCourse"
The course creator does not collect the expected editor count for other course types, and we forgot to limit it to only the relevant course type within `Details`. Other fields are already conditonal on course type, we just need to add expected_editors to that set of fields.

[2018-06-29 18:47] ragesoss opened #1927 "On Students tab, contributions links and sandboxes should be accessible for all edited wikis"
For projects working across multiple languages, having links to only the home wiki isn't enough.

[2018-07-02 20:48] sospinar21 commented on #1881
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2018-07-02 21:07] ragesoss commented on #1881
@sospinar21 nope, no one else is working on this. Go for it! Let us know if you have any questions.

[2018-07-03 16:33] sospinar21 commented on #1881
I fixed the issue but I was wondering if I can fix the margin/padding so that the search icon is centered and there is no blue to the left of the search input

[2018-07-03 17:07] ragesoss commented on #1881
Sounds good. Please do.

[2018-07-04 16:52] #1881 closed

[2018-07-05 20:26] ragesoss opened #1937 "Instructors adding students should have the option of tagging their userpages with 'student' templates"
Currently, we only put the 'student' template onto a userpage when a student self-enrolls in a course. It would be useful to have the option, when an instructor adds a student to the course, to also add the template.

(Requested by the cs.wikipedia.org community for P&E Dashboard.)

[2018-07-05 23:30] ragesoss opened #1940 "i18n-js locale files should be fingerprinted"
Our asset build process adds fingerprints to the compiled javascript entries, by using `webpack-manifest-plugin`. (See `gulp/tasks/webpack.js`)

However, the i18n locale files are generated a different way (via rake task, called from `gulp/tasks/i18n.js`). They are not fingerprinted, so users often have cached locale files that do not include new messages or translations.

One way or another, we s

[2018-07-06 13:05] urbanecm opened #1942 "Campaign should be included in course pages on-wiki"
Hello,

it will be great if campaign(s) can be passed to the course templates. Cs.wikipedia wants to have them displayed.

Thanks!

Best,
Martin Urbanec

[2018-07-08 21:28] urbanecm opened #1946 "Bug in lists displaying"
Dashboard has some problem with displaying lists. I've added a dummy blank line after "list of hoaxes" in https://outreachdashboard.wmflabs.org/courses/Wikimedia_%C4%8CR/U%C4%8D_s_Wiki, some points of list fixed automatically on Wikipedia (https://cs.wikipedia.org/w/index.php?diff=16227423). After I removed the dummy blank line again, it broke again https://cs.wikipedia.org/w/index.php?diff=162274

[2018-07-09 17:56] ragesoss commented on #1946
This is because the Description field uses markdown, and then converts it to wikitext when it posts the on-wiki version using Pandoc. Pandoc renders some ambiguous markdown syntax to HTML (and from there to wikitext) differently from how the Dashboard renders it using the javascript library `markdown-it`.

In particular, Pandoc's default markdown spec expects a blank link before the start of a lis

[2018-07-09 18:51] #1946 closed

[2018-07-10 20:56] ragesoss opened #1949 "Refactor UsersController into multiple controllers"
`UsersController` is somewhat too large and does too many things. In particular, `enroll` action and all the private methods that support it ought to be moved to a new controller, such as `Users::EnrollmentController`.

Relatedly, MassEnrollmentController and SelfEnrollmentController could be moved under the `Users::` namespace.

See also #1417 for a similar issue, and #1932 for an example of this

[2018-07-16 18:09] ragesoss commented on #1052
Fixed with the switch to Mailgun.

[2018-07-16 18:09] #1052 closed

[2018-07-16 18:31] ragesoss commented on #1403
The baseline feature for this is in place since ~February 2018, when it was used for Art+Feminism events.

To facilitate the A+F workflow, we configured it to use English Wikipedia for all registrations, since A+F routes all event organizers to en.wiki to get AccountCreator rights, even for events based on another language version.

For other programs and communities, (for example, cs.wikipedia.or

[2018-07-16 19:17] urbanecm commented on #1403
I think that approving throttle exception is nearly impossible. If it will be created without any human intervention, it will mean dropping the whole six account limit thing, because everyone can create courses in Dashboard (EP required rights for creation, cs.wikipedia decided to limit editation for privileged as well) and everyone can "self-approve" an exception.

Filling a task on Phabricator a

[2018-07-18 16:30] #1909 closed

[2018-07-18 20:43] ragesoss commented on #67
Cannot replicate anymore. Likely this was a browser implementation that now handles this automatically.

[2018-07-18 20:43] #67 closed

[2018-07-18 20:46] ragesoss commented on #97
We have some easy-to-replicate examples of doing filtering on tables of Redux data now, so this should be straightforward to implement. See UploadsHandler and UploadsList, and the associated reducer and actions, for good examples.

[2018-07-18 20:58] ragesoss commented on #101
This is currently implemented in the `recent_edits.js` reducer, with a call to `sortByKey` from `model_utils.js`.

An option for sorting by absolute value could be added to `sortByKey`.

[2018-07-18 21:07] ragesoss commented on #413
This appears to have been fixed, probably by the conversion to redux for sorting.

[2018-07-18 21:07] #413 closed

[2018-07-18 21:13] ragesoss commented on #591
@cassiville any thoughts on this? The content of this slide is still the same in the new training: https://dashboard.wikiedu.org/training/students/sandboxes-talk-watchlists/sandboxes-continued-v2

[2018-07-18 21:14] ragesoss commented on #595
We've done other things to emphasize research-write, so I think this is no longer actionable.

[2018-07-18 21:14] #595 closed

[2018-07-18 21:17] ragesoss commented on #606
I'm looking into changing WYSIWYG editors, mainly because we have a significant need to retain CSS class attributes in Timeline blocks, and Trix removes them upon save.

The most promising so far is TinyMCE, which is the one used in WordPress and could allow switching back and forth between WYSIWYG and html modes.

[2018-07-18 21:21] cassiville commented on #591
Hm I see.. An explanation of templates is really only useful if we want students actually doing stuff with templates. The function of this slide to me is 'If you were wondering what that thing is, it is called this. Don't touch it.'

I think an explanation _could_ be useful in the 'Moving work out of the sandbox' training, if at all.

[2018-07-18 21:30] ragesoss commented on #915
This has been fixed.

[2018-07-18 21:30] #915 closed

[2018-07-19 05:10] khyatisoneji commented on #1926
@ragesoss , I would like to work on this issue, can you please give information about the relevant files and the URL that displays course information.

[2018-07-19 15:42] ihsavru commented on #1926
@khyatisoneji The file you're looking for is `details.jsx` in the overview folder in components, it is responsible for displaying the course details which you can view on the 'Home' tab of a course. There are other examples in that component where certain fields are displayed conditionally to a program type. Goodluck!

[2018-07-22 12:06] khyatisoneji commented on #1926
@ihsavru @ragesoss I got the details that were mentioned here, I was looking at the props that are passed to the component and I saw that the prop expected_editors is not being passed on to the component. Also, there is no mention of expected_editors anywhere in the code. Please guide me as to from where shall this field be arriving.

[2018-07-22 13:41] sejalkhatri commented on #1926
@khyatisoneji You are looking for expected_students which is analogous to expected_editors. The value depends on the course type, expected_students for the `ClassroomProgramType` and  expected_editors for `BasicCourse` type. We use [Rails internationalization](http://guides.rubyonrails.org/i18n.html) in the project, you can view that up in `config/locales/en.yml file`.   Also, expected_students ca

[2018-07-23 09:49] khyatisoneji commented on #1926
@sejalkhatri , so I can use expected_students as expected_editors, right? Do I need to consider any other fields in expected_editors?

[2018-07-23 10:40] sejalkhatri commented on #1926
@khyatisoneji Those conditions are already handled through internationalization.
You have to add a condition for 'Expected students' count in Details. `expectedStudents` element should be shown only for the ClassroomProgramCourse. For eg: (Line 315) Condition for `courseLevelSelector`, it is shown only for ClassroomProgramCourse.

[2018-07-23 22:11] ragesoss commented on #1925
@ihsavru this would be an excellent thing to tackle next.

[2018-07-23 22:12] ragesoss commented on #1284
We've made a lot of progress on this, and I think the design is in pretty good shape now.

[2018-07-23 22:12] #1284 closed

[2018-07-23 22:13] ragesoss commented on #961
@ihsavru this one would also be great to fix. It's going to be exclusively on the Rails side, I think.

[2018-07-25 09:05] Ankitanvesh commented on #1926
@sejalkhatri I have read the comments above and added the condition for expectedStudents element to be shown only for the ClassroomProgramCourse. I wanted to know if there is anything else that needs to be done in regards to this issue.

[2018-07-25 09:55] sejalkhatri commented on #1926
@Ankitanvesh No! Nothing else is to be done.

[2018-07-25 21:33] ragesoss commented on #606
I deployed TinyMCE today, which I think ought to be much more screen-reader friendly, as they have been around for a lot longer and claim to have implemented a11y standards.

I'll close this, and open a new issue if there are a11y issues with the new editor.

[2018-07-25 21:33] #606 closed

[2018-07-25 21:40] ragesoss commented on #1093
This is hopefully fixed with the switch to TinyMCE in place of Trix.

[2018-07-25 21:40] #1093 closed

[2018-07-27 16:56] #1926 closed

[2018-07-30 15:08] RDenPen commented on #1878
I am fairly new to open source, and am currently working on this issue. I've been trying to modify the _training.styl files in favor of the notification problem but I am having trouble seeing any changes take effect when I run tests

[2018-07-30 16:04] RDenPen commented on #1915
I'm currently working on this issue and have modified the file _datepicker.styl by giving .date-input a max width of 65%, but I am wondering if I should use calc() because it seems to shift back on smaller screen sizes

[2018-07-30 16:35] yunjuc commented on #1878
You mean you can't see the notification or you can't see the style changes you made to training page?

If it's former, you need to uncomment the sitenotice in ```config/application.yml``` file to enable the notification.

If it's later, _training.styl should be right file.

[2018-07-31 16:40] RDenPen commented on #1883
I made an edit to the modules/_tables.styl file so that the td children of the .table class each had a padding of 12px 9px, which seems to pull the article table away from the edge of the screen

[2018-08-05 17:51] LuanvP commented on #1949
I'll take this 👌

[2018-08-06 16:45] ragesoss commented on #1878
Changes to a `.styl` file will only show up after the CSS has been recompiled, which happens via `gulp`. If you aren't seeing the expected changes in your development environment, make sure `gulp` is running in a terminal. On each save, you should see messages related to recompiled files.

[2018-08-06 16:54] ihsavru opened #1963 "Add an ImageViewer component to display more information about the uploads"
On clicking an upload, the ImageViewer component pops up and fetches and displays extra information about that particular upload.
<img width="788" alt="screen shot 2018-08-06 at 9 41 25 pm" src="https://user-images.githubusercontent.com/22816171/43729806-08755604-99c7-11e8-8538-853b622bd509.png">

[2018-08-06 18:33] ragesoss opened #1964 "Some translated training modules do not have slide titles"
For example, see https://outreachdashboard.wmflabs.org/training/editathons/defining-your-event

The titles are all empty strings in the translations. Some other translated modules work fine, so it's likely because of different markup at the top of the wiki page which isn't being parsed correctly. The base slides do have the title attribute, but all the translations (including the English translati

[2018-08-06 20:37] #1964 closed

[2018-08-07 16:08] RDenPen commented on #1883
trying to make the class course_title fit in the container using word-break instead of making the padding smaller on .table which hasn't had results, however adding word-break to .table makes does have effect

[2018-08-07 16:30] ragesoss commented on #1883
@RDenPen it looks like the main way to make sure the table fits in the container would be to use `table-layout: fixed`. See https://css-tricks.com/fixing-tables-long-strings/

However, it looks like it'll take a lot of tweaking to get the cell sizing working nicely with the fixed layout.

[2018-08-07 18:34] #1925 closed

[2018-08-07 19:33] RDenPen commented on #1883
so I made it so the element table had a table-layout of fixed this didn't stop the articles from spilling over. I also applied word-break: break-all then the articles didn't run over the container range

[2018-08-09 23:30] #1853 closed

[2018-08-10 19:59] #1878 closed

[2018-08-15 16:48] ragesoss opened #1968 "anchor links to specific timeline weeks should scroll to the relevant week once the timeline loads"
Currently, such anchor links don't work because the timeline data isn't part of the initial render.

[2018-08-15 19:40] #1852 closed

[2018-08-22 16:55] ragesoss commented on #1510
@airum82 go for it. I'm not very satisfied with our current patterns for component testing, so feel free to approach such tests in whatever way you think makes sense. I know there are some best practices that have been emerging recently around component tests that I haven't followed the details of.

Another area of testing that would likely be more straightforward and less likely to change over ti

[2018-08-23 18:26] ragesoss opened #1971 "Template-based category title refresh breaks when the template is not found"
In this case, the prefix for a template on mr.wikipedia was included (instead of just the template name without the prefix), and this resulted in unexpected `nil` errors in TransclusionImporter.

[2018-08-23 18:27] #1971 closed

[2018-08-30 17:43] ragesoss commented on #576
Now fixed, after the recent re-do of data flow during the removal of the Gradeable model.

[2018-08-30 17:43] #576 closed

[2018-08-30 17:45] ragesoss commented on #349
This is currently fixed in that it's only possible to input integers.

[2018-08-30 17:45] #349 closed

[2018-08-30 18:07] ragesoss commented on #555
Done! (The points vs percent feature has not been implemented, but I'm not sure it's really necessary.)

[2018-08-30 18:07] #555 closed

[2018-08-30 18:17] ragesoss opened #1974 "Move UI for editing Block points to the block itself"
Followon from  #555

[2018-08-31 08:41] solaomosola commented on #1963
Hello @ragesoss, I do React. I like to help.

[2018-08-31 16:27] ragesoss commented on #1963
@solaomosola hi, and thanks for the offer to help! @ihsavru already has a mostly-complete patch for this issue, #1969, but feel free to browse the other 'React'-tagged issues and if there's one you'd like to try out, just say so.

If you'd like an invite to the development Slack channel for this project, please let me know.

:-)

[2018-09-02 14:39] ragesoss commented on #1921
@jamesnelson go for it. Thanks! Let me know if you have questions or want an invite to the Slack.

[2018-09-03 13:34] AmitJoki commented on #1968
@ragesoss I'll work on this.

[2018-09-04 16:34] ragesoss commented on #1968
@AmitJoki great! I'm not sure what the best approach is, so if you find any good ways of doing this feel free to post here before you dive into implementation.

[2018-09-04 16:46] AmitJoki commented on #1968
@ragesoss well, I was thinking of using [scrollIntoView](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView) which has got good [support](https://caniuse.com/#search=scrollIntoView)

There's also polyfill solution if some very old browsers need to be kept in mind.

[2018-09-04 16:55] ragesoss commented on #1968
@AmitJoki I think scrollIntoView will be fine. I'm not sure how to cleanly handle firing that at the correct time, though, as it would only work after the timeline has loaded and the weeks have rendered.

[2018-09-04 16:59] AmitJoki commented on #1968
@ragesoss I'd like to see the behaviour firsthand. The project setup seems to be different this time around. I created a campaign and a program (BasicProgram) but there was no Timeline element anywhere. Can you show me the link of the live website where this is happening so I can have a better idea (and how to bring it up in development?)

[2018-09-04 17:05] ragesoss commented on #1968
@AmitJoki timelines only appear if a course has the Timeline Enabled setting, or is a ClassroomProgramCourse (which is the default if you set `wiki_education: 'true'` in `application.yml`).

You should be able to first enable the timeline via 'Edit Details', and then add weeks and blocks on the timeline tab. (If you create a new course in wiki_education mode, you'll be sent through the assignment

[2018-09-05 13:53] Kachulio1 commented on #1286
I would love to take this.

[2018-09-05 16:59] #399 closed

[2018-09-05 19:59] #1968 closed

[2018-09-05 20:21] ragesoss opened #1977 "Courses should have 'submitted_at' data"
It would be useful for Wiki Education staff to be able to see when a given course was submitted.

[2018-09-06 16:07] ragesoss opened #1978 "Upgrade webpack to version 4"

[2018-09-06 17:08] ragesoss commented on #1286
For more context, here's a typical activity page for a course: https://dashboard.wikiedu.org/courses/University_of_Oklahoma/Cold_War_Science_(Spring_2018)/activity

Clicking the +/- button in the last column of one of the table rows will open up the DiffViewer component. To view another diff, you currently have to close the DiffViewer and then click a different row to reopen it with the new diff.

[2018-09-06 17:10] ragesoss commented on #1286
To test this locally, you need a course with some imported data. See https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/user_roles.md#populating-a-course-with-data

[2018-09-09 15:15] psinghal20 commented on #1805
@ragesoss This question is already present in onboarding form.

[2018-09-09 15:15] #1805 closed

[2018-09-09 15:35] psinghal20 commented on #1468
@ragesoss I think you wrote this script a while back.

[2018-09-09 18:53] psinghal20 opened #1982 "Add assign feature for instructors in article finder"
Add assign feature for instructors to assign searched articles to enrolled students like self-assign feature for students.

[2018-09-09 18:55] psinghal20 opened #1983 "Hide filters and category search feature under advanced search settings in article finder"
Search filters and category search options in article finder are suitable for advanced users and can be hidden under advanced search options to simplify the UI.

[2018-09-09 18:59] psinghal20 opened #1984 "Toggle article viewer instead of opening article in new tab in article finder"
Currently, on clicking the article name in article finder results, a new tab is opened with the article. To promote article viewer among our users, we can toggle the article viewer if any user clicks the article name. External link to the article page can be provided in the article viewer.

[2018-09-09 19:02] psinghal20 opened #1985 "Add ansi colors in the setup scripts for error logs"
ANSI colors can be added in the setup scripts to emphasize any errors or show successful completion of a step.

[2018-09-10 16:11] khyatisoneji commented on #1983
I   would like to work on this issue. Kindly assign it to me.

[2018-09-10 16:18] psinghal20 commented on #1983
Hi @khyatisoneji, We don't generally assign issues to any particular person. I think the article finder component would be the only one that would require any changes.

[2018-09-10 20:01] ragesoss commented on #1468
True! I completely forgot about that, and I don't know that it's been put to much use. I changed task title, as it would be good to get feedback on how well it works and how it could be improved, and make sure the relevant docs point to it.

The script is `setup/populate_dashboard.rb`, and it can be run with `rake dev:populate`.

[2018-09-13 23:14] ragesoss opened #1988 "finish converting CourseActions to Redux"
We're nearing the end of converting to Redux from a Flux framework.

The last remaining function in CourseActions is `deleteAllWeeks`, which is called from the Timeline component. It isn't event handled by any Flux store, except in the case of an API failure. It can be converted to a Redux action in `course_actions_redux.js`. After that, the entire file can be renamed to just `course_actions.js`,

[2018-09-13 23:45] ragesoss opened #1989 "convert TrainingStore to redux"
The TrainingStore is a relatively straightforward Flux store, which we need to convert into a Redux reducer.

The corresponding actions are spread between ServerActions and TrainingActions, and these should all be moved to a training_actions.js file and reimplemented in redux.

[2018-09-15 20:26] urbanecm opened #1990 "Trim verification input and course name when deleting a course"
Hello,

the Dashboard wants verification via inputting the course name when deleting. This is fine. However, a course can be called "Test" and "Test " (test and a space). For computers, those are two different strings. Most humans filling the input don't see the difference. I think that both input and course name should be trimmed at least when deleting. Maybe we can even disallow courses with spa

[2018-09-15 21:06] ragesoss commented on #1990
How old was the "Test " course that you deleted?

We've been trimming course names client-side for a while now, but did not do so in the past. But I discovered that cloned courses don't get the names trimmed (fixed, but not yet deployed), and it's possible that there are other bugs that would allow that to happen that I don't know about yet.

I'll look into this next week.

[2018-09-16 12:02] urbanecm commented on #1990
I created a new test course (called Testovice/Test, still exists) and immediately after it I tried to delete it. So, it was a few of seconds. I sent "Test " instead of "Test" to the dashboard when prompted for verification and I think both "Test " and "Test" (or even " Test") should be accepted, as it don't make difference to the human trying to delete.

That's one direction of needed trimming. Yo

[2018-09-17 07:08] khyatisoneji commented on #1983
@psinghal20 Can you please clarify on how the UI would change? The current screen looks like this.

<img width="1183" alt="screen shot 2018-09-17 at 12 36 50 pm" src="https://user-images.githubusercontent.com/31898080/45609658-76fd0200-ba76-11e8-897a-f12f1fff95e5.png">

Out of this, what fields should be removed from main screen and only available under show filters.

[2018-09-17 13:54] AmitJoki opened #1991 "Upgrade Babel to 7.0"

[2018-09-17 17:18] #1990 closed

[2018-09-17 18:54] khyatisoneji commented on #1977
@ragesoss can you please let me know some reference files in which I can look for this issue.

[2018-09-17 19:44] psinghal20 commented on #1983
We would like the option of category search to be visible under an Advanced Search option to simplify the search process for the user. The field to switch to category search should be hidden under the advanced search option. We can replace the show filters with something like `Advanced Options` and add the category search under that.

The initial screen will show only the Search bar, Submit Button

[2018-09-17 20:01] khyatisoneji commented on #1988
I am submitting a pull request where I have added the deleteAllWeeks function to use redux. I have not yet renamed the course_actions_redux to course_actions. If the implementation looks correct, I can go ahead with that.

[2018-09-17 20:30] ragesoss commented on #1977
The place to start is the `Course` model, and the associated `courses` table in the database.

The easiest way to handle this might be to insert the time of submission into the `flags` field. Setting a course to 'submitted' already triggers several other actions, and adding this data to the course record could be done at the same time. This happens in the `handle_course_announcement` method within

[2018-09-17 22:29] ragesoss opened #1995 "convert many ServerActions functions to redux"
As part of the migration from Flux to Redux, we need to rewrite all the remaining Flux actions as redux action creators. Several miscellaneous actions in ServerActions are not actually handled by Flux (except in the case of request failures) and can be easily converted to redux.

In particular, replace all the usages of:
* `ServerActions.deleteCourse`
* `ServerActions.updateSalesforceRecord`
* `Se

[2018-09-18 15:41] khyatisoneji commented on #1983
@psinghal20 I have made changes.

The usual interface looks like:
<img width="1120" alt="screen shot 2018-09-18 at 9 00 48 pm" src="https://user-images.githubusercontent.com/31898080/45699326-5ec8d800-bb87-11e8-8935-d1c76de119ea.png">

Also, the search results look like:
<img width="1220" alt="screen shot 2018-09-18 at 8 58 01 pm" src="https://user-images.githubusercontent.com/31898080/45699363-6d

[2018-09-18 15:55] psinghal20 commented on #1983
Yes, the layout is okay!
Few changes I would recommend:
- Increase the spacing between all the three fields. It is looking very cluttered right now.
- Align the submit button with the search bar
- Change the title of the button to something like `Advanced Options`

[2018-09-18 16:11] ragesoss opened #1996 "When weeks are deleted from a Timeline, the order may no longer be sequential"
The result is that if a week is deleted and it's not the last week, and then a new week is added, the new week may not be at the end of the timeline.

I think this can be handled client-side, by recalculating the `order` attribute of the weeks whenever a week is added. That way, when the timeline is saved with the new week, the updated order will get persisted to the server, without worrying about

[2018-09-18 17:36] khyatisoneji commented on #1995
I will look into this.

[2018-09-18 18:35] #1991 closed

[2018-09-18 19:56] #1988 closed

[2018-09-19 03:58] khyatisoneji commented on #1995
I have two queries regarding this.

1. In remove function, we are using actionType as `${model.toUpperCase()}_MODIFIED`. Now this is only called with user model. Should we use the same actionType and only add USER_MODIFIED as actionType or should we change actionType to something else.

2. After changing flux functions to redux, I noticed that In `side_link_spec`, we are doing `global.sinon.stub(S

[2018-09-19 07:38] khyatisoneji commented on #1977
I have added the field to schema and course model. I have also run `rake db:schema:load` to use the new schema.

Where should I set the submitted_at field? Currently I am adding it in `handle_course_announcement` where I am doing:
[code]
Also please guide me as to how I can test if my change works.

[2018-09-19 14:16] ragesoss commented on #1995
@khyatisoneji

1. The action type should be changed to something more specific, like USER_REMOVED.

2. The training-related functions will be converted as part of #1989 rather than this issue. That will likely involve passing the connected redux function to the SlideLink component, so in the spec we'll be able to pass a mock function instead of stubbing a global object like in the current spec. Se

[2018-09-19 14:40] ragesoss commented on #1977
@khyatisoneji I think rather than adding another column to the database table, we can get by with inserting the time of submission into the course `flags` hash, which is a flexible way to store miscellaneous data that we don't need to query. That will basically look like:

[code]

There are many possible ways to test this (and it might be a useful exercise for you to try several of them).

To test

[2018-09-19 15:02] khyatisoneji commented on #1995
@ragesoss In `side_link.spec ` file, we are stubbing fetchTrainingModule as it will be called by `training_slide_handler` file.

As `training_slide_handler` component is a root level component, it imports the function and mapsItToProps on its own. So as it doesn't expect fetchTrainingModule to be passed as a prop, can we completely remove it?

[2018-09-19 17:00] #1983 closed

[2018-09-20 04:35] #1963 closed

[2018-09-20 05:55] ihsavru opened #2003 "Add pageviews for articles under 'FIle Usages' in UploadViewer component"
![](https://user-images.githubusercontent.com/22816171/43729806-08755604-99c7-11e8-8538-853b622bd509.png)
One possible way to achieve this would be how [GLAMorgan](https://tools.wmflabs.org/glamtools/glamorgan.html) does this. It uses [Pageviews data](https://wikimedia.org/api/rest_v1/#!/Pageviews_data/get_metrics_pageviews_per_article_project_access_agent_article_granularity_start_end) from the W

[2018-09-20 06:18] ihsavru opened #2004 "'Credit' column data overflows in the Uploads table"
Under list-view of Uploads, sometimes the table overflows horizontally due to the Credit being too long for certain uploads in the list.
<img width="1680" alt="screen shot 2018-09-20 at 11 45 55 am" src="https://user-images.githubusercontent.com/22816171/45799384-f2ef8800-bcca-11e8-9982-0400fd7a6963.png">

Similar issue happens for Articles Table in campaigns, read more here: #1883

[2018-09-20 12:52] ShivangiKakkar commented on #2004
@ihsavru Hey, May I work on this issue?

[2018-09-20 13:10] ihsavru commented on #2004
@ShivangiKakkar Sure!

[2018-09-20 13:38] ihsavru opened #2005 "Link filename to Commons"
On user profile pages, under 'Recent Uploads', clicking on the filename should take us to Commons. Also, clicking on the Upload opens Upload Viewer, 'View on Commons' button should also behave  similarly. Author name also seems to be missing.

[2018-09-21 19:11] ragesoss opened #2006 "Replace R plots with Vega plots"
We now have 'before/after' plots of article quality data that are implemented in Vega and rendered client-side, as a replacement for the very unreliable R based plots generated by `HistogramPlotter`. The Vega plots are implemented in the new `CourseQualityProgressGraph` React component, which is now used in place of the R plots in the Articles tab on courses.

There are still two other places that

[2018-09-21 19:56] ragesoss opened #2007 "Add summary data to CourseQualityProgressGraph"
![vega plot](https://user-images.githubusercontent.com/848483/45903174-9c9f4980-bd9d-11e8-81d5-4f1aa0520bf0.png)

The Vega plot of before-and-after ORES data doesn't include some of the summary data that the R version of this plot had. In particular, it should show the mean score before and after.

This could be done either in Vega, or just calculated separately and displayed conventionally with R

[2018-09-21 22:03] ragesoss commented on #1896
This is done!

[2018-09-21 22:03] #1896 closed

[2018-09-21 22:04] #1801 closed, assigned to nobody

[2018-09-21 22:06] ragesoss commented on #1794
The 'Articles Edited' page, specifically, is fixed with the new client-side plot, although the other two places that use the R plots are likely still not reliable until #2006 is done.

[2018-09-21 22:06] #1794 closed

[2018-09-21 22:19] ragesoss opened #2008 "Make Vega before-and-after plots interactive"
The new Vega versions of the course article completeness plots ought to be extended with some controls that replicate the flexibility in the current R plots from `/analytics`. In particular, add controls to:

* Filter articles by new, or existing, or both
* Filter articles by minimum bytes added
* Filter articles by minimum change in score

The easiest way to work on this is to open one the curren

[2018-09-22 14:58] ragesoss commented on #1915
Yes, please do.

[2018-09-22 14:59] siwaniagrawal commented on #1883
The issue has been solved? If not can I contribute to it?

[2018-09-22 15:01] ragesoss commented on #1883
It has not been solved and you're welcome to work on it.  It's not as easy as I thought at first though.

[2018-09-22 15:03] siwaniagrawal commented on #1883
Well, I can give it a try :)

[2018-09-24 10:56] siwaniagrawal commented on #2004
![articles](https://user-images.githubusercontent.com/35132729/45948671-910a8780-c016-11e8-8085-c476fa572eba.png)
Is this okay? or should I make some more changes?

[2018-09-24 10:58] siwaniagrawal commented on #1883
![articles](https://user-images.githubusercontent.com/35132729/45948735-c9aa6100-c016-11e8-8e71-8fdf1a50b53b.png)
Is this okay? Or should I make some more changes?

[2018-09-24 13:28] siwaniagrawal commented on #2004
Hey! @ihsavru  I was going through this issue, I inspected it in the browser and intend on adding required wraps. Can you please guide me through the process of adding necessary resources so, that I can access the respective page in my local.

[2018-09-24 13:46] ShivangiKakkar commented on #2004
@siwaniagrawal I am working on it :)

[2018-09-24 13:51] siwaniagrawal commented on #2004
oh okay :)

[2018-09-24 16:04] ihsavru commented on #1883
@siwaniagrawal The courses column looks good. It will be great if you could do the same thing to the Title column.

[2018-09-24 17:09] siwaniagrawal commented on #1883
Actually, I am inspecting it in the browser, Can you please guide me through the process of feeding the necessary resources so, I can recreate the same in my local.

[2018-09-24 17:35] siwaniagrawal commented on #1883
![alerts](https://user-images.githubusercontent.com/35132729/45968284-25441100-c04e-11e8-8697-ce5708d58ef7.png)
Actually, adding the text-wrap wasn't enough I had to resize the width.
Will this do? Or should I change it?

[2018-09-24 17:43] ihsavru commented on #1883
@siwaniagrawal [Setup](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/docs/setup.md) the dashboard on your local machine if you haven't already. Populate your database with some courses having longer names.

[2018-09-24 17:45] siwaniagrawal commented on #1883
![article3](https://user-images.githubusercontent.com/35132729/45968802-91734480-c04f-11e8-9390-13bf1a206059.png)
I realized using text-wrap along wouldn't be enough so, had to resize the width.
will this do? Or should I make some more changes?

[2018-09-24 18:11] ragesoss commented on #1883
@siwaniagrawal that looks nice.

[2018-09-24 18:31] siwaniagrawal commented on #1883
Cool, I will raise a PR after populating the DB and recreating it in my local.

[2018-09-24 19:34] ragesoss commented on #2004
It's not just the 'Credit' column that can cause overflow. Another situation is that before the thumbnail has been fetched, the filename is shown in the first column, and that may be longer than the image width. So the 'Image' column is extra wide until the file is loaded, and this may cause the table width to jump several times, as the longest remaining filename changes.

Long filenames with no d

[2018-09-25 10:12] psinghal20 opened #2011 "Error while rendering assignments JSON builder for default data provided by database populate script"
The default data provided by the database populating script seems to be corrupt. The assignment entry made has `null` title, user_id and role. The default article `Selfie` is correct in the articles table but there is a corrupt entry in assignments table
![image](https://user-images.githubusercontent.com/23720731/46007879-cb3c5d80-c0d8-11e8-8810-faab252696ec.png)

Assignment JSON builder fails to

[2018-09-25 10:28] psinghal20 opened #2012 "Re-rendering of editors table in chrome"
The Editors table for any course seems to re-render again and again when scrolled to bottom in chrome. This behavior was not observed in Firefox. The attached GIF shows the mentioned behavior for both browsers. It was most probably introduced when the sticky headers were introduced.

[2018-09-25 11:43] loalexandra commented on #2007
Hi! I'd like to work on this issue. Can I?

[2018-09-25 14:13] ragesoss commented on #1977
No. "Submitting" a course happens separately from creating it. It
represents an instructor saying they've configured and customized their
course and are ready for it to be reviewed and approved by Wiki Education
staff. Courses on the global instance of the Dashboard don't go through
this step at all.

On Mon, Sep 24, 2018, 8:23 PM JB <notifications@github.com> wrote:

[2018-09-25 14:16] ragesoss commented on #2007
Yes, please do. :)

On Tue, Sep 25, 2018, 4:43 AM Alexandra Lobovikova <notifications@github.com>
wrote:

[2018-09-25 15:40] jeffblack360 commented on #1977
Right. I mentioned that in my previous comment above. I was testing and observed the Submitted field in the form to toggle it from 'no' to 'yes'. The `Course` model would then have the `before_save` callback that could interrogate the value and supplement the `flags` column accordingly with a `submitted_at` value.  Correct?

[2018-09-25 16:40] ragesoss commented on #1977
@jeffblack360 a callback like that would work technically, but it would separate the business logic for that value from the rest of the things that happen when a course is submitted, which are all in that `handle_course_announcement` method in CoursesController.

[2018-09-25 16:51] jeffblack360 commented on #1977
@ragesoss Thank you for walking me through that and helping me to understand.  I appreciate it.

[2018-09-25 17:28] #2011 closed

[2018-09-25 17:36] ragesoss opened #2013 "Provide a way for users to import historical EducationProgram extension courses from SQL dumps"
The EducationProgram extension has now been disabled on Wikimedia wikis. For some users (e.g., on ar.wikipedia), it would be helpful to create LegacyCourse records on Programs & Events Dashboard so that the users and stats from those old courses can be seen.

The data is available in SQL dumps: https://dumps.wikimedia.org/other/educationprogram/

Some courses in some languages have already been ma

[2018-09-25 18:32] Sanjana1308 commented on #2004
@ragesoss before:
![screenshot from 2018-09-25 23-41-03](https://user-images.githubusercontent.com/31213584/46034027-41fb4a00-c11d-11e8-913d-c4e8b30c2d9a.png)

Thank you for reviewing my pull request. As my prior observation, the upload column had either taken just long texts or links which were creating issues which I fixed. But , then I noticed the credit column  could take even images.
I tried

[2018-09-25 18:33] Sanjana1308 commented on #2004
fixed #2010 AFTER:

![screenshot from 2018-09-25 23-42-51](https://user-images.githubusercontent.com/31213584/46034954-84be2180-c11f-11e8-81b8-28395ae0c03a.png)

[2018-09-25 19:29] Cressence commented on #2003
Hello @ihsavru ,I will like to look into this.

[2018-09-25 20:09] ragesoss opened #2014 "opening and closing ArticleViewer should add/remove `?showArticle=` param from the URL"
ArticleViewer has a feature for linking directly to the open view of an article; the link icon at the top goes to a URL like this: https://dashboard.wikiedu.org/courses/Georgia_Institute_of_Technology/Introduction_to_Environmental_Sciences__(Fall_2018)/articles?showArticle=51230517

It would be more discoverable and user-friendly if these URLs changed automatically, so that whenever an ArticleView

[2018-09-25 23:01] ragesoss opened #2015 "Replace `$.ajax` requests with the Fetch API"
We currently use jQuery through much of the frontend for web requests of all sorts. To lay the ground work for getting rid of jQuery as a dependency, we can start by switching to use Fetch for all the requests.

I suggest starting by replacing just one core request with a Fetch implementation (such `fetchCourse` from `course_actions.js`) to get it working smoothly, and then proceed with converting

[2018-09-26 07:44] Nshul commented on #2015
Can i work on this??

[2018-09-26 08:25] siwaniagrawal opened #2018 "Overflow in Table View in Alerts section."
The table view in the alerts section under Campaign>Alerts has been overflowing in cases where the alert title is larger than the table size which should confirm to the page width, thus leading to an enlarged table size which is aesthetically and from the user experience point of view not ideal.
You can view the addressed page [here](https://dashboard.wikiedu.org/campaigns/spring_2018/alerts).
I w

[2018-09-26 13:01] ihsavru opened #2019 "Trim Categories in UploadViewer Component"
<img width="388" alt="screenshot 2018-09-26 at 6 23 04 pm" src="https://user-images.githubusercontent.com/22816171/46081197-8b00dc00-c1b9-11e8-85a0-80aa55c3dfb8.png">

All categories are prefixed with "Category:", this is superfluous as they are already grouped under heading "Categories". Also, link them to Commons. The urls for categories on Commons follow a certain pattern: `https://commons.wiki

[2018-09-26 17:38] jeffblack360 commented on #1977
@ragesoss I have the source-code change working and tested; however I need to prepare a unit-test.

When/If an Admin toggles the `Course` `submitted` to `false` the `submitted_at` key lingers around in `flags`.

- Should the use-case include removing that K/V pair from `flags` under that circumstance?

- Should the ability to change Submitted from `yes` to `no` be allowed?

[2018-09-26 17:50] ragesoss commented on #1977
This is fine. The purpose of keeping this data is so that, in rare cases when we want to know when a course was initially submitted, we can look it up.

No, I think treating it as 'write once' will make sense here. That could be a little more explicit if it's called `initially_submitted_at`.

Yes. In some cases, we need to do that (eg, if an instructor needs to make some further changes before we

[2018-09-26 22:53] ragesoss commented on #2012
@psinghal20 this didn't come through as a GIF, just a single frame. I haven't been able to replicate the issue described. What version of Chrome did you see this in?

[2018-09-27 00:36] ragesoss commented on #2012
I did some work that reducers unnecessary rendering of the students components, but I don't know if that was related to the issue you observed or not. Anyhow, if you poke at this again, be sure to pull in the latest first.

[2018-09-27 14:46] jeffblack360 commented on #1977
@ragesoss Thanks for the added color.  I've made the changes you suggested regarding `initially_submitted_at`.  I'll ensure that the data doesn't change when the `submitted` is toggled from `yes` to `no` and back again.
Let me know if you have any questions.

[2018-09-27 14:51] psinghal20 commented on #2012
@ragesoss Sorry for that! I thought I used a GIF. The issue still persists, I am attaching a video link here as it is much more visible in a video. https://drive.google.com/open?id=1OR6ct5-BDS1geJLd2DeqONp9OqFiz9hQ

[2018-09-28 22:21] yaracrtoro opened #2022 "Find and Explore courses."
#Here is an issue I found on the Dashboard.
This is a usability issue that distracts users from accomplishing the goal of finding courses.
There are two concepts to fulfilled one purpose which is "find courses."
Find and explore courses leads to the same page which is confusing and distracting for first-time users.

Please refer below to the photo screen where I highlighted the issue.

https://www

[2018-09-29 12:11] jeffblack360 commented on #1977
@ragesoss Do you think it would make sense to maintain a `:submitted_at` K/V in `flags` that is updated whenever the `Course` is submitted, in addition to the `:initially_submitted_at` for initial submission?
`flags: {`
`:submitted_at=>Wed, 26 Sep 2018 17:22:28 UTC +00:00,`
`:initially_submitted_at=>Sat, 29 Sep 2018 11:50:20 UTC +00:00},`
`}`

Had the thought during testing activities and thought

[2018-09-30 03:37] jeffblack360 commented on #1977
@ragesoss I wanted to confirm the desire to display the `initially_submitted_at` timestamp on the `Course` details page, correct?

[2018-09-30 16:01] ragesoss commented on #1977
@jeffblack360 No, I don't think it should be added to the Details layout, as it's a case of information overload. Maybe later we'll come up with a better way of displaying the rarely-needed extra data for a course without stuffing it into the Details, but for now just storing it in the database is good enough.

[2018-09-30 16:02] ragesoss commented on #1977
Storing both 'intially' and the most recent timestap (`submitted_at` and `initially_submitted_at`) sounds good.

[2018-10-01 15:59] jeffblack360 commented on #1977
@ragesoss Thanks for the direction sir. I'll proceed with the DB-related alterations only.

[2018-10-01 21:57] ragesoss opened #2025 "When there are network errors during training modules, the UI should surface them"
Currently, if you lose network connectivity in the middle of a training module, you can continue to the end but the server will not be updated on your progress.

This is probably best handled after #1989

[2018-10-01 22:02] ragesoss opened #2026 "At the end of a training module, the user should get a clear indicator of when the server has registered module completion"
Currently, the client sends an update to the server each time a new training slide is visited, and if it's the last slide then the server marks the module as completed.

It would be better if, on the last slide, there's an indicator that shows when the module has been registered as complete (and guide the user to remain on the page rather than navigate away, if it's not yet confirmed).

[2018-10-02 10:01] ihsavru opened #2028 "Pagination element disappears if we go to another tab and then come back to Uploads"

[2018-10-02 16:48] ragesoss commented on #2028
It looks like this is because the component remounts, with a reset of state, when you navigate away and back, but the pageCount is kept in state and only set via componentWillReceiveProps — which only fires when the props change after the initial render. So if the uploads are already received, there's no re-rendering from new props, and the pageCount never gets added to state.

I think the best so

[2018-10-02 18:02] #2007 closed

[2018-10-03 17:19] #2008 closed

[2018-10-03 17:20] ragesoss commented on #2006
done!

[2018-10-03 17:20] #2006 closed

[2018-10-03 17:27] ragesoss commented on #1341
Looks like this got fixed, possibly via the Vega upgrade.

[2018-10-03 17:27] #1341 closed

[2018-10-03 17:36] ragesoss commented on #297
There are things that could be improved design- and feature-wise, but the basics of this are done.

[2018-10-03 17:36] #297 closed

[2018-10-03 17:37] ragesoss commented on #317
This hasn't been much of an issue since that last related commit, although it does happen every once in a while.

[2018-10-03 17:41] ragesoss commented on #369
This is very different now, and there are a few other bugs for the current, similar table layout issues.

[2018-10-03 17:41] #369 closed

[2018-10-03 17:45] ragesoss commented on #634
Not sure this is still relevant, but if so, it's basically covered under #596

[2018-10-03 17:45] #634 closed

[2018-10-03 17:48] ragesoss commented on #758
This works now.

[2018-10-03 17:48] #758 closed

[2018-10-03 17:56] ragesoss commented on #1040
This is only in the dev environment, so it's basically just the issue of outdated dependencies which we have other open issues for.

[2018-10-03 17:56] #1040 closed

[2018-10-03 17:57] ragesoss commented on #1050
We're headless chrome now!

[2018-10-03 17:57] #1050 closed

[2018-10-03 18:00] ragesoss commented on #1151
I think this should be largely fixed now, with the current flow no longer requiring that final 'Join' click after the user successfully logs in (if they started from an enroll link).

[2018-10-03 18:00] #1151 closed

[2018-10-03 18:03] ragesoss commented on #1298
The current system of sorting courses into different update queues based on their length is working pretty well to avoid slowing down the not-huge events.

[2018-10-03 18:03] #1298 closed

[2018-10-03 18:07] ragesoss commented on #1615
This has been done for TrainingSlide. TrainingModule and TrainingLibrary ought to be converted to ActiveRecord at some point, but for now they aren't causing any real problems.

[2018-10-03 18:10] ragesoss commented on #1757
done

[2018-10-03 18:10] #1757 closed

[2018-10-03 21:41] ragesoss opened #2031 "Notifications are not screen reader accessible"
When error messages and other notifications get added, they won't be noticed by screen reader users.

We can probably use `role="alert"` to fix this.

[2018-10-04 08:02] Kachulio1 opened #2032 "Some test are failing when run in different timezone"
These are some of the tests that are failing when run in **East Africa Time (EAT)**

![screen shot 2018-10-04 at 10 52 58](https://user-images.githubusercontent.com/22243090/46460137-bdb36180-c7c3-11e8-9a0c-7b80f56422b4.png)

./spec/features/campaign_overview_spec.rb:212
./spec/features/campaigns_spec.rb:77
 ./spec/features/course_page_spec.rb:158
./spec/models/campaign_spec.rb:90
./spec/models/ca

[2018-10-04 16:57] ragesoss commented on #2031
fixed with 3e153d5ba576e0cf27709517983276b53f892832

[2018-10-04 16:57] #2031 closed

[2018-10-05 03:40] ihsavru opened #2036 "Clicking on Uploader name opens the User Profile as well as the UploadViewer"
Clicking on the uploader in Uploads tab should only do one of these things i.e. open the user profile. Using `event.stopPropagation()` might help.

[2018-10-05 04:31] chalchuck commented on #2032
Hello @Kachulio1 @ragesoss please assign me to this issue.

[2018-10-05 06:11] chalchuck commented on #1949
Hey @LuanvP @ragesoss is there any progress on this issue? {If not, I could pick it}

[2018-10-05 08:08] LuanvP commented on #1949
Ah yes I did this a while ago but never put the PR in, thanks @chalchuck

[2018-10-05 11:54] greysteil opened #2038 "Suggestion / request: use Dependabot to keep dependencies up-to-date"
First of all, thanks for Wiki Education Dashboard, and for everything else that the Wiki Education Foundation does.

I've got a suggestion / request: would you be up for using [Dependabot](https://dependabot.com) to automatically create dependency update PRs for this repo? I ran it against my fork and it generated [these PRs](https://github.com/greysteil/WikiEduDashboard/pulls). I've ported the `n

[2018-10-05 19:02] ragesoss commented on #2038
Thanks! I'll give it a try... just installed it.

I like the amount of detail in the PRs, with the changelogs and commits and so on... makes it super easy to review dependency changes.

[2018-10-05 19:02] #2038 closed

[2018-10-05 19:20] greysteil commented on #2038
Awesome! I’ll try and pitch in and help review some of the initial ones. Thanks for giving it a try!

[2018-10-06 18:04] jeffblack360 commented on #1709
The `setup/deb-setup.sh` complains if it doesn't find ruby 2.5.0 installed. I have ruby 2.5.1: should the script at merely check for a match on 2.5 vs. 2.5.0?

I changed the script to complete setup.

[2018-10-08 00:49] Cressence commented on #2014
Hey @ragesoss
Can i work on this?

[2018-10-08 01:45] ragesoss commented on #2014
@Cressence go for it.

[2018-10-08 18:49] ragesoss commented on #1759
We hit some bugs today that I think are related to this; after a significant update the involved renaming several training modules, we started getting intermittent errors in production for training modules not being found. These resolved after a redeploy, so they were mostly likely related to stale data in the TrainingModule `@all` class instance variable that holds it all.

Switching to an Active

[2018-10-08 20:06] ragesoss opened #2058 "In 'Arrange Timeline' mode, long block titles break the layout for up/down buttons"
If a block title is very long, the buttons for moving a block up or down get squeezed to lines, and also overflow out of the block.

![button alignment](https://user-images.githubusercontent.com/848483/46630972-d3de5c00-cafa-11e8-9827-3b3b0bf30502.png)

Wrapping the title the same way it gets wrapped in normal mode would be better.

[2018-10-08 20:22] ragesoss opened #2059 "Upgrade Jeet to version 7"
We currently use Jeet 6.x to provide grid layouts in our CSS. Upgrading to the latest version will require some changes: the location of the files we need to import is different, and some of the functions that jeet provides are used in various stylesheets and need to be renamed (`cf()`, at least).

Migration guide: https://github.com/mojotech/jeet/wiki/Migrating-from-6-to-7

[2018-10-08 21:13] cleverprogrammer402 commented on #2058
I will work on this issue

[2018-10-08 23:30] ragesoss opened #2063 "in Article Finder, views per day and completeness scores should be rounded to integers"
This will make it a little easier for users to make sense of and compare the numbers.

[2018-10-08 23:45] ragesoss opened #2064 "In article finder, the numbers in the last two columns should be right-aligned"
For the pageviews, in particular, that will make it easier to compare numbers of different magnitudes.

Currently, they're left-aligned:

![alignment](https://user-images.githubusercontent.com/848483/46639168-7d344a80-cb19-11e8-9a9b-952ce15507bc.png)

[2018-10-10 01:02] jaxgarry commented on #2064
Hi!!
I'd like to work on this. First timer here but I'll give it my best shot. Thanks!

[2018-10-10 11:46] Kachulio1 commented on #2032
@chalchuck Great, you can work on the issue.

[2018-10-10 23:32] ragesoss opened #2082 "Write tests for Redux reducers that cover all action types and ensure that state is not mutated"
The reducers that make up the main Redux reducer should all be pure functions that are free of side effects and do not mutate their inputs. This makes unit tests particularly easy to implement, but important for making sure we avoid state-mutation bugs.

The handful of existing specs in `test/reducers` offer clear examples for how individual actions can be tested for these reducers, with `deepFree

[2018-10-11 04:18] kojole commented on #2063
I'd like to work on this issue.

[2018-10-11 13:55] manisha-A commented on #1468
Would like to pick this up? Is this still needed?

[2018-10-11 14:16] ragesoss commented on #1468
Yes, please go for it. The idea is that running the script should be pretty quick, but should leave you with representative data to be able to access or test as much of the app's functionality as possible.

[2018-10-11 22:40] #2063 closed

[2018-10-11 23:08] #2003 closed

[2018-10-11 23:46] ragesoss opened #2089 "Course with all Saturdays as the meetings dates does not generate a timeline"
We ran into a bug today for a course where all the meeting dates are on Saturdays: going through the wizard and clicking 'Generate Timeline' does not generate a timeline, it just returns an empty one.

This seems like probably a bug on the Rails end of the wizard.

[2018-10-12 16:29] Samwalton9 opened #2096 "'Wiki source' text is misaligned on final slides"
On final slides - ones with a 'Done' button (e.g. https://outreachdashboard.wmflabs.org/training/learning-and-evaluation/dashboard-admins/become-a-dashboard-admin) - the Wiki Source link is often misaligned, ending up overlapping the Previous button.

[2018-10-12 18:29] #1989 closed

[2018-10-12 18:29] #2025 closed

[2018-10-12 18:29] #2026 closed

[2018-10-12 18:29] #2096 closed

[2018-10-12 18:35] ragesoss opened #2099 "Long page titles break the layout of UploadViewer"
Wrapping the page title should fix it.
![long article names in upload viewer](https://user-images.githubusercontent.com/848483/46887580-de5a6780-ce12-11e8-9fc2-e04ad2d7535d.png)

[2018-10-13 19:28] sagg155 commented on #2064
Hi!!
How do i start fixing this bug ,i have cloned the repository in my local filestore.
So,which file should i see to fix this or from what part should i start knowing this issue.
Please help as i am a noob in open source.

[2018-10-13 21:58] #1995 closed

[2018-10-14 19:59] DK308 commented on #2099
Hello is this issue available?

[2018-10-14 21:28] ragesoss commented on #2099
@DK308 yes, if you'd like to work on it, please go ahead.

[2018-10-14 21:34] DK308 commented on #2099
Ok, I m going to solve this issue :)

[2018-10-18 20:26] ragesoss opened #2125 "My Articles component should link to a different training depending on course type"
In particular, the new 'professionals' version of the training should be used in place of the students one, for some course types.

[2018-10-20 16:17] Cressence commented on #1996
@ragesoss can i work on this?

[2018-10-20 17:18] ragesoss commented on #1996
Please do!

[2018-10-22 08:53] urbanecm opened #2128 "Bad interwiki prefixes added while editing dashboard related pages by Dashboard"
Hi,

I was informed Dashboard is using bad interwiki prefixes (always directing to English language project regardless on project language.

This is example: https://cs.wikipedia.org/w/index.php?title=Wikipedie:N%C3%A1st%C4%9Bnka/Wikimedia_%C4%8CR/Editaton_v_%C4%8Cesk%C3%BDch_Bud%C4%9Bjovic%C3%ADch_(podzim_2018)&diff=16547465&oldid=16546868 .

Fix: https://cs.wikipedia.org/w/index.php?title=Wikipe

[2018-10-23 01:41] konpyuta commented on #2022
I think it would make most sense to move the _Find Your Course_ button to where the _Explore the Course Pages_ link is currently located. Would it be alright for me to make this change?

[2018-10-23 06:13] JAnDud commented on #2128
and family should be shortened to standard interwiki prefix:
wikisource:->s:
wiktionary:->wikt:
wikiquote:->q:
etc.

[2018-10-23 07:09] urbanecm commented on #2128
That's another possible solution, but wikisource: and s: is the same (on WMF wikis), and as nobody should edit dashboard-maintained page manually and insert the prefix manually, it can do no harm I think.

[2018-10-24 10:29] Samwalton9 opened #2129 "Allow Commons categories to be tracked specifically for uploads"
Original request at https://meta.wikimedia.org/wiki/Talk:Programs_%26_Events_Dashboard#Uploads.

It looks like you can't currently restrict image uploads to a particular Commons category - the tool always tracks all image uploads to Commons by participants. It would be good if users could track only images uploaded to a particular category, as they can with articles edited in a category.

[2018-10-24 13:33] refeed opened #2136 "Update 'docs/setup.md' to mention that `setup.py` also supports Fedora"
From `/setup.py`, it is mentioned that the script has been tested in Fedora as well. I think it might be worth to update the documentation in `docs/setup.md` to mention that `setup.py` script also support Fedora (currently the documentation only mentions that it supports Debian-based systems and MacOS)

https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/ce1150d65e67fa17acfe617c6be943

[2018-10-24 15:42] Jigar3 commented on #2064
I want to take this issue.

[2018-10-24 15:59] Jigar3 commented on #2064
This is when aligned right
![right](https://user-images.githubusercontent.com/32068121/47444241-b0423380-d7d3-11e8-936b-d49412e9d210.png)

This is when aligned center
![center](https://user-images.githubusercontent.com/32068121/47444243-b0daca00-d7d3-11e8-9a7e-23a5cda3aa40.png)

Personally, I think center aligned is better.
What are your suggestions?

[2018-10-24 16:55] ragesoss commented on #2064
@Jigar3 I agree that, overall, the spacing looks nicer with center alignment; the whitespace is much more balanced that way.

The main idea here is that the pageviews should have their units aligned, because it makes it easier to compare numbers of different orders of magnitude. Since completeness score is almost always two digits, center alignment works fine there, but for the pageviews, I think

[2018-10-24 17:02] ragesoss opened #2137 "Add tracking for 'Page' and 'Index' pages on Wikisource, etc"
These are relevant namespaces for Wikisource. To add support, we might need to modify the PHP Replica endpoint to add those namespaces.

[2018-10-25 07:13] Jigar3 commented on #2015
Has PR #2029 solved this issue or some work still remaining?
@ragesoss

[2018-10-25 19:49] #2064 closed

[2018-10-25 23:02] arcayn commented on #1709
Hi, just leaving my notes on the setup files here. It's a ~1000 word markdown file with notes on both ubuntu and windows installations, and which documents the changes in the PR I made.
[_installing_wikiedudashboard_.txt](https://github.com/WikiEducationFoundation/WikiEduDashboard/files/2517049/_installing_wikiedudashboard_.txt)

[2018-10-25 23:14] #2036 closed

[2018-10-26 09:24] Samwalton9 opened #2150 "Provide a clearer notice when a program has no campaign"
A user had an issue (https://meta.wikimedia.org/wiki/Talk:Programs_%26_Events_Dashboard#Password_not_accessing_dashboard) with a program not having a campaign set. This meant the program couldn't be joined by other users.

When this happens the message users get is, I believe, "This course has not yet been approved for enrollment." It seems like we could display a more informative notice here, spe

[2018-10-26 18:15] ragesoss commented on #2150
This is specifically for the case of the P&E Dashboard, rather than the Wiki Education Dashboard (which already has a different, detailed notification about the next steps for an unlisted course).

This is currently handled in the "Admin / Instructor notifications" of `course.jsx`. Tackling this issue would be a good opportunity to extract the logic for all the course-alerts to a separate componen

[2018-10-28 16:17] refeed commented on #2136
@ragesoss May I make a pull request for this?

[2018-10-29 00:38] sunny-lan commented on #2082
(GCI 2018)

I'll be making tests for `uploads.js`

[2018-10-29 17:01] ragesoss commented on #927
The mobile layout is better now, but still has room for improvement to play nicely with banners:

![better](https://user-images.githubusercontent.com/848483/47666763-9d2bbc80-db61-11e8-93a2-b6f7cdc37ddd.png)

[2018-10-29 22:09] ragesoss opened #2166 "Some test cases in 'timeline editing spec' fail on travis-ci"
Two of the browser tests, both of which test the behavior of course timelines, started failing recently. In particular, this is the first time they started failing: https://travis-ci.org/WikiEducationFoundation/WikiEduDashboard/builds/445426958

The point where they started failing seems unrelated to the commit where the problem began, and they continued to pass in local development environments.

[2018-10-29 22:28] ragesoss commented on #2128
Just deployed a fix, and it appears to be working: https://cs.wikipedia.org/w/index.php?title=Wikipedie%3AN%C3%A1st%C4%9Bnka%2FWikimedia_%C4%8CR%2FEditaton_v_%C4%8Cesk%C3%BDch_Bud%C4%9Bjovic%C3%ADch_%28podzim_2018%29&type=revision&diff=16569665&oldid=16547476

[2018-10-29 22:28] #2128 closed

[2018-10-29 23:10] #2019 closed

[2018-10-29 23:10] #2005 closed

[2018-10-29 23:10] #1985 closed

[2018-10-30 15:26] sunny-lan commented on #2082
Is it possible to get the tests working without setting up the whole env?
I tried just doing `yarn` and `gulp` to build, but that results in a large amount of errors from gulp concerning bundler (I have bundler installed)

[2018-10-30 16:11] ragesoss commented on #2082
@sunny-lan you must do `bundle install` before `gulp` will run, because one of the steps in the gulp pipeline involves calling the ruby script that generates the JS versions of the interface message translations.

[2018-10-30 16:13] ragesoss commented on #2082
That said, I don't think the javascript tests even depend on generating the assets. If you did `yarn` and it ran without error, you should be able to do `yarn test` to just run the jest tests.

[2018-10-30 22:01] #101 closed

[2018-10-31 01:48] ragesoss commented on #97
Done!

[2018-10-31 01:48] #97 closed

[2018-10-31 02:01] refeed opened #2171 "The success messages in setup/win-setup.bat should check whether the command is really successful or not first"
In https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/1012314716f98a58e3e84e01fb6689daffa0a1af/setup/win-setup.bat#L8-L10

I think, it's still not guaranteed whether the command `choco install ruby2.devkit --version 4.7.2.2013022403 -y ` (and the others as well) will run smoothly, if there's a problem such as connection problem, the command will be failed, and though the command is f

[2018-11-01 12:28] refeed opened #2175 "Remove trailing spaces and add a linter that cheks for trailing spaces in this repo"
From my investigation on this repo, there are about 369 trailing spaces on this repository. It's not a big problem though, but I think it'd be better if this repository had no trailing spaces.
![screenshot from 2018-11-01 19-14-39](https://user-images.githubusercontent.com/20320125/47851701-0afb1100-de0c-11e8-8ea9-327612dcfa7c.png)

[2018-11-01 12:53] refeed opened #2176 "Got "The engine "node" is incompatible with this module. Expected version ">=8". Got "6.14.4"" while trying to build WikiEduDashboard docker image"
When I was trying to build WikiEduDashboard's docker image with `docker build -t wiki-edu-dashboard .`, I got:

[code]

I think we need to update the version of `node` from 6 to 8 (I built the docker image successfully with this way)

[2018-11-01 16:20] #2176 closed

[2018-11-01 23:18] ragesoss opened #2186 "in Safari, ArticleViewer's use of `history.replaceState()` raises a SecurityError"
This error started appearing at a moderately high frequency in Sentry after we deployed the feature of ArticleViewer that adds the article ID param to the URL:

[code]

This appears to be happening across many version of Safari (including Mobile Safari).

[2018-11-02 21:23] ragesoss opened #2190 "Fix handling of conditional survey questions when condition changes"
In the survey system, there is an option for conditional questions that are only shown if previous questions are answered in a specific way (which is used for follow-up questions that only apply to some answers).

Previously, there was a bug (#1263) such that answering in that specific way, then proceeding to the conditional followup question, then backing up and changing the answer to the earlier

[2018-11-04 01:29] #1263 closed

[2018-11-06 11:29] Samwalton9 opened #2197 "Reword 'full contribution history' text"
Per https://meta.wikimedia.org/wiki/Talk:Programs_%26_Events_Dashboard#View_full_contribution_history - the text "View full contribution history on Wikipedia" should be reworded to "View full contribution history" because it can link to projects other than Wikipedia.

[2018-11-06 11:34] Samwalton9 opened #2198 "Add more options for limiting/restricting Wikimedia projects used for tracking"
Per https://meta.wikimedia.org/wiki/Talk:Programs_%26_Events_Dashboard#An_option_to_hide_Wikidata - some programs may want to focus on only one Wikimedia project, or exclude a particular project.

[2018-11-06 11:36] Samwalton9 opened #2199 "Add support for other Wiktionary namespaces"
Per https://meta.wikimedia.org/wiki/Talk:Programs_%26_Events_Dashboard#Wiktionary_content_namespaces - Namespaces 100 and 106 are useful but not currently tracked by default.

[2018-11-06 11:38] Samwalton9 commented on #2150
Done in https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2174.

[2018-11-06 11:38] #2150 closed

[2018-11-06 18:05] ragesoss commented on #2198
This is on the radar, and something that we can hopefully get done sometime in the next six months or so. Here's the existing issue for it: https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/1301

[2018-11-06 18:05] #2198 closed

[2018-11-07 00:45] ragesoss opened #2203 "Add article rating to the 'Articles edited' CSV data"
The CSV of articles edited gets generated by `CourseArticlesCsvBuilder`. Add a new column to include `Article#rating` in the output.

[2018-11-08 00:54] LuanvP commented on #1949
The PR is open here but I haven't had time to track down all the errors, @chalchuck feel free to try and fix that one or simply do over. Sorry for the delay

[2018-11-08 08:45] kagehina919 commented on #2082
@ragesoss can I work on adding some of the tests? I have set up the development environment (and opened a PR for #2197).

[2018-11-08 17:21] #2197 closed

[2018-11-09 16:05] AZReed commented on #2082
I'll take user related reducers:
user_profile
user_revisions
user_training_status
user

If someone is doing these let me know.

[2018-11-11 14:37] masterofthepuppets commented on #1351
![Screenshot](https://i.imgur.com/W1VYUAL.png)

OS: Windows Server 2012 64-bit
Problems I faced during following installation instructions:

I got an error when executing "bundle install", because the ruby version isn't '2.5.0'.

So I installed Ruby+Devkit '2.5.3' (https://rubyinstaller.org/) and tried again, same problem. So I fixed it by changing the Gemfile to support 2.5.3.

[2018-11-18 16:48] faithngetich commented on #2203
Hey @ragesoss I'd like to work on this issue

[2018-11-18 18:08] ragesoss commented on #2203
Please do!

On Sun, Nov 18, 2018, 8:48 AM faithngetich <notifications@github.com wrote:

[2018-11-19 14:22] Samwalton9 opened #2230 "Cloning doesn't work if new non-ASCII characters are added"
From [Meta](https://meta.wikimedia.org/w/index.php?title=Talk:Programs_%26_Events_Dashboard&oldid=18618003#Cloning_a_course_excludes_non-ASCII_characters):
- When a course is cloned (course_creator → clone an existing project) and then should be edited, it is impossible to edit or save ANY part of the text if any non-English characters are added. Those that were there earlier are fine and accepted

[2018-11-19 14:51] #2230 closed

[2018-11-19 14:52] Samwalton9 commented on #2230
Thanks Sage! Should this be live immediately, or do changes take some time to be pulled?

[2018-11-19 14:59] ragesoss commented on #2230
@Samwalton9 deployment is a manual process, but I just deployed so this is now live.

[2018-11-20 19:52] ragesoss commented on #1342
Done!

[2018-11-20 19:52] #1342 closed

[2018-11-21 20:30] ragesoss opened #2233 "Provide a way to embed a widget of stats from a course into another website"
The main set of course stats that is shown at the top of a course page is useful info for program organizers who are showing off the impact of their programs. Users sometimes take screenshots so that they can highlight these stats other places. It would be useful if, instead, they could use a snippet of code to embed a widget on an arbitrary site that renders the latest stats for a given course.

[2018-11-26 16:58] aSquare14 commented on #2028
I'm working on this !

[2018-11-26 18:09] ragesoss opened #2240 "Convert all controller specs to request specs (or feature specs)"
Controller specs are no longer a part of Rails core, and *request* specs are the recommended replacement. We have a fairly large set of controller specs, and converting them to request specs may be relatively simple (and it would allow us to remover the controller specs gem).

Here's an example conversion of a trivial controller spec: https://github.com/WikiEducationFoundation/WikiEduDashboard/com

[2018-11-26 19:08] dependabot[bot] opened #2241 "Insecure dependency: event-stream 3.3.6"
We noticed this repo pulls in `event-stream` at version `3.3.6` as a dependency. This version has had malicious code injected into it (see https://github.com/dominictarr/event-stream/issues/116 for more information) and we recommend that you either upgrade to `4.0.1` or downgrade to `3.3.4` as soon as possible. You can do this by setting a [Yarn resolution](https://yarnpkg.com/lang/en/docs/selecti

[2018-11-26 19:34] #2241 closed

[2018-11-28 05:36] aSquare14 commented on #2240
I'd like to work on this @ragesoss  !

[2018-11-28 10:45] aSquare14 commented on #2059
I would like to work on this @ragesoss :)

[2018-11-28 20:20] aSquare14 opened #2251 "Give user option of number of uploads he wants to display per page on uploads"
Currently UPLOADS_PER_PAGE = 100 is a constant. We can let users decide how many uploads they want to see per page. This can be placed beside the option of grid, list etc buttons on top right.

[2018-11-28 20:23] aSquare14 opened #2252 "Currently all the documents are in the code itself. Creating a Wiki would be helpful too."

[2018-11-28 20:29] ragesoss commented on #2252
Feel free to start hacking on [the wiki](https://github.com/WikiEducationFoundation/WikiEduDashboard/wiki) if you like!

Using a wiki for documentation does increase the risk of duplication, and also of out-of-date documentation (because while we may update the docs within the code repo when things change, the wiki is outside the repo and wouldn't be changed as part of the normal commit process).

[2018-11-28 20:37] aSquare14 commented on #2251
Makes sense. Closing it !

[2018-11-28 20:38] #2251 closed

[2018-11-28 20:39] aSquare14 commented on #2252
Sure. I'll start contributing to the wiki along with code contributions. We can set a slack reminder for every two months to update/ check wiki. And update it every two months or so !

[2018-11-28 21:19] ragesoss opened #2253 "Course manual_update should also clear the cached ORES progress plot CSV if there is one"
Manual update is commonly used to refresh course stats based on changed dates, but since we cache the structural completeness before/after data in CSVs each day, those ORES-based plots don't get updated to reflect the new dates.

Manual update should also delete any cached CSVs for the course.

[2018-11-28 21:22] #2253 closed

[2018-11-28 22:34] #2028 closed

[2018-11-29 10:43] aSquare14 opened #2254 "Code of Conduct for the Project."
https://github.com/WikiEducationFoundation/WikiEduDashboard/community
This link shows that we don't have a code of conduct. How about redirecting to https://www.contributor-covenant.org after adding a code of conduct section in the README.

[2018-11-29 10:52] aSquare14 opened #2255 "Improve layout of search bar in mobile phone screen."
The search bar is not proper. The search icon is in a new line. It can be reproduced by going to https://dashboard.wikiedu.org/campaigns/communicating_science/programs .
![screenshot_20181129-161953](https://user-images.githubusercontent.com/22938709/49217152-dcfcf280-f3f2-11e8-8138-f36c5f95f496.png)

[2018-11-29 16:39] ragesoss commented on #2254
We don't have a code of conduct specifically for this project, but per the end of the README, we follow the Wikimedia CoC: https://www.mediawiki.org/wiki/Code_of_Conduct

We could probably put a file just repeating the bit from the README so that it's easy to find programmatically (and so GitHub doesn't show it as missing).

[2018-11-29 17:47] aSquare14 commented on #2254
True. I'll do that !

[2018-11-29 18:02] #2254 closed

[2018-11-29 18:03] aSquare14 commented on #2254
@ragesoss  Could you take a look at that link again ? It still says no code of conduct !

[2018-11-29 18:12] ragesoss commented on #2254
Yeah, that's weird. Maybe because it's so short? Oh well.

[2018-11-29 18:46] aSquare14 commented on #2254
I think you have to propose from that link or something. Not sure though.

[2018-11-30 21:28] ragesoss opened #2263 "Fix styling on <select> elements"
Using native `<select>` elements, as we do on many forms, makes it difficult to style the inputs. In particular, the dropdowns use the native browser / OS styling that can't be changed with CSS.

Where we use the `react-select` library, we have control over the styling, like this:
![styled dropdown](https://user-images.githubusercontent.com/848483/49315733-a59a4e80-f4a3-11e8-93f9-9e90a55c2d52.png)

[2018-11-30 23:08] ragesoss opened #2265 "Upgrade to react-transition-group v2"
See https://github.com/reactjs/react-transition-group/blob/master/Migration.md

We use this is a handful of places. I *think* the usage in `TimelineHandler` doesn't do anything and can just be removed, although I'm not 100% sure.

[2018-12-02 19:42] ankitkataria commented on #2240
Hey @ragesoss! I would like to work on this issue. To start with I've changed the admin and alerts controller specs. I'll add more specs to the PR!
Also, I'd be grateful if I could get an invite of the Slack, looking forward to contributing to this project :smile:

[2018-12-04 10:48] hartman commented on #2199
wgContentNamespaces

[2018-12-06 15:55] #1921 closed

[2018-12-06 16:59] ragesoss commented on #1615
This is done for TrainingModule, so only TrainingLibrary is left.

[2018-12-06 18:58] #2265 closed

[2018-12-06 19:46] #2175 closed

[2018-12-07 00:39] kammikulski commented on #2240
@ragesoss hey! can I work on this issue? :smirk:

hello, @ankitkataria let me know, on which tests are you working on :wink:

[2018-12-07 05:18] ankitkataria commented on #2240
Hey @kammikulski Check my PR for the tests that I converted. [#2266](https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2266) :wink:

[2018-12-11 17:53] #1593 closed

[2018-12-11 19:14] pjht commented on #1476
I think the gem is defunct, as when I add it to the Gemfile and run `bundler`, I get this error:
Could not find gem 'rspec-retry' in any of the gem sources
listed in your Gemfile.

[2018-12-11 20:18] #2233 closed

[2018-12-12 08:00] shivanshbindal9 commented on #2263
I would love to work on this! Could you point me in the right direction? @ragesoss

[2018-12-12 20:45] ragesoss opened #2312 "Move jquery-uls to the webpack config"
After a gradual process of removing other JS dependencies that used to be concatenated together into a vendor file (which was initially done with `bower`), all that we have left of this is jquery itself, which is put into the assets as 'jquery-uls.js`. This is currently just copied from the (specially-named) node modules directory where jquery gets imported, via the `jquery.uls.js` gulp task.

We

[2018-12-13 00:00] ragesoss commented on #2263
It was supposed to be `select` rather than `input`. Whoops!

@shivanshbindal9 if you're already familiar with React, the outline of this task is something like:

* Look at a component that already uses react-select, like MultiSelectField
* Look at a component that uses plain select elements, like `CourseTypeSelector`
* Replace `select` with the appropriately configured react-select `Select` compon

[2018-12-13 15:12] shivanshbindal9 commented on #2263
#2314 I tried to fix the issue for CourseTypeSelector! @ragesoss

[2018-12-13 17:55] ragesoss commented on #2263
Looks like the jest test for that will need to be updated. `yarn test` will run the javascript tests; you should take a look at the file for the failing test and see if you can update it for the implementation.

[2018-12-14 10:46] shivanshbindal9 commented on #2255
@aSquare14 I would like to work on this issue!

[2018-12-14 18:04] ragesoss opened #2319 "Investigate replacing moment.js with date-fns"
date-fns is designed to be a more modular replacement for moment.js. Since we only use a small part of moment's functionality, we might be able to save a fair amount of bundle size if we switch. The biggest question is whether we'll be losing any i18n functionality.

[2018-12-14 18:05] ragesoss commented on #2255
@shivanshbindal9 go for it!

[2018-12-14 18:51] shivanshbindal9 commented on #2255
#2320 fixed it!! @ragesoss

[2018-12-14 19:49] shivanshbindal9 commented on #2255
#2321 Sorry, for the inconvenience . I have made all the changes. @ragesoss

[2018-12-14 20:59] ragesoss commented on #2255
Great, thanks!

[2018-12-14 20:59] #2255 closed

[2018-12-14 21:31] ragesoss commented on #1234
We fixed one bit of bugginess, but the root issue is still there. My thoughts from the recent PR:

I think the only way to make this work the way we really want is to put timezone all the way through the process. So, we want to have the course start/end dates for the ones that don't specify exact time to be start of the day in local time for the start date, and to end at end of the day in local ti

[2018-12-15 17:58] shivanshbindal9 commented on #2058
@cleverprogrammer402 are you still working on this issue ?

[2018-12-17 21:12] isunitha98selvan commented on #2058
Can I work on this?

[2018-12-17 21:17] ragesoss commented on #2058
I'm pretty sure @cleverprogrammer402 is no longer working on it. @shivanshbindal9 @isunitha98selvan either of you should feel free to work on it. If you both find solutions, we can compare them; it's likely to be a pretty small change, so not too much work will go to waste.

[2018-12-18 17:00] shivanshbindal9 commented on #2058
#2329 fixes this issue !! @ragesoss

[2018-12-18 17:38] shivanshbindal9 commented on #2263
#2314 I have added tests for Select in course_type_selector!! @ragesoss

[2018-12-19 19:36] shivanshbindal9 commented on #2263
#2331 I have added react-select in home_wiki_project_selector! @ragesoss

[2018-12-20 18:53] devanshbatra04 commented on #2312
I would like to pick this issue up. My first.

[2018-12-30 08:01] AmitJoki opened #2340 "Convert Training Library to Active Record"
With Training Module and Slides already converted to Active Record, Training Library has to be migrated to Active Record as well to keep things uniform.

[2018-12-30 10:19] davidnoahball commented on #1611
I'd like to take a stab at this. Am I good to go, @ragesoss? Any input or heads-ups for a first-time contributor?

[2018-12-30 16:17] ragesoss commented on #1611
@davidnoahball you're welcome to take this on, but it's a relatively complex issue in terms of how much context about how the app works that will be relevant. It's likely to require frontend changes, backend changes, and new Capybara feature specs. Depending on your goals, it might be better to start with a more isolated issue.

If you'd like an invite to our slack channel, let me know.

[2019-01-02 23:15] #2203 closed

[2019-01-04 11:01] algomaster99 commented on #2319
Hey @ragesoss! I am a newcomer so I'm just giving my opinion. I think it will lose i18n functionality since only format function has i18n support in date-fns and this project has used many functions other than format.

[2019-01-04 12:18] hardy1334 commented on #1709
Hey,I'm setting up https://github.com/WikiEducationFoundation/WikiEduDashboard
repo on my system, its front end is working but its not fetching anything from database
![screenshot from 2019-01-04 17-47-50](https://user-images.githubusercontent.com/31733278/50687892-f07e2780-1048-11e9-8a7c-e19077b8aa37.png)

[2019-01-04 15:07] psinghal20 commented on #1709
Hi @hardy1334, have you populated the database? If not, you can run `rake dev:populate` to populate the DB and run `rake batch:update_constantly` and `rake batch:update_daily` to fetch the revisions.

[2019-01-04 15:13] Samwalton9 opened #2350 "Courses can be created with a space at the end"
[This](https://outreachdashboard.wmflabs.org/courses/Wikimedia_ZA/Afrikaans_Writing_Competition) course was initially created with an additional space at the end of the title, which meant the URL ended with an additional _. I've since renamed it, but presumably additional whitespace should be trimmed before course creation.

[2019-01-04 17:06] hardy1334 commented on #1709
Thanks @psinghal20  I will definetly do this

[2019-01-04 20:24] garry329 commented on #2350
I have created a pull request which fixes this issue.I am new to wikimedia and open source contribution as well.This seemed like a good first issue to resolve.

[2019-01-04 20:41] ragesoss commented on #2350
There's already some client-side sanitation that is supposed to prevent this, but I'm not sure exactly how to replicate the trailing underscore bug... which I've seen a couple times recently. I'd love to know exactly what steps people are taking that causes that kind of situation.

[2019-01-04 20:54] garry329 commented on #2350
This issue can replicated by adding a single space after course title or institute name in the course creation form.

[2019-01-04 21:43] ragesoss commented on #2350
Nice. I think this has been fixed and re-broken a couple times. I have a frontend fix ready, but we could do your backend patch as well just in case.

[2019-01-05 06:52] hardy1334 commented on #1709
@ragesoss can you send me slack invite

[2019-01-05 15:04] ragesoss commented on #1709
@hardy1334 I'll need your email address. You can reach me at sage@wikiedu.org

[2019-01-05 15:22] hardy1334 opened #2353 "Create An Account Not Working From Instructors Dashboard"
I have tried to Click on **Create an account** not working from Instructor's Dasboard but its not working,most of the time if a username entered is available,then I get the error **There was an error Couldn't create an account ** of the username I entered, and sometimes after entering username I see **_1**  in red color in the bottom of that card.

![screenshot from 2019-01-05 20-45-33](https://us

[2019-01-05 17:32] hardy1334 commented on #1709
@psinghal20  In my dashboard,I'm not able to see **students** option, once  I login with Instructor' s  account,Can you help me with that
![screenshot from 2019-01-05 23-02-05](https://user-images.githubusercontent.com/31733278/50727220-f7d32d00-113d-11e9-9f86-f8c3e4acd5ca.png)

[2019-01-05 17:42] psinghal20 commented on #1709
@hardy1334 The editors tab is same as the students tab. You can enroll editors(students) for the course from there.

[2019-01-05 18:06] hardy1334 opened #2354 "Alignment of Time Dropdown once a program is created"
Alignment of  Dropdown of time option needs to be done,when once a program is created and when we click on **Edit Details** of the particular program .

![screenshot from 2019-01-05 23-27-28](https://user-images.githubusercontent.com/31733278/50727565-b1cc9800-1142-11e9-8a0f-c22bbdf9fe28.png)

[2019-01-05 18:07] hardy1334 commented on #2354
@ragesoss  I'll like to work on it

[2019-01-05 18:07] ragesoss commented on #2353
This feature requires that you have an OAuth consumer with account creation permission in order to actually create an account. It's not generally needed in development, unless you're working on that feature.

[2019-01-05 18:07] #2353 closed

[2019-01-06 08:45] hardy1334 commented on #1984
@psinghal20  Can you please explain in detail this issue,I'll like to work on it

[2019-01-06 12:33] hardy1334 commented on #2354
@ragesoss shall I go for it

[2019-01-06 15:43] ragesoss commented on #2354
Yeah, please do.

On Sun, Jan 6, 2019, 4:33 AM HARDIK CHUGH <notifications@github.com wrote:

[2019-01-06 16:08] psinghal20 commented on #1984
@hardy1334 I think this issue has been already solved by the takidelfin. I forgot to close the issue.

[2019-01-06 16:08] #1984 closed

[2019-01-07 17:35] ragesoss commented on #2319
I'm not sure where / if we use moment's i18n features, or how they get used. We have plenty of other i18n that isn't related to moment, but we need to survey how we use moment and what the date-fns alternatives would look like, including for i18n if necessary.

[2019-01-07 19:08] #719 closed

[2019-01-07 19:32] ragesoss commented on #2350
Okay, this now has re-fixed client-side sanitization along with new server-side sanitization just in case. I'm deploying the fix right now.

[2019-01-07 19:32] #2350 closed

[2019-01-07 20:41] ragesoss opened #2360 "When a timeline start date is Sunday, the previous week shows up as an empty week 1"

[2019-01-07 20:50] ragesoss commented on #2099
@snehasi yes, please do! Sorry for the late reply; I've been on vacation and neglecting my inbox.

[2019-01-08 10:48] Ace-Bansal commented on #2360
@ragesoss  I'd like to work on this.

[2019-01-08 19:49] ragesoss opened #2362 "In supplementary onboarding for instructors, collect 'how you heard about us' details"
Currently, we have this question as a free text field, but the lack of structure makes it less likely to get useful details. We especially want to find out *who* referred them if it was a colleague, and what specific conference, workshop, etc, for the other common avenues.

Current version:

![supplementary form](https://user-images.githubusercontent.com/848483/50854970-6cbf8600-133b-11e9-95e9-b69

[2019-01-08 21:01] ragesoss opened #2363 "Fix dependencies so that `yarn --ignore-engines` is not necessary and node 11 works"
We get a lot of problems lately related to yarn and node versions...

In particular, linux users (among others?) must run `yarn --ignore-engines` to get yarn to properly install the node modules, and node 11 is not compatible with the build process (at least, on travis-ci).

Fixing whatever version incompatibilties prevent us from using the latest node and the vanilla `yarn` command would save a l

[2019-01-08 22:43] ragesoss opened #2364 "Super admins should be able to set the `default_campaign` via /settings"
Currently, the way to control the default campaign is to change it in `application.yml`.

This is something that should be controllable via the /settings UI instead.

It may require some caching to avoid needing to fetch a Setting record from the database on each query... possibly via another settings-related presenter that caches data as class variables.

[2019-01-09 18:13] ragesoss commented on #1974
We've removed points from the UI altogether.

[2019-01-09 18:13] #1974 closed

[2019-01-09 20:07] ragesoss commented on #2166
I think this got fixed. Maybe it was a change in the default node version on travis that caused it.

[2019-01-09 20:07] #2166 closed

[2019-01-09 21:14] #2240 closed

[2019-01-10 12:53] zerefwayne commented on #2125
@ragesoss I would like to work on this issue.

[2019-01-10 19:16] ragesoss commented on #1802
done!

[2019-01-10 19:16] #1802 closed

[2019-01-11 13:14] hardy1334 commented on #2362
@ragesoss  I'll like to work on this issue

[2019-01-11 15:18] #2362 closed

[2019-01-11 17:49] #2363 closed

[2019-01-11 17:53] hardy1334 commented on #1863
@ragesoss  I'll like to work on this issue

[2019-01-13 19:16] shivanshbindal9 commented on #2263
#2380 adds react-select in yes_no_selector!! @ragesoss
Can you also please send me a slack invite . I would like to contribute to this project.

[2019-01-14 19:42] snpd25 commented on #2125
Hi @ragesoss

If this issue isn't already taken, can I work on it?

Thanks!

[2019-01-14 20:19] ragesoss commented on #2125
@snpd25 sure, go for it. Post if you have any questions, and send me your email if you'd like an invite to our development Slack channel for the project.

[2019-01-14 21:51] ragesoss commented on #2263
Sure! Send me an email to sage at wikiedu.org.

[2019-01-15 16:07] snpd25 commented on #2125
Sure, my mail id : prasadsneha2502@gmail.com

[2019-01-15 17:03] ragesoss commented on #2125
In MyArticles component, there's a link to `/training/students/finding-your-article`.

Instead of always linking to that training module, it should vary based on the the course type: for a FellowsCohort type, it should link to `/training/professional-development/finding-your-article-professional` instead.

[2019-01-15 19:32] ragesoss commented on #1615
Done, thanks to @AmitJoki

[2019-01-15 19:32] #1615 closed

[2019-01-15 20:09] snpd25 commented on #2125
Can you please specify the path to MyArticles component?

[2019-01-15 20:16] ragesoss commented on #2125
It's `/app/assets/javascripts/components/overview/my_articles.jsx`.

I usually use the search function (ctrl + shift + F) in my code editor (VS Code) to find the file for a given component.

[2019-01-16 00:39] ragesoss opened #2383 "Separate out wiki edit config from course type"
Course `type` is doing too many things that don't map cleanly. In particular, scoping revisions (which is probably the right thing for it to be doing), determining which interface messages to use (also fine, I think), and determining which types of edits a course can make (which usually map to course type, but with exceptions, especially when course types are pretty broad).

In particular, Czech W

[2019-01-16 00:42] ragesoss opened #2384 "Add warning when instructors change course dates, to discourage re-using an old course"
This would only be relevant for Wiki Education, but we want to head off instructors from changing the course dates, removing their studenrts, and re-using the same course page for a subsequent term.

They should still be able to change the dates on an approved course that hasn't been closed yet, but they should see some kind of messaging to let them know start a new course rather than change the d

[2019-01-16 00:54] ragesoss opened #2385 "Add 'references added' stats to the Dashboard"
I'm not sure if this makes sense (or would be performant) for every course, or maybe just ones that opt-in, but we could get a mostly-accurate count of references added by using the ORES feature data that we already store for each article.

See https://meta.wikimedia.org/w/index.php?title=Talk:Programs_%26_Events_Dashboard&oldid=18784390#Using_the_Dashboard_for_#1Lib1Ref

[2019-01-16 04:52] snpd25 commented on #2125
Apart from FellowsCohort type , for all the other types, should it direct to `/training/students/finding-your-article `

[2019-01-18 17:49] ragesoss commented on #1001
This is happening again (at least since the recent switch of OAuth consumers to the current one, OAuth CID 1232: https://en.wikipedia.org/w/index.php?hidebots=1&hidecategorization=1&hideWikibase=1&tagfilter=OAuth+CID%3A+1232&limit=50&days=7&damaging__likelybad_color=c4&damaging__verylikelybad_color=c5&title=Special:RecentChanges&urlversion=2

I added that CID to the application.yml right after swi

[2019-01-19 11:43] garry329 commented on #1977
Is there any work left to be done on this issue @ragesoss sir?I would like to work on this one if there is.

[2019-01-19 11:47] garry329 commented on #1942
Can anyone elaborate on this issue?

[2019-01-19 13:02] garry329 commented on #2385
So i looked into the features field stored in the revision model which contains a field indicating the no. of ref tags added in that revision.So we can find out the no .of references added by each user on each article from that.So, @ragesoss  sir can you give me  some clarity on how & where to represent this data?

[2019-01-21 04:27] hardy1334 opened #2402 "Event start and end date are confusing if activity start/end are set to the same time"
If we go to edit  a program we created then,on changing Event start and end date all the options for date are not shown,for event start only 2 options of dates are there, and for event end date,no option to change date is shown

**Event End:**
![screenshot from 2019-01-19 16-38-25](https://user-images.githubusercontent.com/31733278/51452937-da6ba900-1d62-11e9-80fd-9beb89d4982f.png)

**Event Start*

[2019-01-22 21:33] ragesoss commented on #1942
The idea is that each active course is part of one or more campaigns. Each active course can have a mirror page on Wikipedia that includes much of the same content as the dashboard course page; this is generated by `lib/wiki_course_output.rb`.

This task involves updating that content to include the campaign names. This would probably be done as an additional parameter in the course details templa

[2019-01-22 23:33] #2383 closed

[2019-01-23 13:53] shivanshbindal9 commented on #2263
#2410 addresses the issue that first option was selected even if any other option was selected.
Also, can you please tell me other places where we need to change `<select>` to react-select .

[2019-01-23 16:58] Aktron opened #2411 "Custom name for courses"
Hi. Every course is always labeled as a course. This is great for educational courses, but confusing for participants of _every other activity tracked by the WikiEduDashboard_ What I would propose is a new label that can be added when creating a new course. It will give the user an option whether the activity is a course/contest/anything else.

This basically means that "Course Activity" should be

[2019-01-23 17:54] ragesoss opened #2412 "Edits should never create an empty page"
In some cases, such as an assignment being added and then removed again before the edit job is run, the dashboard may create a page that doesn't exist already, but make it empty. Ideally, this should not happen; in such cases, it should just leave the page as a redlink.

[2019-01-23 21:07] ragesoss commented on #2263
@shivanshbindal9 I think pretty much everywhere that uses `<select` right now could potentially benefit from switching.

Many of the cases we have left are for table sorting, like in UploadsHandler, RevisionsHandler, ArticlesHandler, and AlertsHandler.

Others are more similar the ones you already did: CourseLevelSelector, HomeWikiLanguageSelector, and BlockTypeSelect.

[2019-01-23 23:16] ragesoss commented on #2411
I'm not sure why I didn't remove the label altogether already, but I've just done that. Aside from the "course" language, it also doesn't provide any useful information as a label; the stats section is pretty self-explanatory.

I'll deploy the change soon.

[2019-01-23 23:16] #2411 closed

[2019-01-23 23:18] ragesoss commented on #2402
This is because the 'activity tracking' start and end times are the outer limits for the event start/end.

In the screenshot, the event starts and ends at the same moment, so there are no dates within that range.

[2019-01-24 09:01] shivanshbindal9 commented on #2263
#2413 add react-select in home_wiki_language_selector.
Also, do we need to change all the instances where we have componentWillMount() ?

[2019-01-24 15:56] garry329 commented on #1942
So i have added the campaigns of a particular course as a parameter in the course_details method.Can you please tell me @ragesoss sir what more needs to be done?
![screenshot 2019-01-24 at 9 23 07 pm](https://user-images.githubusercontent.com/20072704/51690418-a4f2e400-201e-11e9-8f4e-71e832657046.png)

[2019-01-24 20:40] ragesoss commented on #1942
@garry329 yes, that would probably work fine. Probably a space after the comma in the `join` would be better.

[2019-01-24 22:10] ragesoss opened #2418 "Cloning survey question groups results in broken conditionals"
When a question group gets cloned, the conditionals that refer to other questions in the same question group get copied over unchanged, so the question they depend on isn't part of the new cloned question group.

We should either disable cloning of question groups, or make sure the conditions get updated appropriately during cloning and also add some validation for the conditionals within a questi

[2019-01-25 06:21] garry329 commented on #1942
Ok @ragesoss sir, so i am opening a PR to close this issue.Can you please also look into issue #2385 and tell me what's required?

[2019-01-25 18:24] ragesoss commented on #2137
There are other relevant namespaces on some Wikipedias, as well. See https://phabricator.wikimedia.org/T214681

[2019-01-26 07:46] Arpitpundir commented on #1709
![yarntesterror](https://user-images.githubusercontent.com/31767753/51784279-32901a00-216c-11e9-8bd7-349a00340fc1.png)
i have done set up by script, but i can't see dashboard on localhost and on running yarn test i am getting this error stuck here need help

[2019-01-26 22:47] shivanshbindal9 commented on #2263
#2424 add react-select in block_type_selector.

[2019-01-27 00:35] benpolinsky commented on #1510
@ragesoss Hi.

Just got a build up and running locally. I see there's tons of test coverage to make up. I'd love to help out.

Personal opinion is that [react-testing-library](https://github.com/kentcdodds/react-testing-library) has a better philosophy to testing and simpler API than enzyme, but I can understand if you don't want to introduce a third way of testing React Components.

Let me know :

[2019-01-27 05:11] Arpitpundir commented on #2263
@ragesoss can i work on this?

[2019-01-27 09:37] utkarsh-raj commented on #2099
Are you still working on the issue @snehasi ? If not, I would like to take up the issue @ragesoss ?

[2019-01-28 18:05] ragesoss commented on #2263
@shivanshbindal9 eventually, yes, we'll need to replace all uses of componentWillMount. If it's part of the same component that you're updating for `select`, then it's find to combine that fix into the PR.

@Arpitpundir maybe better to work on a different issue, as Shivansh is working through the select elements already.

[2019-01-28 18:08] ragesoss commented on #1510
@benpolinsky I'd love to see a best-practices example of what it would look like to test a nontrivial component using `react-testing-library`. I'd like to find a clear and consistent pattern for doing component tests.

@bwreid do you have opinions about react-testing-library vs. enzyme?

[2019-01-28 19:12] ragesoss commented on #2089
Fixed!

[2019-01-28 19:12] #2089 closed

[2019-01-28 19:16] ragesoss commented on #2058
I think this is taken care of now.

[2019-01-28 19:16] #2058 closed

[2019-01-28 19:18] ragesoss commented on #1552
This is done, thanks to Amit.

[2019-01-28 19:18] #1552 closed

[2019-01-28 19:24] ragesoss commented on #1462
done!

[2019-01-28 19:24] #1462 closed

[2019-01-28 19:44] ragesoss commented on #1514
Done!

[2019-01-28 19:44] #1514 closed

[2019-01-28 19:45] bwreid commented on #1510
I'm down for whatever works best.  :)  We'll need to accommodate the following with any set of tools:
* Mocking API calls
* Routing
* Redux
* User Interaction

It looks like `react-testing-library` has examples for all of those, so I'd be up for making the switch. There are probably lots of places to start but let us know if you're looking for some guidance @benpolinsky

[2019-01-28 20:49] ragesoss opened #2428 "In Timeline arrange mode, blocks with long titles have glitchy drag'n'drop behavior in Chrome"
Adjacent blocks with long titles that wrap end up overlapping slightly in arrange mode.

In Chrome (but not Firefox), dragging one of the overlapping blocks sometimes cause other blocks to shift position as well.

Part of the problem is likely the calculated pixel offsets (all the places that calculate based on multiples of `75`) in the default style for for the `Motion` element that wraps the reo

[2019-01-28 21:13] shivanshbindal9 commented on #2263
@ragesoss I am not able to select the course level when creating a new course. Can you please help !!
![dbt](https://user-images.githubusercontent.com/35252539/51866701-a4848100-236f-11e9-91ca-dc3bf7398b1d.png)

[2019-01-28 23:46] ragesoss commented on #2428
Yeah, that would probably be better than the current situation, although truncating is likely to cause a bit of confusion in some cases.

If we go the truncation route, I think we should leave as much of the title in as will fit, least.

[2019-01-29 00:16] ragesoss commented on #2263
To get that selector, you need to have `wiki_education: 'true'` set in application.yml, so that you get the version of that form that is tailored to university courses.

[2019-01-29 00:41] bwreid commented on #2428
Alright, after looking at the docs and the code a bit more, I think this connects with the problem from React Drag n Drop that I mentioned in PR #2273. Truncating does help with some of the dragging issues but sometimes the reordering of items ends up pushing other items around in unexpected ways. So weird that this is happening in Chrome and not Firefox.

I'm going to reference [this demo](http:/

[2019-01-29 01:34] benpolinsky commented on #1510
@ragesoss @bwreid I think the biggest shift from `enzyme` to `react-testing-library` is ditching [shallow rendering](https://github.com/airbnb/enzyme/blob/master/docs/api/shallow.md), replacing it with plain mocks.

Briefly, the idea is that shallow rending is too heavy-handed, always mocking all children of a component. The philosophy is [laid out fairly well here.](https://blog.kentcdodds.com/wh

[2019-01-29 13:54] shivanshbindal9 commented on #2263
#2430 add react-select in course_level_selector !!

[2019-01-30 13:31] faithngetich opened #2432 "Upgrade Rails to 6.0.0.beta1"

[2019-01-30 19:32] ragesoss opened #2435 "Add email to instructors for unsubmitted courses alerts"
We currently have an UnsubmittedCoursesAlert that is supposed to let Wiki Education staff know about courses that never got submitted, after they pass the `start` date.

This will be more effective as an automated email that goes to the instructors themselves, which will require reworking these alerts a bit.

The alert should be generated (instead of the current conditions) for an submitted course

[2019-01-30 19:48] #1942 closed

[2019-02-09 13:43] shivanshbindal9 opened #2452 "Due date still visible when Block type is changed"
Once we change the block type of any block to "assignment" we can set its due date and it is shown alongside the Edit button. But as we change the type to any other type like "in class" or "milestone" still the due date is shown.
![issue](https://user-images.githubusercontent.com/35252539/52521458-70795c00-2c9d-11e9-8574-29bc4126d8e3.png)

[2019-02-11 17:20] hardy1334 opened #2458 "Adding option to pause a program for instructors"
@ragesoss  It's a good idea to add option to let instructors  pause a program,because if due to some reasons instructor wants to pause the program for some duration, and then continue the same course, he should be able to do that

[2019-02-11 19:42] fliptrail opened #2459 "Minor typos while entering personal details in signup form"
**Current State**
![screenshot from 2019-02-12 01-08-58](https://user-images.githubusercontent.com/40834245/52588627-ea0e7700-2e62-11e9-84a1-771e3bb43523.png)

**Proposed new state**
"First name and Last name:
Your real name is not public. It can only be seen by you, your instructor, and WikiEdu admins."

I would like to work on it.

[2019-02-11 21:21] ragesoss commented on #2459
I'm unclear: what are typos?

[2019-02-11 21:37] ragesoss commented on #2452
Fixed.

[2019-02-11 21:37] #2452 closed

[2019-02-11 22:11] ragesoss opened #2460 "Query to fetch user uploads in UserProfilesController#stats is slow for users with many uploads"
Part of the query for user stats involves fetching the latest 20 uploads for that user. This is extremely slow for a user with lots and lots of uploads (eg, User:Pharos).

My guess is that it's because of the ordering, which makes it miss the index. Might be solveable by adding an index for the date of upload.

[2019-02-11 22:22] ragesoss commented on #2458
Can you provide more detail on how you picture this working?

This is not a request we've gotten from any instructors or program leaders that I can remember.

[2019-02-12 00:25] ragesoss opened #2461 "Milestones week numbers don't match Timeline week numbers"
In the Milestones component, the numbering of the weeks does not account for either `weeksBeforeTimeline` or empty weeks, so the numbering will not match the corresponding weeks on the Timeline tab if the timeline doesn't start on Week 1 of the course or if there are empty weeks before the last milestone.

The easiest solution is probably to duplicate the approach used in Timeline to iterate throu

[2019-02-12 06:18] hardy1334 commented on #2458
@ragesoss  We can let instructors let pause a course for **n days** and then again continue.<br><br>
![dfl43cv](https://user-images.githubusercontent.com/31733278/52615694-14d8e980-2ebc-11e9-978b-72ccf8cf66ee.jpeg)

[2019-02-12 16:36] khyatisoneji commented on #2461
Can you please point to the code in timeline component that takes care of handling weeks and weekMeetings.
Thanks!

[2019-02-12 20:01] ragesoss commented on #2461
weekMeetings gets passed down from TimelineHandler, and most of the logic is in the render method of Timeline, lines 178 to 258.

[2019-02-12 20:04] ragesoss commented on #2458
That sounds like a very complicated feature, if the idea is stop tracking edits during that paused period as well. Unless we hear from users who have a specific need for this, I think this isn't a feature that would be worth the extra complexity.

[2019-02-13 08:45] #2458 closed

[2019-02-13 16:02] ragesoss opened #2471 "Admins should be able to notice and act on requested accounts more easily"
On both production instances of the Dashboard now, we've got the requested accounts feature in use, but the biggest pain point seems to be account requests that never get processed; there are currently about 80 of them on Programs & Events Dashboard, likely because of cases where the program organizer didn't realize they needed to take action to create the requested accounts.

I'm not sure what th

[2019-02-13 17:19] ragesoss opened #2473 "Show count of ungreeted users in admin `dashboard` view"
Wikipedia Experts would really like to be able to see which of their courses have (large numbers of) ungreeted students.

Doing this immediately may or may not introduce a performance bottleneck, since we don't cache the ungreeted count on the `Course` record. On a quick test, I think it might be fine, as long the courses query gets an `includes(:students)` tacked on so that it's not an N+1.

[2019-02-13 19:36] khyatisoneji commented on #2461
Will take up this issue.

[2019-02-13 19:40] khyatisoneji commented on #2461
@ragesoss For timeline, we calculate the `weeksBeforeTimeline` variable based on course's `start` and `timeline_start`.
How would we calculate `weeksBeforeTimeline` for Milestones component?

[2019-02-13 19:50] shivanshbindal9 commented on #2263
@ragesoss Sir, are there still any ```<select>``` elements remaining that need to replaced except for the ones left for table sorting ?

[2019-02-13 20:42] ragesoss commented on #2461
@khyatisoneji weeksBeforeTimeline would be calculated the same way, and that's probably the first thing that could be moved into a selector, so that the result gets cached and shared between Milestons and Timeline.

In Milestone, we don't need to push any extra blocks, we just need to increment the week count.

Currently, Milestone is using week.order for the numbering, while Timeline starts the n

[2019-02-13 23:23] bwreid opened #2474 "Set Classroom Program Manager as default instructor for Classroom Program courses"
For the Classroom Program, typically the Classroom Program Manager is added as a Wiki Ed Staff member for every single course. To make this user experience easier, we should by default add that user.

See `courses_controller.rb` and `list_course_manager.rb`.

[2019-02-14 14:23] hardy1334 commented on #2059
@ragesoss in this issue,we need to rename the functions for **jeet 7** and modify the import statements respectively, anything else ?

[2019-02-14 16:18] ragesoss opened #2479 "Upgrade activerecord-import to version 1.0"
See https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2440

Upgrading this gem will require a few code changes to retain the old behavior, which we rely on.

[2019-02-14 19:15] khyatisoneji commented on #2461
@ragesoss I am not sure if I completely understand the changes that are required to achieve this.
I get the issue with weeksBeforeTimeline not being part of Milestones and the relevant issue in the course link that you provided.

If I got this correctly,
We need to calculate weeksBeforeTimeline by passing in course start and then do:
[code]

And then in component, we need to do:
[code]

instead of

[2019-02-14 19:40] ragesoss commented on #2461
Yes, I think you have that correctly. The one missing part is the the index, not only increments as you loop through the weeks, but may also increment for an empty week, which is not represented in the `weeks` array, and is handled in Timeline by the `while` statement for weekMeetings that equal `()`, which means a calendar week with no meetings.

[2019-02-14 19:44] #2479 closed

[2019-02-15 15:55] #2435 closed

[2019-02-15 15:56] #2474 closed

[2019-02-15 16:00] ragesoss opened #2484 "New Salesforce media records should set the 'engagement name' to the article title, and should keep track of which articles are new"
The place to do this is in create_salesforce_media_record.rb, once you find the API name of the `Engagement name` field of the Engagement record type in Salesforce.

A new Salesforce field to mark a new article will also be required.

To determine whether an article is new, use the corresponding ArticlesCourses record for that article and course.

[2019-02-15 19:17] ragesoss opened #2485 "NoMethodError when PlagiabotImporter query does not return results"
https://sentry2.wikiedu.org/wikiedu/p-e-dashboard/issues/2602/

[code]

[2019-02-15 19:22] #2186 closed

[2019-02-15 20:05] ragesoss opened #2486 "skylight doesn't work after deployment by a different user on P&E Dashboard"

[2019-02-15 20:05] ragesoss opened #2487 "crontab from whenever is not shared between deploying users on P&E Dashboard"
This means multiple users may have crontabs that are trying to do the regular update processes, resulting in errors when the first user creates the update PID file and another user cannot interact with that process (eg, to check whether it is running).

[2019-02-15 22:12] #2484 closed

[2019-02-16 00:29] bwreid opened #2490 "ArticleViewer open/close buttons unlabeled"
The ArticleViewer's open and close buttons are currently not accessible in that they have no labels. When used by a screenreader, it is difficult to understand what each button is.

We need to add some kind of label to the ArticleViewer's open and close buttons. I believe the Uploads tab on the course page has some examples of visual buttons that contain accessible text.

[2019-02-16 14:09] gautamig54 commented on #1709
I am setting up a development environment for WikiEduDashboard. When I run python3 setup.py, I get an error
 Mysql2::Error::ConnectionError: Access denied for user 'wiki'@'localhost' (using password: YES)

I am not able to resolve it. Can someone help me with this.
I have simply forked this repo and haven't made any extra changes. I have all dependencies Installed properly.

[2019-02-16 18:53] psinghal20 commented on #1709
Hi @gautamig54, looks like there is some error during user setup steps. Could you check if the user is correctly setup? You can do so by running `mysql -u root -p` and `select * from user`. If the user is correctly set up, please check if the `config/database.yml` has the correct credentials setup.

[2019-02-16 19:26] gautamig54 commented on #1709
@psinghal20, I sorted the issue. I just had to allow certain grants explicitly for the mysql database dashboard. It worked fine post that.
Thanks!

[2019-02-16 23:45] urbanecm opened #2491 "Assignments in foreign wikis shows as interwiki in wikipage"
Hi,

I noticed that assignments in foreign wikis (in other wiki than course's home wiki) in courses with wiki page enabled shows as interwiki in the page. See https://cs.wikipedia.org/w/index.php?title=Wikipedie:N%C3%A1st%C4%9Bnka/Wikimedia_%C4%8CR/Workshop_psan%C3%AD_Wikipedie_-_zima_2019_(14-02-2019)&oldid=16952366 as an example (permanent link). Talien73's assignments are Pendon Museum@cswiki (

[2019-02-18 16:04] hardy1334 commented on #2059
@ragesoss  I upgraded **jeet** version to **7.2.0** , css files compiled properly with no warnings or errors but the **grid layout** changes.

![screenshot from 2019-02-18 21-30-03](https://user-images.githubusercontent.com/31733278/52963017-b54f7200-33c4-11e9-93b0-a290bcbb3485.png)

[2019-02-19 18:20] bwreid opened #2497 "Initiate cloning from a course, if it's cloneable"
As an admin, we want the ability to start cloning a course directly from an old course page as opposed to having to click the "Create Course" button. This will decrease the number of steps needed to recreate a course.

Currently much of the user-facing code for cloning exists in `course_creator.jsx`.

[2019-02-19 18:50] bwreid opened #2498 "Select component for setting the campaign does not use isMulti"
The implementation of the [campaign selection](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/app/assets/javascripts/components/overview/campaign_editable.jsx#L94-L103) appears like a multi-pick option but functionally acts like a dropdown in that you can only select one item at a time.
![dropdown](https://user-images.githubusercontent.com/1316902/53039310-c84d5b00-3433-11

[2019-02-19 18:59] bwreid opened #2499 "Change Subject field to a multi-select dropdown"
As a user creating a course, I want to be able to set my subject via a multi-select dropdown as opposed to having to enter free form text. At the same time, I want the option to be able to define my own subject if applicable. In general, the goal is to make course creation easier on the user and standardize our own data on the backend.

We should use the [react-select](https://react-select.com/) l

[2019-02-19 19:06] bwreid opened #2500 "Change Role field to a dropdown with the ability to enter your own text"
As a user creating a course, I want to be able to set my role via a dropdown as opposed to having to enter free form text. At the same time, I want the option to be able to define my own role if applicable. In general, the goal is to make course creation easier on the user and standardize our own data on the backend.

We should use the [react-select](https://react-select.com/) library to create th

[2019-02-19 19:27] bwreid opened #2501 "Peer review count is out of order for screen readers when creating a course"
![image](https://user-images.githubusercontent.com/1316902/53041579-334d6080-3439-11e9-88fa-04b1852b61ba.png)
Right now, a screenreader will read the above as 1, 3, 2 instead of 1, 2, 3. This is because of how the elements are ordered on the page. If possible, these numbers should be read in order.

[2019-02-19 19:34] bwreid opened #2502 "Add/remove student list is always on the DOM, even when hidden"
The list of students that visually appears when an instructor clicks "Add/Remove students" on the Students tab is always on the page even if it's not visible. This causes issues for screen readers in that it still senses those students names and will try and read them off.

It looks as though the students dropdown is "hidden" due to opacity. Instead, we could modify the CSS to use a better propert

[2019-02-19 21:27] bwreid opened #2503 "Make some blocks un-deletable or un-editable"
As admin, we want the ability to not allow instructors to manually edit or delete certain blocks from their created courses. A good place to start for this functionality may be in one of the [content.yml](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/master/config/wizard/researchwrite/content.yml) files that sets up a block. Likely we want to add some attribute that specifies a

[2019-02-19 22:26] bwreid commented on #2471
So we now have notifications for how many requested accounts are pending appearing on the main course page. If this is not sufficient and we need an additional way to notify instructors that these exist, the only other avenues we have would be email and/or notifying them via Wikipedia. It doesn't look like you need an email to sign up for a Wikipedia account but would that still be a reliable way

[2019-02-19 22:39] bwreid opened #2505 "Improve accessibility for adding training modules on a block"
Currently, when a user adds training modules to a block, they show up in a multi-select.
![image](https://user-images.githubusercontent.com/1316902/53052584-f347a700-3453-11e9-9cd8-c6ad39a10640.png)

However, the close buttons for each individual item are not accessible. We need to label these so a screen reader can read off individual items for removal.

[2019-02-20 19:56] #1286 closed

[2019-02-21 13:07] urbanecm opened #2509 "At sign character is wrongly transformed to wiki"
At sign character (@) is transfered to wiki page in a wrong way. `'''permissions-cs(zavináč)wikimedia.org'''` transforms as `[mailto:'''permissions-cs{{@}}wikimedia.org''' '''permissions-cs{{@}}wikimedia.org''']`, while the correct way would be `[mailto:permissions-cs@wikimedia.org '''permissions-cs{{@}}wikimedia.org''']`. I must say that in this case using the {{@}} template to put the @ as an im

[2019-02-21 15:51] neozenweb commented on #2499
Outreachy applicant here, waiting for an invite to contribute. I would like to take this up. Just forked and cloned the repo. Thanks.

[2019-02-21 17:02] bwreid opened #2511 "Redesign of Diff Viewer"
![image](https://user-images.githubusercontent.com/1316902/53186854-b6e08c00-35b6-11e9-8d3e-70f0bf7cb1f5.png)

We should redesign the Diff Viewer a bit as it's currently somewhat cluttered. Some general notes on how to improve this:

- The article title does not stand out in any way
- The three buttons on the right-hand side of the modal are a bit of a mess
- The section for adding a Salesforce re

[2019-02-22 19:33] hardy1334 commented on #2059
#2516

[2019-02-22 23:51] bwreid commented on #2499
@neozenweb Now that you have things set up, I think this would be great feature to work on.

[2019-02-23 16:02] hardy1334 commented on #1949
@ragesoss  I'll like to work on it

[2019-02-23 16:30] hardy1334 opened #2517 "Improving UI of welcome page and add some validation"
Once a new User enters his account , he see something like this

![screenshot from 2019-02-23 21-49-36](https://user-images.githubusercontent.com/31733278/53288993-03de8100-37b6-11e9-93fe-180830083699.png)

- [ ] Its good to make its UI better.

- [ ]  User should answer atleast one of the two question asked in this

[2019-02-23 16:30] hardy1334 commented on #2517
@ragesoss  can u have a look at it

[2019-02-25 11:20] boswellgathu commented on #2459
@ragesoss @fliptrail meant grammatical errors

[2019-02-25 17:06] #2502 closed

[2019-02-25 17:07] neozenweb commented on #2499
@bwreid  I have set up the dev on my localhost but cannot access course creator. The console shows a select statement for user=29 and the screen returns to the homepage. Here is the screenshot

![image](https://user-images.githubusercontent.com/37545009/53354866-c254ef80-38f5-11e9-8e2f-9ddd8cbe5873.png)

[2019-02-25 18:17] #2497 closed

[2019-02-25 18:27] bwreid opened #2520 "Change passcode detail to be a link"
![image](https://user-images.githubusercontent.com/1316902/53359439-c9750100-38e7-11e9-8e59-981121c76d1c.png)

Most instructors don't need the passcode as much as they need the actual link to send out to students to enroll. When the details section is _not_ being edited, we should change the passcode from plain text to actually being the enrollment link. When editing, the regular fields should sti

[2019-02-25 18:36] bwreid commented on #715
It might help here to look at the `word_count.rb` file in implementing this feature.

[2019-02-25 18:38] ragesoss commented on #2459
If you mean 'It is only seen' vs. 'It can only be seen', I think either is fine grammatically.

But I do notice one thing that should change: 'Wiki Ed' should be 'Wiki Education', as we've deprecated the use of 'Wiki Ed' as an abbreviation for the organization.

[2019-02-25 18:59] ragesoss commented on #2509
Here's the revision with the mailto: https://cs.wikipedia.org/w/index.php?title=Wikipedie:N%C3%A1st%C4%9Bnka/M%C4%9Bstsk%C3%A1_knihovna_v_Praze/Praha_-_pokro%C4%8Dil%C3%AD_-_zima_2019&oldid=16972516#5._lekce

The reason we've been using that template instead of a normal email address is because a normal email address will trigger the spam filter if the editing account isn't autoconfirmed. But I th

[2019-02-25 20:06] ragesoss commented on #2471
We show them on an individual course page; I think the idea would be to highlight them in a system-wide way, so that an admin can notice when there's a requested account for a program they don't know about.

The recent change will probably take care of 80% of the problem for P&E Dashboard, but doesn't really help much for Wiki Education Dashboard, where the current best option is for staff to peri

[2019-02-25 21:10] #2500 closed

[2019-02-25 21:17] #2473 closed

[2019-02-25 21:22] bwreid opened #2521 "Distinguish between selected, not selected, and holiday for course dates"
![image](https://user-images.githubusercontent.com/1316902/53369476-28467480-3900-11e9-8ffd-14970eebe053.png)

Currently, when a screen reader is used to select dates on the course dates picker, it does not correctly distinguish between an unselected cell and a cell that is unselected _because_ it is a class holiday.

[2019-02-25 21:28] bwreid opened #2522 "Authorship highlighting is not accessible"
![image](https://user-images.githubusercontent.com/1316902/53369922-2fba4d80-3901-11e9-8de3-ac124d505d71.png)

When reading the diff viewer with a screen reader, it is not possible to differentiate between what text was already on the Wikipedia article and what text was added by a user. Ideally, something would cue an individual reading a screen reader that they were starting to read an edit by a

[2019-02-25 22:05] bwreid commented on #2471
Thanks @ragesoss. So I think my current idea is to move another banner to the home page that will say something like "12 requested accounts pending." Then, it'll link to a new page that will aggregate all the requested accounts on one page.

[2019-02-25 22:26] ragesoss commented on #2471
@bwreid the home page (only), or the nav component?

This could be a good starting point for a notifications counter, if the nav does a query (for admins) of how many requested accounts there are.

[2019-02-25 22:27] bwreid commented on #2471
I was just thinking the homepage, but adding it to the nav would be great! I'll first start on just creating the new page and then will start to add to the nav.

[2019-02-26 00:53] ragesoss commented on #2428
Fixed with https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/efe92b07446f649ac226838fc489da71fe7efbd8

[2019-02-26 00:53] #2428 closed

[2019-02-26 13:16] dependabot[bot] opened #2524 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-26 16:49] #2524 closed

[2019-02-26 17:30] bwreid opened #2530 "Add a question to course creation to obtain quarter/semester information"
On the "Create a New Course" form, for Wiki Education, we want to add a new form field that gathers whether or not the institution is on a quarter system or semester system. The field added should be a radio button with a label of **Academic System**, the only two options being **Semester** and **Quarter**. By default, **Semester** can be selected.

Check to make sure validation and cloning works!

[2019-02-26 17:34] bwreid opened #2531 "Label remove button for students"
![image](https://user-images.githubusercontent.com/1316902/53433636-9eeb7c80-39a9-11e9-9d8a-5656e0571a83.png)

The remove button (-) for students is unlabeled and therefore inaccessible by screen readers. Look for `removeButton` in AssignButton, EnrollButton, TagEditable, and CampaignEditable and add functionality so that these buttons describe what they do.

[2019-02-26 17:40] bwreid opened #2532 "Better describe drawer expanding button for screen readers"
![image](https://user-images.githubusercontent.com/1316902/53433983-70ba6c80-39aa-11e9-89f4-f0bbe147c838.png)

Right now, when screen readers select the button to dropdown more information for students, it just says "button". If we can better describe what this button is, it'll be easier for users with screen readers to access it.

[2019-02-26 22:28] neozenweb commented on #2499
I have a few questions for this one:
1. I see that there is a separate course_level_selector.jsx component for the select element for the level. So for the subject, should I create a similar separate component or just use multi_select_field.jsx from the common components.
2. How should I use the yaml file to populate this select field? Any examples in the code that have used this feature?
Thanks f

[2019-02-27 00:36] ragesoss commented on #2505
I note that the new react-select release that I just merged has several a11y fixes. Once it's deployed, we should see if this is already fixed for Helaine.

https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/2528

[2019-02-27 20:19] twisted-sres commented on #2520
Hey, I am an Outreachy applicant. Can I take this up?

[2019-02-27 20:22] twisted-sres commented on #2099
Hey, I am an outreachy applicant, can I take this up?

[2019-02-27 20:45] helenatxu commented on #2520
Hello, I am an applicant for the Outreachy internship, can I take this issue for my first contribution?

[2019-02-27 20:46] helenatxu commented on #2099
Hello, I am an applicant for the Outreachy internship, can I take this issue for my first contribution?

[2019-02-27 20:47] helenatxu commented on #1408
Hello, I am an applicant for the Outreachy internship, can I take this issue for my first contribution? Is it still available?

[2019-02-27 21:06] helenatxu commented on #2531
Hello @bwreid! I am an applicant for the Outreachy internship, can I take this issue for my first contribution?

Do you think it would be a good start? I already have some experience with React.

[2019-02-27 21:16] helenatxu commented on #2004
Hello is this issue already fixed? It appears as still Open...

[2019-02-27 22:00] ragesoss commented on #2531
@helenatxu go for it.

[2019-02-27 22:25] ragesoss commented on #2520
@twisted-sres go for it! @helenatxu try that other one first?

[2019-02-28 03:36] Sanjana1308 commented on #2004
It's open

[2019-02-28 15:58] ragesoss commented on #2517
This isn't specific enough to be actionable for the 'better UI' part. Do you have specific aspects that you had in mind that aren't good enough?

Having the questions be optional is intentional here.

[2019-02-28 19:04] ragesoss opened #2544 "New Salesforce media records should set the `program` field"
`PushCourseToSalesforce` already does this for course records. The `program_id` method there could be extracted to a module or otherwise moved so that it can be shared by CreateSalesforceMediaRecord.

[2019-02-28 19:53] khyatisoneji commented on #2491
@ragesoss If I am correct, here the issue is caused by wikitext/format_assignment_title function.
In the following lines:
[code]

Here according to the code, it should add `:En:` prefix, why does it ignore the `:` at the beginning?

[2019-02-28 20:13] ragesoss commented on #2491
@urbanecm What happened in this case is (I think) that the user entered the assignment title "en:Slavonic Library in Prague" while leaving cs.wikipedia as the wiki. So the Dashboard has treated this as a cs.wikipedia article rather than an interwiki assignment. When inputting the article, users can either paste in a URL from any wiki (which will automatically be parsed to set the target wiki) or u

[2019-02-28 20:28] urbanecm commented on #2491
Looks like it, after comparing with other interwiki assignments. I've no idea about how often this happens, I was reported this by a Czech user, I considered it a bug, so I filled a GitHub issue :-). If it's an easy thing, a handling could be useful, if not, I guess we can live with this too.

[2019-02-28 20:29] urbanecm commented on #2491
I've just reassigned this particular assignment as a proper interwiki assignment, it works, thanks for explaining this.

[2019-02-28 21:29] ragesoss commented on #2505
Nope, the latest release didn't change it for Helaine.

[2019-03-01 05:11] helenatxu commented on #2004
Hello @Sanjana1308 are you still working on it?

[2019-03-01 05:14] Sanjana1308 commented on #2004
No

[2019-03-01 18:38] twisted-sres commented on #2520
Hey, what are the steps to reproduce this?

[2019-03-01 20:03] bwreid commented on #2520
@twisted-sres If you create a course as an administrator, and then go to the course page, you should notice this navigation on the right-hand side. Let me know if you've created a course and you do not see it!

[2019-03-01 20:19] ragesoss opened #2546 "Within /article_finder, ArticleViewer permalink does not work"
The link feature in ArticleViewer is meant for the context of the Articles list. In ArticleFinder, it points to `/article_finder?showArticle=undefined`, which resets the article finder and does not display the article.

For ArticleViewer instances in the ArticleFinder, the link should not appear.

[2019-03-01 21:00] ragesoss opened #2547 "ArticleFinder query parameters should be included in URL"
When an ArticleFinder query is executed, the URL should be updated with those parameters (search term, search type, and any thresholds for views or quality) so that the URL can be shared to replicate the query.

[2019-03-02 13:44] helenatxu commented on #2546
Can I try this one? I'm about to finish the other bug :)

[2019-03-02 16:47] hjhimanshu01 commented on #2547
Hello @ragesoss , May I work on this issue?

[2019-03-02 17:17] helenatxu commented on #1709
Hello @gautamig54 could you explain how you did it? I'm have exactly the same error

[2019-03-02 20:46] psinghal20 commented on #1709
Hi @helenatxu, You should try giving the wiki user created grants for the wikiEducation Dashboard explicitly.

You can do this by running: `GRANT ALL PRIVILEGES ON dashboard.* To 'wiki'@'localhost' IDENTIFIED BY 'wikiedu';`

*Assuming default user credentials*

[2019-03-03 22:00] ananyaarun commented on #2511
@bwreid , i would like to take this up. Can u give me more info on how to reproduce this ?

[2019-03-04 06:15] hjhimanshu01 commented on #2319
Hey @ragesoss , I have used date-fns in development environment , though it reduces the build size considerably but I do think it doesn't support all the features of i18n till now.

[2019-03-04 07:48] mariahajmal commented on #2018
@ragesoss Hi, Is this fixed? If not, can you please assign it to me

[2019-03-04 07:51] mariahajmal commented on #2099
@ragesoss  Hi, Is this fixed? If not, can you please assign it to me

[2019-03-04 07:56] mariahajmal commented on #773
@ragesoss Hi, Is this fixed? If not, can you please assign it to me

[2019-03-04 08:02] mariahajmal commented on #2125
@ragesoss Hi, Is this fixed? If not, can you please assign it to me

[2019-03-04 08:04] mariahajmal commented on #1459
@ragesoss Hi, Is this fixed? If not, can you please assign it to me

[2019-03-04 08:06] mariahajmal commented on #2459
@ragesoss Hi, Is this fixed? If not, can you please assign it to me

[2019-03-04 08:08] mariahajmal commented on #2501
@bwreid  Hi, I am an outreachy applicant. Can I work on this?

[2019-03-04 08:09] mariahajmal commented on #2498
@bwreid Hi, I am an outreachy applicant. Can I work on this?

[2019-03-04 08:10] mariahajmal commented on #1169
@ragesoss Hi, I am an outreachy applicant. Can I work on this?